.table_detail_view {
    width: 100%;

    /*border-bottom: 1px solid rgba(0, 0, 0, 0.4);*/
    border: 1px solid #548295;

    /*padding-bottom: 10px;*/
    padding: 2px;

    /*margin-left: 5px; problem with address blocks in contact form */
    margin-bottom: 5px;
    border-spacing: 0px;
}

.table_detail_view th,
.table_detail_view td,
.table_detail_view tr,
.table_detail_view thead {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.table_detail_view > tbody > tr > th {
    color:#376e86;
    padding-left:5px;
    padding-right:5px;
    /*white-space:nowrap;*/
    padding:2px 6px;
}

/*.table_detail_view tbody th{
    font-weight:bold;
    background-color:#dde8ed;
}
*/

/*.table_detail_view tbody td{
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #548295;
}*/

.table_detail_view tbody td:hover {
    background-color: #f7d6d2;
}

.table_detail_view thead {
    font-size: 1em;
    font-weight: bolder;
    color: #376e86;
    background-color: #dcedf4;
}

.table_detail_view thead .title {
    width: 80%;
}

.table_detail_view thead .actions {
    width: 20%;
    text-align: right;
}

.table_detail_view tbody td table tbody td:hover {
    background-color: #ffffff;
}

.table_detail_view .block_header {
    width: 100%;
}

.table_detail_view .block_header .label {
    /*width: 80%;*/
    width: 100%;
    text-align: left;
}

.table_detail_view .block_header .actions {
    /*width: 20%;*/
    text-align: right;
}

.table_detail_view .header {}
.table_detail_view .header.toolbar {}
.table_detail_view .header .action {}
.table_detail_view .content {}
.table_detail_view .content.empty {}
.table_detail_view .content .action {
    text-align: center;
}
.table_detail_view tfoot .next {}
.table_detail_view tfoot .previous {}
.table_detail_view tfoot .page_selector {}

.table_detail_view .header .selectable,
.table_detail_view .content .selectable {
    text-align: center;
}

.table_detail_view .header .selectable > *,
.table_detail_view .content .selectable > * {
    cursor: pointer;
}

.table_detail_view .collapsable tr:nth-child(1) td {
    padding-top: 2px;
}

/*
.table_detail_view tbody.collapsable tr th {
    max-width: 30%;
    width: 30%;

}

.table_detail_view tbody.collapsable tr td {
    max-width: 70%;
    width: 70%;
}
*/

/*.table_detail_view > tbody > tr > th {
    color:#376e86;
    padding-left:5px;
    padding-right:5px;
    white-space:nowrap;
    padding:2px 0px;
}*/

/*.table_detail_view tbody td:hover {
    background-color: #f7d6d2;
}*/

/*.table_detail_view thead {
    font-size: 1em;
    font-weight: bolder;
    color: #376e86;
    background-color: #def2fa;
}*/

.table_detail_view tr.header th:not(.action) {
    text-align: left;
    padding-right: 5px;
}

.table_detail_view.with-header tr:not(.header) td {
    padding-right: 5px;
}

.block_icon {
    height: 22px;
    position: relative;
    top: 2px;
}

.block_line_light {
    background-color: #f4fafd;
    padding: 2px 4px 2px 4px;
}

.block_line_dark {
    background-color: #e6f2f7;
    padding: 2px 4px 2px 4px;
}

.block_line_light > p, .block_line_dark > p {
    margin: 0;
}

.block_header_line_light {background-color: #dcedf4;}
.block_header_line_dark  {background-color: #cde5ef;}

.th_info {
    max-width: 30%;
    width: 30%;
    text-align: left;
}

.td_info {
    max-width: 70%;
    width: 70%;
/*    text-align: right;*/
    text-align: left;
}

.th_info_4_columns {
    max-width: 15%;
    width: 15%;
    text-align: left;
}

.td_info_4_columns {
    max-width: 33%;
    width: 35%;
    text-align: left;
}

.td_valid {
    background-color: #90ee90;
}

.td_error {
    background-color: #f08080;
}

.table_detail_view.dual_column {
    width: 49.9%;
    float: left;
}

.table_detail_view.dual_column.last {
    float: right;
}

.table_detail_view.dual_column.last:after {
    clear: both;
    content: "";
}

.edit_inner {
    max-width: 70%;
    width: 0;
    padding: 2px;
    text-align: right;
    white-space: nowrap;
}

.block_header tbody tr td:hover {
    background-color: transparent;
}

table.collapsed .block_icon {
    height: 22px;
}

table.collapsed .collapsable {
    display: none;
}

table.hide_empty_fields tr.content.collapsable-field {
	display: none;
}

table.collapsed {
    opacity: 0.5;
}
