/* Blocks */
.table_detail_view {
    width: 100%;

/*    padding: 2px; */ /* no padding removes the white border inside blocks */
    padding: 0;

    border-spacing: 0px;
    
    /*margin-left: 5px; problem with address blocks in contact form */
    margin-bottom: 10px;

/*    border: 1px solid #548295;*/
    border: 1px solid #ccc;
    border-radius: 0; /* disable rounded corners forced by .ui-corner-all hardcoded in the html templates */
    
    background: white;
    
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/* Rounded corners inside blocks, on everything */
/*
.table_detail_view th,
.table_detail_view td,
.table_detail_view tr,
.table_detail_view thead {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
*/

/* field headers, column titles */
.table_detail_view > tbody > tr > th {
/*    color: #376e86;*/
    color: #4b6671; /* desaturate */
    /*white-space:nowrap;*/
    padding: 2px 6px;
}

/*.table_detail_view tbody th{
    font-weight:bold;
    background-color:#dde8ed;
}
*/

/*.table_detail_view tbody td{
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #548295;
}*/

/* pink background on hover */
/*
.table_detail_view tbody td:hover {
    background-color: #f7d6d2; 
}
*/

/* white background in inner tables td:hover */
/* -> switch to a hover specific for header_dark and header_light */
.table_detail_view tbody td table tbody td:hover {
    background-color: #ffffff;
}

/* Block titles */
.table_detail_view thead {
    font-size: 1em;
    font-weight: bolder;
    color: #376e86;
/*    background-color: #dcedf4;*/
    background: #f0f0f0;
}

.table_detail_view thead .title {
    width: 80%;
}

.table_detail_view thead .actions {
    /*width: 20%;*/
    text-align: right;
}

.table_detail_view .block_header {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

/* hover bg in ??? */
.block_header tbody tr td:hover {
    background-color: transparent;
/*    background-color: blue;*/ /* uncomment to try and locate what this rule means */
}

.table_detail_view .block_header .label {
    /*width: 80%;*/
    /*width: 100%;*/
    text-align: left;
}

.table_detail_view .block_header .actions {
    /*width: 20%;*/
    text-align: right;
}

.table_detail_view .header {}
.table_detail_view .header.toolbar {}
.table_detail_view .header .action {}
.table_detail_view .content {}
.table_detail_view .content.empty {}
.table_detail_view .content .action {
    text-align: center;
}
.table_detail_view tfoot .next {}
.table_detail_view tfoot .previous {}
.table_detail_view tfoot .page_selector {}

.table_detail_view .header .selectable,
.table_detail_view .content .selectable {
    text-align: center;
}

.table_detail_view .header .selectable > *,
.table_detail_view .content .selectable > * {
    cursor: pointer;
}

.table_detail_view .collapsable tr:nth-child(1) td {
    padding-top: 2px;
}

/*
.table_detail_view tbody.collapsable tr th {
    max-width: 30%;
    width: 30%;
}

.table_detail_view tbody.collapsable tr td {
    max-width: 70%;
    width: 70%;
}
*/

/*.table_detail_view > tbody > tr > th {
    color:#376e86;
    padding-left:5px;
    padding-right:5px;
    white-space:nowrap;
    padding:2px 0px;
}*/

/*.table_detail_view tbody td:hover {
    background-color: #f7d6d2;
}*/

/*.table_detail_view thead {
    font-size: 1em;
    font-weight: bolder;
    color: #376e86;
    background-color: #def2fa;
}*/

.table_detail_view tr.header th:not(.action) {
    text-align: left;
    padding-right: 5px;
}

.table_detail_view.with-header tr:not(.header) td {
    padding-right: 5px;
}

.block_icon {
    height: 22px;
    position: relative;
    top: 2px;
}

/**/
.table_detail_view .content td:first-child {
    padding-left: 5px;
}

.table_detail_view tfoot td:first-child {
    padding-left: 5px;
}
/**/

/* zebra striping on block withs multiple lines */

.block_header_line_light {
/*    background-color: #dcedf4;*/
    background-color: #f0f0f0; /* desaturate */
}

.block_line_light {
    padding: 2px 4px;
/*    background-color: #f2f9fd;*/
    background-color: #f7f7f7; /* desaturate */
}

.block_header_line_dark  {
/*    background-color: #cde5ef;*/
    background-color: #e3e3e3; /* desaturate */
}

.block_line_dark {
    padding: 2px 4px;
/*    background-color: #e8f3f8;*/
    background-color: #e8e8e8; /* desaturate */
}

/* zebra striping on blocks with multiple lines - end */

.block_line_light > p, .block_line_dark > p {
    margin: 0;
}

th_info {
    max-width: 30%;
    width: 30%;
    text-align: left;
}

.td_info {
    max-width: 70%;
    width: 70%;
/*    text-align: right;*/
    text-align: left;
}

.th_info_4_columns {
    max-width: 15%;
    width: 15%;
    text-align: left;
}

.td_info_4_columns {
    max-width: 33%;
    width: 35%;
    text-align: left;
}

.td_valid {
    background-color: #90ee90;
}

.td_error {
    background-color: #f08080;
}

.table_detail_view.dual_column {
    width: 49.9%;
    float: left;
}

.table_detail_view.dual_column.last {
    float: right;
}

.table_detail_view.dual_column.last:after {
    clear: both;
    content: "";
}

.edit_inner {
    max-width: 70%;
    width: 0;
    padding: 2px;
    text-align: right;
    white-space: nowrap;
}

table.collapsed .block_icon {
    height: 22px;
}

table.collapsed .collapsable {
    display: none;
}

table.hide_empty_fields tr.content.collapsable-field {
	display: none;
}

table.collapsed {
    opacity: 0.5;
}
