/* Blocks */
.table_detail_view {
    width: 100%;
    padding: 0;  /* no padding removes the white border inside blocks */

    border-spacing: 0px;
    border: 1px solid #ccc;
    border-radius: 0; /* disable rounded corners forced by .ui-corner-all hardcoded in the html templates */

    background: white;

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

table.table_detail_view + .brick,
table.table_detail_view:not(.dual_column) + table.table_detail_view:not(.dual_column),
table.table_detail_view + div.dual_column-container,
div.dual_column-container + table.table_detail_view {
    margin-top: 15px;
    margin-bottom: 0;
}

.table_detail_view > tbody > tr > th {
    color: #4b6671; /* desaturate */
    padding: 2px 6px;
}

/* white background in inner tables td:hover
   -> switch to a hover specific for header_dark and header_light */
.table_detail_view tbody td table tbody td:hover {
    background-color: #ffffff;
}

/* Block titles */
.table_detail_view thead {
    font-size: 1em;
    font-weight: bolder;
    color: #376e86;
    background: #f5f5f5;
}

.table_detail_view thead .title {
    width: 80%;
}

.table_detail_view thead .actions {
    text-align: right;
}

.table_detail_view .block_header {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

/* hover bg in ??? */
.block_header tbody tr td:hover {
    background-color: transparent;
/*    background-color: blue;*/ /* uncomment to try and locate what this rule means */
}

.table_detail_view .block_header .label {
    text-align: left;
}

.table_detail_view .block_header .actions {
    text-align: right;
}

.table_detail_view .content .action {
    text-align: center;
}

.table_detail_view .header .selectable,
.table_detail_view .content .selectable {
    text-align: center;
}

.table_detail_view .header .selectable > *,
.table_detail_view .content .selectable > * {
    cursor: pointer;
}

.table_detail_view .collapsable tr:nth-child(1) td {
    padding-top: 2px;
}

.table_detail_view tr.header th:not(.action) {
    text-align: left;
    padding-right: 5px;
}

/**/
.table_detail_view .content td:first-child {
    padding-left: 5px;
}

.table_detail_view tfoot td:first-child {
    padding-left: 5px;
}
/**/

/* zebra striping on blocks with multiple lines */

.block_header_line_light {
    background-color: #f7f7f7; /* lighten */
}

.block_line_light {
    padding: 2px 4px;
    background-color: #ffffff; /* lighten */
}

.block_header_line_dark  {
    background-color: #f0f0f0; /* lighten */
}

.block_line_dark {
    padding: 2px 4px;
    background-color: #f5f5f5; /* lighten */
}

/* empty states - disable striping on empty blocks, regardless of what the template says */
.table_detail_view .content.empty .block_line_light,
.table_detail_view .content.empty .block_line_dark {
    background-color: white;
}

/* zebra striping on blocks with multiple lines - end */

.block_line_light > p, .block_line_dark > p {
    margin: 0;
}

.th_info {
    max-width: 30%;
    width: 30%;
    text-align: left;
}

.td_info {
    max-width: 70%;
    width: 70%;
    text-align: left;
}

.td_info.right_align { /* eg: total block in billing */
    text-align: right;
}

.td_valid {
    background-color: #90ee90;
}

.td_error {
    background-color: #f08080;
}

.table_detail_view.dual_column {
    width: 49.9%;
    float: left;
}

.table_detail_view.dual_column.last {
    float: right;
}

table.collapsed .collapsable {
    display: none;
}

table.collapsed {
    opacity: 0.5;
}

.table_detail_view.collapsed .block_header {
    border-bottom: none;
}

/* Block containers */
/* Only seems to be used in Reports' preview report page. Blocks inside need to be flush with the scrollbar.
   The block template also needs to be cleaned up so we can target the different types of blocks and add decorations, margins, etc only where they're needed */
.scrollable-block-container {
    overflow-x: auto;
    margin-bottom: 10px;
}

.scrollable-block-container .table_detail_view {
    margin: 0;
    box-shadow: none;
}

/* Block containers - end */
