/* Base */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
/*
    src: url('common/fonts/OpenSans-Regular-400.woff') format('woff'), // Modern Browsers
         url('common/fonts/OpenSans-Regular.ttf') format('truetype'); // Safari, Android, iOS
*/
    src: url('common/fonts/OpenSans-Regular-400.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
/*
    src: url('common/fonts/OpenSans-Semibold-600.woff') format('woff'), // Modern Browsers
         url('common/fonts/OpenSans-Semibold.ttf') format('truetype'); // Safari, Android, iOS
*/
    src: url('common/fonts/OpenSans-Semibold-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
/*
    src: url('common/fonts/OpenSans-Bold-700.woff') format('woff'), // Modern Browsers
         url('common/fonts/OpenSans-Bold.ttf') format('truetype'); // Safari, Android, iOS
*/
    src: url('common/fonts/OpenSans-Bold-700.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', 'Verdana', sans-serif;
}

html {
    color: black;

    background: linear-gradient(to bottom, #fff 0%, #fcfcfc 15%);
    background-repeat: repeat-x;
}

body {
    color: black;
    background: none;

    font-size: 0.8em;
}

html.is_deleted {
    background: #eee;
}

body.is_deleted {
    background: linear-gradient(to bottom, #eee 0%, #fcfcfc 15%);
}

/* Base [END] */

/* Default styling overrides */

h2 {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    cursor: pointer; /* XXX: when no link, only if a[data-action] ? */

    color: #22439f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.is_deleted {
    text-decoration: line-through;
}

td p {
    padding: 0px;
    margin: 3px 0px;
}

img {
    border: 0;
}

a img {
    transition: opacity 400ms ease-in;
}

a img:hover {
    opacity: 0.8;
}

a img.text_icon {
    margin-left: 2px;
    width: 18px;
    height: 18px;
}

button {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-size: 12.5px;
    font-weight: 400;
}

/* Default styling overrides - [end] */

/* Page structure - header and footer */

.header {
    margin-left: 1.2%;
    width: 98%;
}

.header .widget.major {
    float: left;
    margin-top: 5px;
}

.header .widget.last {
    float: right;
    margin-top: -15px;
    padding-bottom: 5px;
    padding-right: 20px;
}

/* Page structure - header and footer - [end] */

/* Page structure - left navigation menu */

/* page structure - left navigation menu - [end] */

/* page header - search and "quick create" */

/* Page header - search and "quick create" - [end] */

/* Page header and top areas - list of buttons: "global-buttons" and "instance-buttons" */

.buttons-list > ul {
    display: inline-table;
    margin: 0;
    padding: 0;
    list-style: none;
}

.buttons-list li {
    position: relative;
    display: inline-table;
    padding-right: 5px;
}

.menu_button,
.card-button {
    padding: 7px 20px;

    display: inline-block;

    box-sizing: border-box;

    border: 1px solid #d7d7d7;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 3px;

    box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.2), inset 0 1px 0px white;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;

    background: linear-gradient(#fcfcfc, #f0f0f0);

    cursor: pointer;
}

.menu_button.forbidden,
.menu_button.is-disabled,
.bar-button.forbidden,
.card-button.forbidden {
    cursor: default;
    cursor: not-allowed;

    opacity: .5;
}

.menu_button:not(.forbidden):not(.is-disabled):hover,
.card-button:not(.forbidden):not(.is-disabled):hover {
    background: linear-gradient(#ffffff, #f3f3f3);
    color: #4d4d4d;
}

.menu_button:not(.forbidden):not(.is-disabled):active,
.card-button:not(.forbidden):not(.is-disabled):active {
    background: linear-gradient(#f9f9f9, #ededed);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    border-bottom-color: #d7d7d7;
    border-top-color: #bdbdbd;
    color: #1a1a1a;
}

.menu_button:first-child {
    margin-left: 0em;
}

.menu_button:hover,
.card-button:hover {
    background-color: #e6e6e6;
    text-decoration: none;
}

.menu_button img,
.card-button img {
    position: relative;

    height: 15px;
    width: 15px;
    top: 3px;
}

.global-buttons {
    margin-bottom: 10px;
}

.buttons-list.instance-buttons {
    margin-top: -10px;
}

.buttons-list.instance-buttons .menu_button,
.buttons-list.global-buttons .menu_button {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

.buttons-list.instance-buttons ul {
    line-height: normal;
}

.buttons-list .menu_button.menu-button-error {
    border: 3px solid #d33b3b;
}

.buttons-list.instance-buttons .menu_button img {
    padding-right: 3px
}

.card-button.card-button-icon,
.buttons-list .menu_button.menu-button-icon {
    padding-left: 35px;
    padding-right: 20px;
    position: relative;
}

.card-button.card-button-icon img,
.menu_button.menu-button-icon img {
    position: absolute;
    top: calc(50% - 7px);
    left: 13px;
}

/* Page header and top areas - [end] */

.forbidden,
.faded {
    opacity: 0.5;
}

.wait {
    list-style-image : url(icecream/images/wait.gif);
}

.main-content {
    height: auto;

    /* 269px = 269px footer
       39px = page decoration
       40px = main-content's padding-top
       // 10px = weird margin between content and the page decoration - wtf ?! 5px in IE, 0px in IE(?!); & depends on the page
     */
    min-height: calc(100vh - 284px - 39px - 40px);

    width: 98%;

    margin-left: 1.2%;
    padding-top: 40px;

    clear: both;
}

.errorlist {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(jquery-css/creme-theme/images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x;
    color: #cd0a0a;
}

.errorlist a {
    color: #cd0a0a;
}

.errorlist li {
    padding-top: 3px;
}

.warninglist {
    border: 1px solid #df8c07;
    background: #fef1dc;
    color: #df8c07;
    padding-left: 10px;
}

.warninglist li {
    list-style: outside none none;
    padding-top: 3px;
}

.successlist {
    border: 1px solid #0b5d0b;
    background: #aaf0a2 url(jquery-css/creme-theme/images/ui-bg_inset-soft_75_aaf0a2_1x100.png) 50% bottom repeat-x;
    color: #0b5d0b;
}

.successlist a {
    color: #0b5d0b;
}

.successlist li {
    list-style-image: url(icecream/images/ok_16.png);
    padding-top: 3px;
}

.infolist {
    border: 1px solid #56bbc8;
    background: #e6f5f7 url(jquery-css/creme-theme/images/ui-bg_glass_65_f6fcff_1x400.png) 50% bottom repeat-x;
    color: #56bbc8;
}

.infolist a {
    color: #56bbc8;
}

.infolist li {
    list-style-image: url(icecream/images/info_16.png);
    padding-top: 3px;
}

.help-sign {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
    margin: 10px;

    background: #fff7a1;
    background: linear-gradient(to right, #fff7a1 20%, #fff7a100 90%);

    border-radius: 7px;

    color: #75452e;
}

.help-sign p {
    margin: 0;
    padding: 0;
}

.help-sign img {
    margin-right: 10px;
}

.selectable:hover {
    background-color: #fff7d0 !important;
}

.selected {
    background-color: #b5d6e3 !important;
}

.list td {
    text-align: center;
}

span.enumerator-item {
    font-weight: 800;
}

span.enumerator-empty {
    font-style: italic;
    color: #333;
}

a.image-file img {
    max-height: 200px;
    max-width: 200px;
}

ul.limited-list .more-elements {
    padding-left: 2px;
    color: #adacac;
    font-size: 11px;
}

span.disabled-link {
    cursor: help;
    color: #666;
}

div.efilter-summary {
    display: flex;
    flex-direction: column;
}

div.efilter-summary a:last-child,
div.efilter-summary span.disabled-link:last-child {
    padding-top: 10px;
}

/* Title bar */

.global-buttons + .hat-bar-container {
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
}

.hat-bar-container {
    padding: 10px;
}

div.hat-bar {
    display: flex;
    flex-direction: row;
    height: 54px;
}

.hat-bar .bar-icon {
    padding-right: 30px;
}

/*
.hat-bar .bar-title h1 {
    display: flex;

    margin: 0;
    margin-top: 10px;

    font-size: 1.8em;
}
*/
.hat-bar h1.bar-title {
    margin-top: 10px;

    font-size: 23px;
}

.hat-bar .bar-actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hat-bar .bar-action {
    height: 50px;
    margin-left: 10px;

    border: 1px solid #d7d7d7;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 6px;

    box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.2), inset 0 1px 0px white;

    background: linear-gradient(#fcfcfc, #f0f0f0);
}

.hat-bar .bar-action:hover {
    background: linear-gradient(#ffffff, #f3f3f3);
}

.hat-bar .bar-action .bar-button:not(.is-disabled) {
    cursor: pointer;
}

/*
.bar-deleted-indicator {
    font-size: 0.8em;
    color: #888;
    font-weight: 600;
}

.bar-sandboxed-indicator {
    font-size: 0.8em;
    color: #a15ed0;
    font-weight: 600;
}
*/
.hat-bar .bar-indicators {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    column-gap: 5px;
    justify-content: space-around;

    margin-left: 10px;
}
.hat-bar .bar-indicator {
    padding: 1px 3px;

    background: green; /* Override this! */
    border-radius: 8px;

    font-size: 13px;
    color: white;
    font-weight: 600;
}
.hat-bar .bar-indicators .bar-indicator.bar-deleted-indicator {
    background: #414141;
}
.hat-bar .bar-indicators .bar-indicator.bar-sandboxed-indicator {
    background: #a15ed0;
}
.hat-bar .bar-indicators .bar-indicator.bar-pinned-indicator {
    background: #ff5ce6;
}

/* Title bar - [end] */

/* Action links */

a[data-action] summary,
a[data-action] details {
    display: none;
}

/* Action links - [end] */

/* Footer */

.footer {
    margin-top: 15px;

    padding-top: 30px;
    padding-bottom: 25px;

    padding-left: 24px;
    padding-right: 24px;

    color: #fff;
    font-weight: 600;

    background-color: #333;
    background-image: url(common/images/creme-pattern.png);
    background-position: left -30px;
}

.footer .footer-baseline strong {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #479ef5;
}

.footer .footer-baseline-version {
    margin-left: 10px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #bbb;
}

.footer a {
    color: #fff;
}

.footer .footer-baseline a {
    color: inherit;
}

.footer a:hover {
    color: #479ef5;
}

.footer ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.footer-columns {
    margin-top: 40px;
}

.footer-columns .footer-column {
    float: left;
    width: 25%;
}

.footer-columns .footer-column.footer-column-hybird {
    float: right;
}

.footer-columns .column-content {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.footer-columns .footer-column-creme .column-content {
    margin: 0;
}

.footer .column-content::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #bfbfbf;
    top: -10px;
}

.footer .footer-column-title {
    display: inline-block;
    position: relative;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.footer .footer-column-title .icon-hybird {
    position: absolute;
    right: -25px;
    top: -5px;
}

.footer .footer-client-logo {
    max-height: 40px;
    margin: 10px 0;
}

.footer .footer-client-logo img {
    max-height: 40px;
    background: white;
}

.footer .hybird-phone {
    margin-top: 10px;
}

.footer .hybird-address {
    margin-top: 10px;
}

.footer .footer-column-client .icon-phone {
    margin-left: 5px;
}

.footer-columns .footer-column-client {
    width: 50%;
}

.footer .footer-column-creme li,
.footer .footer-column-client li {
    margin-top: 5px;
}

/* Footer - [end] */

/* Footer decoration  */

.icon-hybird {
    width: 22px;
    height: 20px;

    fill: currentColor;
    position: relative;
    top: 2px;

    transition: transform 0.5s ease-in-out 5s;
}

.icon-hybird:hover {
    transform: rotate(720deg);
}

.footer .footer-column-hybird .icon-phone {
    margin-right: 2px;
}

.icon.icon-phone {
    width: 14px;
    height: 14px;

    top: 2px;
}

.icon.icon-email {
    width: 14px;
    height: 14px;

    top: 3px;
    opacity: 0.92;
}

.footer .footer-column-hybird .icon-email {
    margin-right: 2px;
}

.icon.icon-phone:hover {
    animation: shake 0.1s steps(2) 5 5s,
               shake 0.1s steps(2) 8 6.5s,
               shake 0.1s steps(2) 5 8s;
}

@keyframes shake {
  from { transform: translateX(-1px); }
  to   { transform: translateX(1px); }
}

.page-decoration {
    margin: 15px 15px 0 15px;
    color: #bbb;
}

.page-decoration > * {
    display: inline-block;
}

.page-decoration div {
    width: calc(50% - 20px);
    border-top: 1px solid currentColor;
    height: 7px;
}

.page-decoration .icon-hybird {
    margin: 0 5px;
}

/* Footer decoration  */
