/*----------------------------------*/
.ui-creme-timepicker { margin:0; padding:0; list-style:none;}
.ui-creme-timepicker li { margin:0; padding:0; position:relative; display:inline-block;}
.ui-creme-timepicker li input { width:3em !important; border:1px solid #6eaac4; text-align:right; margin:0px 2px;}
.ui-creme-timepicker li button[type="button"] { padding:0px 6px;}

/*----------------------------------*/
.ui-creme-datetimepicker { margin:0; padding:0; list-style:none;}
.ui-creme-datetimepicker li { position:relative; display:inline-block;}
.ui-creme-datetimepicker li input { width:3em; border:1px solid #6eaac4;text-align: right; margin:0px 2px;}
.ui-creme-datetimepicker li.date input { width: 8em; }
.ui-creme-datetimepicker li button[type="button"] { padding:0px 6px;}
.ui-creme-datetimepicker li img.ui-datepicker-trigger { vertical-align:middle; }

/*----------------------------------*/
.ui-creme-calendarpicker li img.ui-datepicker-trigger { vertical-align:middle; }

/*----------------------------------*/
.ui-creme-rel-selector-list { margin:0;padding:0; }
.ui-creme-rel-selector-list .ui-creme-rel-selector li { float:left; }
.ui-creme-rel-selector-list .ui-creme-rel-selector li.last { float:none; }
.ui-creme-rel-selector-list .add { cursor:pointer; }
.ui-creme-rel-selector-list select { font-family:Verdana,Tahoma,Arial,Helvetica,sans-serif;font-size:13px; }
.ui-creme-rel-selector-list button[type="button"] { font-family:Verdana,Tahoma,Arial,Helvetica,sans-serif; font-size:13px; }


/*----------------------------------*/
ul.ui-layout { margin:0; padding:0; list-style:none; }
ul.ui-layout li { margin:0; padding:0; list-style:none; }

ul.ui-layout.hbox li { position:relative; display:inline-block; vertical-align:middle; }
ul.ui-layout.hbox li button[type="button"] { padding-top: 0px; padding-bottom: 0px; }
ul.ui-layout.hbox li input { margin: 0px 2px; }

ul.ui-layout.vbox li { position:relative; display:block; }

/*----------------------------------*/
.ui-creme-selectorlist > div.add ul { margin-top:0.2em; margin-bottom:0.2em; }
.ui-creme-selectorlist > div.add ul:hover { cursor:pointer; }
.ui-creme-selectorlist > div.add ul li { height:1em; vertical-align:middle; }
.ui-creme-selectorlist > div.add ul li img { position:relative; vertical-align:middle; }

.ui-creme-selectorlist img.delete { border:0; vertical-align:middle; }
.ui-creme-selectorlist img.delete:hover { cursor:pointer; }

/*----------------------------------*/
.ui-creme-chainedselect img.reset { border:0; vertical-align:middle; }
.ui-creme-chainedselect img.reset:hover { cursor:pointer; }

/*----------------------------------*/

.ui-creme-chainedselect li .ui-creme-dselect { width:20em; }
.ui-creme-chainedselect li .ui-creme-dselectlabel { min-width:10em; display:inline-block; }

.ui-creme-chainedselect li[chained-name="rtype"] .ui-creme-dselect { width:22em; }
.ui-creme-chainedselect li[chained-name="ctype"] .ui-creme-dselect { width:18em; }
.ui-creme-chainedselect li[chained-name="column"] .ui-creme-dselect { width:auto; }
.ui-creme-chainedselect li[chained-name="searchfield"] .ui-creme-dselect { width:14em; }

/*----------------------------------*/
.ui-creme-entityselector > button[type="button"] { min-width:10em; padding: 0px 6px; margin-left: 0px;}

/*----------------------------------*/
.ui-creme-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: white;
    display: none;
    opacity: .70;
    filter: Alpha(Opacity=70);
}

.ui-creme-overlay.overlay-active { display: block; }

.ui-creme-overlay.overlay-active[status] {
    opacity: 1;
    filter: none;
    cursor: pointer;
}

.ui-creme-overlay.overlay-active[status="wait"] { background-image: url("icecream/images/wait.gif"); }
.ui-creme-overlay.overlay-active[status="404"] { background-image: url("icecream/images/404_256.png"); }
.ui-creme-overlay.overlay-active[status="500"] { background-image: url("icecream/images/500_256.png"); }
.ui-creme-overlay.overlay-active[status="403"] { background-image: url("icecream/images/404_256.png"); }

/*----------------------------------*/
.ui-creme-jqueryplot[widget="ui-creme-jqueryplot"] {
    background-image: url("icecream/images/image_64.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: white;
}

.ui-creme-jqueryplot.widget-active[widget="ui-creme-jqueryplot"][status="wait"] {
    background-image: url("icecream/images/wait.gif");
}

.ui-creme-jqueryplot.widget-active[widget="ui-creme-jqueryplot"][status="valid"] {
    background-image: none;
}

.ui-creme-jqueryplot .jqplot-highlighter-tooltip {
    border: 0px;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    z-index: 1;
    pointer-events: none;
}

.ui-creme-jqueryplot .jqplot-table-legend .jqplot-table-legend-label {
    padding-right: 10px;
}

/*----------------------------------*/
ul.ui-creme-actionbuttonlist { display: inline; }

ul.ui-creme-actionbuttonlist button.ui-creme-actionbutton {
    padding: 1px 6px 1px 6px;
    cursor: pointer;
    margin: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 2px 50%;
    border: 1px solid #6E9EB2;
    background-color: #D9E5EA;
}

ul.ui-creme-actionbuttonlist button.ui-creme-actionbutton:hover {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*
    border: 1px solid #6E9EB2;
    background-color: #D9E5EA;
    */
    background-color: #f4fafd;
}

ul.ui-creme-actionbuttonlist button.ui-creme-actionbutton:disabled {
    opacity: .50;
    filter: Alpha(Opacity=50);
}

ul.ui-creme-actionbuttonlist button.ui-creme-actionbutton[name=create] {
    background-image: url("icecream/images/add_16.png");
    padding-left: 20px;
}

ul.ui-creme-actionbuttonlist button.ui-creme-actionbutton[name=delete] {
    background-image: url("icecream/images/delete_16.png");
    padding-left: 20px;
}

ul.ui-creme-actionbuttonlist button.ui-creme-actionbutton[name=reset] { 
    background-image: url("icecream/images/delete_16.png");
    padding-left: 20px;
}

ul.ui-creme-actionbuttonlist button.ui-creme-actionbutton[name=edit] {
    background-image: url("icecream/images/edit_16.png");
    padding-left: 20px;
}

td.td_info > ul.ui-creme-actionbuttonlist { width: 100%; }
td.td_info > ul.ui-creme-actionbuttonlist li.delegate { width: 45%; }
td.td_info > ul.ui-creme-actionbuttonlist li.delegate > * { width: 100%; }

/*-------------------------*/
span.ui-creme-datepicker-trigger {
	vertical-align:middle;
}

/*----------------------------------*/
.ui-creme-toggle .toggle-target.toggle-collapsed {
    display: none;
}

.ui-creme-toggle .toggle-trigger {
    cursor: pointer;
}

.toggle-icon {
    background-image: url("icecream/images/expanded.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.toggle-icon.toggle-collapsed, .toggle-collapsed .toggle-icon {
    background-image: url("icecream/images/expandme.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/*----------------------------------*/
.ui-creme-autosave .autosave-status {
    background-image: none;
    width:16px;
    height:16px;
    display:none;
}

.ui-creme-autosave.autosave-wait .autosave-status {
    background-image: url("icecream/images/wait.gif");
    display:block;
}

.ui-creme-autosave.autosave-modified .autosave-status {
    background-image: url("icecream/images/edit_16.png");
    display:block;
}
