/* base */
html {
    color: black;
/*    background-color: #f6fcff;*/
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}

html.central_panel {
    background-color: #e6f2f7;
}

body {
    color: black;
/*    background-color: #f6fcff;*/
    background-color: #ebebeb;
    /* margin-left: auto ; margin-right: auto ;*/
    padding: 0;
    margin: 0;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    /*font-size: 14px;*/
    font-size: 0.8em;
}

body.central_panel {
    background-color: #e6f2f7;
    color: black;
    padding: 0;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 0.9em;
}

body.is_deleted {
    background-color: #775555;
}

/* base - end */

/* default styling overrides */

h2 {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    color: #22439f;
    text-decoration: none;
/*    background-color: transparent;*/
    
    /* animated color transition */
/*
    -webkit-transition: color .4s linear;
       -moz-transition: color .4s linear;
        -ms-transition: color .4s linear;
         -o-transition: color .4s linear;
            transition: color .4s linear;
*/
}

a:hover {
/*    color: #df8177;*/ /* pink color on hover */
    text-decoration: underline;
/*    background-color: transparent;*/
/*    text-shadow: 1px 1px 3px #cccccc;*/ /* bloom shadow-y effect */
}

a.is_deleted {
    text-decoration: line-through;
}

td p {
    padding: 0px;
    margin: 3px 0px;
    /*margin: 5px;*/
}

img {
    border: 0;
}

a img {
    -webkit-transition: opacity 400ms ease-in;
       -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
}

a img:hover {
    opacity: 0.8;
    /* Less pretty but IE doesn't handle correctly opacity so...*/
    /*-ms-filter: "alpha(opacity=80)";*/ /* IE 8 */
    /*filter : alpha(opacity=80);*/ /* IE < 8 */
    /*zoom: 1;*/
}

/* default styling overrides end */

/* page structure - header and footer */

.header {
    margin-left: 1.2%;
    width: 98%;
}

/*.header .widget {
    float: left;
    text-align: center;
    width: 25%;
}*/

.header .widget.major {
    float: left;
    margin-top: 5px;
}

.header .widget.last {
    float: right;
    margin-top: -15px;
    padding-bottom: 5px;
    padding-right: 20px;
}

#top {
    margin-top: 10px;
    padding-left: 5px;
}

#footer {
  clear: both;
  display: block;
  text-align: center ;
  position: relative;
  width: 98%;
  /*padding : 5px 0px 0px 0px ;*/
  /*border: 1px solid #f7b5ad;
  background: #f7cbc6;*/
  border-top: 1px solid #ccc;
  margin-left: 1.2%;
  padding: 10px 0px;
}

/* page structure - header and footer - end */

/* page structure - left navigation menu */

.menu_expanded {
    /*background-color: #b7d8e7;*/
    /*background: #94c6db url(jquery-css/creme-theme/images/ui-bg_diagonals-thick_15_94c6db_40x40.png) 50% 50% repeat;*/
    /*border: 1px solid #375f37;*/
    display: block;
    height: 100%;
    position: absolute;
    z-index: 50;
    /*display: none;*/
/*    font-size: 11px;*/
    font-size: 0.8em;
    margin-left: 0px;
}

.menu_collapse {
/*    -moz-outline: #000000 solid 3px;
    -moz-outline-radius:10px 200px 200px 10px;*/
    /*background: #94c6db url(jquery-css/creme-theme/images/ui-bg_diagonals-thick_15_94c6db_40x40.png) 50% 50% repeat;*/
    position: absolute;
    background-color: #E4EAEC;
    /*background-color: #F6FCFF;*/
    border: 1px solid #6EAAC4;
    display: block;
    height: 100%;
    /*margin-left : 0px;*/
    margin : 0;
    /*top:32px;
    left:5px;*/
    width: 1%;
    z-index: 1;
    color: #539fc6;
    /*color: #5A90A7;*/
    margin-left: 0px;
    font-weight: bold;
    text-align: center;
}

/* logo on top of the menu */
#logo_container {
    padding-left: 0%;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* page structure - left navigation menu - end */

/* page header - search and "quick create" */
.research_box {
/*    padding: 7px;*/
    margin-top: 7px;
    display: inline-block;
}

.quickform_box {
    padding: 4px;
    display: inline-block;
}

.research_box span, .quickform_box span {
    padding: 7px;

    color: #2c596c;
/*    background: #E6F2F7;*/
    background: #f5f5f5;
    border: 1px solid #d7e2e7;

/*
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
*/
}

/* page header - search and "quick create" - end */

/* page header - "last pages viewed" and "quick access pages" */

#last_viewed, #preferred_menu {
    padding: 6px 0 6px 6px;
    margin: 4px 0 4px 5px;

    color: #2c596c;
/*    background: #E6F2F7;*/
    background: #f5f5f5;
    border: 1px solid #d7e2e7;

    /*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;*/
}

/* page header - "last pages viewed" and "quick access pages" - end */

/* page header - type, title, actions bar */
.table_header {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.table_header td:first-child img { /* type icon */
    height: 50px;
}

.table_header h1 { /* page title */
    font-size: 1.8em;
}

.table_header td:last-child img { /* page actions buttons */
    position: relative;
    height: 50px;
}

/* page header - type, title, actions bar - end */

/* page header and top areas - list of buttons: "model_buttons" and "file_buttons" */

ul.button_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.button_list li {
    margin: 0 2px;
    padding: 0;
    list-style: none;
}

ul.button_list.hbox {
    display: inline-table;
    line-height: 34px;
}

ul.button_list.hbox li {
    position: relative;
    display:inline-table;
}

ul.button_list.vbox li {
    position: relative;
    display: block;
}

.menu_button {
    white-space: nowrap;
    cursor: pointer;

    color:  #22439f;
/*    background-color: #E6F2F7;*/
    background-color: #fafafa;
    
    margin-left: 0.1em;
    padding: 5px;

/*    border: 1px solid #D7E2E7;*/
    border: 1px solid #ccc;
    
    /*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;*/
}

.menu_button:first-child {
    margin-left: 0em;
}

.menu_button:hover {
/*
    color: #f46758;
    border: 1px solid #f46758;
    background-color: #fdd5d1;
*/
    background-color: #e6e6e6;
    text-decoration: none;
}

.menu_button img {
    height: 22px;
    position: relative;
    top: 6px;
}

/* page header and top areas - list of buttons: "model_buttons" and "file_buttons" */

.central_panel #branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
    color: #488097;
}

.central_panel #container {
    margin-left: -128px;
    background-color: #f4fafd;
    border: 3px solid #b3d2df;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.central_panel #content-main {
    width: 100%;
}

.central_panel form {
    margin-top: 1em;
}

.central_panel .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.central_panel .form-row label {
    float: left;
    width: 11em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

.central_panel .form-row #id_username, .central_panel .form-row #id_password {
    width: 14em;
}

.central_panel span.help {
    font-size: 10px;
    display: block;
}

.central_panel .submit-row {
    clear: both;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0 1em 0;
}

#div {
    background: white;
}

.forbidden, .faded {
    opacity: 0.5;
}

/* .table_button {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.td_for_table_button {
     padding-right: 2px;
     padding-left: 2px;
     padding-top: 11px;
     padding-bottom: 11px;
    text-align: center;
}*/

/*.table_view {
    padding: 0px;
    background-color: #f7cbc6;
}*/

/*.table_view_one_column {
    padding :0px ;
    background-color: #f7cbc6;
    width : 100% ;
}*/

/*.td_view_label {
    text-align: right;
    width: 150px;
    padding-right: 5px;
}*/

/*.td_view_item {
    text-align: left;
    padding-left: 5px;
}*/

/*.tr_view {

}*/

/*.tr_view_cycle_1 {
    background-color: #f7cbc6;
}*/

/*.tr_view_cycle_2 {
    background-color: #b4e6fb;
}*/

.zone_spacer {
    clear: both;
    padding: 0px ;
}

/*.zone_spacer_20px {
    clear: both;
    padding : 20px;
}*/

.zone_spacer_5px {
    clear: both;
    padding : 5px;
}

/*.left_column {
    padding-left: 10px;
    padding-right: 10px;
    float : left;
    border: 1px solid black;
}*/

/*.one_column  {
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
    width: 100%;
    border: 1px solid black;
}*/

/*.post_it_yellow {
    padding: 0px ;
    background-color: #ffd016;
}*/

/*.h2_without_padding {
    padding : 0px;
    margin : 0px;
}*/

/*.right_column {

}*/

/*#user-tools {
    padding-left: 5px;
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-size: 16px;
}*/

.Menu_Gauche {
    font-family:  Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*.pagination { background: #ea394a; }*/

#main-body {
  padding-bottom : 5px;
  margin-bottom : 5px;
  /* background: #ea394a;  /*Rouge */
}

/*#menu_haut {
    clear: both;
    padding-right : 10px;
    background: #36de31;
    border-right: 1px solid black;
}*/

/*#sidebar {
    float: left;
    width: 300px;
    padding-right : 10px;
    border-right: 1px solid black;
}*/

.spacer {
  clear: both;
}

.zone_content {
    padding-left : 5px;
    padding-right : 5px;
    margin-left : 310px;

    /*    float: right;*/
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background: #ea41e4 ;  /* violine  */
}

.zone_content2 {
    clear: both;
    padding-left : 5px;
    padding-right : 5px;
    /*    float: right;*/
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* background: #ea41e4 ;  /* violine  */
}

/*#sidebar2 {
    float:right;
    width: 110px;
    background: #fac96b;
}*/

/*div.sidebar2separator {
    border-bottom: 1px solid #226f26;
}*/

/*div.sidebar1separator {
    border-bottom: 1px solid #226f26;
}*/

/*div.sidebar1separator2 {
    padding-bottom : 5px;
    padding-top : 5px;
    border-bottom: 1px solid #226f26;
}*/

/*.table_list_view {
    border : 1px solid #226f26;
    padding : 0px;
    margin : 0px;
}*/

/*.tr_list_view {
    border : 1px solid #226f26;
    padding : 0px;
}*/

/*.td_list_view {
    border : 1px solid #226f26;
    text-align: center;
    padding : 0px;
    width : 150px;
}*/

/*.expandlist {
    list-style-image : url(icecream/images/expandme.gif); TODO: delete image too
    cursor : pointer;
}*/

/*.expandedlist {
    list-style-image : url(icecream/images/expanded.gif);
    cursor : pointer;
}*/

.wait {
    list-style-image : url(icecream/images/wait.gif);
}

/*.document {
    list-style-image : url(icecream/images/doc.gif);
}*/

.main_content {
    height: 80%;
    margin-left: 1.2%;
    width: 98%;
    clear: both;
    padding-top: 3px;
}

.errorlist {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(jquery-css/creme-theme/images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x;
    color: #cd0a0a;
}

.errorlist a {
    color: #cd0a0a;
}

.errorlist li {
    list-style-image: url(icecream/images/cancel_16.png);
    padding-top: 3px;
}

.successlist {
    border: 1px solid #0b5d0b;
    background: #aaf0a2 url(jquery-css/creme-theme/images/ui-bg_inset-soft_75_aaf0a2_1x100.png) 50% bottom repeat-x;
    color: #0b5d0b;
}

.successlist a {
    color: #0b5d0b;
}

.successlist li {
    list-style-image: url(icecream/images/ok_16.png);
    padding-top: 3px;
}

.infolist {
    border: 1px solid #56bbc8;
    background: #e6f5f7 url(jquery-css/creme-theme/images/ui-bg_glass_65_f6fcff_1x400.png) 50% bottom repeat-x;
    color: #56bbc8;
}

.infolist a {
    color: #56bbc8;
}

.infolist li {
    list-style-image: url(icecream/images/info_16.png);
    padding-top: 3px;
}

.back_pink {
    background-color: #f7cbc6;
}

.back_blue {
    background-color: #b4e6fb;
}

/* Right side of the UI - useless css is inline & more important
div#sub_content > div:nth-child(5) {
    width: 49%;
} */

/* this seems to be block-related and could be movoed to blocks.css */
/* Buttons (for example: 'validate') in ths blocks */
.table_detail_view td button {
    padding: 0px;
}

/* alignments of inputs in the forms */
/*.table_detail_view input, .table_detail_view textarea, .table_detail_view select {
    width: 25%;
}*/

/* this seems duplicated/overriden in blocks.css */
.th_info {
    max-width: 30%;
    width: 30%;
    text-align: left;

}

.td_info {
    max-width: 70%;
    width: 70%;
/*    text-align: right;*/
    text-align: left;
}

.th_info_4_columns {
    max-width: 15%;
    width: 15%;
    text-align: left;
}

.td_info_4_columns {
    max-width: 33%;
    width: 33%;
    text-align: left;
}

/* this seems duplicated/overriden in blocks.css - end */

.block_header tbody tr td:hover {
    background-color: transparent;
}

.button_link:hover {
    cursor: pointer;
    text-decoration: none;
    /*border: 1px solid #306075;*/
}

.button_link img {
    border: 0;
}

/* 3rd child div of sub content ? - possibly editforms ? */
/*
div#sub_content > div:nth-child(3) {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
*/

/* remove visual borders until it's clear if it's #editforms only or more */
/*
div#sub_content > div:nth-child(3) {
    padding-bottom: 10px;
}
*/

/* retarget to editforms as it was mistakenly applied to some detailviews */
#editforms {
    padding-bottom: 10px;
}

#tree_menu {
    height: 100%;
}

.help_box {
    background-color: #fff7a1;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.help_box.with-table table {
    width: 100%;
}

.selectable {

}

.selectable:hover {
    background-color: #fff7d0 !important;
}

.selected {
/*    background-color: #f7cbc6 !important;*/
    background-color: #b5d6e3 !important;
}

.list td {
    text-align: center;
}

/* should ui-* classes probably go into creme-ui ? */
.ui-state-default, .ui-widget-content .ui-state-default {
    font-size: 1.1em;/* Old 1.2em*/
}

.ui-paging-info, ui-icon ui-icon-newwin {
    font-weight: bold;
}

.ui-pg-selbox { 
    height: 20px !important;
}

.ui-datepicker {
    z-index: 1100; /* use z-index to display over inner popups (1000) */
}

.ui-datepicker-trigger {
    cursor: pointer;
}

/* DualColumnMultiSelect (dcms) (move to creme-ui ??)*/
.dcms_div li.dcms_focused {
    background: #f7b5ad none repeat scroll 0 0;
}

.dcms_div li {
    cursor: pointer;
}

.dcms_div ul, .dcms_div li {
    list-style-type: none;
    padding: 0;
    background: #ffffff;
}

.dcms_div ul {
    border: 1px solid #6eaac4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
/*     min-height: 200px; */
    min-width: 100px;
}

.dcms_div table {
    width: 100%;
}

.dcms_div table th.available, .dcms_div table th.chosen {
    width: 45%;
}

.dcms_div table tr.content td:hover {
    background:none;
}

.dcms_div table th.less {
    display:none;
}

.dcms_div table th.more {
    display:table-cell;
}

.dcms_div table.reduced th.less {
    display:table-cell;
}

.dcms_div table.reduced th.more {
    display:none;
}

.dcms_div table.reduced .content {
    display:none;
}

.dcms_div table tr.content td:hover {
    background:none;
}

.dcms_div table .buttons {
    /*width: 20%;*/
}

.dcms_button {
    display: block;
    width: auto !important;
}

.pointer {
    cursor: pointer;
}


/* BUTTONS */
.buttons {

}

.buttons a, .buttons button, .buttons span {
    display: block;
    float: right;
    margin: 0 7px 1px 0;
    background-color: #f5f5f5;
    border: 1px solid #B6D3E0;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 100%;
/*    line-height:130%;*/
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
    padding: 3px 7px; /* Links */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    white-space: nowrap;
    min-width: 110px;
    text-align: left;
}
.buttons button {
    width: auto;
    overflow: visible;
    padding: 4px 10px 3px 7px; /* IE6 */
}
.buttons button[type] {
    padding: 5px 10px 5px 7px; /* Firefox */
    line-height: 17px; /* Safari */
}
*:first-child+html button[type] {
    padding: 4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img , .buttons span img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}

/* NORMAL */
.buttons button:hover, .buttons a:hover {
    background-color: #dff4ff;
    border: 1px solid #c2e1ef;
    color: #336699;
}
.buttons a:active {
    background-color: #6299c5;
    border: 1px solid #6299c5;
    color: #fff;
}

/* LINK */
.buttons button.link, .buttons a.link {
    color: #518DC9;
}
.buttons a.link:hover, button.link:hover {
    background-color: #dff4ff;
    border: 1px solid #c2e1ef;
    color: #336699;
}
.buttons a.link:active {
    background-color: #518DC9;
    border: 1px solid #518DC9;
    color: #fff;
}

/* ADD */
.buttons button.add, .buttons a.add, .buttons span.add {
    color: #529214;
}
.buttons a.add:hover, button.add:hover {
    background-color: #E6EFC2;
    border: 1px solid #C6D880;
    color: #529214;
}
.buttons a.add:active {
    background-color: #529214;
    border: 1px solid #529214;
    color: #fff;
}

/* LIST */
.buttons a.list, button.list {
    color: #D9BD41;
}
.buttons a.list:hover, button.list:hover {
    background: #FFEB91;
    border: 1px solid #fbc2c4;
}
.buttons a.list:active {
    background-color: #FFEB91;
    border: 1px solid #FFEB91;
    color: #fff;
}

/* NEGATIVE */
.buttons a.negative, button.negative {
    color: #d12f19;
}
.buttons a.negative:hover, button.negative:hover {
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #d12f19;
}
.buttons a.negative:active {
    background-color: #d12f19;
    border: 1px solid #d12f19;
    color: #fff;
}

/* DOWNLOAD */
.buttons a.download, button.download {
    color: #4c4c96;
}
.buttons a.download:hover, button.download:hover {
    background: #9292e1;
    border: 1px solid #9c9cf8;
    color: #25254a;
    text-shadow: 1px 1px 3px #d7d7d7;
}
.buttons a.download:active {
    background-color: #4c4c96;
    border: 1px solid #4c4c96;
    color: #fff;
}

/* Toggle view */
.buttons a.view_more{
    min-width: 0;
    background-image: url("icecream/images/view_more_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 22px;
    width: 16px;
}

.buttons a.view_less {
    min-width: 0;
    background-image: url("icecream/images/view_less_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 22px;
    width: 16px;
}

.collapser {
    cursor: pointer;
}

.zoom_box {
    -webkit-transition: width 2s ease, height 2s ease;
    -moz-transition: width 2s ease, height 2s ease;
    -o-transition: width 2s ease, height 2s ease;
    -ms-transition: width 2s ease, height 2s ease;
    transition: width 2s ease, height 2s ease;
}

.zoom_box:active {
    width: 200%;
    height: 200%;
    z-index: 2000;
}

.top_fixed {
    display: block;
    top: 0 !important;
    z-index: 1000;
    left: 0;
    position: fixed;
}
