input[type="text"], input[type="password"] {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #6eaac4;
}

input[type="text"]:disabled, input[type="text"][readonly] {
    border: 0px;
    color: #6eaac4;
    background: #ffffff;/*#F4FAFD;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

textarea {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #6eaac4;
}

textarea:disabled, textarea[readonly] {
    border: 0px;
    color: #6eaac4;
    background: #ffffff;/*#F4FAFD;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

form .table_detail_view .td_info > input,
form .table_detail_view .td_info > select,
form .table_detail_view .td_info > textarea {
    width: 45%;
}

form .table_detail_view.dual_column .td_info > input,
form .table_detail_view.dual_column .td_info > select,
form .table_detail_view.dual_column .td_info > textarea,
.in-popup form .table_detail_view .td_info > input,
.in-popup form .table_detail_view .td_info > select,
.in-popup form .table_detail_view .td_info span > select,
.in-popup form .table_detail_view .td_info > textarea {
    width: 100%;
}

form .table_detail_view .td_info > textarea {
    height: 12em; /* See Activity popup form (Calendar) if you change this */
}

.table_detail_view .td_info > input[type="checkbox"],
.table_detail_view.dual_column .td_info > input[type="checkbox"] {/* Fix for chrome & opera */
    width: auto;
    margin-left: 0;
}

.in-popup form .table_detail_view .td_info > input.hasDatepicker,
form .table_detail_view.dual_column .td_info > input.hasDatepicker {
    width: 75%;
}


/* MERGE TOOL */
.li_merge_entity_header1 {
    display: inline;
    width: 33%;

    font-size: 1.6em;
    font-weight: bold;
    color: #5a92ab;
    text-overflow: ellipsis;
    text-align: center;
}

.li_merge_entity_header2 {
    display: inline;
    width: 33%;

    font-size: 1.6em;
    font-weight: bold;
    color: #d87d72;
    text-overflow: ellipsis;
    text-align: center;
}

.li_merge_result_header {
    display: inline;
    width: 33%;

    font-size: 1.6em;
    font-weight: bold;
    text-overflow: ellipsis;
    text-align: center;
}

.li_merge_entity1, .li_merge_entity2, .li_merge_result {
    width: 31%;
}

form .table_detail_view .merge_entity1 {
    width: 99%;
    color: #5a92ab;
    background: #edf9ff;
    border: 1px solid #bbe0f0;
}

form .table_detail_view .merge_entity2 {
    width: 99%;
    color: #d87d72;
    background: #ffedeb;
    border: 1px solid #f9c9c4;
}

form .table_detail_view .merge_result {
    width: 99%;
}
