.list_view {
    width: 100%;
/*    border-top: 1px solid rgba(0, 0, 0, 0.3);*/
    border-top: 1px solid #ccc;
    padding: 0px 4px 4px 4px;
    margin: 15px 5px;
    /*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;*/
}

/* Header tweaks for popups */
.in-popup .list_view {
    border-top: 0;
    margin-top: 0;
}
/* Header tweaks for popups - end */

.list_view thead {
    /*font-size:16px;*/
    /*font-weight:bold;*/
    /*color:white;*/
    color: #2C596C;
    /*background-color:#94c6db;*/
    /*background: #94c6db url(jquery-css/creme-theme/images/ui-bg_diagonals-thick_15_94c6db_40x40.png) 50% 50% repeat;*/
    padding: 0px;
}

/*.list_view thead .title h2 {
    padding-top:0.6em;
    padding-bottom:0.6em;
}*/

.list_view > thead .title h2 {
    margin-bottom: 5px;
}

.list_view thead th.title h2 {
    float: left;
    margin: 0;
    padding-top: 10px;
}

.list_view .fieldset-title {
    margin-right: 15px;
}

.list_view .filters select {
    margin-right: 10px;
}

.list_view .filters img, .list_view .views img {
    position: relative;
    top: 5px;
}

.list_view .filters fieldset > img:first-child {
    top: 8px;
}

.list_view thead th.title .filters {
    float: right;
}

.list_view .line-filter {
    border-right: 1px solid rgba(0,0,0,0.3);
    margin-right: 20px;
    padding-right: 20px;
}

.list_view thead .sub_title h4/*, .list_view thead .title h2*/{
    height: 1px;
}

.list_view fieldset {
   /*border: 1px solid #548295;
   padding:0 10px 2px 10px;*/
    border: 0px;
    padding: 0px;
}

/** Hide the temporary legend used by the Chantilly theme */
/*.list_view fieldset legend {
  display: none;
}*/

.list_view fieldset .legend {
  display: inline-block;
}

.list_view .views .legend {
  margin-left: 20px;
}

/*.list_view fieldset legend {
    padding: 0 10px;
    border-left: #548295 1px solid;
    border-right: #548295 1px solid;
}*/

/* dark blue color when hovering over the views and filters fieldsets */
/*
.list_view fieldset:hover {
    background-color: #95B6DB;
}
*/

.list_view tr#list_thead_toolbar {
    text-align: left;
}

.list_view tr#list_thead_toolbar a {
    padding: 5px;
}

.list_view tr#list_thead_toolbar a img {
    height: 22px;
    position: relative;
    top: 6px;
}

.list_view tr#list_thead_toolbar button.clear-search {
    padding: 4px;
}

.list_view tr#list_thead_toolbar button.do-search {
    position: relative;
    top: 5px;
}

.list_view tr#list_thead_toolbar button.do-search img {
    position: relative;
    top: 2px;
    left: -5px;
}

.list_view .toolbar th {
    padding-top: 5px;
    padding-bottom: 12px;
}

.list_view .toolbar button, .list_view .toolbar a, .list_view button {
    /*padding: 4px ;
    border: 1px solid #d5e0e5;
    background-color: #d9e5ea;
    color:  #22439f;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;*/

    cursor: pointer;
/*    border: 1px solid #d5e0e5;*/
    border: 1px solid #ccc;
/*    background: #d9e5ea url(../css/jquery-css/creme-theme/images/ui-bg_highlight-hard_75_d9e5ea_1x100.png) 50% 50% repeat-x;*/
    background-color: #fafafa;
    font-weight: normal;
    color: #22439f;
    
    outline: none;
    
/*    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
*/

}

.list_view .toolbar button:hover, .list_view .toolbar a:hover, .list_view button:hover {
    /*color: #f46758;
    border: 1px solid #f7b5ad;
    background-color: #fdd5d1;
    text-decoration: none;
    cursor:pointer;*/

    cursor: pointer;
/*    border: 1px solid #f7b5ad;*/
/*    background: #fdd5d1 url(../css/jquery-css/creme-theme/images/ui-bg_inset-soft_75_fdd5d1_1x100.png) 50% 50% repeat-x;*/
    background-color: #e6e6e6;
    font-weight: normal;
/*    color: #f46758;*/

    outline: none;
/*
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
*/
    text-decoration: none;
}

/*.list_view thead th{
    border-bottom: 1px solid #548295;
    border-left: 1px solid #548295;
    border-right: 1px solid #548295;
}*/

/* ListView results header - column titles and filters rows */
.list_view thead .columns_top, .list_view thead .columns_bottom {
    background-color: #F2F2F2;
}

/* ListView results body - content rows */
.list_view > tbody {
    background: white;
}

.list_view .columns_top th {
    border-top: 1px solid rgba(84,130,149,0.3);
    border-left: 1px solid rgba(84,130,149,0.3);
    /*border-right: 1px solid #548295;*/
}

.list_view .columns_bottom th.search input,
.list_view .columns_bottom th.search select,
.list_view .columns_top th.search input,
.list_view .columns_top th.search select {
/*    background-color: #FCD3CF;*/
    background-color: #e6e6e6;
    /*background: #fdd5d1 url(jquery-css/creme-theme/images/ui-bg_glass_75_f7d6d2_1x400.png) 50% 50% repeat-x;*/
}

.list_view .columns_bottom th{
    border-bottom: 1px solid rgba(84,130,149,0.3);
    border-left: 1px solid rgba(84,130,149,0.3);
    /*border-right: 1px solid #548295;*/
    text-align: center;
    padding-bottom: 2px;
}

/*.list_view tbody tr:nth-of-type(odd) { CSS3*/
.list_view tbody tr.odd {
/*    background-color: #E6F2F7;*/
    background-color: hsl(198, 0%, 94%);
}

.list_view tbody tr {
    border-bottom: 1px solid #333;
}

.list_view tbody td{
    color: #376e86;
    padding-left: 5px;
    padding-right: 5px;
    /*min-width:5% !important;*/
    white-space: nowrap;
    padding: 2px 6px;
    text-align: center;
    border-bottom: 1px solid rgba(84,130,149,0.3);
    border-left: 1px solid rgba(84,130,149,0.3);
    /*border-right: 1px solid #548295;*/
}

.list_view tbody td ul{
    text-align:left;
    margin: 3px;
}

.list_view tfoot tr td table tr td{
    border: 0;
    color: #2C596C;
    font-weight: bold;
}

.list_view tfoot tr td {
    border-bottom: 1px solid rgba(84,130,149,0.3);
    border-left: 1px solid rgba(84,130,149,0.3);
    border-right: 1px solid rgba(84,130,149,0.3);
    /*background-color:#94c6db;*/
    /*background: #94c6db url(jquery-css/creme-theme/images/ui-bg_diagonals-thick_15_94c6db_40x40.png) 50% 50% repeat;*/
}

/*.list_view button{
    border: #548295 1px outset;
    color: #2C596C;
}*/

.list_view button[disabled="true"], .list_view button[disabled="true"]:hover, .list_view button[disabled="true"]:active{
    background-color: #ddd;
/*    color: #919191;*/
    color: black;
    cursor: auto;
    opacity: 0.8;
}

/*.list_view button:hover{
    background-color: #D7E2E7;
} */
.list_view button:active {
    border: #548295 1px inset;
}

/* enlever le bord sur tous les champs sauf dans le footer ? */
.list_view input /*, .list_view select*/ {
    border: #548295 1px solid;
    /*background-color: #DDEEFF;*/
}

.list_view input:hover, .list_view select:hover, .list_view input:focus, .list_view select:focus {
    border: #548295 1px solid;
    background-color: #D7E2E7;
}

.list_view th.actions {
/*    padding-left: 6px;*/
    padding-left: 9px;
}

.list_view_actions {
    max-width: 1%;
    width: 1%;
}
/*
.list_view select {
    color:#376e86;
    border : 1px solid #548295;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
*/

.list_view option.search-nullfk {
    font-style: italic;
}

/* right border fix for header rows, and body rows */
.list_view thead .columns_top th:last-child, .list_view thead .columns_bottom th:last-child, .list_view > tbody > tr > td:last-child {
    border-right: 1px solid rgba(84,130,149,0.3);
}

/* add a bit of space to the input search fields, as navIt now has zero margin */
.list_view thead .columns_bottom th:not(.actions) {
    padding: 2px 0;
}

.list_view .cl_lv {
    word-wrap: break-word;
    /*max-width: 120px;
    white-space:normal;*/
}

.list_view .hd_cl_lv {
    word-wrap: break-word;
}

.list_view .hd_date_cl_lv {
    word-wrap: break-word;
    max-width: 120px;
}


.list_view .left_align {
    text-align: left;
    padding-left: 5px;
}

.list_view .text_area {
    text-align: left;
    padding-left: 5px;
    max-width: 120px;
    white-space: normal;
}

.list_view .right_align {
    text-align: right;
    padding-right: 5px;
}
