.search_results {
    padding-left: 5px; /* factorise with .content-detail-view ? */
}

.search-form {
    margin-bottom: 10px;
}

.search-form input[type=submit] {
    margin-left: 10px;
    padding: 2px 10px;

    background: linear-gradient(#fcfcfc, #f0f0f0);

    border: 1px solid #d7d7d7;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 3px;

    box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.3), inset 0 1px 0px white;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #333;

    cursor: pointer;
}

/* Advanced search results bricks */
.creme_core-search-brick table th {
    min-width: 100px;
    max-width: 300px;
    white-space: nowrap;
}

.creme_core-search-brick.brick-table .brick-table-content .brick-table-action {
    padding: 0;
}

.creme_core-search-brick.brick-table .brick-table-content > thead > tr > :first-child {
    width: 10px; /* Small size to try to get the minimal size ; does get the same result in all browsers...  */
    text-align: left;
    padding-left: 10px;
}

.creme_core-search-brick .brick-table-content .advanced-search-result div.is_deleted {
    text-decoration: line-through;
}
