{% extends "creme_core/generics/view_entity.html" %}

{% load creme_block %}

{% block add_new_button %}{% endblock %}

{% block logo %}
    {% ifequal object.type.id "activities-activitytype_meeting" %}
        <img src="{{MEDIA_URL}}images/map_64.png" alt=""/>
    {% else %}
        {% ifequal object.type.id "activities-activitytype_phonecall" %}
            <img src="{{MEDIA_URL}}images/phone_64.png" alt=""/>
        {% else %}
            <img src="{{MEDIA_URL}}images/calendar_64.png" alt=""/>
        {% endifequal %}
    {% endifequal %}
{% endblock logo %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'activities' named 'participants' as 'participants_block' %}
    {% import_block from_app 'activities' named 'subjects' as 'subjects_block' %}
{% endblock %}

{% block detail_view_left_1 %}
    {% include "creme_core/object_as_table.html" %}

    {% display_block_detailview 'participants_block' %}
    {% display_block_detailview 'subjects_block' %}

    {% display_block_detailview 'properties_block' %}
    {% display_block_detailview 'relations_block' %}
{% endblock %}