{% extends "creme_core/generics/view_entity.html" %}
{% comment %} {% load media %} {% endcomment %}
{% load creme_block %}

{% block button_tab %}{% endblock %}

{% block detail_view_left_1 %}
    <a href="/download_file/{{ object.image }}" alt="{{ object.image }}"><img src="{{MEDIA_URL}}{{ object.image }}" width="100%" /></a>
    {% comment %}<a href="/download_file/{{ object.image }}" alt="{{ object.image }}"><img src="{% media_url object.image %}" width="100%" /></a>{% endcomment %}
{% endblock %}

{% block detail_view_right_1 %}
    {% display_block_detailview 'object_block' %}
    {% display_block_detailview 'customfields_block' %}
    {% display_block_detailview 'properties_block' %}
    {% display_block_detailview 'relations_block' %}
{% endblock %}