<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Creme CRM - {{object}}</title>
    <script type='text/javascript'>
        var THEME_NAME = "{{ THEME_NAME }}";
    </script>
    {% include_creme_media "main.css" %}
    {% include "creme_core/frags/js_header.html" %}
    <link rel="shortcut icon" href="{% creme_media_url 'images/favicon.ico' %}" type="image/x-icon" />
    <script type="text/javascript">
        $(document).ready(function() {
            creme.utils.bindShowHideTbody();
        });
        {% if from_id %}
            if (window.opener) {
                window.opener.creme.lv_widget.handleSelection([{{object.id}}], '{{from_id}}');
            }
        {% endif %}
    </script>
</head>
<body>
    <table class="table_header" cellpadding="0" cellspacing="0">
        <tr>
            <td class="logo">{% get_image_for_object object 'big' %}</td>
            <td class="title">
                <h1>{{object|get_meta_value:"verbose_name"|title}} : {{object|title}}</h1>
            </td>
            <td class="actions"></td>
        </tr>
    </table>

    <div class=zone_spacer_5px></div>

    <a href="/download_file/{{ object.image }}" alt="{{ object.image }}"><img src="{{MEDIA_URL}}{{ object.image }}" /></a>
    {% comment %}<a href="/download_file/{{object.image}}" alt="{{object.image}}"><img src="{% media_url object.image %}" /></a>{% endcomment %}

    {% import_object_block as 'object_block' %}
    {% import_block from_app 'creme_core' named 'customfields' as 'customfields_block' %}

    {% display_block_detailview 'object_block' %}
    {% display_block_detailview 'customfields_block' %}

    <div id="footer">
        <a href="http://hybird.org">{% trans "About Hybird" %}</a> -  2009 - 2013
    </div>
</body>
</html>
