{% load i18n creme_menu creme_widgets %}
<div class="header-menu">
    {% block home_link %}
    <a id="logo" href="/" alt="{% translate 'Home' %}">
      {% block home_icon %}
        {% if world_settings.menu_icon %}
          {% widget_icon data=world_settings.menu_icon.path size='header-menu-home' label=_('Home') class='header-menu-home-icon' %}
        {% else %}
          {% widget_icon name='creme' size='header-menu-home' label=_('Home') class='header-menu-home-icon' %}
        {% endif %}
      {% endblock %}
    </a>
    {% endblock %}

    {% menu_display %}

    {% block accessories %}
    <div class="accessories-box">
        {% block search %}
        <div class="search-box">{% translate 'Search' context 'creme_core-noun' as search_label %}
            <input type="text" placeholder="{{search_label}}">
            <span class="search-box-icon default">
                {% widget_icon name='wait' size='header-menu' label=_('Loading…') class='search-icon-loading' %}
                {% widget_icon name='search' size='header-menu' label=search_label class='search-icon-default' %}
            </span>

            <div class="inline-search-results">
                <div class="search-results-group all-search-results">
                    <span class="search-results-group-title"></span>
                    <ul class="search-results">
                        <li class="search-result"><a href="{% url 'creme_core__search' %}">{% translate 'Advanced search' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    <script type="text/javascript">
    {% block script %}
        $(function () {
            new creme.menu.MenuController().bind($('.header-menu'));
            new creme.search.SearchBox({
                searchUrl: '{% url 'creme_core__light_search' %}',
                advancedSearchUrl: '{% url 'creme_core__search' %}'
            }).bind($('.search-box'));
        });
    {% endblock %}
    </script>
</div>
