{% load i18n creme_menu creme_widgets %}
{% load jsondata from creme_core_tags %}
<div class="header-menu">
    {% block home_link %}
    <a id="logo" href="{% url 'creme_core__home' %}">
      {% block home_icon %}
        {% if world_settings.menu_icon %}
          {% widget_icon data=world_settings.menu_icon.path size='header-menu-home' label=_('Home') class='header-menu-home-icon' %}
        {% else %}
          {% widget_icon name='creme' size='header-menu-home' label=_('Home') class='header-menu-home-icon' %}
        {% endif %}
      {% endblock %}
    </a>
    {% endblock %}

    {% menu_display %}

    <div class="accessories-box">
     {% block accessories %}
      {% block visitor %}
       {% if visitor %}
        <div class="visitor-box">
            <a class="with-icon" href="{{visitor.uri}}" title="{% translate 'Go to the next entity' %}">
                {% widget_icon name='next' label=_('Explore') size='header-menu' %}{% translate 'Continue the exploration' %}
            </a>
        </div>
       {% endif %}
      {% endblock %}

      {% block notifications %}
        <div class="notification-box">{% menu_notifications user=user as notif_data %}
            {% jsondata notif_data class='notification-box-data' %}
            <span class="notification-box-count is-empty">{# eg: 8 #}</span>
            <span class="notification-box-icon">{% widget_icon name='message' size='header-menu' label=_('Notifications') %}</span>
            <div class="notification-panel">
                <div class="notification-error is-empty"><span>??</span></div>
                <ul class="notification-items">{# Filled by JS #}</ul>
                <div class="notification-all-link">
                    <a href="{% url 'creme_core__notifications' %}">{% translate 'See all notifications' %}</a>
                </div>
            </div>
        </div>
      {% endblock %}

      {% block search %}
        <div class="search-box">{% translate 'Search' context 'creme_core-noun' as search_label %}
            <input type="text" placeholder="{{search_label}}">
            <span class="search-box-icon default">
                {% widget_icon name='wait' size='header-menu' label=_('Loading…') class='search-icon-loading' %}
                {% widget_icon name='search' size='header-menu' label=search_label class='search-icon-default' %}
            </span>

            <div class="inline-search-results">
                <div class="search-results-group all-search-results">
                    <span class="search-results-group-title"></span>
                    <ul class="search-results">
                        <li class="search-result"><a href="{% url 'creme_core__search' %}">{% translate 'Advanced search' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
      {% endblock %}
     {% endblock %}
    </div>

    <script type="text/javascript">
    {% block script %}
        (function($) {
            new creme.menu.MenuController().bind($('.header-menu'));
            creme.setupNotificationBox($('.notification-box'), {
                refreshUrl: '{% url "creme_core__last_web_notifications" %}',
                discardUrl: '{% url "creme_core__discard_notification" %}',
                initialDataSelector: '.notification-box-data'
            });
            new creme.search.SearchBox({
                searchUrl: '{% url "creme_core__light_search" %}',
                advancedSearchUrl: '{% url "creme_core__search" %}'
            }).bind($('.search-box'));
        }(jQuery));
    {% endblock %}
    </script>
</div>
