{% extends 'creme_config/bricks/base/bricklocations-mypage.html' %}
{% load i18n creme_bricks creme_perms %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-brickloc-mypage-default-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Block on default «My page»') plural=_('{count} Blocks on default «My page»') empty=verbose_name icon='config' %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='edit' url='creme_config__edit_default_mypage_bricks'|url label=_('Edit blocks configuration') enabled=user|has_perm_to_admin:'creme_core' %}
{% endblock %}

{% block brick_before_content %}
    <div class="help">
        {% translate 'Each user has its own view «My Page», which can be configured in «My settings» (see the menu entry «Creme»). Here you set the blocks used when a user did not set its own configuration.' %}
    </div>
{% endblock %}

{% block brick_mypage_location_row_action %}
    {% brick_table_action id='delete' url='creme_config__delete_default_mypage_bricks'|url __id=location.id label=_('Remove this block') enabled=user|has_perm_to_admin:'creme_core' %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No block for the moment' %}
{% endblock %}
