{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block brick_extra_class %}{{block.super}} creme_config-brickloc-portals-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configured portal') plural=_('{count} Configured portals') empty=_('Configured portals') icon='config' %}
{% endblock %}

{% block brick_header_actions %}
{% has_perm_to admin 'creme_core' as admin_perm %}
{% url 'creme_config__create_portal_bricks' as create_url %}
{% url 'creme_config__edit_portal_bricks' 'creme_core' as edit_core_url %}{% url 'creme_config__edit_portal_bricks' 'default' as edit_def_url %}
    {% brick_header_action id='add'  url=create_url    label=_('New blocks configuration') enabled=admin_perm %}
    {% brick_header_action id='edit' url=edit_core_url label=_('Home configuration')       enabled=admin_perm %}
    {% brick_header_action id='edit' url=edit_def_url  label=_('Default configuration')    enabled=admin_perm %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column title=_('Application') status='primary nowrap' %}
    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}
{% has_perm_to admin 'creme_core' as admin_perm %}{% url 'creme_config__delete_portal_bricks' as delete_url %}
    {% for app_config in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %}>{{app_config.verbose_name}}</td>
        <td {% brick_table_data_status action %}>{% url 'creme_config__edit_portal_bricks' app_config.label as edit_url %}
            {% brick_table_action id='edit' url=edit_url enabled=admin_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_url __id=app_config.label enabled=admin_perm %}
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% trans 'No configured portal for the moment' %}
{% endblock %}
