{% extends 'creme_config/bricks/base/bricklocations-mypage.html' %}
{% load i18n creme_bricks %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-brickloc-mypage-user-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Block on «My page»') plural=_('{count} Blocks on «My page»') empty=verbose_name icon='config' %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='edit' url='creme_config__edit_mypage_bricks'|url label=_('Edit the configuration') %}
{% endblock %}

{% block brick_mypage_location_row_action %}
    {% brick_table_action id='delete' url='creme_config__delete_mypage_bricks'|url __id=location.id label=_('Delete the configuration') %}
{% endblock %}
