{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-brickloc-home-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configured home') plural=_('{count} Configured homes') empty=verbose_name icon='config' %}
{% endblock %}

{% block brick_header_actions %}
  {% if show_add_button %}
    {% brick_header_action id='add' url='creme_config__create_home_bricks'|url label=_('Add a home configuration for a role') enabled=user|has_perm_to_admin:'creme_core' %}
  {% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column title=_('Role') status='primary nowrap' %}
    {% brick_table_column title=_('Statistics') status='primary nowrap' %}
    {% brick_table_column title=_('Action') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}
 {% with admin_perm=user|has_perm_to_admin:'creme_core' delete_url='creme_config__delete_home_bricks'|url %}
    {% if not page.number or page.number < 2 %}
        <tr>
            <td {% brick_table_data_status primary %} class="home-bricks-default">{% translate 'Default configuration' %}</td>
            <td>
              {% if 'default' in empty_configs %}
                {% translate 'No block' %}
              {% else %}
                {% blocktranslate count count=get_default_count %}{{count}} block{% plural %}{{count}} blocks{% endblocktranslate %}
              {% endif %}
            </td>
            <td {% brick_table_data_status action %}>
                {% brick_table_action id='edit' url='creme_config__edit_home_bricks'|url:'default' label=_('Edit this configuration') enabled=admin_perm %}
            </td>
            <td {% brick_table_data_status action %}></td>
        </tr>

        {% if superuser_count %}
        <tr>
            <td {% brick_table_data_status primary %} class="home-bricks-superuser">{% translate 'Superuser' %}</td>
            <td>
              {% if 'superuser' in empty_configs %}
                {% translate 'No block' %}
              {% else %}
                {% blocktranslate count count=superuser_count %}{{count}} block{% plural %}{{count}} blocks{% endblocktranslate %}
              {% endif %}
            </td>
            <td {% brick_table_data_status action %}>
                {% brick_table_action id='edit' url='creme_config__edit_home_bricks'|url:'superuser' label=_('Edit this configuration') enabled=admin_perm %}
            </td>
            <td {% brick_table_data_status action %}>
                {% brick_table_action id='delete' url=delete_url __role='superuser' label=_('Delete this configuration') enabled=admin_perm %}
            </td>
        </tr>
        {% endif %}
    {% endif %}

    {% for role in page.object_list %}
        <tr>
            <td {% brick_table_data_status primary %} class="home-bricks-role">{{role}}</td>
            <td>
              {% if role.id in empty_configs %}
                {% translate 'No block' %}
              {% else %}
                {% blocktranslate count count=role.bricks_count %}{{count}} block{% plural %}{{count}} blocks{% endblocktranslate %}
              {% endif %}
            </td>
            <td {% brick_table_data_status action %}>
                {% brick_table_action id='edit' url='creme_config__edit_home_bricks'|url:role.id label=_('Edit this configuration') enabled=admin_perm %}
            </td>
            <td {% brick_table_data_status action %}>
                {% brick_table_action id='delete' url=delete_url __role=role.id label=_('Delete this configuration') enabled=admin_perm %}
            </td>
        </tr>
    {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No configuration for the moment' %}
{% endblock %}
