{% extends 'creme_core/bricks/base/list.html' %}
{% load i18n creme_core_tags creme_widgets creme_bricks %}

{% block brick_extra_class %}{{block.super}} creme_config-buttonmenu-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configured type of resource') plural=_('{count} Configured types of resource') empty=_('Configured types of resource') count=buttons|length icon='config' %}
{% endblock %}

{% block brick_header_actions %}
{% has_perm_to admin 'creme_core' as admin_perm %}{% url 'creme_config__add_buttons_to_ctype' as add_url %}
    {% brick_header_action id='add' url=add_url label=_('New buttons configuration') enabled=admin_perm %}
{% endblock %}

{% block brick_content %}
{% has_perm_to admin 'creme_core' as admin_perm %}{% url 'creme_config__delete_ctype_buttons' as delete_url %}
    <div class="brick-list-item buttonmenu-config-item">
        <div class="buttonmenu-config-group buttonmenu-config-summary-group">
            <div class="buttonmenu-config-group-title">{% trans 'Default configuration' %}</div>
            <div class="buttonmenu-config-group-action">{% url 'creme_config__edit_ctype_buttons' 0 as edit_def_url %}
                {% brick_action id='edit' url=edit_def_url label=_('Edit the default configuration') enabled=admin_perm %}
            </div>
        </div>
        <div class="buttonmenu-config-group">
            {% widget_select_or_msg default_buttons _('No button') %}
        </div>
    </div>
    {% for ctype, buttons_vnames in buttons %}
    <div class="brick-list-item buttonmenu-config-item">
        <div class="buttonmenu-config-group buttonmenu-config-summary-group">
            <div class="buttonmenu-config-group-title">{% widget_icon ctype=ctype size='brick-list' class='buttonmenu-config-type-icon' %} {{ctype}}</div>
            <div class="buttonmenu-config-group-action">{% url 'creme_config__edit_ctype_buttons' ctype.id as edit_url %}
                {% brick_action id='edit'   url=edit_url                 label=_('Edit this configuration')   enabled=admin_perm %}
                {% brick_action id='delete' url=delete_url __id=ctype.id label=_('Delete this configuration') enabled=admin_perm %}
            </div>
        </div>
        <div class="buttonmenu-config-group">
            {% widget_select_or_msg buttons_vnames _('No button') %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
