{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_widgets creme_ctype creme_bricks creme_config_tags %}
{% load or_op print_field from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-configurable-model-brick{% if model_is_reorderable %} brick-reorderable{% endif %}{% endblock %}

{% block brick_header_title %}
 {% with count=page.paginator.count %}
  {% if count %}
    {% brick_header_title title=objects_ctype|ctype_counted_label:count count=count %}
  {% else %}
    {% brick_header_title title=objects_ctype|ctype_verbose_name_plural %}
  {% endif %}
 {% endwith %}
{% endblock %}

{% block brick_header_actions %}
    {% config_model_creation_url model_config=model_config user=user as creation_url %}
    {% if creation_url %}{% brick_header_action id='add' url=creation_url label=model.creation_label|or_op:_('New value') %}{% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% if model_is_reorderable %}
        {% brick_table_column title='' class='configmodel-column-order' %}
    {% endif %}

    {% block config_fields_headers %}
    {% for field in displayable_fields %}
        {% brick_table_column title=field.verbose_name data_fieldname=field.name class='configmodel-column' %}
    {% endfor %}
    {% endblock %}

    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_body %}
{% widget_icon name='reorder' size='brick-table-action' class='icon brick-reorderable-handle-icon' as reorder_icon %}
    <tbody{% if model_is_reorderable %} class="brick-reorderable-items ui-sortable"{% endif %}>
    {% for object in page.object_list %}
        {% if model_is_reorderable %}
        <tr data-reorderable-item-order="{{forloop.counter}}" data-reorderable-item-url="{% url 'creme_config__reorder_instance' app_name model_config.model_name object.id %}">
            <td data-reorderable-handle-column class="ui-sortable-handle brick-configmodel-order" title="{% blocktranslate with type=objects_ctype %}Drag and drop to re-order this «{{type}}»{% endblocktranslate %}">
                {{reorder_icon.render}}
            </td>
        {% else %}
        <tr>
        {% endif %}

        {% block config_fields_contents %}
          {% for f in displayable_fields %}
            <td>{% print_field object=object field=f.name as field_content %}{% if field_content %}{{field_content}}{% else %}<span class="empty-field">—</span>{% endif %}</td>
          {% endfor %}
        {% endblock %}

            <td {% brick_table_data_status action %}>
            {% block config_edition_action %}
                {% config_model_edition_url model_config=model_config instance=object user=user as edit_url %}
                {% if edit_url %}{% brick_table_action id='edit' url=edit_url %}{% endif %}
            {% endblock %}
            </td>
            <td {% brick_table_data_status action %}>
            {% block config_deletion_action %}
                {% config_model_deletion_url model_config=model_config instance=object user=user as delete_url %}{# TODO: disable if a job exists for this model #}
                {% if delete_url %}{% brick_table_action id='edit' url=delete_url enabled=object|config_is_custom icon='delete' label=_('Delete') %}{% endif %}
            {% endblock %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No value for the moment' %}
{% endblock %}
