{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_core_tags creme_widgets creme_ctype creme_bricks creme_config_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-configurable-model-brick{% if model_is_reorderable %} brick-reorderable{% endif %}{% endblock %}

{% block brick_header_title %}
{% with count=page.paginator.count %}
    {% if count %}
        {% ctype_counted_instances_label objects_ctype page.paginator.count as title %}
        {% brick_header_title title=title count=count %}
    {% else %}
        {% brick_header_title title=meta.verbose_name_plural %}
    {% endif %}
{% endwith %}
{% endblock %}

{% block brick_header_actions %}
{% url 'creme_config__create_instance' app_name model_name as create_url %}
    {% brick_header_action id='add' url=create_url label=model.creation_label|or_op:_('New value') %}
{% endblock %}

{% block brick_table_columns %}
    {% if model_is_reorderable %}
        {% brick_table_column title='' class='configmodel-column-order' %}
    {% endif %}

    {% for field in displayable_fields %}
        {% brick_table_column title=field.verbose_name data_fieldname=field.name class='configmodel-column' %}
    {% endfor %}

    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_body %}
{% has_perm_to admin 'creme_core' as admin_perm %}{% url 'creme_config__delete_instance' app_name model_name as delete_url %}
{% widget_icon name='reorder' size='brick-table-action' class='icon brick-reorderable-handle-icon' as reorder_icon %}
    <tbody {% if model_is_reorderable %}class="brick-reorderable-items ui-sortable"{% endif %}>
    {% for object in page.object_list %}
        {% if model_is_reorderable %}
        <tr data-reorderable-item-order="{{forloop.counter}}" data-reorderable-item-url="{% url 'creme_config__reorder_instance' app_name model_name object.id %}">
            <td data-reorderable-handle-column class="ui-sortable-handle brick-configmodel-order">{{reorder_icon.render}}</td>
        {% else %}
        <tr>
        {% endif %}

        {% for f in displayable_fields %}
            <td>{% print_field object=object field=f.name %}</td>
        {% endfor %}

            <td {% brick_table_data_status action %}>{% url 'creme_config__edit_instance' app_name model_name object.id as edit_url %}
                {% brick_table_action id='edit' url=edit_url %}
            </td>
            <td {% brick_table_data_status action %}>
                {% brick_table_action id='delete' url=delete_url __id=object.pk enabled=object|is_custom %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}

{% block brick_table_empty %}
    {% trans 'No value for the moment' %}
{% endblock %}
