{% extends 'creme_core/bricks/base/paginated-list.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-customforms-brick{% endblock %}

{% block brick_script %}
<script type="text/javascript">
    $('.brick[data-brick-id="{{brick_id}}"]').on('brick-ready', function(e, brick) {
        new creme.FormGroupsController({
            expandUrl: "{% url 'creme_config__customforms_brick_show_details' %}"
        }).bind(brick);
    });
 </script>
{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configured type of resource') plural=_('{count} Configured types of resource') icon='config' %}
{% endblock %}

{% block brick_content %}
 {% with admin_perm=user|has_perm_to_admin:'creme_core' delete_url='creme_config__delete_custom_form'|url reset_url='creme_config__reset_custom_form'|url %}
  {% for ctw in page.object_list %}
   {% with ctype=ctw.ctype %}
    <div class="brick-list-item customform-config-ctype{% if ctw.collapsed %} customform-config-collapsed{% endif %}">
        <div class="customform-config-ctype-title">
            {% widget_icon ctype=ctype size='brick-list' class='customform-config-type-icon' %}<span>{{ctype}}</span>

            <a class="customform-config-show-details" href="#" data-ct-id="{{ctype.id}}">{% translate 'Show details' %}</a>
            <a class="customform-config-hide-details" href="#" data-ct-id="{{ctype.id}}">{% translate 'Hide details' %}</a>
        </div>

        <div class="customform-config-ctype-content">
            <p class="help-instructions">{% translate 'Drag and drop the groups to order them.' %}</p>
          {% for descriptor in ctw.descriptors %}
            <div class="customform-config-descriptor">
                <div class="customform-config-descriptor-title">
                    <span>{{descriptor.verbose_name}}</span>
                    {% if descriptor.items|length < max_conf_count %}
                        {% brick_action id='add' url='creme_config__create_custom_form'|url:descriptor.id label=_('Add a form for a role') display='both' enabled=admin_perm %}
                    {% endif %}
                </div>
                <div class="customform-config-items">
                  {% for item in descriptor.items %}
                    <div class="customform-config-item{% if item.collapsed %} customform-config-collapsed{% endif %}">
                        <div class="customform-config-item-title">
                            <div class="toggle-icon-container toggle-icon-expand"   data-item-id="{{item.id}}" title="{% translate 'Show this form' %}"><div class="toggle-icon"></div></div>
                            <div class="toggle-icon-container toggle-icon-collapse" data-item-id="{{item.id}}" title="{% translate 'Hide this form' %}"><div class="toggle-icon"></div></div>
                            <span class="customform-config-item-title-label">{{item.verbose_name}}</span>
                            {% brick_action id='delete' url=reset_url __id=item.id label=_('Reset this form') help_text=_('Set the configuration the form gets after a fresh installation') icon='refresh' display='both' enabled=admin_perm %}
                            {% if item.can_be_deleted %}{% brick_action id='delete' url=delete_url __id=item.id label=_('Delete this form') help_text=_('Delete this configuration of the form') display='both' enabled=admin_perm %}{% endif %}
                        </div>
                        <div class="customform-config-item-content">{% url 'creme_config__delete_custom_form_cell' item.id as delete_cell_url %}
                            <div class="customform-config-fields">
                                <table>
                                    <tbody class="customform-config-blocks">
                                     {% for group in item.groups %}
                                      {% with form_group_id=forloop.counter0 layout=group.layout %}{% url 'creme_config__setlayout_custom_form_group' item.id form_group_id as layout_url %}
                                        <tr data-reorderable-form-group-url="{% url 'creme_config__reorder_custom_form_group' item.id form_group_id %}">
                                            <td class="customform-config-block-container">
                                                <div class="customform-config-block customform-config-block-layout-{% if layout == LAYOUT_REGULAR %}regular{% elif layout == LAYOUT_DUAL_FIRST %}dual-first{% else %}dual-second{% endif %}">
                                                    <div class="customform-config-block-header">
                                                      {% if layout == LAYOUT_REGULAR %}
                                                        {% brick_action id='update' url=layout_url __layout='dual_second' icon='next' label=_('Display this group on the second half only') enabled=admin_perm %}
                                                      {% elif layout == LAYOUT_DUAL_SECOND %}
                                                        {% brick_action id='update' url=layout_url __layout='regular' icon='previous' label=_('Display this group on the whole width') enabled=admin_perm %}
                                                      {% endif %}
                                                        <span class="customform-config-block-header-title">{{group.name}}</span>
                                                      {% if not group.extra_group_id %}{% url 'creme_config__edit_custom_form_group' item.id form_group_id as edit_url %}
                                                        {% brick_action id='edit' url=edit_url label=_('Edit this group') enabled=admin_perm %}
                                                      {% endif %}
                                                        {% brick_action id='delete' url='creme_config__delete_custom_form_group'|url:item.id __group_id=form_group_id label=_('Delete this group') enabled=admin_perm %}
                                                      {% if layout == LAYOUT_REGULAR %}
                                                        {% brick_action id='update' url=layout_url __layout='dual_first' icon='previous' label=_('Display this group on the first half only') enabled=admin_perm %}
                                                      {% elif layout == LAYOUT_DUAL_FIRST %}
                                                        {% brick_action id='update' url=layout_url __layout='regular' icon='next' label=_('Display this group on the whole width') enabled=admin_perm %}
                                                      {% endif %}
                                                    </div>
                                                    <div class="customform-config-block-content">
                                                        <table>
                                                            <tbody>
                                                              {% for cell in group.cells %}
                                                                <tr>
                                                                    <td {% brick_table_data_status primary %}>{{cell}}</td>
                                                                    <td {% brick_table_data_status action %}>
                                                                        {% brick_action id='delete' url=delete_cell_url __cell_key=cell.key label=_('Delete this field') enabled=admin_perm %}
                                                                    </td>
                                                                </tr>
                                                              {% endfor %}
                                                            <tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            <td>
                                        </tr>
                                      {% endwith %}
                                     {% endfor %}
                                    </tbody>
                                </table>
                                <div class="customform-config-fields-actions">
                                    {% brick_action id='add' url='creme_config__add_custom_form_group'|url:item.id label=_('Add a group') display='both' enabled=admin_perm %}
                                    {% if item.has_extra_groups %}
                                     {% brick_action id='add' url='creme_config__add_custom_form_extra_group'|url:item.id label=_('Add a special group') display='both' enabled=admin_perm %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="customform-config-errors">
                              {% with errors=item.errors %}
                                {% if errors %}<ul class="warninglist">{% for error in errors %}<li>{{error}}</li>{% endfor %}</ul>{% endif %}
                              {% endwith %}
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
   {% endwith %}
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_list_empty %}
    {% translate 'No custom form' %}
{% endblock %}
