{% extends 'creme_core/bricks/base/list.html' %}
{% load i18n creme_bricks creme_perms creme_widgets creme_config_tags %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-customfields-brick{% endblock %}

{% block brick_menu_actions %}
    {{block.super}}
    <hr/>
    {% config_brick_menu_hide_deleted_cfields_action url='creme_config__custom_fields_brick_hide_deleted'|url hidden=hide_deleted %}
{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configured type of resource') plural=_('{count} Configured types of resource') empty=_('Configured types of resource') icon='config' count=ctypes|length %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='add' url='creme_config__create_first_ctype_custom_field'|url label=_('New custom field configuration') enabled=user|has_perm_to_admin:'creme_core' %}
{% endblock %}

{% block brick_content %}
 {% with admin_perm=user|has_perm_to_admin:'creme_core' delete_url='creme_config__delete_custom_field'|url %}
  {% for ctw in ctypes %}
   {% with ctype=ctw.ctype %}
    <div class="brick-list-item cfields-config-item">
        <div class="cfields-config-group cfields-config-summary-group">
            <div class="cfields-config-group-title">{% widget_icon ctype=ctype size='brick-list' class='cfields-config-type-icon' %} {{ctype}}</div>
            <div class="cfields-config-group-action">
                {% brick_action id='add' url='creme_config__create_custom_field'|url:ctype.id label=_('Create a custom field') enabled=admin_perm %}
            </div>
        </div>
        <div class="cfields-config-group brick-table">
            <table class="brick-table-content">
                <tbody>
                  {% for cfield in ctw.cfields %}
                    <tr {% if cfield.is_deleted %}class="cfields-config-deleted"{% endif %}>
                        <td class="cfields-config-name" title="{% translate 'Name' %}">{{cfield.name}}</td>
                        <td class="cfields-config-type" title="{% translate 'Type' %}">
                            {{cfield.value_class.verbose_name}}{% if cfield.is_required %}&nbsp;<span class="cfields-config-required">{% translate '(required)' %}</span>{% endif %}
                            {% if cfield.is_enum %}
                              {% if cfield.is_deleted %}
                               {% blocktranslate with count=cfield.enum_count asvar enums_label %}See the choices (currently {{count}}){% endblocktranslate %}
                              {% else %}
                               {% blocktranslate with count=cfield.enum_count asvar enums_label %}See & manage the choices (currently {{count}}){% endblocktranslate %}
                              {% endif %}
                              {% brick_table_action id='redirect' url='creme_config__custom_enums'|url:cfield.id label=enums_label type='view' display='both' %}
                            {% endif %}
                        </td>
                        <td class="cfields-config-description" title="{% translate 'Description' %}">
                            {{cfield.description|default:'—'}}
                        </td>
                        <td {% brick_table_data_status action %}>
                          {% if cfield.is_deleted %}
                            {% brick_table_action id='update' url='creme_config__restore_custom_field'|url __id=cfield.id icon='restore' label=_('Restore this custom field') enabled=admin_perm %}
                          {% else %}
                            {% brick_table_action id='edit' url='creme_config__edit_custom_field'|url:cfield.id label=_('Edit this custom field') enabled=admin_perm %}
                          {% endif %}
                        </td>
                        <td {% brick_table_data_status action %}>
                          {% if cfield.is_deleted %}
                            {% brick_table_action id='delete' url=delete_url __id=cfield.id label=_('Delete this custom field definitely') enabled=admin_perm %}
                          {% else %}
                            {% brick_table_action id='delete' url=delete_url __id=cfield.id label=_('Delete this custom field') enabled=admin_perm %}
                          {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   {% endwith %}
  {% empty %}
    <div class="brick-list-item brick-list-empty">{% translate 'No type of entity has custom field for the moment' %}</div>
  {% endfor %}
 {% endwith %}
{% endblock %}
