{% extends 'creme_core/bricks/base/paginated-list.html' %}
{% load i18n creme_widgets creme_bricks creme_entity_filter %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-entityfilters-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configurable type of resource') plural=_('{count} Configurable types of resource') icon='config' %}
{% endblock %}

{% block brick_content %}
  {% for ctw in page.object_list %}
   {% with ctype=ctw.ctype %}
    <div class="brick-list-item entityfilter-config-item entityfilter-config-item-{{ctype.app_label}}-{{ctype.model}}">
        <div class="entityfilter-config-group entityfilter-config-summary-group">
            <div class="entityfilter-config-group-title">
                {% widget_icon ctype=ctype size='brick-list' class='entityfilter-config-type-icon' %} {{ctype}}
            </div>
            <div class="entityfilter-config-group-action">
              {% block creation_button %}{% brick_action id='add' url='creme_config__create_efilter'|url:ctype.id label=_('Create a filter') enabled=1 %}{% endblock %}
            </div>
        </div>
        <div class="entityfilter-config-group entityfilter-config-content-group">
          {% if ctw.all_users_filters %}
            <div class="entityfilter-config-all">
                <span class="entityfilter-config-user-title">{% translate 'Filters belonging to all users' %}</span>
                <ul>
                  {% for efilter in ctw.all_users_filters %}
                    <li data-efilter-id="{{efilter.id}}">
                        {% widget_hyperlink efilter disabled=efilter|efilter_view_forbidden:user %}
                        {% brick_action id='edit' url=efilter.edition_url enabled=efilter.edition_perm %}
                        {% brick_action id='delete' url=efilter.get_delete_absolute_url enabled=efilter.deletion_perm %}
                    </li>
                  {% endfor %}
                </ul>
            </div>
          {% endif %}
          {% for owner, efilters in ctw.owned_filters %}
            <div class="entityfilter-config-owned">
                <span class="entityfilter-config-user-title">{% blocktranslate %}Filters belonging to {{owner}}{% endblocktranslate %}</span>
                <ul>
                  {% for efilter in efilters %}
                    <li data-efilter-id="{{efilter.id}}">
                        {% widget_hyperlink efilter disabled=efilter|efilter_view_forbidden:user %}{% if efilter.is_private %}&nbsp;<span class="entityfilter-config-private">{% translate '(private)' %}</span>{% endif %}
                        {% brick_action id='edit' url=efilter.edition_url enabled=efilter.edition_perm %}
                        {% brick_action id='delete' url=efilter.get_delete_absolute_url enabled=efilter.deletion_perm %}
                    </li>
                  {% endfor %}
                </ul>
            </div>
          {% endfor %}
          {% if not ctw.all_users_filters and not ctw.owned_filters %}
            <span class="empty-message">{% translate 'No filter for this type of resource' %}</span>
          {% endif %}
        </div>
    </div>
   {% endwith %}
  {% endfor %}
{% endblock %}

{% block brick_list_empty %}
    {% translate 'No filter for the moment' %}
{% endblock %}