{% extends 'creme_core/bricks/base/paginated-list.html' %}
{% load i18n creme_widgets creme_bricks creme_entity_filter %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-entityfilters-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configurable type of resource') plural=_('{count} Configurable types of resource') icon='config' %}
{% endblock %}

{% partialdef efilter-item %}
    {% widget_hyperlink efilter disabled=efilter|efilter_view_forbidden:user %}{% if efilter.is_private %}&nbsp;<span class="entityfilter-config-private">{% translate '(private)' %}</span>{% endif %}

    <a class="entityfilter-config-details" data-action="popover" data-title="{% blocktranslate %}Conditions of «{{efilter}}»{% endblocktranslate %}">
        {% widget_icon name='info' label=_('Details') size='brick-action' %}
        <script type="text/html">{% include 'creme_core/frags/entity-filter-summary.html' with user=user hide_errors=True hide_detail_link=True %}</script>
    </a>

    {% with edition_error=efilter|efilter_edition_forbidden:user %}
     {% if edition_error %}
      {% brick_action id='edit' url='#' enabled=False help_text=edition_error %}
     {% else %}
      {% brick_action id='edit' url=edition_url_name|url:efilter.id %}
     {% endif %}
    {% endwith %}

    {% with deletion_error=efilter|efilter_deletion_forbidden:user %}
     {% if deletion_error %}
      {% brick_action id='delete' url='#' enabled=False help_text=deletion_error %}
     {% else %}
      {% brick_action id='delete' url=efilter.get_delete_absolute_url %}
     {% endif %}
    {% endwith %}

    {% if efilter.disabled %}
      <span class="disabled-reason">
          {% blocktranslate with date=efilter.disabled %}Disabled on {{date}}{% endblocktranslate %}
          <a data-action="popover" data-title="{% translate 'Reason' %}">
              {% widget_icon name='info' label=_('Reason') size='brick-action' %}
              <script type="text/html"><p>{{efilter.disabling_reason|linebreaksbr}}</p></script>
          </a>
          {% brick_action id='edit' url=disabling_url_name|url:efilter.id label=_('Edit the reason') display='text' enabled=user.is_superuser %}
          {% brick_action id='update' url=enabling_url_name|url:efilter.id label=_('Re-enable') display='text' confirm=_('The reason will be cleared, so you should have fix all issues. Are you sure you want to re-enable this filter?') enabled=user.is_superuser %}
      </span>
    {% else %}
      {% brick_action id='edit' url=disabling_url_name|url:efilter.id label=_('Disable') display='text' enabled=user.is_superuser %}
    {% endif %}

    {% if efilter.errors_count %}
        <ul class="errors" title="{% translate 'Errors' %}">{% for error in efilter.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
{% endpartialdef %}

{% block brick_content %}
  {% for ctw in page.object_list %}
   {% with ctype=ctw.ctype %}
    <div class="brick-list-item entityfilter-config-item entityfilter-config-item-{{ctype.app_label}}-{{ctype.model}}">
        <div class="entityfilter-config-group entityfilter-config-summary-group">
            <div class="entityfilter-config-group-title">
                {% widget_icon ctype=ctype size='brick-list' class='entityfilter-config-type-icon' %} {{ctype}}
            </div>
            <div class="entityfilter-config-group-action">
              {% block creation_button %}{% brick_action id='add' url='creme_config__create_efilter'|url:ctype.id label=_('Create a filter') enabled=1 %}{% endblock %}
            </div>
        </div>
        <div class="entityfilter-config-group entityfilter-config-content-group">
          {% if ctw.all_users_filters %}
            <div class="entityfilter-config-all">
                <span class="entityfilter-config-user-title">{% translate 'Filters belonging to all users' %}</span>
                <ul>
                  {% for efilter in ctw.all_users_filters %}
                    <li data-efilter-id="{{efilter.id}}">
{% comment %}
                        {% widget_hyperlink efilter disabled=efilter|efilter_view_forbidden:user %}
                        {% brick_action id='edit' url=efilter.edition_url enabled=efilter.edition_perm %}
                        {% brick_action id='delete' url=efilter.get_delete_absolute_url enabled=efilter.deletion_perm %}
{% endcomment %}
                        {% partial efilter-item %}
                    </li>
                  {% endfor %}
                </ul>
            </div>
          {% endif %}
          {% for owner, efilters in ctw.owned_filters %}
            <div class="entityfilter-config-owned">
                <span class="entityfilter-config-user-title">{% blocktranslate %}Filters belonging to {{owner}}{% endblocktranslate %}</span>
                <ul>
                  {% for efilter in efilters %}
                    <li data-efilter-id="{{efilter.id}}">
{% comment %}
                        {% widget_hyperlink efilter disabled=efilter|efilter_view_forbidden:user %}{% if efilter.is_private %}&nbsp;<span class="entityfilter-config-private">{% translate '(private)' %}</span>{% endif %}
                        {% brick_action id='edit' url=efilter.edition_url enabled=efilter.edition_perm %}
                        {% brick_action id='delete' url=efilter.get_delete_absolute_url enabled=efilter.deletion_perm %}
{% endcomment %}
                        {% partial efilter-item %}
                    </li>
                  {% endfor %}
                </ul>
            </div>
          {% endfor %}
          {% if not ctw.all_users_filters and not ctw.owned_filters %}
            <span class="empty-message">{% translate 'No filter for this type of resource' %}</span>
          {% endif %}
        </div>
    </div>
   {% endwith %}
  {% endfor %}
{% endblock %}

{% block brick_list_empty %}
    {% translate 'No filter for the moment' %}
{% endblock %}