{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load uca_sort url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-fields-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configured type of resource') plural=_('{count} Configured types of resource') empty=_('Configured types of resource') %}
{% endblock %}

{% block brick_header_actions %}
  {% if display_add_button %}
    {% brick_header_action id='add' url='creme_config__create_fields_config'|url label=_('New fields configuration') enabled=user|has_perm_to_admin:'creme_core' %}
  {% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column title=_('Type')          status='primary' class='fieldconf-label' %}
    {% brick_table_column title=_('Configuration')                  class='fieldconf-fields' %}
    {% brick_table_column title=_('Actions')       status='action'  colspan=2 %}
{% endblock %}

{% block brick_table_rows %}
 {% with admin_perm=user|has_perm_to_admin:'creme_core' delete_url='creme_config__delete_fields_config'|url %}
  {% for field_conf in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %} class="fieldconf-label">{{field_conf.content_type}}</td>
        <td class="fieldconf-fields">
            <ul class="fieldconf-fields-flags">
              {% if field_conf.hidden_fields_vnames %}
                <li class="fieldconf-fields-flag-hidden">{% translate 'Hidden fields:' %}&nbsp;{% widget_enumerator field_conf.hidden_fields_vnames|uca_sort threshold=10 summary=_('{count} fields') %}</li>
              {% endif %}
              {% if field_conf.required_fields_vnames %}
                <li class="fieldconf-fields-flag-required">{% translate 'Required fields:' %}&nbsp;{% widget_enumerator field_conf.required_fields_vnames|uca_sort threshold=10 summary=_('{count} fields') %}</li>
              {% endif %}
            </ul>
            {% with errors=field_conf.errors_on_hidden %}
                {% if errors %}<ul class="warninglist">{% for error in errors %}<li>{{error}}</li>{% endfor %}</ul>{% endif %}
            {% endwith %}
            {% if not field_conf.is_valid %}
                <ul class="errorlist"><li>{% translate 'This type of resource cannot be configured; please contact your administrator.' %}</li></ul>
            {% endif %}
        </td>
        <td {% brick_table_data_status action %}>
          {% if field_conf.is_valid %}
            {% brick_table_action id='edit' url='creme_config__edit_fields_config'|url:field_conf.pk enabled=admin_perm %}
          {% endif %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_url __id=field_conf.pk enabled=admin_perm %}
        </td>
    </tr>
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No fields configuration for the moment' %}
{% endblock %}
