{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks %}
{% load has_perm_to url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-history-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Used relation type') plural=_('{count} Used relation types') empty=_('Used relation types') icon='relations' %}
{% endblock %}

{% block brick_header_actions %}
{% has_perm_to admin 'creme_core' as admin_perm %}
    {% brick_header_action id='add' url='creme_config__create_history_configs'|url label=_('Add some relationship types') enabled=admin_perm %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column title=_('Type') %}
    {% brick_table_column title=_('Action') status='action' %}
{% endblock %}

{% block brick_table_rows %}
{% has_perm_to admin 'creme_core' as admin_perm %}{% url 'creme_config__remove_history_config' as rm_url %}
    {% for history_item in page.object_list %}
    <tr>
        <td>{{history_item.relation_type}}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=rm_url __id=history_item.id label=_('Remove this relationship type') icon='unlink' enabled=admin_perm %}
        </td>
    <tr>
    {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No relationship type for the moment' %}
{% endblock %}
