{% extends 'creme_core/bricks/base/paginated-list.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-search-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configured type of resource') plural=_('{count} Configured types of resource') icon='config' %}
{% endblock %}

{% block brick_content %}
 {% with admin_perm=user|has_perm_to_admin:'creme_core' delete_url='creme_config__delete_search_config'|url %}
  {% for ctw in page.object_list %}
   {% with ctype=ctw.ctype %}
    <div class="brick-list-item search-config-item">
        <div class="search-config-group search-config-summary-group">
            <div class="search-config-group-title">{% widget_icon ctype=ctype size='brick-list' class='search-config-type-icon' %} {{ctype}}</div>
            <div class="search-config-group-action">
              {% if ctw.sc_items|length < max_conf_count %}
                {% brick_action id='add' url='creme_config__create_search_config'|url:ctw.ctype.id label=_('Create for a role') enabled=admin_perm %}
              {% endif %}
            </div>
        </div>
        <div class="search-config-group brick-table">
            <table class="brick-table-content">
                <tbody>
                  {% for sc_item in ctw.sc_items %}
                    <tr>
                        {% if sc_item.role %}
                         <td class="search-config-ctype-label">{{sc_item.role}}</td>
                        {% elif sc_item.superuser %}
                         <td class="search-config-ctype-label search-config-superuser">{% translate 'Superuser' %}</td>
                        {% else %}
                         <td class="search-config-ctype-label">{% translate 'Default configuration' %}</td>
                        {% endif %}
                        <td class="search-config-fields">
                          {% if sc_item.disabled %}
                            <em>{% translate 'Search is disabled' %}</em>
                          {% elif sc_item.all_fields %}
                            <em>{% translate 'All fields' %}</em>
                          {% else %}
                            {{sc_item.cells|join:' / '}}
                          {% endif %}
                        </td>
                        <td {% brick_table_data_status action %}>
                            {% brick_table_action id='edit' url='creme_config__edit_search_config'|url:sc_item.id enabled=admin_perm %}
                        </td>
                        <td {% brick_table_data_status action %}>
                          {% if not sc_item.is_default %}
                            {% brick_table_action id='delete' url=delete_url __id=sc_item.id enabled=admin_perm %}
                          {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   {% endwith %}
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_list_empty %}
    {% translate 'No search configuration for the moment' %}
{% endblock %}
