{% extends 'creme_core/bricks/base/base.html' %}
{% load i18n creme_bricks creme_widgets %}

{% block brick_extra_class %}
{{block.super}} creme_config_export-buttons-brick{% if not user.is_staff %} is-empty{% endif %}
{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('Export & import configuration') icon='config' %}
{% endblock %}

{% block brick_before_content %}
    <div class="help">
        {% trans 'Export the configuration (as a JSON file) & import it in another instance of Creme. The following data are concerned:' %}
        <ul>
            <li>{% trans 'Roles.' %}</li>
            <li>{% trans 'Blocks locations for detail-views, home & default «My page».' %}</li>
            <li>{% trans 'Buttons configuration.' %}</li>
            <li>{% trans 'Search configuration.' %}</li>
            <li>{% trans 'Property & Relationship types.' %}</li>
            <li>{% trans 'Custom fields.' %}</li>
            <li>{% trans 'Views of list (NB: views related to a user are kept, but ignored at import if the user-name does not exist).' %}</li>
            <li>{% trans 'Filters (NB: filters related to a user are kept, but ignored at import if the user-name does not exist).' %}</li>
        </ul>
    </div>
{% endblock %}

{% block brick_content %}
    <a href="{% url 'creme_config__transfer_export' %}" {# class="bar-button" #} >
        {% widget_icon name='download' size='brick-action' label=_('Export') %}
        {% trans 'Export the configuration' %}
    </a>
    {% url 'creme_config__transfer_import' as import_url %}
    {% brick_action id='add' url=import_url label=_('Import a configuration') display='both' %}
{% endblock %}
