{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_config_tags %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-users-brick{% endblock %}

{% block brick_menu_actions %}
    {{block.super}}
    <hr/>
    {% config_brick_menu_hide_inactive_users_action url='creme_config__users_brick_hide_inactive'|url hidden=hide_inactive %}
{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} User') plural=_('{count} Users') empty=verbose_name icon='contact' %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='add' url='creme_config__create_user'|url label=_('New user') enabled=user.is_superuser %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='username' status='primary' %}
    {% brick_table_column_for_field ctype=objects_ctype field='last_name' %}
    {% brick_table_column_for_field ctype=objects_ctype field='first_name' %}
    {% brick_table_column_for_field ctype=objects_ctype field='role__name' title=_('Role') %}
    {% brick_table_column_for_field ctype=objects_ctype field='email' %}
    {% brick_table_column_for_field ctype=objects_ctype field='is_active' %}
    {% brick_table_column_for_field ctype=objects_ctype field='last_login' %}
    {% brick_table_column_for_field ctype=objects_ctype field='date_joined' %}

    {% if display_tz %}
    {% brick_table_column_for_field ctype=objects_ctype field='time_zone' %}
    {% endif %}

    {% brick_table_column title=_('Actions') status='action' colspan=4 %}
{% endblock %}

{% block brick_table_rows %}
{% with admin_perm=user.is_superuser %}{% translate 'Superuser' as superuser_label %}
    {% for user in page.object_list %}
    <tr>
        <td class="user-username" {% brick_table_data_status primary %}>{{user.username}}</td>
        <td class="user-lastname" >{{user.last_name}}</td>
        <td class="user-firstname" >{{user.first_name}}</td>
        <td class="user-role" >{% if user.role %}{{user.role}}{% else %}<em>{% if user.is_staff %}{% translate 'Staff' %}{% else %}{{superuser_label}}{% endif %}</em>{% endif %}</td>
        <td class="user-email" >{{user.email}}</td>
        <td class="user-active" >{{user.is_active|yesno:_('Yes,No')}}</td>
        <td class="user-last-login" data-type='datetime'>{{user.last_login|default:'—'}}</td>
        <td class="user-joined" data-type='datetime'>{{user.date_joined}}</td>
        {% if display_tz %}<td class="user-timezone">{{user.time_zone}}</td>{% endif %}
        <td {% brick_table_data_status action %} class="user-activate">
            {% if user.is_active %}
                {% brick_table_action id='update' url='creme_config__deactivate_user'|url:user.id label=_('Deactivate') display='text' enabled=admin_perm %}
            {% else %}
                {% brick_table_action id='update' url='creme_config__activate_user'|url:user.id   label=_('Activate')   display='text' enabled=admin_perm %}
            {% endif %}
        </td>
        <td {% brick_table_data_status action %} class="user-password">
            {% brick_table_action id='edit' url='creme_config__change_user_password'|url:user.id label=_('Change the password') icon='security' enabled=admin_perm %}
        </td>
        <td {% brick_table_data_status action %} class="user-edit">
            {% brick_table_action id='edit' url='creme_config__edit_user'|url:user.id label=_('Edit this user') enabled=admin_perm %}
        </td>
        <td {% brick_table_data_status action %} class="user-delete">
            {% brick_table_action id='edit' url='creme_config__delete_user'|url:user.id label=_('Delete this user') icon='delete' enabled=admin_perm %}
        </td>
    </tr>
    {% endfor %}
{% endwith %}
{% endblock %}
