{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load uca_sort url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_config-roles-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Role') plural=_('{count} Roles') empty=verbose_name icon='contact' %}
{% endblock %}

{% block brick_header_actions %}
{#    {% brick_header_action id='add' url='creme_config__create_role'|url label=_('New role') enabled=user.is_superuser %} #}
    {% brick_header_action id='add' url='creme_config__create_role'|url label=_('New role') enabled=user|has_special_perm:role_config_perm %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='name' status='primary nowrap' class='role-name' %}
    {% brick_table_column title=_('Allowed applications')       status='nowrap' class='role-apps' %}
    {% brick_table_column title=_('Administrated applications') status='nowrap' class='role-admin-apps' %}
    {% brick_table_column title=_('Creation credentials')       status='nowrap' class='role-creation-creds' %}
    {% brick_table_column title=_('List credentials')           status='nowrap' class='role-list-creds' %}
    {% brick_table_column title=_('Export credentials')         status='nowrap' class='role-export-creds' %}
    {% brick_table_column title=_('Special permissions')        status='nowrap' class='role-special-perms' %}
    {% brick_table_column title=_('Entities credentials')       status='nowrap' class='role-creds' %}
    {% brick_table_column title=_('Actions') status='action' colspan=4 %}
{% endblock %}

{% block brick_table_rows %}
{# {% with admin_perm=user.is_superuser %}{% url 'creme_config__remove_role_credentials' as rm_creds_url %} #}
{% with admin_perm=user|has_special_perm:role_config_perm %}{% url 'creme_config__remove_role_credentials' as rm_creds_url %}
  {% for role in page.object_list %}
    <tr{% if role.deactivated_on %} class="role-disabled"{% endif %}>
        <td class="role-name">{{role.name}}</td>
        <td class="role-apps">{% widget_enumerator role.get_allowed_apps_verbose threshold=2 summary=_('{count} applications') empty=_('No allowed application') %}</td>
        <td class="role-admin-apps">{% widget_enumerator role.get_admin_4_apps_verbose threshold=2 summary=_('{count} applications') empty=_('No administrated application') %}</td>
        <td class="role-creation-creds">{% widget_enumerator role.creatable_ctypes.all|uca_sort threshold=2 summary=_('{count} types of entity') empty=_('No creation credential') %}</td>
        <td class="role-list-creds">{% widget_enumerator role.listable_ctypes.all|uca_sort threshold=2 summary=_('{count} types of entity') empty=_('No list credential') %}</td>
        <td class="role-export-creds">{% widget_enumerator role.exportable_ctypes.all|uca_sort threshold=2 summary=_('{count} types of entity') empty=_('No export credential') %}</td>
        <td class="role-special-perms">{% widget_enumerator role.special_permissions.values|uca_sort threshold=2 summary=_('{count} permissions') empty=_('No special permission') %}</td>
        <td class="role-creds">
            <ul>
              {% for sc in role.credentials.all %}
                <li class="{% if sc.forbidden %}role-creds-forbidden{% else %}role-creds-allowed{% endif %}">
                    {{sc}}
                    {% brick_action id='edit'   url='creme_config__edit_role_credentials'|url:sc.id label=_('Edit these credentials')   enabled=admin_perm %}
                    {% brick_action id='delete' url=rm_creds_url __id=sc.id                         label=_('Delete these credentials') enabled=admin_perm %}
                    {% with efilter=sc.efilter %}
                     {% if efilter %}
                      <br>&nbsp;{% blocktranslate %}Filter «{{efilter}}»{% endblocktranslate %}
                      <a data-action="popover" data-title="{% blocktranslate %}Conditions of «{{efilter}}»{% endblocktranslate %}">
                          {% widget_icon name='info' label=_('Information on the current filter') size='brick-action' %}
                          <script type="text/html">{% include 'creme_core/frags/entity-filter-summary.html' with efilter=efilter user=user %}</script>
                      </a>
                     {% endif %}
                    {% endwith %}
                </li>
              {% endfor %}
            </ul>
            {% brick_action id='edit' url='creme_config__add_credentials_to_role'|url:role.id icon='add' label=_('New credentials') display='both' enabled=admin_perm %}
        </td>
        <td {% brick_table_data_status action %}>
          {% if role.deactivated_on %}
            {% brick_table_action id='update' url='creme_config__activate_role'|url:role.id   label=_('Activate')   display='text' enabled=admin_perm %}
          {% elif role.id != user.role_id %}
            {% brick_table_action id='update' url='creme_config__deactivate_role'|url:role.id label=_('Deactivate') display='text' enabled=admin_perm %}
          {% endif %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='edit' url='creme_config__edit_role'|url:role.id label=_('Edit this role') enabled=admin_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='edit' url='creme_config__delete_role'|url:role.id label=_('Delete') icon='delete' enabled=admin_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='add' url='creme_config__clone_role'|url:role.id label=_('Clone this role') icon='clone' enabled=admin_perm %}
        </td>
    </tr>
  {% endfor %}
{% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No role for the moment' %}
{% endblock %}
