{% load i18n %}
{% load creme_core_tags %}{% load creme_block %}
{% has_perm_to change object as has_perm %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=2 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Periperal type of relation') _('%s Periperal types of relation') 'graph_48.png' _('Periperal relation types') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% get_line_adder at_url '/graphs/graph/{{object.pk}}/relation_types/add' with_label _("Add some existing types of relation") with_perms has_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Type of relation" %}</th>
                <th class="block_header_line_dark action">{% trans "Unlink" %}</th>
            </tr>
            {% for rtype in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{{rtype}}</td>
                    <td class="{{row_color}} action">
                        {% get_line_unlinker at_url '/graphs/graph/{{object.pk}}/relation_type/delete' with_args "{'id':'{{rtype.pk}}' }" with_perms has_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No type of relation for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
