{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    <!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
    {% get_block_header '%s Type de resource configuré' '%s Types de resource configurés' %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="100">
                <a class="button_link" href="/creme_config/search/add/">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" alt="Ajouter une configuration de recherche"/>
                    Nouvelle configuration de recherche
                </a>
            </th>
        </tr>
        <tr>
            <th class="block_header_line_light">Type</th>
            <th class="block_header_line_light">Champs concernés</th>
            {% comment %}
                <th class="block_header_line_light">Rôle</th>
            {% endcomment %}
            <th class="block_header_line_light">Utilisateur</th>
            <th class="block_header_line_light">Éditer</th>
            <th class="block_header_line_light">Supprimer</th>
        </tr>
        {% if page.paginator.count %}
            {% for search_item in page.object_list %}
                <!--{% cycle row_color %}-->
                <tr>
                    <td class="{{row_color}}">
                        {{search_item.content_type}}
                    </td>
                    <td class="{{row_color}}">
                        {{search_item.get_fields|join:","|default:"Tous"}}
                        {% comment %}
                        {{search_item.searchfield_set.all|join:","|default:"Tous"}}
                        {{search_item.searchfield_set.get_query_set|join:","|default:"Tous"}}
                        {% endcomment %}
                    </td>
                    {% comment %}
                    <td class="{{row_color}}">
                        {{search_item.role|default:"Tous"}}
                    </td>
                    {% endcomment %}
                    <td class="{{row_color}}">
                        {{search_item.user|default:"Tous les utilisateurs"}}
                    </td>
                    <td class="{{row_color}}">
                        <a href="/creme_config/search/edit/{{search_item.id}}">
                            <img src="{{MEDIA_URL}}images/edit_22.png" border="0" alt="Éditer" title="Éditer">
                        </a>
                    </td>
                    <td class="{{row_color}}">
                        {% get_line_deletor3 at_url '/creme_config/search/delete' with_args "{'id': '{{search_item.id}}'}" %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>