{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    <!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
    {% get_block_header '%s Type de bloc de relation crée' '%s Types de bloc de relation crées' %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="100">
                <a class="button_link" href="/creme_config/relation_block/add/">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" alt="Ajouter un type de bloc de relation"/>
                    Nouveau type de bloc
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_light">Type de relation associée</th>
                <th class="block_header_line_light">Supprimer</th>
            </tr>
            {% for block_type in page.object_list %}
                <!--{% cycle row_color %}-->
                <tr>
                    <td class="{{row_color}}">
                        {{block_type.relation_type}}
                    </td>
                    <td class="{{row_color}}">
                        {% get_line_deletor at_url '/creme_config/relation_block/delete' with_args "{'id': '{{block_type.id}}'}" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2" class="block_line_dark">Aucun type de bloc de relation créé pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>