{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header '%s Droit' '%s Droits' %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="6">
                <a class="button_link" href="/creme_config/roles/entity_credential/add/">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" alt="Ajouter"/>
                    Nouveau droit
                </a>
                <a href="/creme_config/roles/entity_credential/generate_all/"
                    onclick="if(confirm('Êtes-vous sûr de vouloir générer tous les droits (Long) ?')){alert('Pensez à assigner une entité/un rôle/une équipe aux droits nécessitant');return true;} return false;">
                    <button type="button">
                        <img src="{{MEDIA_URL}}images/add_16.png" border="0">
                        Générer tous les droits possibles
                    </button>
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                {% get_column_header "Type d'entité"   'content_type' %}
                {% get_column_header 'Type de droit'   'type_droit' %}
                {% get_column_header "Type d'ensemble" 'type_ensemble_fiche' %}
                <th class="block_header_line_light">Entité/Rôle/Equipe particulier</th>
                <th class="block_header_line_light">Supprimer</th>
            </tr>
            {% for cred in page.object_list %}
                <!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{cred.content_type}}</td>
                    <td class="{{row_color}}">{{cred.type_droit}}</td>
                    <td class="{{row_color}}">{{cred.type_ensemble_fiche}}</td>
                    <td class="{{row_color}}">{{cred.id_fiche_role_ou_equipe|default:''}}</td>
                    <td class="{{row_color}}">
                         {% get_line_deletor3 at_url '/creme_config/roles/entity_credential/delete' with_args "{'id':'{{cred.pk}}'}" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">Aucun droit enregistré pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>