{% load i18n %}
{% load creme_core_tags %}{% load creme_block %}{% load creme_widgets %}
<table class="table_detail_view ui-corner-all with-header" id={{block_name}}>
    {% get_block_header colspan=5 %}
        <th class="collapser label">{% get_basic_block_header _('History') 'history_48.png' _('History') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _('Date') 'date' %}
                {% if not object %}
                    <th class="block_header_line_dark">{% trans "Concerned entity" %}</th>
                {% endif %}
                <th class="block_header_line_dark">{% trans "Type" %}</th>
                <th class="block_header_line_dark">{% trans "Modifications" %}</th>
                <th class="block_header_line_dark">{% trans "By" %}</th>
            </tr>
            {% for line in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{% print_field object=line field='date' %}</td>
                    {% if not object %}
                        <td class="{{row_color}}">
                            {% get_image_for_ctype line.entity_ctype 'small' %}
                            {% with line.entity as concerned_entity %}
                                {% if concerned_entity %}
                                    {% widget_entity_hyperlink concerned_entity user %}
                                {% else %}
                                    {{line.entity_repr}}{% comment %}TODO: improve credentials here !! {% endcomment %}
                                {% endif %}
                            {% endwith %}
                        </td>
                    {% endif %}
                    <td class="{{row_color}}">{{line.get_type_str}}</td>
                    <td class="{{row_color}}">
                        {% for modif in line.verbose_modifications %}{{modif}}<br/>{% endfor %}
                        {% with line.related_line as related_line %}{% if related_line %}
                            {% with related_line.entity as related_entity %}
                                {% if related_entity %}
                                    {% trans "Edition of :" %}&nbsp;{% widget_entity_hyperlink related_entity user %}
                                {% else %}
                                    {% blocktrans with related_line.entity_repr as entity %}Edit "{{entity}}"{% endblocktrans %}{% comment %}TODO: improve credentials here !! {% endcomment %}
                                {% endif %}
                            {% endwith %}
                            <br/>
                            {% for modif in related_line.verbose_modifications %} - {{modif}}<br/>{% endfor %}
                        {% endif %}{% endwith %}
                    </td>
                    <td class="{{row_color}}">{{line.username}}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No history for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
