{% load i18n %}
{% load creme_core_tags creme_block %}
{% with object.get_custom_fields_n_values as custom_fields_n_values %}
    {% if custom_fields_n_values %}
        <table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
            {% get_block_header colspan=3 %}
                <th class="label">{% get_basic_block_header _('Custom fields') 'info_48.png' _('Information') %}</th>
                <th class="actions">
                    <div class="buttons">
                        {% get_toggle_empty_field_button %}
                    </div>
                </th>
            {% end_get_block_header %}
            <tbody class="collapsable">
                {% for field, value in custom_fields_n_values %}
                    <tr class="content">
                        <th class="{% cycle "block_header_line_dark" "block_header_line_light" %} th_info">{{field.name}}</th>
                        <td class="{% cycle "block_line_dark" "block_line_light" %} td_info">{{value|default_if_none:''}}</td>
                        <td class="{% cycle "block_line_dark" "block_line_light" %} edit_inner">{% get_field_editor on custom field for object %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endwith %}
