{% load i18n creme_block %}
{% if job.status == JOB_ERROR %}
    <table id="{{block_name}}" style="display:none;" />
{% else %}
    <table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
        {% if job.is_finished %}
            {% get_block_header colspan=1 %}
                <th class="label">{% get_block_title _('%s Error') _('%s Errors') %}</th>
            {% end_get_block_header %}
            <tbody class="collapsable">
                {% if page.paginator.count %}
                    <tr class="header">
                        <th class="block_header_line_dark">{% trans "Error" %}</th>
                    </tr>
                    {% for result in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                        <tr class="content">
                            <td class="{{row_color}}">{% comment %}TODO: factorise{% endcomment %}
                                {% if result.messages|length > 1 %}
                                    <ul>{% for error in result.messages %}<li>{{error}}</li>{% endfor %}</ul>
                                {% else %}
                                    {{result.messages.0}}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="content empty">
                        <td class="block_line_dark">{% trans "No error" %}</td>
                    </tr>
                {% endif %}
            </tbody>
            {% get_block_footer 1 %}
        {% else %}
            {% get_block_header colspan=1 %}
                <th class="label">{% get_basic_block_header _('Errors [job is not finished yet]') %}</th>
            {% end_get_block_header %}
        {% endif %}
    </table>
{% endif %}