{% load i18n %}
{% load creme_core_tags %}
{% load creme_block %}

{% regroup page.object_list by type as predicate_list %}

<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% include "creme_core/templatetags/widgets/block_header_beg.html" %}
        <th style="width: 80%;" class="collapser">{% get_block_title _('%s Relation') _('%s Relations') 'relations_48.png' _('Relation') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                <a class="add" onclick="creme.utils.innerPopupNReload('/creme_core/relation/add/{{object.id}}', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "New relations" %}" alt="{% trans "New relations" %}" />
                    {% trans "New relations" %}
                </a>
            </div>
        </th>
    {% include "creme_core/templatetags/widgets/block_header_end.html" %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            {% for predicate in predicate_list %}
                <tr>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}" colspan="2">{{predicate.grouper}}</th>
                </tr>
                {% for relation in predicate.list %}
                    {% with relation.object_entity.get_real_entity as entity_obj %}
                        <tr>
                            <td class="{% cycle "block_line_dark" "block_line_light" %}">
                                <a href="{{entity_obj.get_absolute_url}}">{{entity_obj}}</a>
                            </td>
                            <td class="{% cycle "block_line_dark" "block_line_light" %}" align="center" valign="center" style="width:10%;">
                                {% get_line_deletor at_url '/creme_core/relation/delete' with_args "{'id':{{relation.pk}}, 'object_id':{{object.pk}} }" %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No relation for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>