{% load i18n %}
{% load creme_core_tags %}
<tr id="list_thead_search" class="columns_bottom">
    {% if not o2m %}<th><center><input name="select_all" value="all" type="checkbox" title="{% trans "Select all" %}"/></center></th>{% endif %}
    {% for column in columns %}
        <th {% if column.is_hidden %}style="display:none;"{% endif %}>
            {% if column.has_a_filter %}
                {% with columns_values|get_value:column.name as column_options %}
                    {% with column_options.type as column_type %}
                        {% if column_type == "select" %}
                            <select name="{{column.name}}" title="{{column.title}}">
                                <option value="">{% trans "Select" %}</option>
                                {% for options in column_options.values %}
                                    <option value="{{options.text}}" {% if search %}{{options.selected}}{% endif %}>
                                        {{options.text}}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}{% if column_type == "checkbox" %}
                            <select name="{{column.name}}" title="{{column.title}}">
                                <option value="">{% trans "Select" %}</option>
                                {% for options in column_options.values %}
                                    <option value="{{options.value}}" {% if search %}{{options.selected}}{% endif %}>
                                        {{options.text}}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}{% if column_type == "datefield" %}
                            <span>
                                {% trans "Between" %}
                                <input name="{{column.name}}" id="id_{{column.name}}" title="{{column.title}}" type="{{column_type}}"
                                       style="width:80px" value="{% if search %}{{column_options.values.start}}{% endif %}"/>
                                &nbsp;{% trans "and" %}&nbsp;
                                <input name="{{column.name}}" id="id_{{column.name}}_2" title="{{column.title}}" type="{{column_type}}"
                                       style="width:80px" value="{% if search %}{{column_options.values.end}}{% endif %}"/>
                            </span>
                            <script type="text/javascript">
                                $("#id_{{column.name}}").datepicker({dateFormat:   "yy-mm-dd", showOn: "button", buttonImage: "{{MEDIA_URL}}/images/icon_calendar.gif", buttonImageOnly: true, onSelect: function(dateText, inst){$('#id_{{column.name}}_2').val(dateText);}});
                                $("#id_{{column.name}}_2").datepicker({dateFormat: "yy-mm-dd", showOn: "button", buttonImage: "{{MEDIA_URL}}/images/icon_calendar.gif", buttonImageOnly: true });
                            </script>
                        {% else %}{% if column_type == "text" %}
                            <input name="{{column.name}}" title="{{column.title}}" type="{{column_type}}" value="{% if search %}{{column_options.value}}{% endif %}"/>
                        {% endif %}{% endif %}{% endif %}{% endif %}
                    {% endwith %}
                {% endwith %}
            {% endif %}
        </th>
    {% endfor %}
</tr>