{% load i18n %}
{% load creme_core_tags %}
<fieldset title="{% trans "Filter the lines of the table" %}">
    <div class="legend">
        {% trans "Filter" as label %}<img border="0" src="{% creme_media_url 'images/filter_32.png' %}" alt="{{label}}" title="{{label}}"/>{{label}}
    </div>
    <select name="filter" id="list_filter" onchange="$(this.form).list_view('getSubmit')(this);">
        <option value="">{% trans "All" %}</option>
        {% for efilter in entity_filters %}
            <option value="{{efilter.id}}" {% if efilter_id == efilter.id %}selected{% endif %}>{{efilter.name}}</option>
        {% endfor %}
    </select>
    {% if not is_popup_view %}
        <a href="/creme_core/entity_filter/add/{{content_type_id}}">
            {% trans "Create a custom filter" as img_title %}<img border="0" src="{% creme_media_url 'images/add_22_button.png' %}" alt="{{img_title}}" title="{{img_title}}"/>
        </a>
        {% if can_edit_or_delete %}
            <a href="/creme_core/entity_filter/edit/{{efilter_id}}" id="filter_edit">
                {% trans "Edit custom filter" as img_title %}<img border="0" src="{% creme_media_url 'images/edit_22.png' %}" alt="{{img_title}}" title="{{img_title}}"/>
            </a>
            <a onclick="creme.lv_widget.deleteEntityFilter($(this).parents('form:first'), '{{efilter_id}}');">
                {% trans "Delete custom filter" as img_title %}<img border="0" src="{% creme_media_url 'images/delete_22.png' %}" alt="{{img_title}}" title="{{img_title}}"/>
            </a>
        {% endif %}
    {% endif %}
</fieldset>
