{% load i18n creme_core_tags creme_listview creme_widgets %}
<tr id="list_thead_search" class="columns_bottom">
    {% if not o2m %}<th class="choices">&nbsp;</th>{% endif %}
    {% for cell in cells %}
        {% with cell.widget_ctx as widget_ctx %}{% with widget_ctx.type as widget_type %}
            <th {% if cell.is_hidden %}style="display:none;"{% endif %}
                class="{% if cell.key == list_view_state.sort_field %}sorted {% endif %}{% if cell.type_id != 'actions' %}column {{cell.header_listview_css_class}} {{cell.listview_css_class}}{% else %}actions{% endif %}{% if widget_ctx.value %} search{% endif %}{% if cell.sortable %} sortable{% endif %}{% if cell.has_a_filter %} {{widget_type}}{% endif %}"
                colspan="{{cell|listview_column_colspan:is_popup_view}}">
                {% if cell.has_a_filter %}
                    {% if widget_type == 'select' %}
                        <select name="{{cell.key}}" title="{{cell.title}}">
                            <option value="">{% trans 'All' %}</option>
                        {% for group_name, group_choices in widget_ctx.values %}
                            {% if group_name %}<optgroup label="{{group_name}}">{% endif %}
                            {% for choice in group_choices %}
                            <option value="{{choice.value}}" {% if search and choice.selected %}selected{% endif %} {% if choice.value == NULL_FK %}class="search-nullfk"{% endif %}>{{choice.text}}</option>
                            {% endfor %}
                            {% if group_name %}</optgroup>{% endif %}
                        {% endfor %}
                        </select>
                    {% elif widget_type == 'checkbox' %}
                        <select name="{{cell.key}}" title="{{cell.title}}">
                            <option value="">{% trans 'All' %}</option>
                            {% for options in widget_ctx.values %}
                                <option value="{{options.value}}" {% if search %}{{options.selected}}{% endif %}>{{options.text}}</option>
                            {% endfor %}
                        </select>
                    {% elif widget_type == 'datefield' %}
                        <div class="lv-search-daterange">
                            <div class="date-start">
                                <label for="id_{{cell.key}}{{whoami}}">{% trans 'Start' %}</label>
                                <input name="{{cell.key}}" id="id_{{cell.key}}{{whoami}}" title="{{cell.title}}"
                                       type="{{widget_type}}" data-format="{{widget_ctx.format}}"
                                       value="{% if search %}{{widget_ctx.values.start}}{% endif %}"/>
                            </div>
                            <div class="date-end">
                                <label for="id_{{cell.key}}{{whoami}}_2">{% trans 'End' %}</label>
                                <input name="{{cell.key}}" id="id_{{cell.key}}{{whoami}}_2" title="{{cell.title}}"
                                       type="{{widget_type}}" data-format="{{widget_ctx.format}}"
                                       value="{% if search %}{{widget_ctx.values.end}}{% endif %}"/>
                            </div>
                        </div>
                    {% elif widget_type == 'text' %}
                        <input name="{{cell.key}}" title="{{cell.title}}" type="text" value="{% if search %}{{widget_ctx.value}}{% endif %}" />
                    {% endif %}
                {% endif %}
                {% if cell.type_id == 'actions' and show_actions %}<span class='lv-search-title'>{% trans 'Quick search' %}</span>{% endif %}
            </th>
        {% endwith %}{% endwith %}
    {% endfor %}
</tr>
