{% load i18n %}
<td class="page_information">
    {% blocktrans with start_index=page.start_index end_index=page.end_index entities_count=page.paginator.count %}Recordings {{start_index}} - {{end_index}} on {{entities_count}}{% endblocktrans %}
</td>
<td class="previous_buttons">
    <button class="first_page" name="page" value="1" {% if page.has_previous %} onclick="$(this.form).list_view('getSubmit')(this);" title="{% trans 'First page' %}"{% else %}disabled="true"{% endif %} type="button">|<</button>
    <button class="previous_page" name="page" {% if page.has_previous %}value="{{page.previous_page_number}}" onclick="$(this.form).list_view('getSubmit')(this);" title="{% trans 'Previous page' %}"{% else %} disabled="true"{% endif %} type="button"><<</button>
</td>
<td class="current_page">
    <label for="user_page">{% trans "Page" %} </label><input id="user_page" value="{{page.number}}" name="page" onkeydown="$(this.form).list_view('getKdSubmit')(event, this);" title="{% trans "'Enter' to submit" %}"/><label for="user_page"> {% trans "on" %} {{page.paginator.num_pages}}</label>
</td>
<td class="next_buttons">
    <button class="next_page" name="page" {% if page.has_next %}value="{{page.next_page_number}}" onclick="$(this.form).list_view('getSubmit')(this);" title="{% trans 'Next page' %}"{% else %}disabled="true"{% endif %} type="button">>></button>
    <button class="last_page" name="page" value="{{page.paginator.num_pages}}" {% if page.number == page.paginator.num_pages %}disabled="true"{% else %}onclick="$(this.form).list_view('getSubmit')(this);" title="{% trans 'Last page' %}"{% endif %} type="button">>|</button>
</td>