{% load i18n %}
{% load creme_core_tags %}
<fieldset title="{% trans "Show only the desired columns" %}">
    <div class="legend">
        {% trans "View of list" as label %}<img border="0" src="{% creme_media_url 'images/header_filter_32.png' %}" alt="{{label}}" title="{{label}}"/>{{label}}
    </div>
    <select name="hfilter" id="hfilter_list" onchange="$(this.form).list_view('getSubmit')(this);">
        {% for hfilter in header_filters %}
            <option value="{{hfilter.id}}" {% if hfilter_id == hfilter.id %}selected{% endif %}>{{hfilter.name}}</option>
        {% endfor %}
    </select>
    {% if not is_popup_view %}
        <a href="/creme_core/header_filter/add/{{content_type_id}}">
            {% trans "Create a custom view" as img_title %}<img border="0" src="{% creme_media_url 'images/add_22_button.png' %}" alt="{{img_title}}" title="{{img_title}}"/>
        </a>
        {% if can_edit_or_delete %}
            <a href="/creme_core/header_filter/edit/{{hfilter_id}}" id="header_filter_edit">
                {% trans "Edit custom view" as img_title %}<img border="0" src="{% creme_media_url 'images/edit_22.png' %}" alt="{{img_title}}" title="{{img_title}}"/>
            </a>
            <a onclick="creme.lv_widget.deleteHeaderFilter($(this).parents('form:first'), '{{hfilter_id}}');">
                {% trans "Delete custom view" as img_title %}<img border="0" src="{% creme_media_url 'images/delete_22.png' %}" alt="{{img_title}}" title="{{img_title}}"/>
            </a>
        {% endif %}
    {% endif %}
</fieldset>
