{% load i18n %}
{% load media %}
<fieldset title="{% trans "Filter the lines of the table" %}">
    <legend>
        <img border="0" src="{% media_url 'images/filter_32.png' %}" alt="{% trans "Filter" %}" title="{% trans "Filter" %}"/>
        {% trans "Filters" %}
    </legend>
    <select name="filter" id="list_filter" onchange="$(this.form).list_view('getSubmit')(this);">
        <option value="">{% trans "All" %}</option>
        {% for filter in select_values %}
            <option value="{{filter.value}}" {% if filter_id == filter.value %}selected{% endif %}>
                {{filter.text}}
            </option>
        {% endfor %}
    </select>
    {% if not is_popup_view %}
        <a href="/creme_core/filter/add/{{content_type_id}}">
            <img border="0" src="{% media_url 'images/add_22.png' %}" alt="{% trans "Create a custom filter" %}" title="{% trans "Create a custom filter" %}"/>
        </a>
        {% if filter_id %}
            <a href="/creme_core/filter/edit/{{content_type_id}}/{{filter_id}}" id="filter_edit">
                <img border="0" src="{% media_url 'images/edit_22.png' %}" alt="{% trans "Edit filter" %}" title="{% trans "Edit filter" %}"/>
            </a>
            {% comment %}TODO: reload only list by ajax{% endcomment %}
            <a onclick="creme.utils.ajaxDelete('/creme_core/filter/delete', {'id': '{{filter_id}}'}, {complete: function(req, st){if(st!='error'){reload(window);}}});">
                <img border="0" src="{% media_url 'images/delete_22.png' %}" alt="{% trans "Delete filter" %}" title="{% trans "Delete filter" %}"/>
            </a>
        {% endif %}
    {% endif %}
</fieldset>