{% load i18n %}{% load media %}
{% load creme_core_tags %}
<tr id="list_thead_search" class="columns_bottom">
    {% if not o2m %}<th><center><input name="select_all" value="all" type="checkbox" title="{% trans "Select all" %}"/></center></th>{% endif %}
    {% for column in columns %}
        <th {% if column.is_hidden %}style="display:none;"{% endif %} {% if column.name in current_research_fields %}class="search"{% endif %}>
            {% if column.has_a_filter %}
                {% with column.widget_ctx as widget_ctx %}
                    {% with widget_ctx.type as widget_type %}
                        {% if widget_type == "select" %}
                            <select name="{{column.name}}" title="{{column.title}}" onkeydown="$(this.form).list_view('getKdSubmit')(event, this, {'_search': 1});">
                                <option value="">{% trans "Select" %}</option>
                                {% for options in widget_ctx.values %}
                                    <option value="{{options.value}}" {% if search %}{{options.selected}}{% endif %}>
                                        {{options.text}}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}{% if widget_type == "checkbox" %}
                            <select name="{{column.name}}" title="{{column.title}}" onkeydown="$(this.form).list_view('getKdSubmit')(event, this, {'_search': 1});">
                                <option value="">{% trans "Select" %}</option>
                                {% for options in widget_ctx.values %}
                                    <option value="{{options.value}}" {% if search %}{{options.selected}}{% endif %}>
                                        {{options.text}}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}{% if widget_type == "datefield" %}
                            <span>
                                {% trans "Between" %}
                                <input name="{{column.name}}" id="id_{{column.name}}{{whoami}}" title="{{column.title}}" type="{{widget_type}}"
                                       style="width:80px" value="{% if search %}{{widget_ctx.values.start}}{% endif %}"
                                       onkeydown="$(this.form).list_view('getKdSubmit')(event, this, {'_search': 1});"/>
                                &nbsp;{% trans "and" %}&nbsp;
                                <input name="{{column.name}}" id="id_{{column.name}}{{whoami}}_2" title="{{column.title}}" type="{{widget_type}}"
                                       style="width:80px" value="{% if search %}{{widget_ctx.values.end}}{% endif %}"
                                       onkeydown="$(this.form).list_view('getKdSubmit')(event, this, {'_search': 1});"/>
                            </span>
                            <script type="text/javascript">
                                $("#id_{{column.name}}{{ whoami }}").datepicker({dateFormat:   "yy-mm-dd", showOn: "button", buttonImage: "{% media_url 'images/icon_calendar.gif' %}", buttonImageOnly: true, onSelect: function(dateText, inst){$('#id_{{column.name}}{{ whoami }}_2').val(dateText);}});
                                $("#id_{{column.name}}{{ whoami }}_2").datepicker({dateFormat: "yy-mm-dd", showOn: "button", buttonImage: "{% media_url 'images/icon_calendar.gif' %}", buttonImageOnly: true });
                            </script>
                        {% else %}{% if widget_type == "text" %}
                            <input name="{{column.name}}" title="{{column.title}}" type="text" value="{% if search %}{{widget_ctx.value}}{% endif %}" onkeydown="$(this.form).list_view('getKdSubmit')(event, this, {'_search': 1});"/>
                        {% endif %}{% endif %}{% endif %}{% endif %}
                    {% endwith %}
                {% endwith %}
            {% endif %}
            {% if not column.type and show_actions %}
                <script type="text/javascript">
                    $(function() {
                        $('#bulk_actions').NavIt({ArrowSideOnRight: false});
                    });
                </script>
                <ul id="bulk_actions" class="entity_menu ui-widget ui-corner-all ui-state-default">
                    <li>
                        <a onclick="$(this).parents('ul').find('ul').slideToggle('slide')">{% trans "Actions" %}</a>
                        <ul style="float: left; position: absolute; z-index: 10;" class="ui-widget ui-widget-content ui-corner-all">
                            <li>
                                <a style="white-space: nowrap;" onclick="creme.utils.multiDeleteFromListView('form[name=list_view_form]', '/creme_core/delete_js');">
                                    <img border="0" src="{% media_url 'images/delete_22.png' %}" alt="{% trans "Multiple deletion" %}" title="{% trans "Multiple deletion" %}"/>{% trans "Multiple deletion" %}
                                </a>
                            </li>
                            <li>
                                <a style="white-space: nowrap;" onclick="creme.relations.addFromListView('form[name=list_view_form]', '/creme_core/property/add_to_entities/{{content_type_id}}/');">
                                    <img border="0" src="{% media_url 'images/property_22.png' %}" alt="{% trans "Multiple property adding" %}" title="{% trans "Multiple property adding" %}"/>{% trans "Multiple property adding" %}
                                </a>
                            </li>
                            <li>
                                <a style="white-space: nowrap;" onclick="creme.relations.addFromListView('form[name=list_view_form]', '/creme_core/relation/add_to_entities/{{content_type_id}}/');">
                                    <img border="0" src="{% media_url 'images/link_22.png' %}" alt="{% trans "Multiple relation adding" %}" title="{% trans "Multiple relation adding" %}"/>{% trans "Multiple relation adding" %}
                                </a>
                            </li>
                            <li>
                                <a style="white-space: nowrap;" onclick="creme.relations.addFromListView('form[name=list_view_form]', '/creme_core/entity/bulk_update/{{content_type_id}}/');">{# TODO: Rename js function ? #}
                                    <img border="0" src="{% media_url 'images/edit_22.png' %}" alt="{% trans "Multiple update" %}" title="{% trans "Multiple update" %}"/>{% trans "Multiple update" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </th>
    {% endfor %}
</tr>
