{% load i18n %}
<div class="search-form">
    <form method="GET" action="{% url 'creme_core__search' %}">
    {% translate "Search" context "creme_core-verb" as label %}
        <input type="text" name="search" value="{{search_terms}}" minlength="{{min_length}}" required />
        <div class="select-wrapper">
            <select name="ct_id">
                <option value="">{% translate 'All' context 'creme_core-filter' %}</option>
                <option disabled>------</option>
                {% for ct in content_types %}
                <option value="{{ct.id}}" {% if ct.id == selected_ct_id %}selected=""{% endif %} >{{ct.verbose_name}}</option>
                {% endfor %}
            </select>
            <div class="select-arrow"></div>
        </div>
        <input type="submit" value="{{label}}" />
   </form>
</div>