{% load i18n creme_core_tags creme_widgets %}
{% log 'The template file "creme/creme_core/templates/creme_core/templatetags/search_panel.html" is deprecated.' level='WARN' %}
<div class="research_box">
    <form method="GET" action="{% url 'creme_core__search' %}">
        <span>{% trans "Search" context "creme_core-verb" as label %}
            {% widget_icon name='search' size='small' label=label %}
            <select name="ct_id">
                <option value="">{% trans "All" %}</option>
                <option disabled>------</option>
                {% for ct in content_types %}
                    <option value="{{ct.id}}">{{ct.verbose_name}}</option>
                {% endfor %}
            </select>
            <input type="text" name="research" />
            <input type="submit" value="{{label}}" />
        </span>
    </form>
</div>