{% load i18n %}
{% load creme_core_tags %}
<img src="{% creme_media_url 'images/pin.png' %}" alt="{% trans 'Open' %}" class="pinmenu"/>
<ul>
    {% for appitem in menu %}
        <li><a href="{{appitem.url}}">{{appitem.app_name}}</a>
            {% if appitem.items %}
                <ul>
                    {% for item in appitem.items %}
                        <li>
                            {% if item.has_perm %}
                                <a href="{{item.url}}">{{item.name}}</a>
                            {% else %}
                                <span class="forbidden">{{item.name}}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
