{% load i18n %}
<img src="{{MEDIA_URL}}images/pin.png" alt="{% trans 'Open' %}" class="pinmenu"/>
<div class="ui-corner-all">Menu fixe <input type="checkbox" id="fix_menu"/></div>
<ul>
    {% for appitem in menu %}
        <li><a href="{{appitem.url}}">{{appitem.app_name}}</a>
            {% if appitem.items %}
                <ul>
                    {% for item in appitem.items %}
                        <li>
                            {% if item.has_perm %}
                                <a href="{{item.url}}">{{item.name}}</a>
                            {% else %}
                                <span class="forbidden">{{item.name}}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>