{% load i18n %}
<img src="{{MEDIA_URL}}images/pin.png" alt="{% trans 'Open' %}" class="pinmenu"/>
<ul>
    {% for item in menu %}
        <li><a href="{{ item.app_url }}">{{ item.app_name }}</a>
            {% if item.items_menu %}
            <ul>
                {% for item_menu in item.items_menu %}
                    <li><a href="{{ item_menu.menu_url }}">{{ item_menu.menu_name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>