/* Brick 'images' */
.brick-tiles.products-images-brick .brick-tile {
    width: 16%;
    min-width: 200px;
}

.brick-tiles.products-images-brick .brick-content.is-empty {
    padding: 0;
}

.brick-tiles.products-images-brick .brick-tiles-empty {
    padding: 5px 10px;

    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: 11px;
    color: #777;

    cursor: default;
}

.brick-tiles.products-images-brick .brick-tile-value img {
    width: 80px;
}
/* Brick 'images' - end */

/* Mass import form */

.products-category_extractor-creation {
    margin-bottom: 10px;
}

/* Mass import form - end */
