{% load i18n %}
<script type="text/javascript">
  var PHONECALL_COOKIE = 'phone_call=';
  var CSRF_COOKIE = 'csrftoken=';  // eslint-disable-line
  var csrfToken;
  var phonecallData;

{% comment %}
  Attributes of 'phonecallData':
    -pcall_id   -> ID of the existing delayed PhoneCall that contains the phone number the user clicked on.
                    Can be undefined.
    -call_start -> start date (as JSON string) of the last call (i.e. when the user clicked on number).
    -person_id  -> ID of the contact/orga associated to the phone number.
    -number     -> phone number the user clicked on.
{% endcomment %}

  document.addEventListener('click', function (e) {
    if (e.target.href !== undefined && e.target.href.indexOf('tel:') === 0) {
      var now = new Date();

      phonecallData = {number: e.target.text, call_start: now.toJSON()};

      var personComponent = e.target;
      var personId;

      while ((personComponent = personComponent.parentElement)) {
        personId = personComponent.getAttribute('data-person-id');
        if (personId) {
          phonecallData.person_id = personId;
          break;
        }
      }

      var activityComponent = e.target;
      var activityId;

      while ((activityComponent = activityComponent.parentElement)) {
        activityId = activityComponent.getAttribute('data-activity-id');

        if (activityId && activityComponent.classList.contains('editable-phonecall')) {
          phonecallData.pcall_id = activityId;
          break;
        }
      }

      // Cookie way (page is reload after click on a phone number)
      now.setTime(now.getTime() + 24 * 60 * 60 * 1000);
      document.cookie = PHONECALL_COOKIE + JSON.stringify(phonecallData) + "; expires=" + now.toUTCString();

      // Timer way (page is just suspended after click on a phone number)
      setTimeout(displayWorkflowPanel, 3000);
    }
  });

  function checkCallCookies() {  // eslint-disable-line
    var cookies = document.cookie.split(';');

    for (var i in cookies) {
      var cookie = cookies[i].trim();

      if (cookie.indexOf(PHONECALL_COOKIE) === 0)  {
        phonecallData = JSON.parse(cookie.substring(PHONECALL_COOKIE.length));
        displayWorkflowPanel();
      } else if (cookie.indexOf(CSRF_COOKIE) === 0) {
        csrfToken = decodeURIComponent(cookie.substring(CSRF_COOKIE.length));
      }
    }
  }

  function objectToParameters(obj) {
    var parameters = "";

    for (var key in obj) {
      if (parameters) {
        parameters += "&";
      }

      parameters += key + "=" + obj[key];
    }

    return parameters;
  }

  function setPanelContent(content) {
    var displayHiddable = content ? 'none' : 'block';
    var elements = document.querySelectorAll('.hideable-content');

    for (var i = 0; i < elements.length; ++i) {
      elements[i].style.display = displayHiddable;
    }

    document.getElementById("workflow_panel").innerHTML = content;
  }

  function displayWorkflowPanel() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "{% url 'mobile__pcall_panel' %}?" + objectToParameters(phonecallData), false);
    xhr.send();

    if (xhr.status !== 200) {
      alert("{% translate 'Error' %}: " + xhr.responseText);
    } else {
      setPanelContent(xhr.responseText);
    }
  }

  function clearCookie() {
    document.cookie = PHONECALL_COOKIE + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
    phonecallData = undefined;
  }

  function closePanel() {  // eslint-disable-line
    clearCookie();
    setPanelContent('');
  }

  function displayActivityMinutes(e) {  // eslint-disable-line
    e = e || window.event;
    var target = e.target || e.srcElement;

    e.preventDefault();

    var activityMinutes = document.querySelector('.activity-actions-minutes');
    activityMinutes.style.display = 'block';

    var triggerContainter = target.parentElement;
    triggerContainter.style.display = 'none';
  }

  function _workflow(url) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, false);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.setRequestHeader("X-CSRFToken", csrfToken);

    var postData = objectToParameters(phonecallData);

    var minutes = document.querySelector('textarea.activity-minutes').value;
    if (minutes) {
      postData += "&minutes=" + encodeURIComponent(minutes);
    }

    xhr.send(postData);

    if (xhr.status !== 200) {
      document.getElementById("workflow_errors").innerHTML = "{% translate 'Error' %}: " + xhr.responseText;
    } else {
        clearCookie();
        window.location = window.location;  // eslint-disable-line
    }
  }

  function workflowFailed() {_workflow("{% url 'mobile__pcall_wf_failed' %}");}  // eslint-disable-line
  function workflowPostponed() {_workflow("{% url 'mobile__pcall_wf_postponed' %}");}  // eslint-disable-line
  function workflowLasted5Minutes() {_workflow("{% url 'mobile__pcall_wf_lasted_5_minutes' %}");}  // eslint-disable-line
  function workflowJustDone() {_workflow("{% url 'mobile__pcall_wf_just_done' %}");}  // eslint-disable-line
</script>
