{% extends 'creme_core/generics/blockform/base.html' %}

{% block main_content %}
    {% with form.get_blocks as blocks %}
        {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.general %}
        {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.orga_n_address %}
        {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.description %}

        {% for form_block in blocks %}
            {% include 'creme_core/generics/blockform/content.html' %}
        {% endfor %}
    {% endwith %}
{% endblock %}
