input[type='textbox'].creme-field-error {
    background-color: #f08080;
}

td.discount-functional-error {
    background-color: #f08080;
}

td.line-error {
    background-color: #f7d6d2;
}

input.line-on_the_fly {
    text-align: center;
    width: 250px;
}

input.line-unit {
    text-align: left;
    width: 60px;
}

input.line-unit_price {
    text-align: right;
    width: 80px;
}

input.line-quantity_discount {
    text-align: right;
    width: 60px;
}

input.line-quantity {
    text-align: right;
    min-width: 40px;
    width: 90%;
}

input.line-unit {
    text-align: right;
    width: 120px;
}

textarea.line-comment {
    width: 99.5%;
    height: 30px;
}

.bline-deletion-mark {
    background-color: #f08080;
}

.bline-input-error {
    background-color: #f08080;
}

ul.bline-error-list {
    margin-top: 5px;
}

ul.bline-error-list > li {
    margin-top: 10px;
}

select.line-vat {
    text-align: right;
}

/* line-background-color {
    background-color: #ffffff;
}*/

.linetable-container, .linetable {
    width: 100%;

    margin: 0;
    padding: 0;

    border: 0;
    border-spacing: 0;
}

.linetable-container .linetable-header {
    width: 2%;
    text-align: center;
}

.linetable-separator {
    height: 18px;
}

.linetable th {
    color: #376e86; /* See .table_detail_view > tbody > tr > th { */
    /* padding: 2px 6px; */
    text-align: left;
}

.linetable .readonly {
    background-color: #f4fafd; /* See 'block_line_light' */
    color: #666;
}

.hidden-form {
    display: none;
}

.bline-quantity {
    width: 5%;
}

.bline-unit-price {
    width: 9%;
}

.bline-unit {
    width: 12%;
}

.bline-discount {
    width: 15%;
}

.bline-vat {
    width: 7%;
}

.bline-total-no-tax, .bline-total-discounted, .bline-total {
    width: 10%;
}

.bline-item, th.bline-item {
   text-align: center;
}

#block_billing-credit_notes .cnote-total-no-tax,
#block_billing-credit_notes .cnote-total {
    text-align: right;
}

#block_billing-credit_notes .cnote-number {
    text-align: right;
    width: 5%;
}

#block_billing-credit_notes .cnote-comment {
    width: 25%;
}

#block_billing-credit_notes .cnote-status {
    text-align: center;
    width: 10%;
}

#block_billing-credit_notes .cnote-unlink {
    text-align: center;
    width: 5%;
}
