input[type='textbox'].creme-field-error {
    background-color: #f08080;
}

td.discount-functional-error {
    background-color: #f08080;
}

td.line-error {
    background-color: #f7d6d2;
}

input.line-on_the_fly {
    text-align: center;
    width: 250px;
}

input.line-unit {
    text-align: left;
    width: 60px;
}

input.line-unit_price {
    text-align: right;
    width: 80px;
}

input.line-quantity_discount {
    text-align: right;
    width: 60px;
}

input.line-quantity {
    text-align: right;
    min-width: 40px;
    width: 90%;
}

input.line-unit {
    text-align: right;
    width: 120px;
}

textarea.line-comment {
    width: 99.5%;
    height: 30px;
}

select.line-vat {
    text-align: right;
}

line-background-color {
    background-color: #ffffff;
}
