{% load i18n creme_ctype creme_widgets %}{% load blockjsondata has_perm_to from creme_core_tags %}
{% has_perm_to link object as link_perm %}{% ctype_for_swappable 'TICKETS_TICKET_MODEL' as ticket_ct %}
{% if button.is_allowed and link_perm and button.rtype.enabled %}
<a class="menu_button menu-button-icon" title="{{button.description}}" data-action="creme_core-hatmenubar-addrelationships">
    {% widget_icon name='ticket' size='instance-button' label=_('Ticket') %}
    {{button.verbose_name}}
    {% blockjsondata %}{
        "data": {
            "subject_id": "{{object.id}}", "rtype_id": "{{button.rtype.id}}", "ctype_id": "{{ticket_ct.id}}"
        }
    }{% endblockjsondata %}
</a>
{% else %}
<span class="menu_button menu-button-icon forbidden{% if not button.rtype.enabled %} menu-button-error{% endif %}"
      title="{% if not button.rtype.enabled %}{% blocktranslate with predicate=button.rtype.predicate %}The relationship type «{{predicate}}» is disabled{% endblocktranslate %}{% elif not link_perm %}{% translate 'You are not allowed to link this entity' %}{% else %}{% translate 'You are not allowed to access to the app «Tickets»' %}{% endif %}">
    {% widget_icon name='ticket' size='instance-button' label=_('Ticket') %}
    {{button.verbose_name}}
</span>
{% endif %}

{% comment %}
{% load i18n creme_ctype creme_widgets %}{% load blockjsondata has_perm_to from creme_core_tags %}
{% has_perm_to link object as link_perm %}{% ctype_for_swappable 'TICKETS_TICKET_MODEL' as ticket_ct %}
<a class="menu_button menu-button-icon{% if not has_perm or not link_perm or not rtype.enabled %} forbidden is-disabled{% endif %}{% if not rtype.enabled %} menu-button-error{% endif %}"
   title="{% if not has_perm %}{% translate 'You are not allowed to access to the app «Tickets»' %}{% elif not link_perm %}{% translate 'You are not allowed to link this entity' %}{% elif not rtype.enabled %}{% blocktranslate with predicate=rtype.predicate %}The relationship type «{{predicate}}» is disabled{% endblocktranslate %}{% else %}{{description}}{% endif %}"
   data-action="creme_core-hatmenubar-addrelationships">
    {% widget_icon name='ticket' size='instance-button' label=_('Ticket') %}
    {% translate 'Link to a ticket' %}
    {% blockjsondata %}{
        "data": {
            "subject_id": "{{object.id}}", "rtype_id": "{{rtype.id}}", "ctype_id": "{{ticket_ct.id}}"
        }
    }{% endblockjsondata %}
</a>
{% endcomment %}