{% load i18n creme_core_tags creme_ctype creme_widgets %}{% has_perm_to link object as link_perm %}{% trans 'Ticket' as img_title %}
{% ctype_for_swappable 'TICKETS_TICKET_MODEL' as ticket_ct %}
<a class="menu_button menu-button-icon {% if not has_perm or not link_perm %}is-disabled{% endif %}" data-action="creme_core-hatmenubar-addrelationships">
    {% widget_icon name='ticket' size='instance-button' label=img_title %}
    {% trans 'Link to a ticket' %}
    {% blockjsondata %}{
        "data": {
            "subject_id": "{{object.id}}", "rtype_id": "{{rtype_id}}", "ctype_id": "{{ticket_ct.id}}"
        }
    }{% endblockjsondata %}
</a>
