{% load creme_core_tags %}
{% load report_tags %}

{% for line in lines %}
    <tr>
        {% for i, val in line|enumerate %}
            {% ifequal i|mod:2 0 %}
                <td class="block_line_dark">{{val}}&nbsp;</td>
            {% endifequal %}
            {% ifequal i|mod:2 1 %}
                <td class="block_line_light">{{val}}&nbsp;</td>
            {% endifequal %}
        {% endfor %}
    </tr>
{% endfor %}


{% comment %}

{% for line in lines %}
    <tr>
        {% for column in backend.report.get_children_fields_with_hierarchy %}
            <td class="{% cycle "block_line_dark" "block_line_light" %}">
                {% with forloop.counter0 as idx %}
                {% with line|get_value_at:idx as value %}
                    <table {% if column.children and column.field.selected %}style="border:1px solid #548295; width:100%;"{% endif %}>
                        <tbody>
                            <tr>
                                {% if column.children and column.field.selected %}
                                    {% for sub_column in column.children %}
                                        <td class="{% cycle "block_line_dark" "block_line_light" %}">{% get_html_column_value sub_column line idx forloop.counter0 %}</td>
                                    {% endfor %}
                                {% else %}
                                    <td class="{% cycle "block_line_dark" "block_line_light" %}">{{value}}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% endwith %}
                {% endwith %}
            </td>
        {% endfor %}
    </tr>
{% endfor %}

{% endcomment %}


