.south .sketch-chart-brick .d3-sketch,
.north .sketch-chart-brick .d3-sketch {
    min-height: 300px;
}

.east .sketch-chart-brick .d3-sketch,
.west .sketch-chart-brick .d3-sketch {
    min-height: 200px;
}

.d3-sketch {
    font: 10px sans-serif;
}

.d3-sketch svg {
    /*
    IMPORTANT : If the svg is display mode is 'inline-block' (default), the height
    will be constantly evaluated and the node will grow indefinitely if ResizeObserver
    is enabled.
    */
    display: block !important;
    height: auto !important;
    width: 100%;
}

.d3-sketch .axis path, .d3-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.d3-sketch .not-visible {
    display: none;
}

.bar-chart .bar rect {
    shape-rendering: crispEdges;
}

.bar-chart .bar:hover {
    cursor: pointer;
}

.bar-chart .bar rect:hover {
    opacity: 0.8;
}

.bar-chart .bar.selected rect {
    opacity: 0.8;
}

.bar-chart .bar.selected rect:hover {
    opacity: 0.8;
}

.bar-chart .bar text {
    text-anchor: middle;
}

.bar-chart .bar text.inner {
    fill: #fff;
}

.bar-chart .limit {
    stroke: #f6c2d4;
    z-index: 1;
}

.donut-chart .arc path {
    stroke: #fff;
}

.area-chart .area {
    fill: #4682b4;
}

.group-bar-chart .bar text {
    text-anchor: middle;
}

.group-bar-chart .bar text.inner {
    fill: #fff;
}

.group-bar-chart .bar:hover {
    cursor: pointer;
}

.stack-bar-chart .bar text {
    text-anchor: middle;
}

.stack-bar-chart .bar text.inner {
    fill: #fff;
}

.stack-bar-chart .bar:hover {
    cursor: pointer;
}

.stack-bar-chart .bar text.outer {
    display: none;
}

.sketch-dashboard-brick .brick-d3-content {
    min-height: 300px;
    border: 0px;
}

.sketch-dashboard-brick .brick-content.is-empty {
    padding: 5px 10px;
}

.sketch-dashboard-brick .brick-d3-content.brick-empty {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: 11px;
    cursor: default;
    color: #777;
}
