{% load i18n %}
{% load creme_menu %}
{% load creme_core_tags %}
{% load creme_search %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>Creme CRM{% block page_title %}{% endblock %}</title>
    <link rel='stylesheet' type='text/css' href='{{MEDIA_URL}}css/jquery-css/creme-theme/jquery-ui-1.7.2.custom.css' />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css{{CSS_THEME_NAME}}creme.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/creme-ui.css" />
    <link rel="shortcut icon" href="{{MEDIA_URL}}images/favicon.ico" type="image/x-icon" />
    {% include "creme_core/frags/header_js_minimum.html" %}
    <style type="text/css">
        .fg-menu-container { z-index: 100; }</style>
    <script type='text/javascript'>

      $(document).ready(function() {
           var document_width_onload  = $(document).width();
           var document_height_onload = $(document).height();

           function activeEventsMenu()
           {
                //'fast' transition makes bugs in chrome < 6.1
                $("#menu_collapse").mouseenter(function(e) {
                    $("#menu_expanded").show('fast');
                    $("#menu_collapse").hide('fast');
                });

                $("#menu_expanded").mouseleave(function(e) {
                    $("#menu_expanded").hide('fast');
                    $("#menu_collapse").show('fast');
                });
            }

            function desactiveEventsMenu()
            {
                $("#menu_collapse").unbind('mouseenter');
                $("#menu_expanded").unbind('mouseleave');
            }

            function resizePageElements(menu_width, expanded)
            {
                var top = $('#top');
                var content = $('#content');
                var footer = $('#footer');

                var margin_left = (expanded) ? menu_width + 5 + 'px' : menu_width;

                top.css('margin-left', margin_left);
                content.css('margin-left', margin_left);
                footer.css('margin-left', margin_left);

                var new_width = document_width_onload - menu_width;
                if(expanded) new_width -=10;
                top.width(new_width);
                content.width(new_width);
                footer.width(new_width);
            }

            var content_height = $("#content").height()+$("#footer").height()+$("#top").height();//$('#footer').offset().top;//
            var logo_container_height = $('#logo_container').outerHeight();
            var max_menu_height = content_height - logo_container_height;

            $('#menu').menu({
                content: $('#tree_menu2').html(),
                flyOut: false,
                backLink: false,
                alwaysOpen:true,
                //maxHeight: max_menu_height * 0.9,
                crumbDefaultText : '{% trans "Menu" %}',
                topLinkText : '{% trans "Back to Top" %}'
            });

            $('#menu').hide();
            $('.fg-menu-container')
                .appendTo('#menu_expanded')
                .css({'top': logo_container_height, 'height':max_menu_height, 'bottom':'auto'});

            $("#menu_expanded").width($('.fg-menu-container').outerWidth());

            $('.pinmenu').toggle(
             //Pin / Fixer le menu
             function() {
                $(this).attr('src','{{MEDIA_URL}}images/unpin.png');
                desactiveEventsMenu();
                resizePageElements($("#menu_expanded").outerWidth(), true);
                $.cookie('menu_creme', 'expanded', {expires: 7, path: '/', domain: '', secure: false});
             },
             //Unpin / Rendre le menu flottant
             function() {
                $(this).attr('src','{{MEDIA_URL}}images/pin.png');
                activeEventsMenu();
                resizePageElements($("#menu_collapse").outerWidth(), false);
                $.cookie('menu_creme', 'collapse', {expires: 7, path: '/', domain: '', secure: false});
             }
            );

           if($.cookie('menu_creme') == 'expanded') {
                $('.pinmenu').attr('src','{{MEDIA_URL}}images/unpin.png');
                desactiveEventsMenu();
                $("#menu_expanded").show('fast',resizePageElements($("#menu_expanded").outerWidth(), true));
                $("#menu_collapse").hide('fast');
           } else {
               $('.pinmenu').attr('src','{{MEDIA_URL}}images/pin.png');
               activeEventsMenu();
               $("#menu_expanded").hide('slow');
               $("#menu_collapse").show('fast', resizePageElements($("#menu_collapse").outerWidth(), false));
           }
      });
    </script>
     {% block extrahead %}{% endblock %}
     <script type='text/javascript'>
      $(document).ready(function() {
        $("#menu_collapse").css('height',$(document).height());
        $("#menu_expanded").css('height',$(document).height());

        $('[role=menuitem]', '#menu_expanded').bind('menu-item-selected', function(e, menu){
            e.stopImmediatePropagation();
            creme.utils.go_to($('a:first',this).attr('href'), false);
        });

      });

      window.onload = function(){
        //var content_height = $("#content").height()+$("#footer").height()+$("#top").height();//Is better but detailviews has float div so we have a very small height size
        var content_height = $(document).height();
        var logo_container_height = $('#logo_container').outerHeight();
        var max_menu_height = content_height - logo_container_height;

        $('.fg-menu-container').css({'top': logo_container_height, 'height':max_menu_height, 'bottom':'auto'});
        $('.fg-menu').css('height', max_menu_height*0.9);
        allUIMenus[0].setMaxHeight(max_menu_height*0.9);
        $('#menu_collapse').height(content_height*0.9);
      };
      </script>
</head>
<body {% block bodyclass %}{% endblock %}>
    {% block side_menu %}
        <div id="menu_collapse" class="ui-corner-all menu_collapse">
            <img src="{{MEDIA_URL}}images/favicon.ico"/>
            M<br/>
            E<br/>
            N<br/>
            U<br/>
            &nbsp;<br/>
            C<br/>
            R<br/>
            E<br/>
            M<br/>
            E<br/>
        </div>
        <div id="menu_expanded" class="menu_expanded">
            <div style="padding-left:0%;padding-bottom:10px;padding-top:10px;" id="logo_container">
                <center>
                    <a href="/"><img style="cursor:pointer;" src="{{logo_url}}" alt="Logo" class="logo"/></a>
                </center>
            </div>
            {% block sidebar %}
                <a tabindex="0" href="#tree_menu2" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menu">
                    Menu
                </a>
                <div id="tree_menu2" style="display:none;">
                 {% generate_treecreme_menu request %} 
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block top_bar %}
        <div id="top" class="header">
            <table height="50" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="middle">
                        {% trans 'Welcome,' %} <strong>{% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</strong> -
                        {% block userlinks %}
                            <a href="/creme_config/user/edit/settings/">{% trans 'My settings' %}</a> -
                            <a href="/creme_core/clean/">{% trans 'Log out' %}</a>
                        {% endblock %}
                    </td>
                    <td align="center" valign="middle" style="width: 40%;" >
                        {% get_search_panel %}
                    </td>
                    <td align="right" valign="bottom">
                        <a href="/"><img src="{{MEDIA_URL}}images/creme_header_50.png" alt="Crème" border="0" /></a>
                    </td>
                </tr>
            </table>
        </div>
    {% endblock %}

    <div id="content" class="main_content">
        {% block last_viewed_items %}
            {% get_last_items_menu request %}
        {% endblock %}

        {% block prefered_menu %}
            {% get_prefered_menu request %}
        {% endblock %}

        <div id="sub_content">
            {% block before_content_1 %}
            {% endblock %}

            {% block before_content_2 %}
            {% endblock %}

            {% block before_content_3 %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block after_content_1 %}
            {% endblock %}

            {% block after_content_2 %}
            {% endblock %}

            {% block after_content_3 %}
            {% endblock %}
        </div>
    </div>

    <div id="footer">
        <a href="http://hybird.org">{% trans "About Hybird" %}</a> -  2009 - 2010 {{django_version}}
    </div>
</body>
</html> 