{% load i18n %}
{% load creme_menu creme_core_tags creme_search creme_quickforms %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />{% comment %}<meta http-equiv="X-UA-Compatible" content="IE=8" />{% endcomment %}
    <title>{% block page_title %}{% endblock %}Creme CRM</title>
    <script type='text/javascript'>
        var THEME_NAME = "{{ THEME_NAME }}";
    </script>
    <!--
        Firebug for browsers without plugin/extension :
            - uncomment the following script
            - add debug="true" to <html> tag
    -->
    <!--script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script-->
    {% include_creme_media "main.css" %}
    {% include "creme_core/frags/js_header.html" %}
    <link rel="shortcut icon" href="{% creme_media_url 'images/favicon.ico' %}" type="image/x-icon" />
    <style type="text/css">
        .fg-menu-container { z-index: 100; }
    </style>
    {% block extrahead %}{% endblock %}
</head>
<body {% block bodyclass %}{% endblock %}>
    {% block side_menu %}
        <div id="menu_collapse" class="ui-corner-all menu_collapse">
            <img src="{% creme_media_url 'images/favicon.ico' %}"/>
            M<br/>
            E<br/>
            N<br/>
            U<br/>
            &nbsp;<br/>
            C<br/>
            R<br/>
            E<br/>
            M<br/>
            E<br/>
        </div>
        <div id="menu_expanded" class="menu_expanded">
            <div id="logo_container">
                <center>
                    <a href="/"><img src="{% creme_media_url logo_url %}" alt="Logo" class="logo pointer"/></a>
                </center>
            </div>
            {% block sidebar %}
                <a tabindex="0" href="#tree_menu2" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menu">
                    Menu
                </a>
                <div id="tree_menu2" style="display:none;">
                 {% generate_treecreme_menu request %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block top_bar %}
        <div id="top" class="header">
            <div class="widget">
                {% blocktrans %}Welcome, <strong>{{user}}</strong> (Time zone: {{TIME_ZONE}}){% endblocktrans %} -
                {% block userlinks %}
                    <a href="/creme_config/my_settings/">{% trans 'My settings' %}</a> -
                    <a href="/creme_logout/">{% trans 'Log out' %}</a> -
                    <a href="/creme_core/entity/trash">
                        {% trans 'Trash' as trash_label %} <img src="{% creme_media_url 'images/delete_16.png' %}" alt="{{trash_label}}" title="{{trash_label}}" />{{trash_label}}
                    </a> -
                    <a href="/creme_core/job/all">{% trans 'My jobs' %}</a>
                {% endblock %}
            </div>
            <div class="widget major">
                {% get_search_panel %}
                {% get_quickforms_panel %}
            </div>
        </div>
    {% endblock %}

    <div id="content" class="main_content">
        {% block last_viewed_items %}
            {% get_last_items_menu request %}
        {% endblock %}

        {% block prefered_menu %}
            {% get_prefered_menu request %}
        {% endblock %}

        <div id="sub_content">
            {% block before_content_1 %}
            {% endblock %}

            {% block before_content_2 %}
            {% endblock %}

            {% block before_content_3 %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block after_content_1 %}
            {% endblock %}

            {% block after_content_2 %}
            {% endblock %}

            {% block after_content_3 %}
            {% endblock %}
        </div>
    </div>

    <div id="footer">
        <a href="http://hybird.org">{% trans "About Hybird" %}</a>&nbsp;&mdash;&nbsp;2009&hairsp;&ndash;&hairsp;2016 &nbsp;&nbsp;&nbsp;Creme v{{creme_version}} {% if django_version %}<i>&nbsp;&nbsp;&nbsp;(Django {{django_version}})</i>{% endif %}{% if THEME_VERBOSE_NAME %}&nbsp;&nbsp;&nbsp;{{ THEME_VERBOSE_NAME }}{% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            creme.menu.sideMenu({
                title: '{% trans "Menu" %}',
                back: '{% trans "Back to Top" %}'
            });

            creme.blocks.bindEvents();
        });
    </script>
</body>
</html>
