{% load media %}{% load include_creme_media url_join from creme_core_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  {% block head %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="robots" content="noindex">
    <title>{% block page_title %}{% endblock %}{{SOFTWARE_LABEL}}</title>
    <script type='text/javascript'>
        window.THEME_NAME = "{{THEME_NAME}}";
    </script>
    {% include_creme_media 'main.css' %}
    {% include 'creme_core/frags/js_header.html' %}
    <link rel="shortcut icon" href="{% media_url 'common/images/favicon.ico' %}" type="image/x-icon" />
  {% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}"
      data-save-relations-url="{% url 'creme_core__save_relations' %}"
      data-select-relations-objects-url="{% url 'creme_core__select_entities_to_link' %}"
      {% url_join bricks_reload_url base_url=request.path as bricks_reload_uri %}{% if bricks_reload_uri %}data-bricks-reload-url="{{bricks_reload_uri}}"{% endif %}
      data-brick-state-url="{% url 'creme_core__set_brick_state' %}"
>
  {% block body %}
    {% include 'creme_core/header/menu.html' %}

{#  Popups will use this <div> as bounds for drag-n-drop and resize. Fix some positioning issues with horizontal menu. #}
    <div class="ui-dialog-within-container"></div>
    <div id="content" class="{# main_content #}main-content {% block content_extra_class %}{% endblock %}">
      {% block content %}{% endblock %}
    </div>
    {% include 'footer/footer.html' %}

    {% for template_name in BASE_HTML_EXTRA_INCLUDED %}{% include template_name %}{% endfor %}
  {% endblock %}
</body>
</html>
