{% extends "creme_core/base.html" %}
{% load i18n %}
{% load creme_core_tags %}

{% block page_title %} - {% trans 'Error !' %}{% endblock %}

{% block extrahead %}
    <style type="text/css">
        #container-icon {
            background-image: url({% creme_media_url 'images/409_256.png' %});
            background-repeat: no-repeat;
            float: left;
            margin-top: -100px;
            width: 256px;
            height: 256px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="central_panel" >
        <div id="container">
            <div id="container-icon">&nbsp;</div>
            <div id="content-main">
                <div id="branding">
                    <h1>{% trans 'Creme 409 Error' %}</h1>
                </div>

                <div>
                    <p>
                        {% if error_message %}
                            {{error_message}}
                        {% else %}
                            {% trans "You can not perform this action because of business constraints." %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}