{% extends "creme_core/base.html" %}
{% load i18n %}
{% load media %}
{% load creme_core_tags %}{% load creme_block %}{% load creme_menu %}

{% block page_title %} - {{object}}{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
        $(document).ready(function() {
            creme.utils.bindShowHideTbody();
        });
    </script>
{% endblock %}

{% block before_content_1 %}
    <div class=zone_spacer_5px>
        <ul class="button_list hbox">
            {% if object.get_lv_absolute_url %}
                <li>
                    <a class="menu_button" href="{{object.get_lv_absolute_url}}">
                        <img src="{% media_url 'images/left_arrow_32.png' %}" border="0" title="{% trans "Back to the list" %}" alt="{% trans "Back to the list" %}" />
                        {% trans "Back to the list" %}
                    </a>
                </li>
            {% endif %}
            {% block add_new_button %}
                {% if path %}{% comment %}REMOVE ?? (see view_entity.html) {% endcomment %}
                    <li>
                        <a class="menu_button" href="{{path}}/add">
                            <img src="{% media_url 'images/add_32.png' %}" border="0" title="{% trans "Add" %}" alt="{% trans "Add" %}" />
                            {% trans "New" %}
                        </a>
                    </li>
                {% endif %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% block view_title %}
        <table class="table_header" cellpadding="0" cellspacing="0">
            <tr>
                <td width="5%">{% block logo %}{% endblock %}</td>
                <td width="70%">
                    <h1>
                        {% block title %}
                            {{object|get_meta_value:"verbose_name"|title}} : {{object|title}}
                        {% endblock %}
                    </h1>
                </td>
                <td width="25%" align="right">
                    <span>
                        {% block edit_delete_buttons %}
                            {% if path %}
                                {% comment %} COMMENTED on 19 january 2011 {% endcomment %}
                                {% comment %}<a href="{{path}}/edit/{{object.id}}">
                                    <img src="{% media_url 'images/edit_64.png' %}" title="{% blocktrans %}Edit '{{object}}'{% endblocktrans %}" alt="{% trans "Edit" %}"/>
                                </a>{% endcomment %}
                            {% endif %}
                        {% endblock %}
                    </span>
                </td>
            </tr>
        </table>
    {% endblock %}

    <div class=zone_spacer_5px>
        {% block button_tab %}
            <ul class="button_list hbox">
                {% get_button_menu %}
                {% block extra_menu_buttons %}{% endblock %}
            </ul>
        {% endblock %}
    </div>

    {% block end_button_tab %}
        <div class=zone_spacer_5px></div>
    {% endblock %}

    {% block creme_blocks_import %}
         {% import_detailview_blocks %}
    {% endblock %}

    {% block before_detail_view_1 %}{% endblock %}

    <div style="float:left;width:49.9%;margin-left:0px;">
        {% block detail_view_left_1 %}
            {% include "creme_core/object_as_table.html" %}
        {% endblock %}
        {% block detail_view_left_2 %}{% endblock %}
        {% block detail_view_left_3 %}{% endblock %}
    </div>
    <div style="float:right;width:49.9%;margin-right:0px;">
        {% block detail_view_right_1 %}{% endblock %}

        {% block detail_view_right_2 %}
            {% display_detailview_blocks %}
        {% endblock %}

        {% block detail_view_right_3 %}{% endblock %}
    </div>

    {% block after_detail_view_1 %}{% endblock %}

    {% get_blocks_dependencies %}
{% endblock %}