{% extends "creme_core/base.html" %}
{% load i18n %}
{% load creme_core_tags creme_block creme_menu creme_widgets %}

{% block page_title %} - {{object}}{% endblock %}

{% comment %} COMMENTED on 22-01-2014
{% block extrahead %}
    <script type="text/javascript">
        // TODO : move this in creme.blocks and initialize with bindEvents method
        $(document).ready(function() {
            creme.utils.bindShowHideTbody();
        });
    </script>
{% endblock %}
{% endcomment %}

{% block bodyclass %}{% if object.is_deleted %}class="is_deleted"{% endif %}{% endblock %}

{% block before_content_1 %}<div class="detailview">
    <div class="zone_spacer_5px model_buttons">
        <ul class="button_list hbox">
            {% if object.get_lv_absolute_url %}
                <li>
                    <a class="menu_button" href="{{object.get_lv_absolute_url}}">{% trans "Back to the list" as back_label %}
                        <img src="{% creme_media_url 'images/listview_32.png' %}" border="0" title="{{back_label}}" alt="{{back_label}}" />
                        {{back_label}}
                    </a>
                </li>
            {% endif %}
            {% block add_new_button %}{% endblock %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% block view_title %}
        <table class="table_header" cellpadding="0" cellspacing="0">
            <tr>
                <td width="5%">{% block logo %}{% get_image_for_object object 'big' %}{% endblock %}</td>
                <td width="70%">
                    <h1>
                        {% block title %}
                            {{object|get_meta_value:"verbose_name"|capfirst}} : {{object|capfirst}}{% if object.is_deleted %} [{% trans "deleted" %}]{% endif %}
                        {% endblock %}
                    </h1>
                </td>
                <td width="25%" align="right">
                    <span>{% block entity_buttons %}{% endblock %}</span>
                </td>
            </tr>
        </table>
    {% endblock %}

    <div class="zone_spacer_5px file_buttons">
        {% block button_tab %}
            <ul class="button_list hbox">
                {% get_button_menu %}{% comment %}TODO: works only with CremeEntities => move to view entity.html ?? {% endcomment %}
                {% block extra_menu_buttons %}{% endblock %}
            </ul>
        {% endblock %}
    </div>

    {% block end_button_tab %}
        <div class=zone_spacer_5px></div>
    {% endblock %}

    {% block creme_blocks_import %}
        {% import_detailview_blocks %}
        {% comment %}{% import_object_block as 'object_block' %}{% endcomment %}
    {% endblock %}

    <div class="north">
        {% block detail_view_top_1 %}{% endblock %}
        {% display_detailview_blocks top %}
        {% block detail_view_top_2 %}{% endblock %}
    </div>

    <div class="column west">
        {% block detail_view_left_1 %}{% comment %} ARE THIS BLOCKS _1 _2 _3 STILL USEFUL ??{% endcomment %}
            {% comment %}{% display_block_detailview 'object_block' %}{% endcomment %}
        {% endblock %}
        {% display_detailview_blocks left %}
        {% block detail_view_left_2 %}{% endblock %}
    </div>
    <div class="column east last">
        {% block detail_view_right_1 %}{% endblock %}
        {% display_detailview_blocks right %}
        {% block detail_view_right_2 %}{% endblock %}
    </div>
    <div class="clear"></div>
    <div class="south">
        {% block detail_view_bottom_1 %}{% endblock %}
        {% display_detailview_blocks bottom %}
        {% block detail_view_bottom_2 %}{% endblock %}
    </div>
    {% get_blocks_dependencies %}
{% endblock %}

{% block after_content_3 %}</div>{% endblock %}
