{% extends "creme_core/base.html" %}
{% load i18n %}
{% load media %}

{% block extrahead %}
{% with 0 as AND %}
{% with 1 as OR %}
<script type="text/javascript">
    function replaceAttr(node, attr, oldvalue, count, is_just_append)
    {
        //if((typeof($(node).attr(attr)) == "undefined" && force_id) || typeof($(node).attr(attr)) != "undefined")
        if(typeof($(node).attr(attr)) != "undefined" && $(node).attr(attr) != "")
        {
            if(is_just_append)
            {
                var new_attr = $(node).attr(attr)+count;
            }
            else
            {
                var new_attr = $(node).attr(attr).replace(oldvalue,count);
            }
            $(node).attr(attr, new_attr);
        }

        if($(node).children().length)
            $(node).children().each(function(){replaceAttr($(this), attr, oldvalue, count, is_just_append);})

    }

    function showErrorDialog(text)
    {
        $('#error_add_filter_cond').html(""+text);
        $('#error_add_filter_cond').dialog({
            buttons: { "Ok": function() {
                                            $('#error_add_filter_cond').html("");
                                            $(this).dialog("destroy");
                                        }
                     },
            closeOnEscape: false,
            hide: 'slide',
            show: 'slide',
            title: 'Erreur',
            modal: true
        });
    }

    function addLine(selected_champ,selected_test,selected_value, selected_globaltest)
    {
        var count = $('#line_count').val();
        count = (isNaN(parseInt(count)))?1:(parseInt(count)+1);
        $('#line_count').val(count);

        var tr_complet = $('#line_model').clone();

        replaceAttr(tr_complet, 'id', 'model', count, false);
        replaceAttr(tr_complet, 'name', '', '_'+count, true);

        var tr_test = $('#line_test_model').clone();
        replaceAttr(tr_test, 'id', 'model', count, false);
        replaceAttr(tr_test, 'name', '', '_'+count, true);

        var table = $('#table_filter > tbody');
        table.append(tr_complet);
        table.append(tr_test);

        /*var already_selected = [];
        $('select[id^="id_champs_"][id!="id_champs_'+count+'"][id!="id_champs_model"]').each(function (){
            already_selected.push($(this).val());
        });
        */
        var select_field = $('#id_champs_'+count);
        /*
        for (var option in already_selected)
        {
            var value = already_selected[option];
            select_field.children('[value="'+value+'"]').remove();
        }*/

        select_field.change(function(){
            var value = $(this).val();
            var select_fk = $("#id_champsfk_"+count);
            if(value!="")
            {
                $.ajax({
                    url : '/creme_core/filter/field_has_n_get_fk',
                    type : 'POST',
                    async : false,
                    data : {fieldname : ''+value, ct_id : {{content_type_id}} },
                    dataType : "json",
                    error : function(XMLHttpRequest, textStatus, errorThrown)
                    {

                    },
                    success :  function(data, textStatus)
                    {
                        select_fk.empty();
                        for(var couple in data)
                        {
                            var values = data[couple];
                            select_fk.append(
                                $('<option></option>')
                                    .val(values[0])
                                    .text(values[1])
                            );
                        }
                    },
                    complete : function(XMLHttpRequest, textStatus)
                    {

                    }
                });
            }
        });

        if(selected_test && selected_test != "")
            $('#id_tests_'+count).val(selected_test);

        if(selected_champ && selected_champ != "")
            select_field.val(selected_champ);



        if(selected_value && selected_value != "")
            $('#id_value_'+count).val(selected_value);

        $('#line_test_'+count+' select').change(function(){
                var value = $(this).val();
                $('#table_filter select[id^="id_global_test"]').each(function(){$(this).val(value);})
        });

        if(selected_globaltest && selected_globaltest != "")
            $('#id_global_test_'+count).val(selected_globaltest == "True" ? {{OR}} : {{AND}}).change();

        if(select_field.children().size() > 0)
        {
            $('#ids').val($('#ids').val()+count+',');

            //$(tr_complet).show('slow');
            $(tr_complet).show();
            //$(tr_test).show('slow');
            $(tr_test).show();
            select_field.change();
        }
        else
        {
            showErrorDialog('<b>Toutes les conditions existantes sont déjà sélectionnées</b>');
            removeLine(count);
        }
    }

    function addFilterLine(selected_value, selected_globaltest)
    {
        var count = $('#filter_count').val();
        count = (isNaN(parseInt(count)))?1:(parseInt(count)+1);
        $('#filter_count').val(count);

        var tr_filter = $('#filter_model').clone();
        replaceAttr(tr_filter, 'id', 'model', count, false);
        replaceAttr(tr_filter, 'name', '', '_'+count, true);

        var tr_test = $('#line_test_model').clone();
        replaceAttr(tr_test, 'id', 'model', 'filter_'+count, false);
        replaceAttr(tr_test, 'name', 'model', 'filter_'+count, false);


        var table = $('#table_filter > tbody');
        table.append(tr_filter);
        table.append(tr_test);

        var already_selected = [];
        $('select[id^="id_parent_filters_"][id!="id_parent_filters_'+count+'"][id!="id_parent_filters_model"]').each(function (){
            already_selected.push($(this).val());
        });

        var select_field = $('#id_parent_filters_'+count);
        for (var option in already_selected)
        {
            var value = already_selected[option];
            select_field.children('[value="'+value+'"]').remove();
        }

        if(selected_value && selected_value != "")
            select_field.val(selected_value);


        $('#line_test_filter_'+count+' select').change(function(){
                var value = $(this).val();
                $('#table_filter select[id^="id_global_test"]').each(function(){$(this).val(value);})
        });

        if(selected_globaltest && selected_globaltest != "")
        {
            $('#id_global_test_filter_'+count).val(selected_globaltest == "True" ? {{OR}} : {{AND}});
            $('#id_global_test_filter_'+count).change();
        }

        if(select_field.children().size() > 0)
        {
            $('#ids_filter').val($('#ids_filter').val()+count+',');

            //$(tr_filter).show('slow');
            $(tr_filter).show();
            //$(tr_test).show('slow');
            $(tr_test).show();
        }
        else
        {
            showErrorDialog('<b>Tout les filtres existants sont déjà sélectionnés</b>');
            removeFilterLine(count);
        }
        //if($('#line_test_'+(count-1)).length!=0) $('#line_test_'+(count-1)).show('slow');
    }

    function addRelationLine(selected_predicate, has_predicate ,selected_globaltest, ct_id, object_id)
    {
        var count = $('#relation_count').val();
        count = (isNaN(parseInt(count)))?1:(parseInt(count)+1);
        $('#relation_count').val(count);

        var tr_relation = $('#relation_model').clone();
        replaceAttr(tr_relation, 'id', 'model', count, false);
        replaceAttr(tr_relation, 'name', '', '_'+count, true);

        var tr_test = $('#line_test_model').clone();
        replaceAttr(tr_test, 'id', 'model', 'filter_'+count, false);
        replaceAttr(tr_test, 'name', 'model', 'filter_'+count, false);

        $('#ids_relations').val($('#ids_relations').val()+count+',')

        var table = $('#table_filter > tbody');
        table.append(tr_relation);
        table.append(tr_test);

        $('#current_relation_id_'+count).val(count);

        $('#line_test_filter_'+count+' select').change(function(){
                var value = $(this).val();
                $('#table_filter select[id^="id_global_test"]').each(function(){$(this).val(value);})
        });

        if(selected_globaltest && selected_globaltest != "")
        {
            $('#id_global_test_filter_'+count).val(selected_globaltest == "True" ? {{OR}} : {{AND}}).change();
        }

        if(selected_predicate)
        {
            tr_relation.find('select[id^="id_predicates_"]').val(selected_predicate);
            tr_relation.find('select[id^="id_has_predicate_"]').val(has_predicate);
        }

        if(ct_id && object_id)
        {
            $('#id_content_types_'+count).val(ct_id);
            $('#relation_entity_id_'+count).val(object_id);
            $.ajax({
              type: 'POST',
              async:false,
              url: '/creme_core/entity/get_repr/'+object_id,
              data: {},
              success: function(data){
                        $('#relation_entity_'+count).val(data);
                    },
              dataType: "text"
            });
        }

        //$(tr_relation).show('slow');
        $(tr_relation).show();
        //$(tr_test).show('slow');
        $(tr_test).show();
    }

    function addRelationFilterLine(selected_predicate, has_predicate ,selected_globaltest, ct_id, object_id)
    {
        var count = $('#relations_filter_count').val();
        count = (isNaN(parseInt(count)))?1:(parseInt(count)+1);
        $('#relations_filter_count').val(count);

        var tr_relation = $('#relation_filters_model').clone();
        replaceAttr(tr_relation, 'id', 'model', count, false);
        replaceAttr(tr_relation, 'name', '', '_'+count, true);

        var tr_test = $('#line_test_model').clone();
        replaceAttr(tr_test, 'id', 'model', 'filter_'+count, false);
        replaceAttr(tr_test, 'name', 'model', 'filter_'+count, false);

        $('#ids_relations_filters').val($('#ids_relations_filters').val()+count+',')

        var table = $('#table_filter > tbody');
        table.append(tr_relation);
        table.append(tr_test);

        $('#current_relation_id_'+count).val(count);

        $('#line_test_filter_'+count+' select').change(function(){
                var value = $(this).val();
                $('#table_filter select[id^="id_global_test"]').each(function(){$(this).val(value);})
        });

        if(selected_globaltest && selected_globaltest != "")
        {
            $('#id_global_test_filter_'+count).val(selected_globaltest == "True" ? {{OR}} : {{AND}}).change();
        }

        if(selected_predicate)
        {
            tr_relation.find('select[id^="id_predicates_"]').val(selected_predicate);
            tr_relation.find('select[id^="id_has_predicate_"]').val(has_predicate);
        }


        $('#id_content_types_filters_'+count).change(function(){
            var _ct_id = $(this).val();

            if(!_ct_id || _ct_id == "")
            {
                $('#id_other_filters_'+count).empty();
                return;
            }

            $.ajax({
              type: 'POST',
              async:false,
              url: '/creme_core/filter/get_4_ct/'+_ct_id,
              data: {},
              success: function(data){
                        var opts = [];
                        for(var i=0; i < data.length; i++)
                        {
                            opts.push([data[i].pk, data[i].fields.name]);
                        }

                        creme.forms.Select.fill($('#id_other_filters_'+count), opts);
                    },
              dataType: "json"
            });
        });

        if(ct_id && object_id)
        {
            $('#id_content_types_filters_'+count).val(ct_id).change();
            $('#id_other_filters_'+count).val(object_id);
        }

        //$(tr_relation).show('slow');
        $(tr_relation).show();
        //$(tr_test).show('slow');
        $(tr_test).show();
    }

    function addPropertyLine(selected_value, has_this ,selected_globaltest)
    {
        var $counter = $('#properties_count');
        var count = $counter.val();
        count = (isNaN(parseInt(count)))?1:(parseInt(count)+1);
        $counter.val(count);

        var tr_model = $('#properties_model').clone();
        replaceAttr(tr_model, 'id', 'model', count, false);
        replaceAttr(tr_model, 'name', '', '_'+count, true);

        var tr_test = $('#line_test_model').clone();
        replaceAttr(tr_test, 'id', 'model', 'filter_'+count, false);
        replaceAttr(tr_test, 'name', 'model', 'filter_'+count, false);

        var $ids = $('#ids_properties');
        $ids.val($ids.val()+count+',')

        var table = $('#table_filter > tbody');
        table.append(tr_model);
        table.append(tr_test);

        $('#line_test_filter_'+count+' select').change(function(){
                var value = $(this).val();
                $('#table_filter select[id^="id_global_test"]').each(function(){$(this).val(value);})
        });

        if(selected_globaltest && selected_globaltest != "")
        {
            $('#id_global_test_filter_'+count).val(selected_globaltest == "True" ? {{OR}} : {{AND}});
            $('#id_global_test_filter_'+count).change();
        }

        if(selected_value)
        {
            tr_model.find('select[id^="id_properties_"]').val(selected_value);
            tr_model.find('select[id^="id_has_property_"]').val(has_this);
        }

        //$(tr_model).show('slow');
        $(tr_model).show();
        //$(tr_test).show('slow');
        $(tr_test).show();
    }

    function addDateFilterLine(date_field, begin_date, end_date, date_filter, selected_globaltest)
    {
        var $counter = $('#date_fields_count');
        var count = $counter.val();
        count = (isNaN(parseInt(count)))?1:(parseInt(count)+1);
        $counter.val(count);

        var tr_model = $('#date_fields_model').clone();
        replaceAttr(tr_model, 'id', 'model', count, false);
        replaceAttr(tr_model, 'name', '', '_'+count, true);

        var tr_test = $('#line_test_model').clone();
        replaceAttr(tr_test, 'id', 'model', 'filter_'+count, false);
        replaceAttr(tr_test, 'name', 'model', 'filter_'+count, false);

        var $ids = $('#ids_date_fields');
        $ids.val($ids.val()+count+',')

        var table = $('#table_filter > tbody');
        table.append(tr_model);
        table.append(tr_test);

        $('#line_test_filter_'+count+' select').change(function(){
                var value = $(this).val();
                $('#table_filter select[id^="id_global_test"]').each(function(){$(this).val(value);})
        });

        if(selected_globaltest && selected_globaltest != "")
        {
            $('#id_global_test_filter_'+count).val(selected_globaltest == "True" ? {{OR}} : {{AND}});
            $('#id_global_test_filter_'+count).change();
        }

        

        if(date_field)
        {
            tr_model.find('select[id^="id_date_fields_"]').val(date_field);
            tr_model.find('select[id^="id_date_filters_"]').val(date_filter);
//            if(date_filter != "")
//            {
//                tr_model.find('input[id^="id_begin_date_"]').parent('td').hide();
//                tr_model.find('input[id^="id_end_date_"]').parent('td').hide();
//            }

            if(begin_date && end_date){
                tr_model.find('input[id^="id_begin_date_"]').val(begin_date);
                tr_model.find('input[id^="id_end_date_"]').val(end_date);
            }
        }

        if($('#id_date_filters_'+count).find(':selected').attr('is_volatile') == 1)
        {
            tr_model.find('input[id^="id_begin_date_"]').parent('td').hide();
            tr_model.find('input[id^="id_end_date_"]').parent('td').hide();
        }

        $("#id_begin_date_"+count).datepicker({dateFormat: "yy-mm-dd", showOn: "button", buttonImage: "{% media_url 'images/icon_calendar.gif' %}", buttonImageOnly: true });
        $("#id_end_date_"+count).datepicker({dateFormat: "yy-mm-dd", showOn: "button", buttonImage: "{% media_url 'images/icon_calendar.gif' %}", buttonImageOnly: true });
        $('#id_date_filters_'+count).attr({'end_date_id': "id_end_date_"+count, 'start_date_id': "id_begin_date_"+count});

        $('#id_date_filters_'+count).change(function(){
            var $me = $(this);
            var $selected = $(this).find(':selected');

            if($selected.attr('is_volatile') == 0)
            {
                $("#"+$me.attr('start_date_id')).val($selected.attr('begin')).parent('td').show();
                $("#"+$me.attr('end_date_id')).val($selected.attr('end')).parent('td').show();
            }
            else
            {
                $("#"+$me.attr('start_date_id')).val(' ').parent('td').hide();
                $("#"+$me.attr('end_date_id')).val(' ').parent('td').hide();
            }

            
        });


        //$(tr_model).show('slow');
        $(tr_model).show();
        //$(tr_test).show('slow');
        $(tr_test).show();
    }

    function removeLine(id)
    {
        var line = $('#line_'+id);
        line.hide('slow');
        line.empty();
        line.remove();

        var line_test = $('#line_test_'+id);
        line_test.hide('slow');
        line_test.empty();
        line_test.remove();

        var new_ids = $('#ids').val().replace(id+',','');
        $('#ids').val(new_ids);

    }

    function removeFilterLine(id)
    {
        var line = $('#filter_'+id);
        line.hide('slow');
        line.empty();
        line.remove();

        var line_test = $('#line_test_filter_'+id);
        line_test.hide('slow');
        line_test.empty();
        line_test.remove();

        var new_ids = $('#ids_filter').val().replace(id+',','');
        $('#ids_filter').val(new_ids);

    }

    function deleteLine(id, line_id, ids_memory_id)
    {
        var line = $('#'+line_id);
        line.hide('slow');
        line.empty();
        line.remove();

        $('#line_test_filter_'+id).empty().remove();

        var new_ids = $('#'+ids_memory_id).val().replace(id+',','');
        $('#'+ids_memory_id).val(new_ids);
    }

    /* Fonction permettant de
     * rechercher les doublons dans un tableau js a une dimension
     * Code original modifié :
     * http://www.asp-php.net/ressources/codes/JavaScript-Supprimer+les+doublons+d%27un+tableau+en+javascript.aspx
     *
     */
    function hasDoublons(TabInit)
    {
        var q=0;
        var LnChaine= TabInit.length;
         for(x=0;x<LnChaine;x++)
        {
            for(i=0;i<LnChaine;i++)
            {
                if(TabInit[x]==  TabInit[i] && x!=i) return true;
            }
        }
        return false;
    }

    /*function submitHandler(input){
        var url = creme.utils.appendInUrl('', '/ajax');

        var options = {
            'action': url,
            'success':function(data, status){
                //$('form[name=list_view_form]').empty().html(data);
                $(input).parents('form:first').empty().html(data);
            }
        };
        //$('form[name=list_view_form]').list_view('handleSubmit', input.form,options,input);
        $(input).parents('form:first').list_view('handleSubmit', input.form,options,input);
    }*/


    $(document).ready(function(){
        $('#line_count').val(0);//Fix firefox
        $('#filter_count').val(0);//Fix firefox
        $('#ids').val('');//Fix firefox
        $('#ids_filter').val('');//Fix firefox
        $('#add').click(function(e){addLine();});
        $('#add_filter').click(function(e){addFilterLine();});
        $('#add_relation').click(function(e){addRelationLine();});
        $('#add_relations_filter').click(function(e){addRelationFilterLine();});
        $('#add_property').click(function(e){addPropertyLine();});
        $('#add_date_filter').click(function(e){addDateFilterLine();});
        $('#filterform').submit(function(){
            var is_valid = true;
            $('#table_filter > tbody input[readonly!="true"]:visible').each(function(){
                if($(this).val() == "" && $(this).attr('type') != "hidden")
                {
                    $(this).focus();
                    showErrorDialog('<b>Veuillez remplir tout les champs ou les supprimer</b>');
                    is_valid=false;
                    return false;
                }
                //is_valid=true;
            });
            if($('#ids').val()=="" && $('#ids_filter').val()=="" && $('#ids_relations').val()=="" && $('#ids_properties').val()=="" && $('#ids_date_fields').val()=="" && $('#ids_relations_filters').val()=="")
            {
                is_valid=false;
                showErrorDialog('<p>Veuillez créer au moins une condition</p><p>Ou sélectionnez au moins un filtre existant</p>');
            }

            if($('#id_nom_model').val()=="")
            {
                is_valid=false;
                showErrorDialog('<p>Veuillez entrer un nom de filtre</p>','#id_nom_model');
                return is_valid;
            }

            var already_selected_conditions = [];
            $('select[id^="id_champs_"][id!="id_champs_model"]').each(function (){
                already_selected_conditions.push($(this).val());
            });

            $('select[id^="id_champsfk_"][id!="id_champsfk_model"]').each(function (i){
                already_selected_conditions[i]+=$(this).val();
            });


            if(hasDoublons(already_selected_conditions))
            {
                is_valid=false;
                showErrorDialog('<p>Veuillez sélectionner une seule fois la même condition</p>');
            }

            var already_selected_filters = [];
            $('select[id^="id_parent_filters_"][id!="id_parent_filters_model"]').each(function (){
                already_selected_filters.push($(this).val());
            });

            if(hasDoublons(already_selected_filters))
            {
                is_valid=false;
                showErrorDialog('<p>Veuillez sélectionner une seule fois le même filtre</p>');
            }

            return is_valid;
        });

        {% if edit_dict %}
            {% if mode == 'edit' %}
                {% for acondition in edit_dict.condition %}
                    addLine('{{acondition.champ}}','{{acondition.test}}','{{acondition.value}}', '{{edit_dict.is_or_for_all}}');
                    $('#id_champs_'+$('#line_count').val()).change();
                    $("#id_champsfk_"+$('#line_count').val()).val('{{acondition.champ_fk}}');
                {% endfor %}
                {% for afilter in edit_dict.filter %}
                    addFilterLine('{{afilter}}', '{{edit_dict.is_or_for_all}}');
                {% endfor %}
                {% for relation in relations_conditions %}
                    {% if not relation.is_child %}
                        addRelationLine('{{relation.predicate_id.0}}', {{relation.has_predicate}} ,'{{edit_dict.is_or_for_all}}', {{relation.content_type_id|default_if_none:"null"}}, {{relation.object_id|default_if_none:"null"}} );
                    {% endif %}
                {% endfor %}
                {% for relation in relations_filters_conditions %}
                    {% if not relation.is_child %}
                        addRelationFilterLine('{{relation.predicate_id.0}}', {{relation.has_predicate}} ,'{{edit_dict.is_or_for_all}}', {{relation.content_type_id|default_if_none:"null"}}, {{relation.object_id|default_if_none:"null"}} );
                    {% endif %}
                {% endfor %}
                {% for property in properties_conditions %}
                    addPropertyLine('{{property.property_id.0}}', {{property.has_property}} ,'{{edit_dict.is_or_for_all}}');
                {% endfor %}
                {% for dt_filter in date_filters_conditions %}
                    addDateFilterLine('{{dt_filter.date_field}}', '{{dt_filter.begin_date}}', '{{dt_filter.end_date}}', '{{dt_filter.date_filter}}', '{{edit_dict.is_or_for_all}}');
                {% endfor %}
            {% endif %}
        {% endif %}
    });
</script>
{% endwith %}
{% endwith %}
{% endblock %}

{% block content %}
    <table class="table_header" cellpadding="0" cellspacing="0">
        <tr>
            <td width="5%"><img src="{% media_url 'images/filter_64.png' %}" title="{% trans "Filter" %}" alt="{% trans "Filter" %}"/></td>
            <td width="95%">
                <h1>
                    {% trans "Filter" %} : {% if mode == 'edit' %} {% trans "edition" %} {% else %} {% trans "creation" %} {% endif %}
                </h1>
            </td>
        </tr>
    </table>

    <div id="editforms">
        <form id="filterform" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
            <p>{% trans "Name of the filter" %}  : {{form.nom}}</p>
            <p>{% trans "Owner" %}  : {{form.user}}</p>

            <table width="100%">
                <tbody>
                    <tr>
                        <td><button type="button" id="add"><img src="{% media_url 'images/add_22.png' %}" alt="{% trans "Add" %}"/>{% trans "Add a condition" %}</button></td>
                        <td><button type="button" id="add_filter"><img src="{% media_url 'images/add_22.png' %}" alt="{% trans "Add" %}"/>{% trans "Add an existing filter as condition" %}</button></td>
                        <td><button type="button" id="add_relation"><img src="{% media_url 'images/add_22.png' %}" alt="{% trans "Add" %}"/>{% trans "Add a filter on a relation" %}</button></td>
                        <td><button type="button" id="add_property"><img src="{% media_url 'images/add_22.png' %}" alt="{% trans "Add" %}"/>{% trans "Add a filter on a property" %}</button></td>
                        <td><button type="button" id="add_date_filter"><img src="{% media_url 'images/add_22.png' %}" alt="{% trans "Add" %}"/>{% trans "Add a filter on a date field" %}</button></td>
                        <td><button type="button" id="add_relations_filter"><img src="{% media_url 'images/add_22.png' %}" alt="{% trans "Add" %}"/>{% trans "Add a filter on a relation which results come from another filter" %}</button></td>
                    </tr>
                </tbody>
            </table>
            <br /><br />
            <table id="table_filter" width="100%">
                <thead>
                    <tr>
                        <th>{% trans "Global test" %}</th>
                        <th>{% trans "Fields" %}</th>
                        <th>{% trans "Test" %}</th>
                        <th>{% trans "Values" %}</th>
                        <th style="display:none;"><input name="line_count" id="line_count" type="hidden" value="0" /></th>
                        <th style="display:none;"><input name="filter_count" id="filter_count" type="hidden" value="0" /></th>
                        <th style="display:none;"><input name="relation_count" id="relation_count" type="hidden" value="0" /></th>
                        <th style="display:none;"><input name="properties_count" id="properties_count" type="hidden" value="0" /></th>
                        <th style="display:none;"><input name="date_fields_count" id="date_fields_count" type="hidden" value="0" /></th>
                        <th style="display:none;"><input name="relations_filter_count" id="relations_filter_count" type="hidden" value="0" /></th>
                        <th style="display:none;"><input name="ids" id="ids" type="hidden" value="" /></th>
                        <th style="display:none;"><input name="ids_filter" id="ids_filter" type="hidden" value="" /></th>
                        <th style="display:none;"><input name="ids_relations" id="ids_relations" type="hidden" value="" /></th>
                        <th style="display:none;"><input name="ids_properties" id="ids_properties" type="hidden" value="" /></th>
                        <th style="display:none;"><input name="ids_date_fields" id="ids_date_fields" type="hidden" value="" /></th>
                        <th style="display:none;"><input name="ids_relations_filters" id="ids_relations_filters" type="hidden" value="" /></th>
                    </tr>
                    <tr id="line_test_model" style="display:none;">
                        <th>{{form.global_test}}</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr id="line_model" style="display:none;">
                        <td>&nbsp;</td>
                        <td>{{form.champs}} - {{form.champsfk}}</td>
                        <td>{{form.tests}}
                        </td>
                        <td class="ui-state-highlight ui-corner-all">
                            {{form.value}}
                            <img src="{% media_url 'images/delete_22.png' %}" alt="{% trans "Delete" %}" id="model" onclick="removeLine(this.id);"/>
                            <span  style="padding:3px;">
                                <span class="ui-icon ui-icon-info" ></span>{% trans "Values (comma-separated)" %}
                            </span>
                        </td>
                    </tr>
                    <tr id="filter_model" style="display:none;">
                        <td>&nbsp;</td>
                        <td>Filtre : </td>
                        <td>{{form.parent_filters}}</td>
                        <td><img src="{% media_url 'images/delete_22.png' %}" alt="{% trans "Delete" %}" id="model" onclick="removeFilterLine(this.id);"/></td>
                    </tr>
                    <tr id="relation_model" style="display:none;">
                        <td>&nbsp;</td>
                        <td>{{form.has_predicate}} la relation </td> {% comment %}I18N{% endcomment %}
                        <td>{{form.predicates}}</td>
                        <td class="ui-state-highlight ui-corner-all">
                            {{form.content_types}}
                            <input type="hidden" id="current_relation_id_model" name="current_relation_id" value=""/>
                            <input type="hidden" id="relation_entity_id_model"  name="relation_entity_id" value="" />
                            <input type="text"   id="relation_entity_model"     name="relation_entity" value="" readonly="true" />
                            <span  style="padding:3px;">
                                <span class="ui-icon ui-icon-info" ></span>
                                {% trans "Leave empty values to filter all entities having the selected relation." %}
                            </span>
                        </td>
                        <td><img src="{% media_url 'images/delete_22.png' %}" alt="{% trans "Delete" %}" id="model" onclick="deleteLine(this.id,'relation_'+this.id, 'ids_relations');"/></td>
                    </tr>
                    <tr id="relation_filters_model" style="display:none;">
                        <td>&nbsp;</td>
                        <td>{{form.has_predicate}} {% trans "the relation" %}</td> 
                        <td>{{form.predicates}}</td>
                        <td class="ui-state-highlight ui-corner-all">
                            {{form.content_types_filters}}
                            {{form.other_filters}}
                        </td>
                        <td><img src="{% media_url 'images/delete_22.png' %}" alt="{% trans "Delete" %}" id="model" onclick="deleteLine(this.id,'relation_filters_'+this.id, 'ids_relations_filters');"/></td>
                    </tr>
                    <tr id="properties_model" style="display:none;">
                        <td>&nbsp;</td>
                        <td>{{form.has_property}} la propriété </td> {% comment %}I18N{% endcomment %}
                        <td>{{form.properties}}</td>
                        <td><img src="{% media_url 'images/delete_22.png' %}" alt="{% trans "Delete" %}" id="model" onclick="deleteLine(this.id,'properties_'+this.id, 'ids_properties');"/></td>
                    </tr>
                    <tr id="date_fields_model" style="display:none;">
                        <td>&nbsp;</td>
                        <td>{{form.date_fields}}</td>
                        <td>{{form.date_filters}}</td>
                        <td>{% trans "Begin date" %} : {{form.begin_date}}</td>
                        <td>{% trans "End date" %} : {{form.end_date}}</td>
                        <td><img src="{% media_url 'images/delete_22.png' %}" alt="{% trans "Delete" %}" id="model" onclick="deleteLine(this.id,'date_fields_'+this.id, 'ids_date_fields');"/></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">{{form.errors}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"><input type="submit" value="{% trans "Submit" %}" /></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
    <div id="error_add_filter_cond" style="display:none;"></div>
{% endblock %}