{% extends "creme_core/base.html" %}
{% load i18n %}
{% load creme_block %}

{% block extrahead %}
    <script>
        $(document).ready(function(){
            creme.utils.bindShowHideTbody();
        });
    </script>
{% endblock %}

{% block content %}
    <table class="table_header" cellpadding="0" cellspacing="0">
        <tr>
            <td width="5%"><img src="{{MEDIA_URL}}images/home_64.png" alt="{% trans "Home" %}"/></td>
            <td width="95%"><h1>{% trans "Home" %}</h1></td>
        </tr>
    </table>

    {% import_home_blocks %}

    {% display_home_blocks %}

    {% get_blocks_dependencies %}
{% endblock %}