{% extends BASE_HTML %}
{% load i18n creme_widgets creme_bricks %}

{% block page_title %}{% translate 'My page' %} - {% endblock %}

{% block content_extra_class %}content-my_page{% endblock %}

{% block content %}
    <div class="hat-bar-container">
        <div class="hat-bar">{% translate 'My page' as title %}
            <div class="bar-icon">{% widget_icon name='home' size='brick-hat-bar' label=title %}</div>
            <div class="bar-title"><h1>{{title}}</h1></div>
        </div>
    </div>

{#    {% brick_declare bricks %} #}
    {% brick_declare bricks.main %}
{#    {% brick_display bricks render='home' %} #}
    {% brick_display bricks.main render='home' %}
    {% brick_end %}
{% endblock %}
