{% load i18n %}
{% load creme_core_tags %}{% load creme_block %}
<table class="table_detail_view ui-corner-all">
    {% comment %}{% with object|get_meta_value:"verbose_name"|format:"Informations %s" as title %} DOESN'T WORK ?! {% endcomment %}
    {% get_block_header colspan=2 %}
        {% with object|get_meta_value:"verbose_name" as tmp %} {% with tmp|format:_("Information %s") as title %}
            <th>{% get_basic_block_header title 'infos_48.png' _('Information') %}</th>
        {% endwith %} {% endwith %}
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% for field in object|get_meta_value:"fields" %}
            {% if not field.name in object.excluded_fields_in_html_output %}
                <tr>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %} th_info">{{field.verbose_name|title}}</th>
                    <td class="{% cycle "block_line_dark" "block_line_light" %}  td_info">{{object|get_html_field_value:field.name}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% include "creme_core/customfields_as_table.html" %}