{% extends 'creme_core/base.html' %}
{% load i18n creme_widgets creme_bricks %}

{% block page_title %}{% translate 'Trash' %} - {% endblock %}

{% block content %}
    <div class="hat-bar-container">
        <div class="hat-bar">{% translate 'Trash' as title %}
            <div class="bar-icon">{% widget_icon name='delete' size='brick-hat-bar' label=title %}</div>
            <div class="bar-title"><h1>{{title}}</h1></div>
        </div>
    </div>

    {% brick_import app='creme_core' name='trash' as trash_brick %}
    {% brick_display trash_brick %}
    {% brick_end %}
{% endblock %}
