{% load i18n creme_widgets %}{% load blockjsondata jsonify from creme_core_tags %}
{% translate 'Link to' as link_label %}
{% if button.permission_error %}
<span class="menu_button menu-button-icon forbidden" title="{{button.permission_error}}">
    {% widget_icon name='invoice' size='instance-button' label=link_label %}
    {{link_label}}
</span>
{% else %}
<a class="menu_button menu-button-icon" title="{{button.description}}" data-action="emails-hatmenubar-linkto" href="{% url 'creme_core__create_relations_bulk' object.entity_type_id %}">
    {% widget_icon name='link' size='instance-button' label=link_label %}
    {{link_label}}
    {% blockjsondata %}{
        "data": {
            "rtypes": {{button.rtypes|jsonify|safe}},
            "ids": [{{object.id}}]
        }
    }{% endblockjsondata %}
</a>
{% endif %}
