{% load i18n %}
{% load media %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}><!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
    {% get_block_header colspan=5 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Configured type of resource') _('%s Configured types of resource') 'looking_glass_48.png' _('Search') %}</th>
        <th style="width: 20%;" align="right"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="100">
                <a class="button_link" href="/creme_config/search/add/">
                    <img src="{% media_url 'images/add_22.png' %}" border="0" alt="{% trans "New search configuration" %}"/>
                    {% trans "New search configuration" %}
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_light">{% trans "Type" %}</th>
                <th class="block_header_line_light">{% trans "Concerned fields" %}</th>
                {% comment %}
                    <th class="block_header_line_light">Rôle</th>
                {% endcomment %}
                <th class="block_header_line_light">{% trans "User" %}</th>
                <th class="block_header_line_light">{% trans "Edit" %}</th>
                <th class="block_header_line_light">{% trans "Delete" %}</th>
            </tr>
            {% for search_item in page.object_list %}
                <!--{% cycle row_color %}-->
                <tr>
                    <td class="{{row_color}}">
                        {{search_item.content_type}}
                    </td>
                    <td class="{{row_color}}">
                        {{search_item.get_fields|join:","|default:_("All")}}
                        {% comment %}
                        {{search_item.searchfield_set.all|join:","|default:"Tous"}}
                        {{search_item.searchfield_set.get_query_set|join:","|default:"Tous"}}
                        {% endcomment %}
                    </td>
                    {% comment %}
                    <td class="{{row_color}}">
                        {{search_item.role|default:"Tous"}}
                    </td>
                    {% endcomment %}
                    <td class="{{row_color}}">
                        {{search_item.user|default:_("All users")}}
                    </td>
                    <td class="{{row_color}}">
                        <a href="/creme_config/search/edit/{{search_item.id}}">
                            <img src="{% media_url 'images/edit_22.png' %}" border="0" alt="{% trans "Edit" %}" title="{% trans "Edit" %}">
                        </a>
                    </td>
                    <td class="{{row_color}}">
                        {% get_line_deletor at_url '/creme_config/search/delete' with_args "{'id': '{{search_item.id}}'}" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>{% trans "No search configuration for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>