{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header _('%s Credential') _('%s Credentials') %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="6">
                <a class="button_link" href="/creme_config/roles/app_credential/add/">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" alt="{% trans "New credential" %}"/>
                    {% trans "New credential" %}
                </a>
                <a href="/creme_config/roles/app_credential/generate_all/"
                   onclick="if(confirm('{% trans "Are you sure to want generating all possible credentials (long operation) ?" %}')){return true;} return false;">
                    <button type="button">
                        <img src="{{MEDIA_URL}}images/add_16.png" border="0">
                        {% trans "Generate all possible credentials" %}
                    </button>
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            {% get_column_header _('Credential type') 'type_droit' %}
            {% get_column_header _('Application') 'name_app' %}
            <th class="block_header_line_light">{% trans "Delete" %}</th>
            {% for credential in page.object_list %}
                <!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{credential.type_droit}}</td>
                    <td class="{{row_color}}">{{credential.name_app}}</td>
                    <td class="{{row_color}}">
                        {% get_line_deletor at_url '/creme_config/roles/app_credential/delete' with_args "{'id':'{{credential.id}}' }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No credential for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>