{% load i18n %}
{% load creme_block creme_widgets creme_core_tags %}
{% with user.is_superuser as has_perm %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=3 %}
        <th class="collapser label">{% get_block_title  _('%s Team') _('%s Teams') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="3">
                {% get_line_adder at_url '/creme_config/team/add/' with_label _("New team") with_perms has_perm %}
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _("Name") 'username' %}
                <th class="block_header_line_light">{% trans "Teammates" %}</th>
                <th class="block_header_line_light action">{% trans "Actions" %}</th>
            </tr>
            {% for team in page.object_list %}<!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{{team.username}}</td>
                    <td class="{{row_color}}">
                        {% widget_select_or_msg team.teammates.values _('No teammate') %} ({{team.teammates|length}})
                    </td>
                    <td class="{{row_color}} action">
                        {% get_line_editor at_url '/creme_config/team/edit/{{team.id}}' with_perms has_perm %}
                        {% if has_perm %}
                            <a onclick="creme.utils.innerPopupNReload('/creme_config/user/delete/{{team.id}}', {% get_block_reload_uri %});">
                                <img src="{% creme_media_url 'images/delete_22.png' %}" border="0" title="{% trans "Delete" %}" alt="{% trans "Delete" %}">
                            </a>
                        {% else %}
                            <img class="forbidden" src="{% creme_media_url 'images/delete_22.png' %}" border="0" title="{% trans "Can't delete" %}" alt="{% trans "Can't delete" %}" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No team for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 3 %}
</table>
{% endwith %}