{% load i18n %}
{% load creme_core_tags creme_block %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="collapser label">{% get_block_title  _('My %s Prefered menu') _('My %s Prefered menus') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th colspan="7" class="block_header_line_dark" align="left">
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/creme_config/prefered_menu/mine/edit/', {% get_block_reload_uri %});">
                    <img src="{% creme_media_url 'images/edit_22.png' %}" border="0" alt="{% trans "Edit my prefered menus" %}" title="{% trans "Edit my prefered menus" %}"/>
                    {% trans "Edit my prefered menus" %}
                </a>

            </th>
        </tr>
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_light">{% trans "Name" %}</th>
                <th class="block_header_line_light">{% trans "Order" %}</th>
            </tr>
            {% for prefered_menu in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}"><a href="{{prefered_menu.url}}">{% trans prefered_menu.label %}</a></td>
                    <td class="{{row_color}}">{{page.number|sub:1|mult:page_size|add:forloop.counter}}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "You have no prefered menu for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
