{% load i18n %}
{% load creme_core_tags creme_block %}
{% has_perm_to admin 'creme_core' as admin_perm %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">{% cycle "block_line_light" "block_line_dark" as row_color silent %}
    {% get_block_header colspan=2 %}
        <th class="label">{% get_block_title _('%s Configured type of resource') _('%s Configured types of resource') 'search_48.png' _('Search') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_light">{% trans "Type" %}</th>
                <th class="block_header_line_light">{% trans "Configuration" %}</th>
            </tr>
            {% for ctw in page.object_list %}{% cycle row_color %}
                <tr class="content">
                    <td class="{{row_color}} search-conf-ctype">{{ctw.ctype}}</td>
                    <td class="{{row_color}} search-conf-info">
                        {% if ctw.sc_items|length < max_conf_count %}
                            {% with add_label=ctw.ctype|format:_("New search configuration for «%s»")%}
                                {% get_line_adder at_url '/creme_config/search/add/{{ctw.ctype.id}}' with_label add_label with_perms admin_perm %}
                            {% endwith %}
                        {% endif %}
                        <ul>
                            {% for sc_item in ctw.sc_items %}
                                <li>{% if sc_item.role %}{{sc_item.role}}{% elif sc_item.superuser %}<em>{% trans "Superuser" %}</em>{% else %}<em>{% trans "Default configuration" %}</em>{% endif %}:
{% comment %}                       {{sc_item.user|default:_("Default configuration")}}:{% endcomment %}
                                    {% if sc_item.disabled %}
                                        <em>{% trans  "Research is disabled" %}</em>
                                    {% elif sc_item.all_fields %}
                                        <em>{% trans  "All fields" %}</em>
                                    {% else %}
                                        {{sc_item.searchfields|join:" / "}}
                                    {% endif %}

                                    {% get_line_editor at_url '/creme_config/search/edit/{{sc_item.id}}' with_perms admin_perm %}

{% comment %}                       {% if sc_item.user %}{% endcomment %}
                                    {% if not sc_item.is_default %}
                                        {% get_line_deletor at_url '/creme_config/search/delete' with_args "{'id': '{{sc_item.id}}'}" with_perms admin_perm %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td>{% trans "No search configuration for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 2 %}
</table>
