{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% include "creme_core/templatetags/widgets/block_header_beg.html" %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Credential') _('%s Credentials') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
            </div>
        </th>
    {% include "creme_core/templatetags/widgets/block_header_end.html" %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="6">
                <a class="button_link" href="/creme_config/roles/entity_credential/add/">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" alt="{% trans "New credential" %}"/>
                    {% trans "New credential" %}
                </a>
                <a href="/creme_config/roles/entity_credential/generate_all/"
                    onclick="if(confirm('{% trans "Are you sure to want generating all possible credentials (long operation) ?" %}')){alert('{% trans "Assign an entity/a role/ a team with necessary credentials" %}');return true;} return false;">
                    <button type="button">
                        <img src="{{MEDIA_URL}}images/add_16.png" border="0">
                        {% trans "Generate all possible credentials" %}
                    </button>
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                {% get_column_header _("Type of entity")   'content_type' %}
                {% get_column_header _('Credential type') 'type_droit' %}
                {% get_column_header _("Type of set") 'type_ensemble_fiche' %}
                <th class="block_header_line_light">{% trans "Particular Entity/Role/Team" %}</th>
                <th class="block_header_line_light">{% trans "Delete" %}</th>
            </tr>
            {% for cred in page.object_list %}
                <!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{cred.content_type}}</td>
                    <td class="{{row_color}}">{{cred.type_droit}}</td>
                    <td class="{{row_color}}">{{cred.type_ensemble_fiche}}</td>
                    <td class="{{row_color}}">{{cred.id_fiche_role_ou_equipe|default:''}}</td>
                    <td class="{{row_color}}">
                         {% get_line_deletor at_url '/creme_config/roles/entity_credential/delete' with_args "{'id':'{{cred.pk}}'}" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No credential for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>