{% load i18n creme_core_tags creme_block %}
{% has_perm_to admin 'creme_core' as admin_perm %}
{% with colspan=3 %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">{% cycle "block_line_light" "block_line_dark" as row_color silent %}
    {% get_block_header colspan=colspan %}
        <th class="label">{% get_block_title _('%s Configured type of resource') _('%s Configured types of resource') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if display_add_button %}
            <tr class="header toolbar">
                <th class="block_header_line_light" colspan="{{colspan}}">
{#                    {% get_line_adder at_url '/creme_config/fields/wizard/' with_label _("New fields configuration") with_perms admin_perm %} #}
                    {% url 'creme_config__create_fields_config' as create_url %}{% get_line_adder at_url create_url with_label _('New fields configuration') with_perms admin_perm %}
                </th>
            </tr>
        {% endif %}
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_light">{% trans "Type" %}</th>
                <th class="block_header_line_light">{% trans "Hidden fields" %}</th>
                <th class="block_header_line_light action">{% trans "Actions" %}</th>
            </tr>
            {% url 'creme_config__delete_fields_config' as delete_url %}
            {% for fconf in page.object_list %}{% cycle row_color %}
                <tr class="content">
                    <td class="{{row_color}}">{{fconf.content_type}}</td>
                    <td class="{{row_color}}">
                        {% for field_vname in fconf.fields_vnames %}{{field_vname}}{% if not forloop.last %} / {% endif%}{% endfor %}
                        {% with errors=fconf.errors_on_hidden %}
                            {% if errors %}
                                <ul class="warninglist">{% for error in errors %}<li>{{error}}</li>{% endfor %}</ul>
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td class="{{row_color}} action">
{#                        {% get_line_editor at_url '/creme_config/fields/edit/{{fconf.pk}}' with_perms admin_perm %} #}
                        {% url 'creme_config__edit_fields_config' fconf.pk as edit_url %}{% get_line_editor at_url edit_url with_perms admin_perm %}
{#                        {% get_line_deletor at_url '/creme_config/fields/delete' with_args "{'id': '{{fconf.pk}}'}" with_perms admin_perm %} #}
                        {% get_line_deletor at_url delete_url with_args "{'id': '{{fconf.pk}}'}" with_perms admin_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No fields configuration for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer colspan %}
</table>
{% endwith %}