{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=4 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Configured type of resource') _('%s Configured types of resource') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="4">
                <a class="button_link" href="/creme_config/custom_fields/add/{{ct.id}}">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" alt="{% trans "New custom field" %}"/>
                    {% trans "New custom field" %}
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_light">{% trans "Name" %}</th>
                <th class="block_header_line_light">{% trans "Type" %}</th>
                <th class="block_header_line_light">{% trans "Edit" %}</th>
                <th class="block_header_line_light">{% trans "Delete" %}</th>
            </tr>
            {% for field in page.object_list %}
                <!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{field.name}}</td>
                    <td class="{{row_color}}">{{field.type_verbose_name}}</td>
                    <td class="{{row_color}}">
                        <a href="/creme_config/custom_fields/edit/{{field.id}}">
                            <img src="{{MEDIA_URL}}images/edit_22.png" border="0" alt="{% trans "Edit" %}" title="{% trans "Edit" %}">
                        </a>
                    </td>
                    <td class="{{row_color}}">
                        {% get_line_deletor at_url '/creme_config/custom_fields/delete' with_args "{'id': '{{field.id}}'}" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No type of entity has custom field for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>