{% load i18n %}
{% load creme_core_tags creme_block %}

{% log 'The template file "creme/creme_config/templates/creme_config/templatetags/block_blockportallocations.html" is deprecated.' level='WARN' %}

{% has_perm_to admin 'creme_core' as admin_perm %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">{% cycle "block_line_light" "block_line_dark" as row_color silent %}
    {% get_block_header colspan=3 %}
        <th class="label">{% get_block_title _('%s Configured portal') _('%s Configured portals') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th class="block_header_line_light" colspan="3">
{#                {% get_line_adder at_url '/creme_config/blocks/portal/wizard/' with_label _("New blocks configuration") with_perms admin_perm %} #}
                {% url 'creme_config__create_portal_bricks' as create_url %}{% get_line_adder at_url create_url with_label _('New blocks configuration') with_perms admin_perm %}
            </th>
        </tr>
        <tr class="header">
            <th class="block_header_line_light">{% trans "Application" %}</th>
            <th class="block_header_line_light action">{% trans "Edit" %}</th>
            <th class="block_header_line_light action">{% trans "Delete" %}</th>
        </tr>
        <tr class="content">{% comment %} ONLY IF PAGE==1 ?? {% endcomment %}{% cycle row_color %}
            <td class="{{row_color}}">{% trans "Home configuration" %}</td>
{#            <td class="{{row_color}} action">{% get_line_editor at_url '/creme_config/blocks/portal/edit/creme_core' with_perms admin_perm %}</td> #}
            <td class="{{row_color}} action">{% url 'creme_config__edit_portal_bricks' 'creme_core' as edit_core_url %}{% get_line_editor at_url edit_core_url with_perms admin_perm %}</td>
            <td class="{{row_color}} action"></td>
        </tr>
        <tr class="content">{% comment %} ONLY IF PAGE==1 ?? {% endcomment %}{% cycle row_color %}
            <td class="{{row_color}}">{% trans "Default configuration" %}</td>
{#            <td class="{{row_color}} action">{% get_line_editor at_url '/creme_config/blocks/portal/edit/default' with_perms admin_perm %}</td> #}
            <td class="{{row_color}} action">{% url 'creme_config__edit_portal_bricks' 'default' as edit_def_url %}{% get_line_editor at_url edit_def_url with_perms admin_perm %}</td>
            <td class="{{row_color}} action"></td>
        </tr>
        {% if page.paginator.count %}
            {% url 'creme_config__delete_portal_bricks' as delete_url %}
            {% for app_config in page.object_list %}{% cycle row_color %}
                <tr class="content">
                    <td class="{{row_color}}">{{app_config.verbose_name}}</td>
{#                    <td class="{{row_color}} action">{% get_line_editor at_url '/creme_config/blocks/portal/edit/{{app_config.label}}' with_perms admin_perm %}</td> #}
                    <td class="{{row_color}} action">{% url 'creme_config__edit_portal_bricks' app_config.label as edit_url %}{% get_line_editor at_url edit_url with_perms admin_perm %}</td>
{#                    <td class="{{row_color}} action">{% get_line_deletor at_url '/creme_config/blocks/portal/delete' with_args "{'id': '{{app_config.label}}'}" with_perms admin_perm %}</td> #}
                    <td class="{{row_color}} action">{% get_line_deletor at_url delete_url with_args "{'id': '{{app_config.label}}'}" with_perms admin_perm %}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    {% get_block_footer 3 %}
</table>
