{% load i18n %}{% load media %}
{% load creme_core_tags %}{% load creme_block %}
{% load creme_config_tags %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    <thead>
        <tr>
            <th colspan="100">
                {% if page.paginator.count == 1 %}
                    {{page.paginator.count}} {{model|get_meta_value:'verbose_name'}}
                {% else %}
                    {{page.paginator.count}} {{model|get_meta_value:'verbose_name_plural'}}
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th colspan="100" class="block_header_line_dark" align="left">
                {% get_line_adder at_url '/creme_config/{{app_name}}/{{model_name}}/add/' with_label _("New value") with_perms 1 %}
            </th>
        </tr>
        {% if page.paginator.count %}
            {% with model|get_meta_value:'fields' as fields %}
            {% with model|get_meta_value:'many_to_many' as many_to_many %}
                <tr class="header">
                    {% for f in fields %}
                        {% if f.name != 'is_custom' %}
                            {% get_column_header f.verbose_name f.name %}
                        {% endif %}
                    {% endfor %}
                    {% for f in many_to_many %}
                        <th class="block_header_line_light">{{f.verbose_name}}</th>
                    {% endfor %}
                    <th class="block_header_line_light action">{% trans "Edit" %}</th>
                    <th class="block_header_line_light action">{% trans "Delete" %}</th>
                </tr>
                {% for object in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                    <tr class="content">
                        {% for f in fields %}
                            {% if f.name != 'is_custom' %}
                                <td class="{{row_color}}">{% print_field object=object field=f.name %}</td>
                            {% endif %}
                        {% endfor %}
                        {% for f in many_to_many %}
                            <td class="{{row_color}}">{% print_field object=object field=f.name %}</td>
                        {% endfor %}
                        <td class="{{row_color}} action">
                            {% get_line_editor at_url '/creme_config/{{app_name}}/{{model_name}}/edit/{{object.id}}' with_perms 1 %}
                        </td>
                        <td class="{{row_color}} action">
                            {% if object|is_custom %}
                                {% get_line_deletor at_url '/creme_config/{{app_name}}/{{model_name}}/delete' with_args "{'id':'{{object.pk}}'}" with_perms 1 %}
                            {% else %}
                                <em>{% trans "(no deletable)" %}</em>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endwith %}{% endwith %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No value for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
