{% extends 'creme_config/templatetags/block_blockdefmypagelocations.html' %}
{% load i18n %}
{% load creme_block %}

{% block title %}{% get_block_title _('%s Block on "Mypage"') _('%s Blocks on "Mypage"') %}{% endblock %}
{% block edition %}{% get_line_adder at_url '/creme_config/blocks/mypage/edit' with_label _("Edit blocks configuration") with_perms 1 %}{% endblock %}
{% block deletion %}{% get_line_deletor at_url '/creme_config/blocks/mypage/delete' with_args "{'id': '{{loc.id}}'}" with_perms 1 %}{% endblock %}