{% load i18n %}
{% load creme_block creme_core_tags %}
{% with user.is_superuser as has_perm %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=11 %}
        <th class="collapser label">{% get_block_title  _('%s User') _('%s Users') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="11">
                {% get_line_adder at_url '/creme_config/user/add/' with_label _("New user") with_perms has_perm %}
            </th>
        </tr>
        <tr class="header">
            {% get_column_header _("User name") 'username' %}
            {% get_column_header _('Last name') 'last_name' %}
            {% get_column_header _('First name') 'first_name' %}
            <th class="block_header_line_light">{% trans "Role" %}</th>
            {% get_column_header _('Email address') 'email' %}
            {% get_column_header _('Super-user ?') 'is_superuser' %}
            {% get_column_header _('Active ?') 'is_active' %}
            {% get_column_header _('Last login') 'last_login' %}
            {% get_column_header _("Date joined") 'date_joined' %}
            <th class="block_header_line_light action">{% trans "Actions" %}</th>
            <th class="block_header_line_light action">{% trans "Password" %}</th>
        </tr>
        {% for user in page.object_list %}<!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
            <tr class="content">
                <td class="{{row_color}}">{{user.username}}</td>
                <td class="{{row_color}}">{{user.last_name}}</td>
                <td class="{{row_color}}">{{user.first_name}}</td>
                <td class="{{row_color}}">{{user.role|default:_('None')}}</td>
                <td class="{{row_color}}">{{user.email}}</td>
                <td class="{{row_color}}">{{user.is_superuser|yesno:_('Yes,No')}}</td>
                <td class="{{row_color}}">{{user.is_active|yesno:_('Yes,No')}}</td>
                <td class="{{row_color}}">{{user.last_login}}</td>
                <td class="{{row_color}}">{{user.date_joined}}</td>
                <td class="{{row_color}} action">
                    {% get_line_editor at_url '/creme_config/user/edit/{{user.id}}' with_perms has_perm %}
                    {% if has_perm %}
                        <a onclick="creme.utils.innerPopupNReload('/creme_config/user/delete/{{user.id}}', {% get_block_reload_uri %});">
                            <img src="{% creme_media_url 'images/delete_22.png' %}" border="0" title="{% trans "Delete" %}" alt="{% trans "Delete" %}" />
                        </a>
                    {% else %}
                        <img class="forbidden" src="{% creme_media_url 'images/delete_22.png' %}" border="0" title="{% trans "Can't delete" %}" alt="{% trans "Can't delete" %}" />
                    {% endif %}
                </td>
                <td class="{{row_color}} action">
                    {% get_line_editor at_url '/creme_config/user/edit/password/{{user.id}}' with_perms has_perm %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    {% get_block_footer 11 %}
</table>
{% endwith %}