{% load i18n %}
{% load creme_core_tags creme_block %}
{% load creme_config_tags %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
{% comment %}    <thead>
        <tr>
            <th colspan="{{colspan}}">
                {% if page.paginator.count == 1 %}
                    {{page.paginator.count}} {{model|get_meta_value:'verbose_name'}}
                {% else %}
                    {{page.paginator.count}} {{model|get_meta_value:'verbose_name_plural'}}
                {% endif %}
            </th>
        </tr>
    </thead>{% endcomment %}
    {% get_block_header colspan=colspan %}
{% comment %}TODO: improve i18n:
   1. "{{count}} {{vname}}" should be translated, but templatize does not manage _(...)
   2. Does not check == 1, but should extract the plural rule from the current language
{% endcomment %}
        {% with count=page.paginator.count %}
            {% if count == 1 %}
                {% with vname=model|get_meta_value:'verbose_name' %}
                    {% templatize "{{count}} {{vname}}" as title %}<th class="label">{% get_basic_block_header title %}</th>
                {% endwith %}
            {% else %}
                {% with vname=model|get_meta_value:'verbose_name_plural' %}
                    {% templatize "{{count}} {{vname}}" as title %}<th class="label">{% get_basic_block_header title %}</th>
                {% endwith %}
            {% endif %}
        {% endwith %}
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th class="block_header_line_dark" colspan="{{colspan}}">
                {% get_line_adder at_url '/creme_config/{{app_name}}/{{model_name}}/add/' with_label _("New value") with_perms 1 %}
            </th>
        </tr>
        {% with page.paginator.count as total_count %}
            {% if total_count %}
                {% comment %}{% with model|get_meta_value:'fields' as fields %}{% with model|get_meta_value:'many_to_many' as many_to_many %}{% endcomment %}
                    <tr class="header">
                        {% for f in fields %}
                            {% if f.name != 'is_custom' %}
                                <th class="block_header_line_light action">{{f.verbose_name}}</th>{% comment %}{% get_column_header f.verbose_name f.name %}{% endcomment %}
                            {% endif %}
                        {% endfor %}
                        {% for f in many_to_many %}
                            <th class="block_header_line_light">{{f.verbose_name}}</th>
                        {% endfor %}
                        <th class="block_header_line_light action">{% trans "Edit" %}</th>
                        <th class="block_header_line_light action">{% trans "Delete" %}</th>
                    </tr>
                    {% for object in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                        <tr class="content">
                            {% for f in fields %}
                                {% with f.name as f_name %}
                                    {% if f_name != 'is_custom' %}
                                        {% if f_name == 'order' %}
                                            <td class="{{row_color}}" align="center" valign="middle">
                                                {% with object.order as order %}
                                                    {% if order != 1 %}
                                                        <a style="display: block;" onclick="creme.blocks.ajaxPOSTQuery('/creme_config/{{app_name}}/{{model_name}}/up/{{object.id}}', {blockReloadUrl: {% get_block_reload_uri %}}).start();">
                                                            {% trans "Move up" as img_title %}<img src="{% creme_media_url 'images/small_up_arrow_16.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
                                                        </a>
                                                    {% endif %}
                                                    {% if order != total_count %}
                                                        <a onclick="creme.blocks.ajaxPOSTQuery('/creme_config/{{app_name}}/{{model_name}}/down/{{object.id}}', {blockReloadUrl: {% get_block_reload_uri %}}).start();">
                                                            {% trans "Move down" as img_title %}<img src="{% creme_media_url 'images/small_down_arrow_16.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
                                                        </a>
                                                    {% endif %}
                                                {% endwith %}
                                            </td>
                                        {% else %}
                                            <td class="{{row_color}}">{% print_field object=object field=f_name %}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                            {% for f in many_to_many %}
                                <td class="{{row_color}}">{% print_field object=object field=f.name %}</td>
                            {% endfor %}
                            <td class="{{row_color}} action">
                                {% get_line_editor at_url '/creme_config/{{app_name}}/{{model_name}}/edit/{{object.id}}' with_perms 1 %}
                            </td>
                            <td class="{{row_color}} action">
                                {% if object|is_custom %}
                                    {% get_line_deletor at_url '/creme_config/{{app_name}}/{{model_name}}/delete' with_args "{'id':'{{object.pk}}'}" with_perms 1 %}
                                {% else %}
                                    <em>{% trans "(no deletable)" %}</em>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% comment %}{% endwith %}{% endwith %}{% endcomment %}
            {% else %}
                <tr class="content empty">
                    <td class="block_line_dark">{% trans "No value for the moment" %}</td>
                </tr>
            {% endif %}
        {% endwith %}
    </tbody>
    {% get_block_footer colspan %}
</table>
