{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    <thead>
        <tr><th colspan="6">{% trans "Default Credentials" %}</th></tr>
    </thead>
    <tbody class="collapsable">
        <tr class="header">
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Can view entity" %}</th>
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Can edit entity" %}</th>
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Can delete entity" %}</th>
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Can link entity" %}</th>
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Can unlink entity" %}</th>
            <th class="block_header_line_dark action" align="center" valign="center">{% trans "Edit" %}</th>
        </tr>
        <tr class="content">
            <td class="block_line_dark" align="center" valign="center">{{creds.can_view|yesno:_('Yes,No')}}</td>
            <td class="block_line_dark" align="center" valign="center">{{creds.can_change|yesno:_('Yes,No')}}</td>
            <td class="block_line_dark" align="center" valign="center">{{creds.can_delete|yesno:_('Yes,No')}}</td>
            <td class="block_line_dark" align="center" valign="center">{{creds.can_link|yesno:_('Yes,No')}}</td>
            <td class="block_line_dark" align="center" valign="center">{{creds.can_unlink|yesno:_('Yes,No')}}</td>
            <td class="block_line_dark action" align="center" valign="center">
                {% get_line_editor at_url '/creme_config/role/set_default_creds/' with_perms user.is_superuser %}
            </td>
        </tr>
    </tbody>
</table>
