{% load i18n %}
{% load creme_core_tags %}
{% load creme_block %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    <thead>
        <tr><th colspan="4">{% trans "Default Credentials" %}</th></tr>
    </thead>
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Can view entity" %}</th>
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Can edit entity" %}</th>
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Can delete entity" %}</th>
            <th class="block_header_line_dark" align="center" valign="center">{% trans "Edit" %}</th>
        </tr>
        <tr>
            <td class="block_line_dark" align="center" valign="center">{{creds.can_view|yesno:_('Yes,No')}}</td>
            <td class="block_line_dark" align="center" valign="center">{{creds.can_change|yesno:_('Yes,No')}}</td>
            <td class="block_line_dark" align="center" valign="center">{{creds.can_delete|yesno:_('Yes,No')}}</td>
            <td class="block_line_dark" align="center" valign="center">
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/creme_config/role/set_default_creds/', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/edit_22.png" border="0" alt="{% trans "Edit" %}" title="{% trans "Edit" %}">
                </a>
            </td>
        </tr>
    </tbody>
</table>