{% load i18n %}
{% comment %}{% load creme_widgets %}{% endcomment %}{% load creme_block %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=3 %}
        <th class="collapser label">{% get_block_title _('%s Setting value') _('%s Setting values') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% comment %}<tr>
            <th colspan="4" class="block_header_line_dark" align="left">
                {% get_line_adder at_url '/creme_config/property_type/add/' with_label _("New custom type of property") with_perms 1 %}
            </th>
        </tr>{% endcomment %}
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_light">{% trans "Description" %}</th>
                <th class="block_header_line_light">{% trans "Value" %}</th>
                <th class="block_header_line_light action">{% trans "Edit" %}</th>
            </tr>
            {% for setting_value in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">
                    <td class="{{row_color}}">{{setting_value.key.description}}</td>
                    <td class="{{row_color}}">{{setting_value.value}}</td>{# TODO: A bool value is displayed "as it". => Display 'Yes'/'No' ? #}
                    <td class="{{row_color}} action">
                        {% get_line_editor at_url '/creme_config/settings/edit/{{setting_value.id}}' with_perms 1 %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td colspan="3" class="block_line_dark">{% trans "No setting value for this app" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 3 %}
</table>
