{% load i18n creme_block %}
{% if values_per_app %}
    <table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
        {% get_block_header colspan=3 %}
            <th class="label">{% get_block_title _('%s Setting value') _('%s Setting values') count=count %}</th>
        {% end_get_block_header %}
        <tbody class="collapsable">
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Description" %}</th>
                <th class="block_header_line_dark">{% trans "Value" %}</th>
                <th class="block_header_line_dark action">{% trans "Edit" %}</th>
            </tr>
            {% for app_vname, app_sv_info in values_per_app %}
                <tr class="header"><th class="block_header_line_light" colspan="3">{{app_vname}}</th></tr>
                {% for sv_info in app_sv_info %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                    <tr class="content">
                        <td class="{{row_color}}">{{sv_info.description}}</td>
                        <td class="{{row_color}}">{% if sv_info.not_set %}<em>{% trans 'N/A' %}</em>{% else %}{{sv_info.value}}{% endif %}</td>
                        <td class="{{row_color}} action">
{#                            {% get_line_editor at_url '/creme_config/my_settings/edit_value/{{sv_info.key_id}}' with_perms 1 %} #}
                            {% url 'creme_config__edit_user_setting' sv_info.key_id as edit_url %}{% get_line_editor at_url edit_url with_perms 1 %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}