{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all with-header {{ state.classes }}" id={{block_name}}><!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
    {% get_block_header colspan=2 %}
        <th class="collapser label">{% get_block_title _("%s Instance's block created") _("%s Instances' blocks created") %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_light">{% trans "Related entity" %}</th>
                <th class="block_header_line_light action">{% trans "Delete" %}</th>
            </tr>
            {% for block_type in page.object_list %}<!--{% cycle row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">
                        <a href="{{block_type.entity.get_absolute_url}}">{{block_type}}</a>
                    </td>
                    <td class="{{row_color}} action">
                        {% get_line_deletor at_url '/creme_config/blocks/instance_block/delete' with_args "{'id': '{{block_type.id}}'}" with_perms 1 %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2" class="block_line_dark">{% trans "No type of instance block created for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
