{% load i18n %}
{% load media %}
{% load creme_block creme_core_tags %}
<table class="table_detail_view ui-corner-all with-header {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=3 %}
        <th class="collapser label">{% get_block_title _('%s Configured type of resource') _('%s Configured types of resource') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="3">
                {% get_line_adder at_url '/creme_config/custom_fields/ct/add/' with_label _("New custom field configuration") with_perms 1 %}
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_light">{% trans "Type" %}</th>
                <th class="block_header_line_light action">{% trans "Details" %}</th>
                <th class="block_header_line_light action">{% trans "Delete" %}</th>
            </tr>
            {% for ct in page.object_list %}<!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{{ct}}</td>
                    <td class="{{row_color}} action">
                        <a href="/creme_config/custom_fields/ct/{{ct.id}}">
                            <img src="{% creme_media_url 'images/view_22.png' %}" border="0" alt="{% trans "Edit" %}" title="{% trans "Edit" %}">
                        </a>
                    </td>
                    <td class="{{row_color}} action">
                        {% get_line_deletor at_url '/creme_config/custom_fields/ct/delete' with_args "{'id': '{{ct.id}}'}" with_perms 1 %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No type of entity has custom field for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
