{% load i18n creme_widgets creme_block creme_core_tags %}

{% log 'The template file "creme/creme_config/templates/creme_config/templatetags/block_user_roles.html" is deprecated.' level='WARN' %}

{% with has_perm=user.is_superuser %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=7 %}
        <th class="label">{% get_block_title _('%s Role') _('%s Roles') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th colspan="7" class="block_header_line_dark">
{#                {% get_line_adder at_url '/creme_config/role/add/' with_label _("New role") with_perms has_perm %} #}
{#                {% get_line_adder at_url '/creme_config/role/wizard/' with_label _("New role") with_perms has_perm %} #}
                {% url 'creme_config__create_role' as create_url %}{% get_line_adder at_url create_url with_label _('New role') with_perms has_perm %}
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _('Name') 'name' %}
                <th class="block_header_line_light">{% trans "Allowed applications" %}</th>
                <th class="block_header_line_light">{% trans "Administrated applications" %}</th>
                <th class="block_header_line_light">{% trans "Creation credentials" %}</th>
                <th class="block_header_line_light">{% trans "Export credentials" %}</th>
                <th class="block_header_line_light">{% trans "Entities credentials" %}</th>
                <th class="block_header_line_light action">{% trans "Actions" %}</th>
            </tr>
            {% url 'creme_config__remove_role_credentials' as rm_creds_url %}
            {% for role in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">
                    <td class="{{row_color}}">{{role.name}}</td>
                    <td class="{{row_color}}">{% widget_select_or_msg role.get_allowed_apps_verbose _('No allowed application') %}</td>
                    <td class="{{row_color}}">{% widget_select_or_msg role.get_admin_4_apps_verbose _('No administrated application') %}</td>
                        <td class="{{row_color}}">{% widget_select_or_msg role.creatable_ctypes.all|uca_sort _('No creation credential') %}</td>
                    <td class="{{row_color}}">{% widget_select_or_msg role.exportable_ctypes.all|uca_sort  _('No export credential') %}</td>
                    <td class="{{row_color}}">{% comment %} TODO inline action? {% endcomment %}
                        <ul>
                            {% for sc in role.credentials.all %}{% url 'creme_config__edit_role_credentials' sc.id as edit_creds_url %}
{#                                <li>{{sc}}{% get_line_editor at_url '/creme_config/role/edit_credentials/{{sc.id}}' with_perms has_perm %}{% get_line_deletor at_url '/creme_config/role/delete_credentials' with_args "{'id': '{{sc.id}}'}" with_perms has_perm %}</li> #}
                                <li>{{sc}}{% get_line_editor at_url edit_creds_url with_perms has_perm %}{% get_line_deletor at_url rm_creds_url with_args "{'id': '{{sc.id}}'}" with_perms has_perm %}</li>
                            {% endfor %}
                        </ul>
{#                        {% get_line_adder at_url '/creme_config/role/add_credentials/{{role.id}}' with_label _("New credentials") with_perms has_perm %} #}
                        {% url 'creme_config__add_credentials_to_role' role.id as add_creds_url %}{% get_line_adder at_url add_creds_url with_label _('New credentials') with_perms has_perm %}
                    </td>
                    <td class="{{row_color}} action">
{#                        {% get_line_editor at_url '/creme_config/role/edit/{{role.id}}' with_perms has_perm %} #}
{#                        {% get_line_editor at_url '/creme_config/role/wizard/{{role.id}}' with_perms has_perm %} #}
                        {% url 'creme_config__edit_role' role.id as edit_url %}{% get_line_editor at_url edit_url with_perms has_perm %}
                        {% if has_perm %}
{#                            <a onclick="creme.blocks.form('/creme_config/role/delete/{{role.pk}}', {blockReloadUrl:{% get_block_reload_uri %}}).open();"> #}
                            <a onclick="creme.blocks.form('{% url 'creme_config__delete_role' role.id %}', {blockReloadUrl:{% get_block_reload_uri %}}).open();">
                                {% trans "Delete" as img_title %}<img src="{% creme_media_url 'images/delete_22_button.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}">
                            </a>
                        {% else %}
                            {% trans "Can't delete" as img_title %}<img class="forbidden" src="{% creme_media_url 'images/delete_22_button.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No role for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 7 %}
</table>
{% endwith %}