{% load i18n %}{% load media %}
{% load creme_widgets %}{% load creme_block %}
{% if not request.is_ajax %}
    <div class="help_box">{% trans 'Remember that if you delete a role, all associated users will have the default credentials.' %}</div>
{% endif %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=7 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title  _('%s Role') _('%s Roles') %}</th>
        <th style="width: 20%;" align="right"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr>
            <th colspan="7" class="block_header_line_dark" align="left">
                {% get_line_adder at_url '/creme_config/role/add/' with_label _("New role") with_perms 1 %}
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                {% get_column_header _('Name') 'name' %}
                <th class="block_header_line_light">{% trans "Allowed applications" %}</th>
                <th class="block_header_line_light">{% trans "Administrated applications" %}</th>
                <th class="block_header_line_light">{% trans "Creation credentials" %}</th>
                <th class="block_header_line_light">{% trans "Entities credentials" %}</th>
                <th class="block_header_line_light">{% trans "Actions" %}</th>
            </tr>
            {% for role in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{role.name}}</td>
                    <td class="{{row_color}}">{% widget_select_or_msg role.get_allowed_apps_verbose _('No allowed application') %}</td>
                    <td class="{{row_color}}">{% widget_select_or_msg role.get_admin_4_apps_verbose _('No administrated application') %}</td>
                    <td class="{{row_color}}">{% widget_select_or_msg role.creatable_ctypes.all _('No creation credential') %}</td>
                    <td class="{{row_color}}">
                        {% widget_select_or_msg role.credentials.all _('No credential') %}
                        <a class="button_link" onclick="creme.utils.innerPopupNReload('/creme_config/role/add_credentials/{{role.id}}', {% get_block_reload_uri %});">
                            <img src="{% media_url 'images/add_22.png' %}" border="0" alt="{% trans "New credentials" %}"/>
                            {% trans "New credentials" %}
                        </a>
                    </td>
                    <td class="{{row_color}}">
                        {% get_line_editor at_url '/creme_config/role/edit/{{role.id}}' with_perms 1 %}
                        {% get_line_deletor2 at_url '/creme_config/role/delete' with_args "{'id': '{{role.pk}}'}" with_perms 1 %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No role for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>