{% extends 'creme_config/templatetags/block_blockdefmypagelocations.html' %}
{% load i18n creme_core_tags creme_block %}

{% block title %}{% get_block_title _('%s Block on "My page"') _('%s Blocks on "My page"') %}{% endblock %}
{% block edition %}
{#    <a class="button_link" onclick="creme.blocks.form('/creme_config/blocks/mypage/edit', {blockReloadUrl:{% get_block_reload_uri %}}).open();"> #}
    <a class="button_link" onclick="creme.blocks.form('{% url 'creme_config__edit_mypage_blocks' %}', {blockReloadUrl:{% get_block_reload_uri %}}).open();">
        {% trans "Edit blocks configuration" as label %}<img src="{% creme_media_url 'images/edit_22_button.png' %}" border="0" alt="{{label}}" title="{{label}}"/>
        {{label}}
    </a>
{% endblock %}
{# {% block deletion %}{% get_line_deletor at_url '/creme_config/blocks/mypage/delete' with_args "{'id': '{{loc.id}}'}" with_perms 1 %}{% endblock %} #}
{% block deletion %}{% url 'creme_config__delete_mypage_blocks' as delete_mp_url %}{% get_line_deletor at_url delete_mp_url with_args "{'id': '{{loc.id}}'}" with_perms 1 %}{% endblock %}