{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">{% cycle "block_line_light" "block_line_dark" as row_color silent %}
    {% get_block_header colspan=3 %}
        <th class="collapser label">{% get_block_title  _('%s Configured type of resource') _('%s Configured types of resource') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="3">
                {% get_line_adder at_url '/creme_config/button_menu/add/' with_label _("New buttons configuration") with_perms 1 %}
            </th>
        </tr>
        <tr class="header">
            <th class="block_header_line_light">{% trans "Type" %}</th>
            <th class="block_header_line_light action">{% trans "Edit" %}</th>
            <th class="block_header_line_light action">{% trans "Delete" %}</th>
        </tr>
        {% comment %} ONLY IF PAGE==1 ?? {% endcomment %}
        <tr class="content">
            <td class="{{row_color}}">{% trans "Default configuration" %}</td>
            <td class="{{row_color}} action">
                {% get_line_editor at_url '/creme_config/button_menu/edit/0' with_perms 1 %}
            </td>
            <td class="{{row_color}}"></td>
        </tr>
        {% if page.paginator.count %}
            {% for ct in page.object_list %}<!--{% cycle row_color silent %}-->
                <tr class="content">
                    <td class="{{row_color}}">{{ct}}</td>
                    <td class="{{row_color}} action">
                        {% get_line_editor at_url '/creme_config/button_menu/edit/{{ct.id}}' with_perms 1 %}
                    </td>
                    <td class="{{row_color}} action">
                        {% get_line_deletor at_url '/creme_config/button_menu/delete' with_args "{'id': '{{ct.id}}'}" with_perms 1 %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    {% get_block_footer 3 %}
</table>
