{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id={{block_name}}>
    {% get_block_header colspan=4 %}
        <th class="collapser label">{% block title %}{% get_block_title _('%s Block on default "My page"') _('%s Blocks on default "My page"') %}{% endblock %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="100">
                {% block edition %}{% get_line_adder at_url '/creme_config/blocks/mypage/edit/default' with_label _("Edit blocks configuration") with_perms 1 %}{% endblock %}
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_light">{% trans "Name" %}</th>
                <th class="block_header_line_light action">{% trans "Delete" %}</th>
            </tr>
            {% for loc in page.object_list %}<!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{{loc.block_verbose_name}}</td>
                    <td class="{{row_color}} action">{% block deletion %}{% get_line_deletor at_url '/creme_config/blocks/mypage/default/delete' with_args "{'id': '{{loc.id}}'}" with_perms 1 %}{% endblock %}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No block for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
