{% load i18n %}
{% load media %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}><!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
    {% get_block_header colspan=4 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Configured type of resource') _('%s Configured types of resource') %}</th>
        <th style="width: 20%;" align="right"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" style="font-size:14px;" align="left" colspan="100">
                <a class="button_link" href="/creme_config/blocks/add/">
                    <img src="{% media_url 'images/add_22.png' %}" border="0" alt="{% trans "New blocks configuration" %}"/>
                    {% trans "New blocks configuration" %}
                </a>
            </th>
        </tr>
        <tr>
            <th class="block_header_line_light">{% trans "Type" %}</th>
            <th class="block_header_line_light">{% trans "Edit" %}</th>
            <th class="block_header_line_light">{% trans "Edit portal" %}</th>
            <th class="block_header_line_light">{% trans "Delete" %}</th>
        </tr>
        {% comment %} ONLY IF PAGE==1 ?? {% endcomment %}
        <tr>
            <td class="{{row_color}}">{% trans "Default configuration" %}</td>
            <td class="{{row_color}}">
                <a href="/creme_config/blocks/edit/0">
                    <img src="{% media_url 'images/edit_22.png' %}" border="0" alt="{% trans "Edit" %}" title="{% trans "Edit" %}">
                </a>
            </td>
            <td class="{{row_color}}">
                <a href="/creme_config/blocks/edit/0/portal/">
                    <img src="{% media_url 'images/edit_22.png' %}" border="0" alt="{% trans "Edit portal" %}" title="{% trans "Edit portal" %}">
                </a>
            </td>
            <td class="{{row_color}}"></td>
        </tr>
        {% if page.paginator.count %}
            {% for ct in page.object_list %}
                <!--{% cycle row_color %}-->
                <tr>
                    <td class="{{row_color}}">
                        {{ct}}
                    </td>
                    <td class="{{row_color}}">
                        <a href="/creme_config/blocks/edit/{{ct.id}}">
                            <img src="{% media_url 'images/edit_22.png' %}" border="0" alt="{% trans "Edit" %}" title="{% trans "Edit" %}">
                        </a>
                    </td>
                    <td class="{{row_color}}">
                        <a href="/creme_config/blocks/edit/{{ct.id}}/portal/">
                            <img src="{% media_url 'images/edit_22.png' %}" border="0" alt="{% trans "Edit portal" %}" title="{% trans "Edit portal" %}">
                        </a>
                    </td>
                    <td class="{{row_color}}">
                        {% get_line_deletor at_url '/creme_config/blocks/delete' with_args "{'id': '{{ct.id}}'}" %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>