artifacts/
.circleci/

.git/
.githooks/
.gitignore

.idea/*
node_modules/
.coverage-karma/
.eslint.*

local_settings*.py
creme/media/upload/*/*
creme/media/static/*
_generated_media_names.py
*.sqlite
*.db

*.egg-info

.mypy_cache/*
