__pycache__/
*.py[cod]

.git/
.githooks/
.gitignore

.circleci/

.idea/*
node_modules/
.coverage-karma/
.eslint.*

artifacts/
creme/local_settings.py
creme/media/upload/*/*
creme/media/static/*
creme/_generated_media_names.py
*.sqlite
*.db

*.egg-info/

.mypy_cache/*
