**/js/jquery/1.11/*
**/js/jquery/1.12/*
**/js/jquery/2.x/*
**/js/jquery/3.x/*
**/js/jquery/extensions/jqplot*
**/js/jquery/extensions/chosen*
**/js/jquery/extensions/gccolor*
**/js/jquery/extensions/json*
**/js/jquery/extensions/jquery.dragtable.*
**/js/jquery/extensions/jquery.floatthead-*
**/js/jquery/extensions/jquery.form-*
**/js/jquery/extensions/jquery.uuid-*
**/js/jquery/extensions/jquery.browser*
**/js/jquery/extensions/jquery.debounce*
**/js/jquery/extensions/fullcalendar*
**/js/jquery/ui/*
**/js/lib/underscore/*
**/js/lib/momentjs/*
**/js/lib/leaflet*.js
**/js/lib/editor/*
**/js/lib/Sortable/*
**/js/lib/Select2/*
**/js/tests/qunit/qunit-*.js
**/creme_core/js/datejs/*
**/sketch/js/lib/d3-*.js
**/sketch/js/lib/filesaver-*.js
**/tiny_mce/**
**/media/static/**