syntax: glob

*~
*.blend1
*.pyc

# Still useful?
#*.orig
.project*
.settings*

# # DEPRECATED with new project layout
# creme/media/upload/*/*
# creme/media/static/*
# django.wsgi
# local_settings*.py
# _generated_media_names.py
# *.sqlite
# *.db

# Python package
*.egg-info
build/*
sdist/*
dist/*

# NetBeans
nbproject/*

# PyCharm
.idea/*

# PyDev
.pydev*

# coverage.py
.coverage
.coverage.*
htmlcov/*
artifacts/*

# mypy
.mypy_cache/*

# nodejs
node_modules/
.coverage-karma/
.eslint.*

# environment variables
.env
