recursive-include creme *.blend
recursive-include creme *.css
recursive-include creme *.csv
recursive-include creme *.cur
recursive-include creme *.gif
recursive-include creme *.htm
recursive-include creme *.html
recursive-include creme *.ico
recursive-include creme *.ini
recursive-include creme *.jar
recursive-include creme *.jpg
recursive-include creme *.js
recursive-include creme *.json
recursive-include creme *.mo
recursive-include creme *.png
recursive-include creme *.po
recursive-include creme *.svg
recursive-include creme *.swf
recursive-include creme *.tex
recursive-include creme *.ttf
recursive-include creme *.txt
recursive-include creme *.woff
recursive-include creme *.xls
recursive-include creme *.xlsx
recursive-include creme *.xml
recursive-include creme *.zip
recursive-include creme/creme_core/conf/project_template/ *
