/* Button-menu editor */

.buttonmenu-edit-widget {
    display: flex;
    margin-top: 10px;
    padding-bottom: 5px;
}

.buttonmenu-edit-widget .buttons-list {
    margin: 5px 0;
}

.buttonmenu-edit-widget .buttons-list.instance-buttons {
    margin: 0;
}

.buttonmenu-edit-widget .widget-available {
    flex: 0;
    min-width: 250px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.buttonmenu-edit-widget .widget-container {
    margin: 0 0 10px 0;
}

.buttonmenu-edit-widget .widget-available .widget-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.buttonmenu-edit-widget .buttons-list.instance-buttons.widget-selected {
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.buttonmenu-edit-widget .widget-selected .widget-container {
    flex: 1;
}

.buttonmenu-edit-widget .menu_button {
    padding: 4px 12px;
}

.buttonmenu-edit-widget .widget-selected .widget-container .menu_button {
    margin-right: 13px;
}

.buttonmenu-edit-widget .buttons-list .buttons-list-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #dedede;
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    flex: 0;
}

/* Button-menu editor - end */

/* Menu editor - end */

.menu-edit-widget {
    display: flex;
}

.menu-edit-widget .menu-edit-entries {
/*    max-width: 300px; */
    margin-left: 10px;
}

.menu-edit-widget .menu-edit-entry {
    margin-bottom: 3px;
    padding: 3px;
    min-height: 18px;
    min-width: 280px;

    background: #2a414b;

    color: #ebebeb;
    font-size: 13px;
    font-weight: 600;
}

.menu-edit-widget .menu-edit-entry-creme_core-separator1 {
    border-top: solid 2px black;

    color: #fafafa;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-edit-entry button {
    float: right;

    border: none;
    background: none;

    color: #8e8e8e;
    font-style: italic;

    cursor: pointer;
}

.menu-edit-entry button:hover {
    text-decoration: underline;
}

.menu-edit-widget .menu-edit-widget-creations {
    margin-top: 10px;
    margin-left: 20px;
}

.menu-edit-widget .menu-edit-widget-creations .new-entries {
    position: relative;
    display: block;

    margin-top: 10px;
}

/* Menu editor - end */
