{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}{% comment %}{% has_perm_to create ct as creation_perm %}{% endcomment %}
<table class="table_detail_view ui-corner-all with-header {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=4 %}
        <th class="collapser label">{% get_block_title _('%s Proposed Quote') _('%s Proposed Quotes') 'invoice_48.png' _('Quotes') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_line_relator to_subject object with_rtype_id predicate_id with_ct_id ct.id with_label _("Link to an existing quote") with_perms link_perm %}
                {% with _("Generate a new current quote") as newdoc_title %}
                    {% include 'opportunities/templatetags/block_line_newdoc.html' %}
                {% endwith %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Number" %}</th>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark action">{% trans "Current quote ?" %}</th>
                <th class="block_header_line_dark action">{% trans "Unlink" %}</th>
            </tr>
            {% with object.get_current_quote_id as current_quote_id %}
                {% for quote in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                    <tr class="content">
                        <td class="{{row_color}}">{{quote.number}}</td>
                        <td class="{{row_color}}">{% widget_entity_hyperlink quote user %}</td>
                        <td class="{{row_color}} action">
                            {% if quote.pk == current_quote_id %}
                                <strong>{% trans "Yes" %}</strong>
                            {% else %}
                                {% has_perm_to link quote as quote_link_perm %}
                                <button type="button" {% if not link_perm or not quote_link_perm %}disabled="true"{% else %}onclick="creme.utils.postNReload('/opportunities/opportunity/{{object.pk}}/linked/quote/{{quote.pk}}/set_current/', {% get_block_reload_uri %})"{% endif %} name="set_current_quote{{quote.id}}">{% trans "Become" %}</button>
                            {% endif %}
                        </td>
                        <td class="{{row_color}} action">
                            {% has_perm_to unlink quote as quote_unlink_perm %}{% comment %}TODO: specilized view to delete 'current doc' relation too ??{% endcomment %}
                            {% get_line_unlinker at_url '/creme_core/relation/delete/similar' with_args "{'subject_id':{{object.pk}}, 'type':'{{predicate_id}}', 'object_id':{{quote.pk}} }" with_perms unlink_perm|and_op:quote_unlink_perm %}
                        </td>
                    </tr>
                {% endfor %}
            {% endwith %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No quote for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
