{% load i18n %}{% load media %}
{% load creme_core_tags %}{% load creme_block %}
{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}{% has_perm_to create ct as creation_perm %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=5 %}
        <th class="collapser label">{% get_block_title _('%s Opportunity which targets the organisation') _('%s Opportunities which target the organisation') 'opportunity_48.png' _('Opportunity') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_line_adder at_url '/opportunities/opportunity/add_to_orga/{{object.id}}/popup' with_label _("Create a linked opportunity") with_perms creation_perm|and_op:link_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Estimated sales" %}</th>
                <th class="block_header_line_dark">{% trans "Made sales" %}</th>
                <th class="block_header_line_dark">{% trans "Sales phase" %}</th>
                <th class="block_header_line_dark action">{% trans "Delete the opportunity" %}</th>
            </tr>
            {% for opportunity in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    {% has_perm_to view opportunity as opp_view_perm %}
                    {% if opp_view_perm %}
                        <td class="{{row_color}}"><a href="{{opportunity.get_absolute_url}}">{{opportunity}}</a></td>
                        <td class="{{row_color}}">{{opportunity.estimated_sales|default:''}}</td>
                        <td class="{{row_color}}">{{opportunity.made_sales|default:''}}</td>
                        <td class="{{row_color}}">{{opportunity.sales_phase}}</td>
                    {% else %}
                        <td class="{{row_color}}">{{opportunity|allowed_unicode:user}}</td>
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                    {% endif %}
                    <td class="{{row_color}} action">
                        {% has_perm_to unlink opportunity as opp_unlink_perm %}
                        {% get_line_deletor at_url '/creme_core/delete_js' with_args "{'ids': [{{opportunity.pk}}] }" with_perms unlink_perm|and_op:opp_unlink_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No opportunity for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
