{% load i18n %}
{% load creme_core_tags creme_block creme_widgets opportunities_tags %}
{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}{% comment %}{% has_perm_to create ct as creation_perm %}{% endcomment %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=4 %}
        <th class="collapser label">{% get_block_title _('%s Proposed Quote') _('%s Proposed Quotes') 'invoice_48.png' _('Quotes') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_line_relator to_subject object with_rtype_id predicate_id with_ct_id ct.id with_label _("Link to an existing quote") with_perms link_perm %}
                {% include 'opportunities/templatetags/block_line_newdoc.html' with newdoc_title=_("Generate a new current quote") %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Number" %}</th>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark action">{% trans "Current quote ?" %}</th>
                <th class="block_header_line_dark action">{% trans "Unlink" %}</th>
            </tr>
            {% with current_quote_ids=object.get_current_quote_ids %}
                {% for quote in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                    {% with quote_is_current=quote.id|in:current_quote_ids %}
                        <tr class="content">
                            <td class="{{row_color}}">{{quote.number}}</td>
                            <td class="{{row_color}}">{% widget_entity_hyperlink quote user %}</td>
                            <td class="{{row_color}} action">
                                {% has_perm_to link quote as quote_link_perm %}
                                {% has_perm_to unlink quote as quote_unlink_perm %}
                                    <input{% if quote_is_current %} checked{% endif %} type="radio" {% if not link_perm or not quote_link_perm %}disabled="true"{% else %} onmousedown="if (!this.checked){creme.blocks.ajaxPOSTQuery('/opportunities/opportunity/{{object.pk}}/linked/quote/{{quote.pk}}/set_current/', {blockReloadUrl: {% get_block_reload_uri %}}).start()}"{% endif %} name="CurrentQuote_{{quote.id}}" value="false">{% trans "Yes" %}
                                    <input{% if not quote_is_current %} checked{% endif %} type="radio" {% if not unlink_perm or not quote_unlink_perm %}disabled="true"{% else %}onmousedown="if (!this.checked){creme.blocks.ajaxPOSTQuery('/opportunities/opportunity/{{object.pk}}/linked/quote/{{quote.pk}}/unset_current/', {blockReloadUrl: {% get_block_reload_uri %}}).start()}"{% endif %} name="CurrentQuote_{{quote.id}}" value="true">{% trans "No" %}
                            </td>
                            <td class="{{row_color}} action">
                                {% has_perm_to unlink quote as quote_unlink_perm %}{% comment %}TODO: specilized view to delete 'current doc' relation too ??{% endcomment %}
                                {% get_line_unlinker at_url '/creme_core/relation/delete/similar' with_args "{'subject_id':{{object.pk}}, 'type':'{{predicate_id}}', 'object_id':{{quote.pk}} }" with_perms unlink_perm|and_op:quote_unlink_perm %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            {% endwith %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No quote for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 4 %}
</table>
