{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="collapser label">{% get_block_title  _('%s Related Service') _('%s Related Services') 'service_48.png' _('Service') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_line_relator to_subject object with_rtype_id predicate_id with_ct_id ct.id with_label _("Link to an existing service") with_perms link_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark action">{% trans "Unlink" %}</th>
            </tr>
            {% for service in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{% widget_entity_hyperlink service user %}</td>
                    <td class="{{row_color}} action">
                        {% has_perm_to unlink service as service_unlink_perm %}
                        {% get_line_unlinker at_url '/creme_core/relation/delete/similar' with_args "{'subject_id':{{object.pk}}, 'type':'{{predicate_id}}', 'object_id':{{service.pk}} }" with_perms unlink_perm|and_op:service_unlink_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No related service for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 2 %}
</table>
