{% load i18n %}
{% load media %}
{% load creme_block %}
{% comment %}<script type="text/javascript">
    creme.include('{{MEDIA_URL}}js/models/relations.js', 'js');
</script>{% endcomment %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=4 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Proposed Quote') _('%s Proposed Quotes') 'invoice_48.png' _('Quotes') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                <a class="link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/objects2link/rtype/{{predicate_id}}/entity/{{object.id}}/{{ct_id}}', '{{predicate_id}}', '{{object.id}}', {% get_block_reload_uri %});">
                    <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Link to an existing quote" %}" alt="{% trans "Link to an existing quote" %}" />
                    {% trans "Link to an existing quote" %}
                </a>
                <a class="add" href="/opportunities/opportunity/generate_new_doc/{{object.id}}/{{ct_id}}">
                    <img src="{% media_url 'images/add_22.png' %}" border="0" title="{% trans "Generate a new current quote" %}" alt="{% trans "Generate a new current quote" %}" />
                    {% trans "Generate a new current quote" %}
                </a>
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Number" %}</th>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Current quote ?" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>
            {% for quote in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{quote.number}}</td>
                    <td class="{{row_color}}">
                        <a href="{{quote.get_absolute_url}}">{{quote.name}}</a>
                    </td>
                    <td class="{{row_color}}">
                        {% if quote.pk == current_quote_id %}
                            <strong>Oui</strong>
                        {% else %}
                            <a href="/opportunities/opportunity/{{object.pk}}/linked/quote/{{quote.pk}}/set_current/">
                                {% trans "Become" %}
                            </a>
                        {% endif %}
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/creme_core/relation/delete/similar' with_args "{'subject_id':{{object.pk}}, 'type':'{{predicate_id}}', 'object_id':{{quote.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No quote for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>