{% load i18n %}{% load media %}{% comment %} FACTORISE BLOCK CODE {% endcomment %}
{% load creme_core_tags %}{% load creme_block %}
{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=2 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title  _('%s Related Service') _('%s Related Services') 'service_48.png' _('Service') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% if link_perm %}
                    <a class="link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/objects2link/rtype/{{predicate_id}}/entity/{{object.id}}/{{ct.id}}', '{{predicate_id}}', '{{object.id}}', {% get_block_reload_uri %});">
                        <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Link to an existing service" %}" alt="{% trans "Link to an existing service" %}" />
                        {% trans "Link to an existing service" %}
                    </a>
                {% else %}
                    <span class="link forbidden">
                        <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Can't link" %}" alt="{% trans "Can't link" %}" />
                        {% trans "Link to an existing service" %}
                    </span>
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>
            {% for service in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}"><a href="{{service.get_absolute_url}}">{{service}}</a></td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% has_perm_to unlink service as service_unlink_perm %}
                        {% get_line_deletor2 at_url '/creme_core/relation/delete/similar' with_args "{'subject_id':{{object.pk}}, 'type':'{{predicate_id}}', 'object_id':{{service.pk}} }" with_perms unlink_perm|and_op:service_unlink_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No related service for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>