{% load i18n %}
{% load creme_core_tags creme_block %}
{% has_perm_to create ct as creation_perm %}
{% if creation_perm and link_perm %}
    <a class="add" onclick="creme.blocks.ajaxPOSTQuery('/opportunities/opportunity/generate_new_doc/{{object.id}}/{{ct.id}}', {blockReloadUrl: {% get_block_reload_uri %}}).start()">
        <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{{newdoc_title}}" alt="{{newdoc_title}}" />{{newdoc_title}}
    </a>
{% else %}
    <span class="add forbidden">
        {% trans "Can't add" as img_title %}<img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />{{newdoc_title}}
    </span>
{% endif %}
