{% load i18n %}
{% load creme_core_tags %}{% has_perm_to link object as link_perm %}
{% trans "Opportunity" as img_title %}
{% if has_perm and link_perm %}
    <a class="menu_button" href="/opportunities/opportunity/add_to/{{object.id}}">
        <img src="{% creme_media_url 'images/opportunity_32.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
        {% trans "Create a linked opportunity" %}
    </a>
{% else %}
    <span class="menu_button forbidden" title="{% trans "forbidden" %}">
        <img src="{% creme_media_url 'images/opportunity_32.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
        {% trans "Create a linked opportunity" %}
    </span>
{% endif %}
