{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load media %}
{% load creme_block %}

{% block logo %}<img src="{% media_url 'images/ticket_64.png' %}" alt="{% trans "Ticket" %}"/>{% endblock %}

{% block after_object_as_table_1 %}
    <table class="table_detail_view ui-corner-all">
        {% get_block_header colspan=2 %}
            <th style="width: 80%;" class="collapser">{% get_basic_block_header _('Other information') 'infos_48.png' _('Information') %}</th>
            <th style="width: 20%;" align="right"></th>
        {% end_get_block_header %}
        <tbody class="collapsable">
            <tr>
                <th class="block_header_line_dark th_info">{% trans "Resolving duration" %}</th>
                <td class="block_line_dark td_info">{{object.get_resolving_duration}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}