{% load i18n %}
{% load creme_block creme_core_tags creme_widgets activesync_tags %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=6 %}
        <th class="label">
            {% get_block_title _('%s History entry') _('%s History entries') %}
        </th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _('Type') 'type' %}
                {% get_column_header _('Creation date') 'created' %}
                {% get_column_header _('What') 'entity_ct' %}
                <th class="block_header_line_dark">{% trans "Entity" %}</th>
                <th class="block_header_line_dark">{% trans "Changes" %}</th>
                {% get_column_header _('Where') 'where' %}
            </tr>
            {% for history in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">
                    <td class="{{row_color}}">
                        {% with current_history_type_verbose=history_type_verbose|get_value:history.type %}
                            <span class="logo"><img src="{% get_history_type_img history.type %}" title="{{ current_history_type_verbose }}" alt="{{ current_history_type_verbose }}"/></span>
                            {{ current_history_type_verbose }}
                        {% endwith %}
                    </td>
                    <td class="{{row_color}}">{% print_field object=history field='created' %}</td>
                    <td class="{{row_color}}">
                        <span class="logo">{% get_image_for_ctype history.entity_ct 'small' %}</span>
                        {{history.entity_ct}}
                    </td>
                    <td class="{{row_color}}">
                        {% if history.entity %}
                            {% widget_entity_hyperlink history.entity user %}
                        {% else %}
                            {{history.entity_repr}}{# Can't check if the user had the right view on the deleted entity... #}
                        {% endif %}
                    </td>
                    <td class="{{row_color}}">
                    {% for k, v in history.changes.iteritems %}
                            <p>{% get_field_verbose_name contact_klass k %} : {% if v.get_absolute_url %}<a href="{{ v.get_absolute_url }}">{{ v }}</a>{% else %}{{ v }}{% endif %}</p>
                        {% empty %}
                            &nbsp;
                        {% endfor %}
                    </td>
                    <td class="{{row_color}}">
                        {% with current_history_where_verbose=history_where_verbose|get_value:history.where %}
                            <span class="logo"><img src="{% get_history_where_img history.where %}" title="{{ current_history_where_verbose }}" alt="{{ current_history_where_verbose }}"/></span>
                            {{ current_history_where_verbose }}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">
                    {% block activities_empty %}{% trans "Empty history for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 6 %}
</table>
