{% load i18n %}
{% load creme_core_tags creme_block %}
{% if not request.is_ajax %}
    <div class="help_box">{% trans 'Here you set the default configuration for mobile synchronization. Each user gets this config until he overrides it in his own settings.' %}</div>
{% endif %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="label">{% get_basic_block_header _('Default mobile synchronization configuration') 'phone_sync_48.png' _('Phone synchronization') %}</th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th class="block_header_line_light" colspan="2">
                <a class="button_link" onclick="creme.blocks.form('/activesync/mobile_synchronization/edit', {blockReloadUrl:{% get_block_reload_uri %}}).open();">
                    {% trans "Edit" as label %}<img src="{% creme_media_url 'images/edit_22.png' %}" border="0" alt="{{label}}" />{{label}}
                </a>
            </th>
        </tr>
        <tr class="content">
            <th class="block_header_line_dark th_info">{% trans "Server URL" %}</th>
            <td class="block_line_dark td_info">{{url.as_html}}</td>
        </tr>
        <tr class="content">
            <th class="block_header_line_light th_info">{% trans "Domain" %}</th>
            <td class="block_line_light td_info">{{domain.as_html}}</td>
        </tr>
        <tr class="content">
            <th class="block_header_line_dark th_info">{% trans "Is secure" %}</th>
            <td class="block_line_dark td_info">{{ssl.as_html}}</td>
        </tr>
    </tbody>
</table>
