/* Hide annoying "Get all feature" button */
.tox .tox-notification--in,
.tox .tox-promotion,
.tox .tox-statusbar__help-label,
.tox .tox-tbtn[title="Get all features"],
.tox .tox-toolbar__overflow [href*="get-tiny"] {
  display: none !important;
}

/* Hide brand
.tox .tox-statusbar__branding {
  display: none !important;
}
*/

/* Keep brand but disable link */
.tox .tox-statusbar__branding a {
  pointer-events: none;
}

.tox .tox-statusbar__branding a:hover {
  cursor: default;
}

.tox {
    white-space: nowrap!important;
}
