{% extends 'creme_config/portals/base.html' %}
{% load i18n creme_widgets %}

{% block page_title %}{% translate 'Configuration of fields' %} - {% endblock %}

{% block title %}
    {{block.super}}{% translate 'Configuration of fields' %}
{% endblock %}

{% block portal_help %}
{% blocktranslate asvar help_msg_hidden %}Here you can HIDE existing fields which are optional. Hidden fields disappear everywhere (blocks on detailed views, forms, list-views…) as if they do not exist anymore.
Notice: if you just want to hide them in some places but not all of them, you should use another way (e.g. custom block, custom form, view of list…).{% endblocktranslate %}
{% blocktranslate asvar help_msg_required %}Here you can MARK AS REQUIRED fields which are normally not required.
Notice: setting a field as required is not retroactive; existing entities will not be modified, but users will be obliged to set the given field the next time they edit an entity with an empty value.{% endblocktranslate %}
    {% widget_help_sign message=help_msg_hidden %}
    {% widget_help_sign message=help_msg_required %}
{% endblock %}
