{% extends 'creme_config/portals/base.html' %}
{% load i18n creme_widgets %}

{% block page_title %}{% translate 'Configuration of history' %} - {% endblock %}

{% block title %}
    {{block.super}}{% translate 'History' %}
{% endblock %}

{% block portal_help %}
    {% widget_help_sign message=_('When an entity is modified, if it has some relationships (the entity is the subject) with a type from the configured ones, the related entities get a line in their history which indicates this modification.') %}
{% endblock %}
