{% extends 'creme_core/generics/portal.html' %}
{% load i18n creme_widgets %}

{% block logo %}{% widget_icon name='sms' size='brick-hat-bar' label=_('SMS') %}{% endblock %}
{% block title %}{% trans 'SMS Campaigns portal' %}{% endblock %}
{% block list_url %}{% url 'sms__list_campaigns' %}{% endblock %}
{% block list_msg %}{% trans 'List of campaigns' %}{% endblock %}
{% comment %}
{% block before_statistics %}
    {{block.super}}
{#    {% include "creme_core/templatetags/block_object.html" with object=account %} #}
    {% include 'creme_core/bricks/generic/entity.html' with object=account %}
{% endblock %}
{% endcomment %}
