{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load creme_block %}

{% block logo %}<img src="{{MEDIA_URL}}images/sms_64.png" alt="{% trans "Campaign" %}"/>{% endblock %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'sms' named 'sendings' as 'sendings_block' %}
    {% import_block from_app 'sms' named 'messaging_lists' as 'messaging_lists_block' %}
{% endblock %}

{% block before_detail_view_1 %}
    {% display_block_detailview 'sendings_block' %}
{% endblock %}

{% block after_object_as_table_1 %}
    {% display_block_detailview 'messaging_lists_block' %}
{% endblock %}