{% extends 'creme_core/base.html' %}
{% load i18n creme_bricks creme_widgets %}

{% block page_title %}{{job}} - {% endblock %}

{% block content %}
    <div class="buttons-list global-buttons">
        <ul>
            <li>
                <a class="menu_button menu-button-icon" href="{{list_url}}">{% translate 'List of jobs' as list_label %}
                    {% widget_icon name='listview' size='global-button' label=list_label %}
                    {{list_label}}
                </a>
            </li>
        </ul>
    </div>

    {% brick_import app='creme_core' name='job' as job_brick %}
    {% brick_declare results_bricks %}

    {% brick_display job_brick %}
    {% brick_display results_bricks %}

    {% brick_end %}
{% endblock %}
