{% extends "creme_core/generics/blockform/base.html" %}

{% block main_content %}
    {% with form.get_blocks as blocks %}
        {% with blocks.general as form_block %}
            {% include "creme_core/generics/blockform/content.html" %}
        {% endwith %}
        {% with blocks.coordinates as form_block %}
            {% include "creme_core/generics/blockform/content.html" %}
        {% endwith %}

        {% with blocks.billing_address as form_block %}
            {% include "persons/frags/billing_block.html" %}
        {% endwith %}

        {% with blocks.shipping_address as form_block %}
            {% include "persons/frags/shipping_block.html" %}
        {% endwith %}
    {% endwith %}
{% endblock %}
