{% extends 'creme_core/generics/blockform/base.html' %}

{% block main_content %}
    {% with form.get_blocks as blocks %}
        {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.general %}

        {% if not form.hide_billing_address or not form.hide_shipping_address %}
        <div class="dual_column-container clearfix">
            {% include 'persons/frags/billing_block.html' with form_block=blocks.billing_address %}
            {% include 'persons/frags/shipping_block.html' with form_block=blocks.shipping_address %}
        </div>
        {% endif %}

        {% for form_block in blocks %}
            {% include 'creme_core/generics/blockform/content.html' %}
        {% endfor %}
    {% endwith %}
{% endblock %}
