{% load i18n %}{% load creme_core_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="central_panel" xmlns="http://www.w3.org/1999/xhtml">{% comment %}NOT IN THE CONTEXT lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}{% endcomment %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Creme CRM - {% trans 'Error !' %}</title>
    <script type='text/javascript'>
        var THEME_NAME = "{{ THEME_NAME }}";
    </script>
    {% include_creme_media "main.css" %}
    <link rel="shortcut icon" href="{% creme_media_url 'images/favicon.ico' %}" type="image/x-icon" />
    <style type="text/css">
        #container-icon {
            background-image: url({% creme_media_url 'images/500_256.png' %});
            background-repeat: no-repeat;
            float: left;
            margin-top: -100px;
            width: 256px;
            height: 256px;
        }
    </style>
</head>
<body class="central_panel" >
    <div id="container">
        <div id="container-icon">&nbsp;</div>
        <div id="content-main">
            <div id="branding"><h1>{% trans 'Creme 500 Error' %}</h1></div>
            <div><p>{% trans "An internal error has occurred." %}</p></div>
        </div>
    </div>
</body>
</html>
