/* Forms */

.activities-field-datetime .activities-field-date-time {
    margin-top: 10px;
}

/*
.help-text + .activities-field-datetime {
    margin-top: 5px;
}
*/

/*
.activities-field-date-part .help-text-format {
    color: hsla(197,15%,50%,1);
}
*/

/* Forms - end */

/* Calendar sidebar */

.calendar-menu {
    position: absolute;
    clear: both;

    width: 320px;
    overflow-y: auto;

    margin-top: 44px;
    padding-bottom: 10px;

    font-family: 'Open Sans', sans-serif;
}

/* apply a natural box layout model to all elements */
.calendar-menu, .calendar-menu * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.calendar-menu .menu-group {
    border: 1px solid #d9d9d9;
    background: white;

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.calendar-menu .menu-group:not(.is-empty-group) + .menu-group {
    margin-top: 5px;
}

.calendar-menu .menu-group.is-empty-group {
    display: none;
}

.calendar-menu h4 {
    margin: 0;
}

.calendar-menu h5 {
    margin: 5px 0 5px 5px;
}

.calendar-menu span.toggle-icon {
    width: 22px;
    display: inline-block;
}

.calendar-menu .floating-event {
    padding: 2px 5px;
    cursor: move;
    cursor:         grab;
    cursor:    -moz-grab;
    cursor: -webkit-grab;
}

.calendar-menu .floating-event:hover {
    border: dashed 1px #666;
    padding: 1px 4px;
}

.calendar-menu .floating-event .colored-square {
    vertical-align: middle;
}

.calendar-menu .floating-event .floating-event-label {
    vertical-align: middle;
    margin-top: -1px;
    padding-left: 2px;
    display: inline-block;
}

.floating-event.ui-draggable-dragging {
    background: white;
    border: dashed 1px #666;
    padding: 2px 20px !important;
    cursor:         grabbing;
    cursor:    -moz-grabbing;
    cursor: -webkit-grabbing;
}

.calendar-menu .menu-group-title {
    display: flex;
    background: #f5f5f5;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    border-bottom: 1px solid #d9d9d9;
    height: 26px;
}

.calendar-menu .menu-group-title.toggle-collapsed {
    border-bottom: 0px;
}

.calendar-menu .menu-group-label {
    flex: 1;
    display: inline-flex;
    align-items: center;
    padding-left: 5px;
    vertical-align: middle;
    height: 25px;
}

.calendar-menu .menu-group-label:before {
    content: "➖";
    padding-right: 5px;
}

.calendar-menu .toggle-collapsed .menu-group-label:before {
    content: "➕";
}

.calendar-menu .colored-square {
    width: 13px;
    height: 13px;
    display: inline-block;
}

.calendar-menu .calendar-menu-item {
    padding-left: 5px;
}

.calendar-menu .calendar-menu-item label {
    vertical-align: middle;
    top: -4px;
    position: relative;
}

.calendar-menu .calendar-menu-item:hover,
.calendar-menu .calendar-menu-item label:hover,
.calendar-menu .calendar-menu-item input:hover {
    cursor: pointer;
}

.calendar-menu .calendar-menu-filter,
.calendar-menu .floating-event-filter {
    margin: 5px 5px 8px 5px;
}

.calendar-menu .calendar-menu-filter input,
.calendar-menu .floating-event-filter input {
    width: 100%;
/*    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; */
    font-size: 9px;
    outline-style: none;
}

.calendar-menu .my-calendars .calendar-menu-item:first-child {
    margin-top: 5px;
}

.calendar-menu .other-calendars .calendar-menu-usergroup + .calendar-menu-usergroup {
    margin-top: 5px;
}

.calendar-menu .calendar-menu-empty {
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: 11px;
    cursor: default;
    color: #777;
}

/* calendar sidebar - end */

/* calendar */

.calendar-main {
    margin: 20px 0 0 5px;
}

.calendar-main .calendar {
    width: auto;
}

.calendar-main .calendar.with-menu {
    margin: 0 0 0 325px;
}

.calendar .fc-view-container {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.calendar .fc-toolbar button:focus {
    outline: none;
}

.calendar-main .fc-toolbar .fc-left {
    min-width: 365px;
}

.calendar .fc-content {
    padding: 0px 2px 2px 2px;
}

.calendar .fc-content .fc-time {
    padding-right: 2px;
    font-weight: 400;
    font-size: 12px;
}

.calendar .fc-content .fc-title {
    font-size: 12px;
    font-weight: bold;
}

.calendar .fc-content .fc-type {
    display: block;
    background: #aaaaaa;
    color: white;
    font-weight: 600;
    font-size: 0.88em;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 2px;
    padding: 2px 2px 0px;
}

.calendar .fc-short .fc-content .fc-title,
.calendar .fc-short .fc-content .fc-time {
    font-size: 12px;
    padding-top: 2px;
}

.calendar .fc-small .fc-content .fc-title {
    display: inline-block;
    width: fit-content;
}

.calendar .fc-short .fc-content .fc-type,
.calendar .fc-small .fc-content .fc-type {
    display: inline-block;
    margin-top: 2px;
    margin-left: 4px;
}

.calendar .fc-event,
.calendar .fc-agenda .fc-time,
.calendar .fc-event a {
    border: none;
    background: none;
    text-shadow: none;

    -webkit-transition: none;
       -moz-transition: none;
            transition: none;
}

.calendar .fc-event.fc-event-highlight {
	color: black;
    font-weight: 400;
    font-size: 12px;
    background-color: #e5f2f5;
    opacity: 0.7;
}

.calendar .fc-month-view .fc-day-grid .fc-day.fc-today {
    box-shadow: inset 0px 4px 0px #74a6db;
}

.calendar.fc-ltr .fc-time-grid .fc-event-container {
    margin: 1px 2px 0 2px;
}

.calendar .fc-time-grid .fc-slats .fc-minor td {
    border-top-style: none;
}

.calendar .loading-indicator {
    position: relative;
    left: -325px;
    top: -10px;

    margin-bottom: -7px;
    visibility: hidden;
}

.calendar .loading-indicator.is-loading {
    visibility: visible;
}

.calendar .loading-indicator .loading-label {
    display: inline-block;
    margin-left: 5px;

    position: relative;
    top: -3px;
}

.calendar .fc-now-indicator.fc-now-indicator-arrow {
    display: none;
}

.calendar .fc-now-indicator.fc-now-indicator-line {
    border-top-width: 2px;
}

.calendar .fc-now-indicator.fc-now-indicator-line:before {
    content: "●";
    top: -13px;
    left: -5px;
    position: absolute;
    font-size: 16px;
    color: red;
}

.hidden {
    display: none;
}

.calendar .fc-toolbar.fc-header-toolbar {
    margin-left: -325px;
}

.calendar .fc-header-toolbar .fc-header-week {
    background: #dddddd;
    color: black;
    font-weight: 600;
    font-size: 0.70em;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 4px;
    padding: 0px 4px;
    margin-left: 20px;
    position: relative;
    top: -2px;
}

/* calendar - end */

/* calendar header widget repositioning */

.calendar .fc-header-left table,
.calendar .fc-header-center table {
    position: relative;
}

.calendar .fc-header-left table {
    left: -330px; /* the width of the sidebar with padding */
}

.calendar .fc-header-center table {
    margin: 0; /* remove the centering */
}

/* calendar header widget repositioning - end */


/* Bricks */

.activities-list-brick .brick-content .brick-list-item:last-child {
    padding-bottom: 5px;
}

.activities-list-brick .activity-item {
    font-size: 13px;
}

.activities-list-brick .activity-item + .activity-item {
    margin-top: 20px;
    border-top: 1px solid #dedede;
    border-top: 1px solid #ccc;
}

.activities-list-brick .activity-group {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
}

.activities-list-brick .activity-group + .activity-group {
    margin-top: 5px;
}

.activities-list-brick .activity-group-key {
    min-width: 160px;
}

.activities-list-brick .activity-group-value {
    flex: 1;
    margin-left: 10px;
}

.activities-list-brick .activity-info-group .activity-group-key {
    align-self: flex-start;
    padding-top: 2px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

.activities-list-brick .activity-summary-group {
    padding-top: 5px;
    padding-bottom: 5px;

    background: #fff3f2;
    border-bottom: 1px solid #fdedeb;
}

.activities-list-brick .activity-schedule-beginning {
    font-weight: 600;
}

.activities-list-brick .activity-type {
    margin-right: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

.activities-list-brick .activity-title {
    font-weight: 600;
}

.activities-list-brick .activity-status {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: #333;
    _color: #FF4136; /* red */
    _color: #FF851B; /* orange */
}

.activities-list-brick .activity-action {
    margin-left: 15px;
    padding-left: 5px;
}

.activities-list-brick .activity-action img {
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
}

.activities-list-brick .activity-warning {
    color: #FF4136; /* red */
    color: #FF851B; /* orange */
    cursor: default;
}

.activities-list-brick .activity-warning .activity-warning-icon {
    width: 16px;
    height: 16px;

    margin-top: -2px;
    position: relative;
    top: 4px;

    fill: currentColor;
}

.activities-list-brick .activity-warning-label {
    display: inline-block;

    margin-left: 3px;
    padding-top: 2px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}

.activities-list-brick .activity-relation {
    font-weight: 600;
    color: #333;
}

.activities-list-brick .activity-group .activity-type-icon {
    width: 14px;
    height: 14px;

    margin-top: -2px;
    position: relative;
    top: 3px;

    fill: #666;
}

.activities-list-brick .typography-mdash {
    position: relative;
    top: -1px;
}

.brick .activity-calendar-color-square {
    width: 13px;
    height: 13px;

    margin-top: -3px;
    margin-right: 3px;

    display: inline-block;
    vertical-align: middle;

    background: white;
}

.brick .activity-calendar-default,
.brick .activity-calendar-public {
    text-align: center;
}

/* Bricks - end */

/* Activity popup */

.activities-activity-popup-content a.complete-detailview {
    display: block;
}

.activities-activity-popup-content .column {
    float: left;
    margin-left: 0;

    /* Only modern browsers will see calc() */
    width: 49.9%;
    width: calc(49.9% - 3px);
}

.activities-activity-popup-content .column-second {
    float: right;
    margin-right: 0;
}

/* Activity popup - end */
