{% load i18n %}
{% if has_perm %}
    <a class="menu_button" onclick="$('#id_convert2order', $(this)).submit();">
        {% trans "Convert to Salesorder" %}
        <div style="display:none;">
            <form id="id_convert2order" method="POST" action="/billing/{{object.id}}/convert/">{% csrf_token %}
                <input type="hidden" name="type" value="sales_order" />
            </form>
        </div>
    </a>
{% else %}
    <span class="menu_button forbidden" title="{% trans "forbidden" %}">{% trans "Convert to Salesorder" %}</span>
{% endif %}