{% load i18n creme_core_tags creme_ctype %}
{# {% if has_perm and not object.is_deleted %} #}
{% ctype_for_swappable 'BILLING_INVOICE_MODEL' as invoice_ctype %}{% has_perm_to create invoice_ctype as creation_perm %}
{% if creation_perm and not user.is_staff and not object.is_deleted %}
    <a class="menu_button" onclick="$('#id_convert2invoice', $(this)).submit();">
        {% trans 'Convert to Invoice' %}
        <div style="display:none;">
            <form id="id_convert2invoice" method="POST" action="{% url 'billing__convert' object.id %}">{% csrf_token %}
                <input type="hidden" name="type" value="invoice" />
            </form>
        </div>
    </a>
{% else %}
    <span class="menu_button forbidden" title="{% trans 'forbidden' %}">{% trans 'Convert to Invoice' %}</span>
{% endif %}