{% load i18n %}
{% if has_perm %}
{% comment %}
    <a class="menu_button" onclick="creme.billing.convertAs({{object.id}}, 'sales_order');">
        {% trans "Convert to Salesorder" %}
    </a>
{% endcomment %}
    <a class="menu_button" onclick="$('#id_convert2order', $(this)).submit();">
        {% trans "Convert to Salesorder" %}
        <div style="display:none;">
            <form id="id_convert2order" method="POST" action="{% url 'billing__convert' object.id %}">{% csrf_token %}
                <input type="hidden" name="type" value="sales_order" />
            </form>
        </div>
    </a>

{% else %}
    <span class="menu_button forbidden" title="{% trans "forbidden" %}">{% trans "Convert to Salesorder" %}</span>
{% endif %}