{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}

{% log 'The template file "creme/billing/templates/billing/frags/generic_billing_line_frag.html" is deprecated.' level='WARN' %}

{% has_perm_to change object as edit_perm %}
{% with line=form.instance currency=object.currency %}
<table class="linetable linetable_{{ct_id}}">
    <tr class="content">{# FIRST LINE #}
        <th class="block_header_line_dark bline-quantity">{% trans "Quantity" %}</th>
        <th class="block_header_line_dark bline-unit-price">{% trans "Unit price" %}</th>
        <th class="block_header_line_dark bline-unit">{% trans "Unit" %}</th>
        <th class="block_header_line_dark bline-discount">{% trans "Discount" %}</th>
        <th class="block_header_line_dark bline-vat">{% trans "VAT" %}</th>
        <th class="block_header_line_dark bline-total-no-tax">{% trans "Total (exclusive of tax)" %}</th>
        <th class="block_header_line_dark bline-total-discounted">{% trans "Total (without tax) discounted" %}</th>
        <th class="block_header_line_dark bline-total">{% trans "Total (inclusive of tax)" %}</th>
    </tr>
    {% if edit_perm %}
        <tr class="content block_line_dark">
            <td class="bline-quantity">{{form.quantity}}</td>
            <td class="bline-unit-price">{{form.unit_price}} {{object.currency.local_symbol}}</td>
            <td class="bline-unit">/ {{form.unit}}</td>
            <td class="bline-discount">{{form.discount}} {{form.discount_unit}}</td>
            <td class="bline-vat">{{form.vat_value}}</td>
            <td class="bline-total-no-tax" name="exclusive_of_tax">{{line.get_raw_price|format_amount:currency}}</td>
            {% with exclusive_of_tax=line.get_price_exclusive_of_tax inclusive_of_tax=line.get_price_inclusive_of_tax %}
                <td class="bline-total-discounted" name="discounted" data-value="{{exclusive_of_tax}}">{{exclusive_of_tax|format_amount:currency}}</td>
                <td class="bline-total" name="inclusive_of_tax" data-value="{{inclusive_of_tax}}">{{inclusive_of_tax|format_amount:currency}}</td>
            {% endwith %}
        </tr>
    {% else %}{# READONLY VERSION #}
        <tr class="content readonly">
            <td class="bline-quantity">{{line.quantity}}</td>
            <td class="bline-unit-price">{{line.unit_price}} {{object.currency.local_symbol}}</td>
            <td class="bline-unit">{% if line.unit %} / {{line.unit}}{% endif %}</td>
            <td class="bline-discount">
                {{line.discount}} {% with sel_dunit=form.fields.discount_unit.initial %}{% for dunit, label in form.fields.discount_unit.choices %}{% if dunit == sel_dunit %}{{label}}{% endif %}{% endfor %}{% endwith %}
            </td>
            <td class="bline-vat">{{line.vat_value}}</td>
            <td class="bline-total-no-tax" name="exclusive_of_tax">{{line.get_raw_price|format_amount:currency}}</td>
            {% with exclusive_of_tax=line.get_price_exclusive_of_tax inclusive_of_tax=line.get_price_inclusive_of_tax %}
                <td class="bline-total-discounted" name="discounted" data-value="{{exclusive_of_tax}}">{{exclusive_of_tax|format_amount:currency}}</td>
                <td class="bline-total" name="inclusive_of_tax" data-value="{{inclusive_of_tax}}">{{inclusive_of_tax|format_amount:currency}}</td>
            {% endwith %}
        </tr>
    {% endif %}

    <tr class="content">{# SECOND LINE #}
        <th class="block_header_line_dark bline-item" colspan="3">{{related_item_label}}</th>
        <th class="block_header_line_dark bline-comment" colspan="5">{% trans "Comment" %}</th>
    </tr>
    {% if edit_perm %}
        <tr class="content block_line_dark">
            <td class="bline-item" colspan="3">
                {% if line.pk %}
                    {% with line.related_item as related_item %}
                        {% if related_item %}
                            {% widget_entity_hyperlink related_item user %}
                        {% else %}
                            {{form.on_the_fly_item}}
                            <br/>{% has_perm_to create related_item_ct as item_create_perm %}
                            {% if item_create_perm %}
{#                                <a onclick="creme.blocks.form('/billing/line/{{line.id}}/add_to_catalog', {blockReloadUrl:{% get_block_reload_uri %}}).open();">[{% trans "add to catalog" %}]</a> #}
                                <a onclick="creme.blocks.form('{% url 'billing__add_to_catalog' line.id %}', {blockReloadUrl:{% get_block_reload_uri %}}).open();">[{% trans "add to catalog" %}]</a>
                            {% else %}
                                <span class="forbidden">[{% trans "add to catalog (forbidden)" %}]</span>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {{form.on_the_fly_item}}
                {% endif %}
            </td>
            <td class="bline-comment" colspan="5">{{form.comment}}</td>
        </tr>
    {% else %}{# READONLY VERSION #}
        <tr class="content readonly">
            <td class="bline-item" colspan="3">
                {% with line.related_item as related_item %}
                    {% if related_item %}
                        {% widget_entity_hyperlink related_item user %}
                    {% else %}
                        {{line.on_the_fly_item}}
                        <br/>{% has_perm_to create related_item_ct as item_create_perm %}
                        {% if item_create_perm %}
{#                            <a onclick="creme.blocks.form('/billing/line/{{line.id}}/add_to_catalog', {blockReloadUrl:{% get_block_reload_uri %}}).open();">[{% trans "add to catalog" %}]</a> #}
                            <a onclick="creme.blocks.form('{% url 'billing__add_to_catalog' line.id %}', {blockReloadUrl:{% get_block_reload_uri %}}).open();">[{% trans "add to catalog" %}]</a>
                        {% else %}
                            <span class="forbidden">[{% trans "add to catalog (forbidden)" %}]</span>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </td>
            <td class="bline-comment" colspan="5">{{line.comment|linebreaks}}</td>
        </tr>
    {% endif %}
</table>
{% endwith %}
