{% load i18n %}
{% load creme_core_tags creme_widgets creme_block %}

{% with line=form.instance currency_id=object.currency.pk %}

<table class="table_detail_view linetable linetable_{{ ct_id }}" style="border:0px;margin:0px;padding:0px;">

    <tr class="content">
        <td align="center" class="block_header_line_dark" width="5%">{% trans "Quantity" %}</td>
        <td align="center" class="block_header_line_dark" width="9%">{% trans "Unit price" %}</td>
        <td align="center" class="block_header_line_dark" width="12%">{% trans "Unit" %}</td>
        <td align="center" class="block_header_line_dark" width="29%">{% trans "Discount" %}</td>
        <td align="center" class="block_header_line_dark" width="15%">{% trans "VAT" %}</td>
        <td align="center" class="block_header_line_dark" width="10%">{% trans "Total (exclusive of tax)" %}</td>
        <td align="center" class="block_header_line_dark" width="10%">{% trans "Total (without tax)<br>discounted" %}</td>
        <td align="center" class="block_header_line_dark" width="10%">{% trans "Total (inclusive of tax)" %}</td>
    </tr>

    <tr class="content">
        <td class="line-background-color" align="center">{{form.quantity}}</td>
        <td class="line-background-color" align="center">{{form.unit_price}} {{object.currency.local_symbol}}</td>
        <td class="line-background-color" align="center">/ {{form.unit}}</td>
        <td class="line-background-color" align="center">
            {% trans "Check to apply on line total" %}<br>
            {{form.discount}} {{form.discount_unit}} {{form.total_discount}}
        </td>
        <td class="line-background-color" align="center">{{form.vat_value}}</td>
        <td class="line-background-color" align="center" name="exclusive_of_tax">{{line.get_raw_price|format_amount:currency_id}}</td>
        {% with exclusive_of_tax=line.get_price_exclusive_of_tax inclusive_of_tax=line.get_price_inclusive_of_tax %}
        <td class="line-background-color" align="center" name="discounted" value="{{exclusive_of_tax}}">{{exclusive_of_tax|format_amount:currency_id}}</td>
        <td class="line-background-color" align="center" name="inclusive_of_tax" value="{{inclusive_of_tax}}">{{inclusive_of_tax|format_amount:currency_id}}</td>
        {% endwith %}
    </tr>

    <tr class="content">
        <td align="center" class="block_header_line_dark" colspan="3">{{related_item_label}}</td>
        <td align="left" class="block_header_line_dark" colspan="5">{% trans "Comment" %}</td>
    </tr>

    <tr class="content">
        <td class="line-background-color" align="center" colspan="3">
            {% if line.pk %}
                {% with line.related_item as related_item %}
                    {% if related_item %}
                        <a href="{{related_item.get_absolute_url}}">{{related_item}}</a>
                    {% else %}
                        {{form.on_the_fly_item}}
                        {% has_perm_to create related_item_ct as item_create_perm %}
                        <br/>
                        {% if item_create_perm %}
                            <a onclick="creme.blocks.form('/billing/line/{{line.id}}/add_to_catalog', {blockReloadUrl:{% get_block_reload_uri %}}).open();">[{% trans "add to catalog" %}]</a>
                        {% else %}
                            <a class="forbidden">[{% trans "add to catalog" %}]</a>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            {% else %}
                {{form.on_the_fly_item}}
            {% endif %}
        </td>
        <td class="line-background-color" align="left" colspan="5">{{form.comment}}</td>
    </tr>

</table>

{% endwith %}
