{% load i18n creme_ctype %}
{% for line_errors in errors %}
    {% if line_errors.item %}
      {% blocktranslate with item=line_errors.item %}Errors on the line <strong>«{{item}}»:</strong>{% endblocktranslate %}
    {% else %}
      {% blocktranslate with model=line_errors.instance|ctype_for_instance %}Errors on the new «{{model}}»:{% endblocktranslate %}
    {% endif %}
    <ul class="bline-error-list">
      {% for field, msg in line_errors.errors %}
        <li>
          {% if not field %}
            {% translate 'General:' %}{{msg}}
          {% else %}
            {% blocktranslate with field_name=field.verbose_name %}Field <em>«{{field_name}}»</em>:{% endblocktranslate %}{{msg}}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% if not forloop.last %}<hr>{% endif %}
{% endfor %}