{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} sms-messaging-lists-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Related messaging list') plural=_('{count} Related messaging lists') empty=verbose_name icon='sms' %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='link' url='sms__add_mlists_to_campaign'|url:object.id label=_('Add existing messaging lists') enabled=user|has_perm_to_change:object %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='name' status='primary' %}
    {% brick_table_column title=_('Action') status='action' %}
{% endblock %}

{% block brick_table_rows %}
 {% with edit_perm=user|has_perm_to_change:object rm_mlist_url='sms__remove_mlist_from_campaign'|url:object.id %}
  {% for mlist in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %}>{% widget_entity_hyperlink mlist user %}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=rm_mlist_url __id=mlist.id label=_('Remove this messaging list') icon='unlink' enabled=edit_perm %}
        </td>
    </tr>
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No related messaging list for the moment' %}
{% endblock %}
