{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms sms_tags %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} sms-messages-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Message') plural=_('{count} Messages') empty=_('Messages') icon='sms' %}
{% endblock %}

{% comment %} BACKPORT ?
    <div class="buttons">{% translate "Send" as send_label %}{% translate "Synchronize" as sync_label %}
      {% if user|has_perm_to_change:object.camp %}
        <a class="add" onclick="sms_messages.send();">
            <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{{send_label}}" alt="{{send_label}}" />{{send_label}}
        </a>
        <a onclick="sms_messages.sync();">
            <img src="{% creme_media_url 'images/refresh_22.png' %}" border="0" title="{{sync_label}}" alt="{{sync_label}}" />{{sync_label}}
        </a>
      {% else %}
        <span class="add forbidden">
            {% translate "Can't send" as img_title %}<img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />{{send_label}}
        </span>
        <span class="forbidden">
            {% translate "Can't synchronize" as img_title %}<img src="{% creme_media_url 'images/refresh_22.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />{{sync_label}}
        </span>
      {% endif %}
    </div>
{% endcomment %}


{% block brick_table_columns %}
    {% brick_table_column title=_('Number') status='primary' %}
    {% brick_table_column title=_('Status') %}
    {% brick_table_column title=_('Status message') %}
    {% brick_table_column title=_('Action') status='action' %}
{% endblock %}

{% block brick_table_rows %}
 {% with delete_perm=user|has_perm_to_change:object.campaign delete_msg_url='sms__delete_message'|url %}
  {% for message in page.object_list %}
    <tr {# TODO class="creme-sms-message content" #} >
        <td {% brick_table_data_status primary %}>{{message.phone|sms_formatphone}}</td>
        <td {# TODO class="{{message.status}}" #}>{{message.statusname}}</td>
        <td>{{message.status_message}}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_msg_url __id=message.id label=_('Delete this message') enabled=delete_perm %}
        </td>
    </tr>
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No message in this sending' %}
{% endblock %}

{% comment %} BACKPORT ?
 <style type="text/css">
    tr.creme-sms-message td.notsent {
    }

    tr.creme-sms-message td.wait {
        background-color: #f7e895;
    }

    tr.creme-sms-message td.accept {
        background-color: #F0E7D4;
    }

    tr.creme-sms-message td.sent {
        background-color: #c8f795;
    }

    tr.creme-sms-message td.error {
        background-color: #f7a590;
    }
 </style>
 <script type="text/javascript">
    sms_messages = {
        _reload: function() {
            creme.blocks.reload('{{update_url}}?base_url={{base_url}}');
        },
        send: function() {
            creme.ajax.json.post('/sms/campaign/sending/{{object.pk}}/messages/send/', {}, sms_messages._reload, sms_messages._reload);
        },
        sync: function() {
            creme.ajax.json.post('/sms/campaign/sending/{{object.pk}}/messages/sync/', {}, sms_messages._reload, sms_messages._reload);
        }
    };
 </script>
{% endcomment %}
