{% extends "creme_core/generics/blockform/base.html" %}
{% load i18n %}
{% load creme_core_tags %}

{% block title %}
    <table class="table_header" cellpadding="0" cellspacing="0">
        <tr>
            <td class="logo"><img src="{% creme_media_url 'images/add_64.png' %}" alt=""/></td>
            <td class="title">
                <h1>{% blocktrans %}Preparation of a new generator : Step {{step}} / {{step_count}}{% endblocktrans %}</h1>
            </td>
            <td class="actions"></td>
        </tr>
    </table>
{% endblock %}

{% block submit_buttons %}
    {% csrf_token %}
    <input type="hidden" name="{{step_field}}" value="{{step0}}" />
    {{ previous_fields|safe }}
    <input type="submit" value="{% trans "Validate" %}" />
{% endblock %}
