{% extends 'creme_core/generics/portal.html' %}
{% load i18n creme_core_tags creme_widgets %}

{% block logo %}
    {% log 'The template file "creme/recurrents/templates/recurrents/portal.html" is deprecated.' level='WARN' %}
    {% widget_icon name='recurrent_doc' size='brick-hat-bar' label=_('Recurrent doc') %}
{% endblock %}
{% block title %}{% trans 'Recurrent documents portal' %}{% endblock %}
{% block list_url %}{% url 'recurrents__list_generators' %}{% endblock %}
{% block list_msg %}{% trans 'List of recurrent generators' %}{% endblock %}
