{% extends "creme_core/detailview.html" %}

{% load creme_block %}

{% block logo %}<img src="{{MEDIA_URL}}images/image_64.png" alt=""/>{% endblock %}

{% block button_tab %}
{% endblock %}

{% block detail_view_left_1 %}
    <a href="/download_file/{{ object.image }}" alt="{{ object.image }}"><img src="{{MEDIA_URL}}{{ object.image }}" width="100%" /></a>
{% endblock %}

{% block detail_view_right_1 %}
    {% include "media_managers/image_as_table.html" %}
    {% get_properties %}
    {% get_relations %}
{% endblock %}