{% extends 'creme_core/detailview.html' %}
{% load i18n creme_bricks creme_widgets %}
{% load url from creme_core_tags %}

{% block global_buttons %}
    <li>
        <a class="menu_button menu-button-icon" href="{% url 'creme_config__efilters' %}">
            {% widget_icon name='listview' size='global-button' label=_('List') %}
            {% translate 'Go to the configuration of filters' %}
        </a>
    </li>
{% endblock %}

{% block view_title %}
    {% brick_declare bricks.hat %}
    {% brick_declare bricks.main %}

    {% brick_display bricks.hat %}
{% endblock %}

{% block instance_buttons_container %}{% endblock %}

{% block main_content %}
    {% brick_display bricks.main %}
    {% brick_end %}
{% endblock %}

{% comment %}
{% extends 'creme_core/detailview.html' %}
{% load i18n creme_bricks creme_widgets %}
{% load url from creme_core_tags %}

{% block global_buttons %}
    <li>{% translate 'Go to the configuration of filters' as list_label %}
        <a class="menu_button menu-button-icon" href="{% url 'creme_config__efilters' %}">
            {% widget_icon name='listview' size='global-button' label=list_label %} {{list_label}}
        </a>
    </li>
{% endblock %}

{% block logo %} {% widget_icon name='filter' size='brick-hat-bar' label=_('Filter of Entity') %}{% endblock %}

{% block title_buttons %}
  {% with edition_url=object.get_edit_absolute_url deletion_url=object.get_delete_absolute_url %}
   {% if edition_url %}
    <div class='bar-action'>
      {% brick_bar_button action='redirect' label=_('Edit') url=edition_url icon='edit' enabled=edition_perm %}
    </div>
   {% endif %}
   {% if deletion_url %}
    <div class='bar-action'>
      {% brick_bar_button action='creme_core-hatmenubar-update-redirect' label=_('Delete') url=deletion_url icon='delete' confirm=_('Do you really want to delete this filter?') enabled=deletion_perm __redirect='creme_config__efilters'|url %}
    </div>
   {% endif %}
  {% endwith %}
{% endblock %}

{% block main_content %}
    {% brick_declare bricks %}
    {% brick_display bricks %}
    {% brick_end %}
{% endblock %}
{% endcomment %}
