{% extends 'creme_core/detailview.html' %}
{% load i18n creme_bricks creme_widgets %}

{# {% block page_title %}«{{object}}» - {% endblock %} #}

{% block global_buttons %}
    <li>{% translate 'Go to the configuration of filters' as list_label %}
        <a class="menu_button menu-button-icon" href="{% url 'creme_config__efilters' %}">
            {% widget_icon name='listview' size='global-button' label=list_label %} {{list_label}}
        </a>
    </li>
{% endblock %}

{% block logo %} {% widget_icon name='filter' size='brick-hat-bar' label=_('Filter of Entity') %}{% endblock %}

{% block title_buttons %}
  {% with edition_url=object.get_edit_absolute_url deletion_url=object.get_delete_absolute_url %}
   {% if edition_url %}
    <div class='bar-action'>
        <a href="{{edition_url}}" class="bar-button{% if not edition_perm %} forbidden is-disabled{% endif %}">
            {% widget_icon name='edit' size='brick-hat-bar-button' label=_('Edit') %}
        </a>
    </div>
   {% endif %}
   {% if deletion_url %}
    <div class='bar-action'>
{# NO A BRICK  {% brick_bar_button action='creme_core-detailview-delete' label=_('Delete') url='creme_core__delete_efilter'|url icon='delete' confirm=_('Do you really want to delete this filter?') enabled=deletion_perm %} #}
      {% if deletion_perm %}{% translate 'Do you really want to delete this filter?' as confirm_msg %}
        <a onclick="creme.utils.confirmSubmit(this, '{{confirm_msg|escapejs}}');" class="bar-button">
            {% widget_icon name='delete' size='brick-hat-bar-button' %}
            <form method="POST" action="{{deletion_url}}" style="display:none;">{% csrf_token %}</form>
        </a>
      {% else %}
        <span class="bar-button forbidden is-disabled">
            {% widget_icon name='delete' size='brick-hat-bar-button' %}
        </span>
      {% endif %}
    </div>
   {% endif %}
  {% endwith %}
{% endblock %}

{% block main_content %}
    {% brick_declare bricks %}
    {% brick_display bricks %}
    {% brick_end %}
{% endblock %}
