{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="label">{% get_basic_block_header _("Target") %}</th>
    {% end_get_block_header %}
    <tbody class="collapsable">
    {% with target=object.get_target source=object.get_source %}
        <tr>
            <th class="block_header_line_light th_info" align="center" valign="center" style="width: 60%;"><h1>{% trans "Target organisation" %}</h1></th>
            <td class="block_line_light td_info" text-align="center" valign="center" style="width: 40%;"><h1>{% if target %}{% widget_entity_hyperlink target user %}{% endif %}</h1></td>
        </tr>
        <tr>
            <th class="block_header_line_dark th_info" align="center" valign="center" style="width: 60%;"><h3>{% trans "Source organisation" %}</h3></th>
            <td class="block_line_dark td_info" align="center" valign="center" style="width: 40%;"><h3>{% if source %}{% widget_entity_hyperlink source user %}{% endif %}</h3></td>
        </tr>
    {% endwith %}
    </tbody>
</table>