{% load i18n %}
{% load creme_core_tags %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=2 %}
        <th style="width: 80%;" align="left" class="collapser">{% get_basic_block_header _("Target") %}</th>
        <th style="width: 20%;" align="right"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr>
             <th class="block_header_line_dark th_info" align="center" valign="center"><h1>{% trans "Target organisation" %}</h1></th>
            {% with object.get_target as target %}
                <td class="block_line_dark td_info" text-align="center" valign="center"><h1>{% if target %}<a href="{{target.get_absolute_url}}">{{target}}</a>{% endif %}</h1></td>
            {% endwith %}
        </tr>
        <tr>
             <th class="block_header_line_dark th_info" align="center" valign="center"><h3>{% trans "Source organisation" %}</h3></th>
            {% with object.get_source as source %}
                <td class="block_line_dark td_info" text-align="center" valign="center"><h3>{% if source %}<a href="{{source.get_absolute_url}}">{{source}}</a>{% endif %}</h3></td>
            {% endwith %}
        </tr>
    </tbody>
</table>