{% load i18n %}
{% load creme_core_tags %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=2 %}
        <th class="collapser label">{% get_basic_block_header _("Totals") %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr>
             <th class="block_header_line_dark th_info" align="center" valign="center" style="width: 60%;"><h1>{% trans "Total (exclusive of tax)" %}</h1></th>
             <td class="block_line_dark td_info" align="center" valign="center" style="width: 40%;">
                 <h1>
                    {{object.get_total|format_amount:object.currency.pk}}
                 </h1>
             </td>
        </tr>
        <tr>
             <th class="block_header_line_light th_info" align="center" valign="center" style="width: 60%;"><h1>{% trans "Total (inclusive of tax)" %}</h1></th>
             <td class="block_line_light td_info" align="center" valign="center" style="width: 40%;">
                 <h1>
                     {{object.get_total_with_tax|format_amount:object.currency.pk}}
                 </h1>
             </td>
        </tr>
    </tbody>
</table>
