{% load i18n %}
{% load creme_core_tags creme_block %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=4 %}
        <th class="collapser label">{% get_block_title _('%s Received invoice') _('%s Received invoices') 'invoice_48.png' _('Invoice') %}</th>
        <th class="actions">
            <div class="buttons">
                {% has_perm_to change object as has_perm %}
                {% get_line_adder at_url '/billing/invoice/add/{{ object.id }}' with_label _("Add an invoice") with_perms has_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Expiration date" %}</th>
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                <th class="block_header_line_dark">{% trans "Total with VAT" %}</th>
            </tr>
            {% for invoice in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    {% has_perm_to view invoice as invoice_view_perm %}
                    {% if invoice_view_perm %}
                        <td class="{{row_color}}"><a href="{{invoice.get_absolute_url}}">{{invoice}}</a></td>
                        <td class="{{row_color}}">{{invoice.expiration_date|default:''}}</td>
                        <td class="{{row_color}}">{{invoice.status}}</td>
                        <td class="{{row_color}}">{{invoice.total_vat}}</td>
                    {% else %}
                        <td class="{{row_color}}">{{invoice|allowed_unicode:user}}</td>
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No received invoice for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 4 %}
</table>
