{% load i18n %}
{% load creme_core_tags creme_block %}
{# TODO: Merge with block_received_invoices.html ? #}
<table  class="table_detail_view ui-corner-all with-header" id={{block_name}}>
    {% get_block_header colspan=5 %}
        <th class="collapser label">{% get_block_title _('%s Received billing document') _('%s Received billing documents') 'invoice_48.png' _('Billing document') %}</th>
        <th class="actions">
            <div class="buttons"></div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _('Name') 'name' %}
                {% get_column_header _('Expiration date') 'expiration_date' %}
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                {% get_column_header _('Total with VAT') 'total_vat' %}
                {% get_column_header _('Type') 'entity_type' %}{# TODO: Sort is not on translated string #}
            </tr>
            {% for document in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                {% with document.get_real_entity as billing_document %}
                <tr class="content">
                    {% has_perm_to view billing_document as invoice_view_perm %}
                    {% if invoice_view_perm %}
                        <td class="{{row_color}}"><a href="{{billing_document.get_absolute_url}}">{{billing_document}}</a></td>
                        <td class="{{row_color}}">{{billing_document.expiration_date|default:''}}</td>
                        <td class="{{row_color}}">{{billing_document.status}}</td>
                        <td class="{{row_color}}">{{billing_document.total_vat}}</td>
                        <td class="{{row_color}}">{{billing_document.entity_type}}</td>
                    {% else %}
                        <td class="{{row_color}}">{{billing_document|allowed_unicode:user}}</td>
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                    {% endif %}
                </tr>
                {% endwith %}
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No received billing document for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
