{% load i18n creme_core_tags creme_block creme_widgets %}

{% log 'The template file "creme/billing/templates/billing/templatetags/block_credit_note.html" is deprecated.' level='WARN' %}

{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}
{% with hidden_count=hidden_fields|length %}{% with colspan=10|sub:hidden_count %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=colspan %}
        <th class="label">
            {% block block_header %}
                {% get_block_title _("%s Credit Note") _("%s Credit Notes") 'invoice_48.png' _('Credit Notes') %}
            {% endblock %}
        </th>
        <th class="actions">
            <div class="buttons">{% url 'billing__link_to_cnotes' object.id as link_url %}
                {% get_line_linker at_url link_url with_label _("Link to existing credit notes") with_perms link_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark cnote-name">{% trans "Name" %}</th>
                <th class="block_header_line_dark cnote-number">{% trans "Number" %}</th>
                <th class="block_header_line_dark cnote-status">{% trans "Status" %}</th>
                {% if 'comment' not in hidden_fields %}<th class="block_header_line_dark cnote-comment">{% trans "Comment" %}</th>{% endif %}
                {% if 'issuing_date' not in hidden_fields %}<th class="block_header_line_dark cnote-issuing">{% trans "Issuing date" %}</th>{% endif %}
                {% if 'expiration_date' not in hidden_fields %}<th class="block_header_line_dark cnote-expiration">{% trans "Expiration date" %}</th>{% endif %}
                <th class="block_header_line_dark cnote-total-no-tax">{% trans "Total (exclusive of tax)" %}</th>
                <th class="block_header_line_dark cnote-total">{% trans "Total (inclusive of tax)" %}</th>
                <th class="block_header_line_dark cnote-unlink">{% trans "Unlink" %}</th>
            </tr>
            {% for credit_note in page.object_list %}{% cycle "block_line_light" "block_line_dark" as row_color silent %}
                <tr class="content">{% has_perm_to view credit_note as credit_note_view_perm %}{% has_perm_to change credit_note as credit_note_edit_perm %}{% has_perm_to unlink credit_note as credit_note_unlink_perm %}
                    {% if credit_note_view_perm %}
                        <td class="{{row_color}} cnote-name">#{{forloop.counter}} - {% widget_entity_hyperlink credit_note user %}</td>
                        <td class="{{row_color}} cnote-number">{{credit_note.number}}</td>
                        <td class="{{row_color}} cnote-status">{{credit_note.status}}</td>
                        {% if 'comment' not in hidden_fields %}
                            <td class="{{row_color}} cnote-comment" id="comment{{credit_note.pk}}" {% if credit_note.comment %}title="{{credit_note.comment}}"{% endif %}>
                                {% if credit_note.comment %}
                                    {{credit_note.comment|linebreaksbr}}
                                {% endif %}
                                {% url 'billing__edit_cnote_comment' credit_note.id as edit_comment_url %}{% get_line_editor at_url edit_comment_url with_perms credit_note_edit_perm %}
                            </td>
                        {% endif %}
                        {% if 'issuing_date' not in hidden_fields %}<td class="{{row_color}} cnote-issuing">{% print_field object=credit_note field='issuing_date' %}</td>{% endif %}
                        {% if 'expiration_date' not in hidden_fields %}<td class="{{row_color}} cnote-expiration">{% print_field object=credit_note field='expiration_date' %}</td>{% endif %}
                        <td class="{{row_color}} cnote-total-no-tax">-{{credit_note.total_no_vat|format_amount:credit_note.currency}}</td>
                        <td class="{{row_color}} cnote-total">-{{credit_note.total_vat|format_amount:credit_note.currency}}</td>
                        <td class="{{row_color}} cnote-unlink">{% url 'billing__delete_related_cnote' credit_note.pk object.pk as unlink_url %}
                            {% get_line_unlinker at_url unlink_url with_args "{ 'subject_id':{{object.pk}}, 'type':'{{rtype_id}}', 'object_id':{{credit_note.pk}} }" with_perms unlink_perm|and_op:credit_note_unlink_perm %}
                        </td>
                    {% else %}
                        <td class="{{row_color}}" colspan="{{colspan}}">{% widget_entity_hyperlink credit_note user %}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">
                    {% block empty_msg %}{% trans "No related credit note for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer colspan %}
</table>
{% endwith %}{% endwith %}