{% load i18n %}
{% load creme_core_tags creme_block %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=6 %}
        <th class="collapser label">{% get_block_title _('%s Payment information') _('%s Payments information') 'money_info_48.png' _('Payment information') %}</th>
        <th class="actions">
            <div class="buttons">
                {% has_perm_to change object as has_perm %}
                {% get_line_adder at_url '/billing/payment_information/add/{{ object.id }}' with_label _("Add a payment information") with_perms has_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _('Name') 'name' %}
                <th class="block_header_line_dark">{% trans "RIB" %}</th>
                <th class="block_header_line_dark">{% trans "IBAN" %}</th>
                <th class="block_header_line_dark">{% trans "BIC" %}</th>
                <th class="block_header_line_dark">{% trans "Is default?" %}</th>
                <th class="block_header_line_dark action">{% trans "Actions" %}</th>
            </tr>
            {% for payment_info in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{{payment_info.name}}</td>
                    <td class="{{row_color}}">
                        <table>
                            <tr>
                                <th class="th_info">{% trans "Bank code" %}</th>
                                <td class="td_info">{{payment_info.bank_code}}</td>
                            </tr>
                            <tr>
                                <th class="th_info">{% trans "Counter code" %}</th>
                                <td class="td_info">{{payment_info.counter_code}}</td>
                            </tr>
                            <tr>
                                <th class="th_info">{% trans "Account number" %}</th>
                                <td class="td_info">{{payment_info.account_number}}</td>
                            </tr>
                            <tr>
                                <th class="th_info">{% trans "Rib key" %}</th>
                                <td class="td_info">{{payment_info.rib_key}}</td>
                            </tr>
                            <tr>
                                <th class="th_info">{% trans "Banking domiciliation" %}</th>
                                <td class="td_info">{{payment_info.banking_domiciliation}}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="{{row_color}}">{{payment_info.iban}}</td>
                    <td class="{{row_color}}">{{payment_info.bic}}</td>
                    <td class="{{row_color}}">{% print_field object=payment_info field='is_default' %}</td>
                    <td class="{{row_color}} action">
                        {% get_line_editor at_url '/billing/payment_information/edit/{{payment_info.id}}' with_perms has_perm %}
                        {% get_line_deletor at_url '/creme_core/entity/delete_related/{{ct_id}}' with_args "{'id' : {{payment_info.id}} }" with_perms has_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No payment information for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 6 %}
</table>
