{% extends 'billing/templatetags/line.html' %}
{% load i18n %}
{% load creme_core_tags %}{% load creme_block %}

{% block header %}
{% comment %}   TODO: in a billing.js file ?  {% endcomment %}
    <script type="text/javascript">
        if(!creme.product_line) creme.product_line = {}
        creme.product_line.auto_populate_selection = function(id, targetInputId, nodesToPopulate) {
            var $form = $('#' + targetInputId).parents('form');
            var fields = nodesToPopulate.values;

            creme.ajax.json.post(
                '/creme_core/entity/json',
                {
                    pk:id[0],
                    fields:fields
                },
                function(data){
                    for(var i in fields) {
                        var field = nodesToPopulate.values[i];
                        var node = $form.find('[' + nodesToPopulate.attr + '=' + field + ']');
                        if(node.size() > 0) {
                            node.val(data[0].fields[field]);
                        }
                    }
                }
            );
        }
    </script>
    {% get_block_title _('%s related Product') _('%s related Products') 'product_48.png' _('Product') %}
{% endblock %}

{% block add_buttons %}
    {% has_perm_to change object as has_perm %}
    {% get_line_adder at_url '/billing/{{object.id}}/product_line/add' with_label _("Add from an existing Product") with_perms has_perm %}
    {% get_line_adder at_url '/billing/{{object.id}}/product_line/add_on_the_fly' with_label _("Add a line on the fly") with_perms has_perm %}
{% endblock %}

{% block item_name %}{% trans "Product" %}{% endblock %}

{% block empty_msg %}{% trans "No product in this document" %}{% endblock %}

{% block line_actions %}
    {% has_perm_to change object as has_perm %}
    {% get_line_editor at_url '/billing/productline/{{line.id}}/edit' with_perms has_perm %}
    {{block.super}}
{% endblock %}