{% extends 'billing/templatetags/line.html' %}
{% load i18n %}
{% load media %}
{% load creme_core_tags creme_block %}

{% block header %}
    {% get_block_title _('%s related Service') _('%s related Services') 'service_48.png' _('Service') %}
{% endblock %}

{% block add_buttons %}
    {% has_perm_to change object as has_perm %}
    {% get_line_adder at_url '/billing/{{object.id}}/service_line/add' with_label _("Add from an existing Service") with_perms has_perm %}
    {% get_line_adder at_url '/billing/{{object.id}}/service_line/add_on_the_fly' with_label _("Add a line on the fly") with_perms has_perm %}
    <a class="list" onclick="creme.utils.showInnerPopup('/creme_core/lv_popup/{{ct_id}}/1?q_filter={{q_filter}}', {'send_button': false});">
        <img src="{% media_url 'images/view_22.png' %}" border="0" title="{% trans "All related services" %}" alt="{% trans "All related services" %}" />
        {% trans "List of related services" %}
    </a>
{% endblock %}

{% block item_name %}{% trans "Service" %}{% endblock %}

{% block empty_msg %}{% trans "No service in this document" %}{% endblock %}

{% block line_actions %}
    {% has_perm_to change object as has_perm %}
    {% get_line_editor at_url '/billing/serviceline/{{line.id}}/edit' with_perms has_perm %}
    {{block.super}}
{% endblock %}
