{% load i18n %}
{% load creme_core_tags %}
{% load creme_block %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    <thead>
        <tr><th colspan="2" align="left">{% trans "Target" %}</th></tr>
    </thead>
    <tbody class="collapsable">
        <tr>
             <th class="block_header_line_dark th_info" align="center" valign="center"><h1>{% trans "Target organisation" %}</h1></th>
            {% with object.get_target as target %}
                <td class="block_line_dark td_info" text-align="center" valign="center"><h1>{% if target %}<a href="{{target.get_absolute_url}}">{{target}}</a>{% endif %}</h1></td>
            {% endwith %}
        </tr>
        <tr>
             <th class="block_header_line_dark th_info" align="center" valign="center"><h3>{% trans "Source organisation" %}</h3></th>
            {% with object.get_source as source %}
                <td class="block_line_dark td_info" text-align="center" valign="center"><h3>{% if source %}<a href="{{source.get_absolute_url}}">{{source}}</a>{% endif %}</h3></td>
            {% endwith %}
        </tr>
    </tbody>
</table>