{% extends 'billing/templatetags/line.html' %}
{% load i18n %}
{% load creme_block %}

{% block header %}
{% comment %}   TODO: in a billing.js file ?  {% endcomment %}
    <script type="text/javascript">
        if(!creme.product_line) creme.product_line = {}
        creme.product_line.auto_populate_selection = function(id, targetInputId, nodesToPopulate){
            var $form = $('#'+targetInputId).parents('form');
            var fields = nodesToPopulate.values;

            creme.ajax.json.post(
                '/creme_core/entity/json',
                {
                    pk:id[0],
                    fields:fields
                },
                function(data){
                    for(var i in fields)
                    {
                        var field = nodesToPopulate.values[i];
                        var node = $form.find('['+nodesToPopulate.attr+'='+field+']');
                        if(node.size() > 0)
                        {
                            node.val(data[0].fields[field]);
                        }
                    }
                }
            );
        }
    </script>
    {% get_block_title _('%s related Product') _('%s related Products') 'product_48.png' _('Product') %}
{% endblock %}

{% block add_buttons %}
    <a class="add" onclick="creme.utils.innerPopupNReload('/billing/{{object.id}}/product_line/add', {% get_block_reload_uri %});">
        <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add a product" %}" alt="{% trans "Add a product" %}" />
        {% trans "Add from an existing Product" %}
    </a>
    <a class="add" onclick="creme.utils.innerPopupNReload('/billing/{{object.id}}/product_line/add_on_the_fly', {% get_block_reload_uri %});">
        <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add a product" %}" alt="{% trans "Add a product" %}" />
        {% trans "Add a line on the fly" %}
    </a>
{% endblock %}

{% block item_name %}{% trans "Product" %}{% endblock %}

{% block empty_msg %}{% trans "No product in this document" %}{% endblock %}

{% block line_actions %}
    <a class="button_link" onclick="creme.utils.innerPopupNReload('/billing/productline/{{line.id}}/edit', {% get_block_reload_uri %});">
        <img src="{{MEDIA_URL}}images/edit_22.png" border="0">
    </a>
    {{block.super}}
{% endblock %}