{% load i18n %}
{% load media %}
{% load creme_core_tags %}{% load creme_block %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=12 %}
        <th style="width: 80%;" class="collapser" align="left">{% block header %}HEADER{% endblock %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% block add_buttons %}BUTTONS HERE{% endblock %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Quantity" %}</th>
                <th class="block_header_line_dark">{% trans "Total discount" %}</th>
                <th class="block_header_line_dark">{% trans "Discount" %}</th>
                <th class="block_header_line_dark">{% trans "Credit" %}</th>
                <th class="block_header_line_dark">{% trans "Comment" %}</th>
                <th class="block_header_line_dark">{% trans "Unit price" %}</th>
                <th class="block_header_line_dark">{% block item_name %}ITEM NAME{% endblock %}</th>
                <th class="block_header_line_dark">{% trans "VAT" %}</th>
                <th class="block_header_line_dark">{% trans "Total (exclusive of tax)" %}</th>
                <th class="block_header_line_dark">{% trans "Total (inclusive of tax)" %}</th>
                <th class="block_header_line_dark">{% trans "Paid ?" %}</th>
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for line in page.object_list %}
                <!-- {% cycle "block_line_dark" "block_line_light" as row_color %} -->
                <tr>
                    <td class="{{row_color}}">{{line.quantity}}</td>
                    <td class="{{row_color}}">{{line|get_html_field_value:"total_discount"}}</td>
                    <td class="{{row_color}}">{{line.discount}}</td>
                    <td class="{{row_color}}">{{line.credit}}</td>
                    <td class="{{row_color}}">{{line|get_html_field_value:"comment"}}</td>
                    <td class="{{row_color}}">{{line.unit_price}}</td>
                    <td class="{{row_color}}">
                        {% if line.related_item %}
                            <a href="{{line.related_item.get_absolute_url}}">{{line.related_item}}</a>
                        {% else %}
                            {{line.on_the_fly_item}}
                        {% endif %}
                    </td>
                    <td class="{{row_color}}">{{line.vat}}</td>
                    <td class="{{row_color}}">{{line.get_price_exclusive_of_tax}}</td>
                    <td class="{{row_color}}">{{line.get_price_inclusive_of_tax}}</td>
                    <td class="{{row_color}}">
                        <form method="POST" action="/billing/line/{{line.id}}/update" id="updateStatus{{line.id}}">{% csrf_token %}
                            <input type="checkbox" name="paid" {% if line.is_paid %}checked{% endif %}>
                            <a onclick="$('#updateStatus{{line.id}}').submit();">{# TODO: Ajax with block reload instead of the entire page ? #}
                                <img src="{% media_url 'images/refresh_16.png' %}" width="16" height="14" border="0">
                            </a>
                        </form>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% block line_actions %}
                            {% has_perm_to change object as has_perm %}
                            {% get_line_deletor at_url '/creme_core/entity/delete_related/{{ct_id}}' with_args "{'id': '{{line.id}}' }" with_perms has_perm %}
                        {% endblock %}
                   </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% block empty_msg %}EMPTY{% endblock %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>