{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}

{# /!\ See view_billing.html for javascrip document ready related to block lines #}

<script type='text/javascript'>
    // init block after a json reload
    creme.billing.initBlockLines('{{object.currency.local_symbol}}');
</script>

<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id={{block_name}}>
    {% get_block_header colspan=5 %}
        <th class="label">{% block block_title %}HEADER{% endblock %}</th>{# TODO more than one on the fly line at the same time ?? #}
        <th class="actions" style="width:75%">{% comment %}TODO: remove this inline style when block header is fixed with log titles & lots of buttons{% endcomment %}
            <div class="buttons">{% has_perm_to change object as change_perm %}{% trans "Add a line on the fly" as add_label %}{% trans "Save all lines" as save_label %}
                {% block add_buttons %}BUTTONS HERE{% endblock %}
                {% if change_perm %}
                    <a class="add add_on_the_fly_{{ct_id}}" onclick="creme.billing.showEmptyForm($(this), '{{ct_id}}', '{{formset.prefix}}', {{item_count}});return false;">
                        <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{{add_label}}" alt="{{add_label}}" />{{add_label}}
                    </a>
                    <a class="add" onclick="creme.billing.multi_save_lines('{{object.pk}}');return false;">
                        <img src="{% creme_media_url 'images/ok_22.png' %}" border="0" title="{{save_label}}" alt="{{save_label}}" />{{save_label}}
                    </a>
                {% else %}
                    <span class="add forbidden">
                        <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{{add_label}}" alt="{{add_label}}" />{{add_label}}
                    </span>
                    <span class="add forbidden">
                        <img src="{% creme_media_url 'images/ok_22.png' %}" border="0" title="{{save_label}}" alt="{{save_label}}" />{{save_label}}
                    </span>
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    {% comment %} TODO improve the opti of reload block that only have been modified {% endcomment %}
    <tbody class="collapsable" ct_id="{{ct_id}}" id="form_id_{{ct_id}}" block_name="{{block_name}}" reload_url={% get_block_reload_uri %}>
        {% csrf_token %}
        {{formset.management_form}}

        {% for form in formset %}
            <tr style="display: none">
                <td>{{form.user}} {{form.DELETE}} {{form.line_ptr}}</td>
            </tr>

            <tr class="content">
                <td colspan="13" style="padding:0px 0px;">
                    <table class="linetable-container">

                        <th class="block_header_line_light linetable-header" align="center" width="2%" id="line_content_{{form.instance.id}}">
                            {{forloop.counter}}
                            <br /><br />
                            <a onclick="creme.billing.markDelete('{{form.prefix}}', '{{ct_id}}', '{{form.instance.id}}');">
                                <img src="{% creme_media_url 'images/delete_16.png' %}" border="0" title="{% trans "flag for delete" %}" alt="{% trans "flag for delete" %}">
                            </a>
                            <br /><br />
                            <a onclick="creme.billing.restoreInitialValues({{form.instance.id}}, '{{form.prefix}}', '{{ ct_id }}');">
                                <img src="{% creme_media_url 'images/refresh_16.png' %}" border="0" title="{% trans "reset" %}" alt="{% trans "reset" %}">
                            </a>
                        </th>

                        <td class="restorable_{{form.instance.id}}" style="padding:0px 0px;background-color: #F4FAFD;">
                            {% include "billing/frags/generic_billing_line_frag.html" %}
                        </td>

                    </table>
                </td>
            </tr>

            {% if not forloop.last %}<tr class="linetable-separator"><td class="line-background-color" colspan="10"></td></tr>{% endif %}

        {% empty %}
            <tr class="empty_msg_{{ct_id}}"><td>{% block empty_msg %}HEADER{% endblock %}</td></tr>
        {% endfor %}

        {% if formset %}
            <tr class="empty_form_{{ct_id}} space_line_{{ct_id}} linetable-separator" style="display: none">
                <td class="line-background-color"></td>
            </tr>

            {% with formset.empty_form as form %}
            <tr class="content empty_form_{{ct_id}}" style="display: none">
                <td colspan="13" style="padding:0px 0px;">

                    <table class="linetable-container empty_form_inputs_{{ct_id}}">
                        <tr>
                            <td style="display: none"> {{form.user}} {{form.DELETE}} {{form.line_ptr}} </td>

                            <th class="block_header_line_light linetable-header" align="center" width="2%" id="line_content_{{ct_id}}_{{form.prefix}}">
                                <a onclick="creme.billing.hideEmptyForm('{{ ct_id }}', '{{formset.prefix}}', {{item_count}});">
                                    <img src="{% creme_media_url 'images/delete_16.png' %}" border="0" alt="{% trans "flag for delete" %}">
                                </a>
                            </th>

                            <td style="padding:0px 0px;background-color: #F4FAFD;">
                                {% include "billing/frags/generic_billing_line_frag.html" %}
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            {% endwith %}
        {% endif %}
    </tbody>
</table>
