{% load i18n creme_widgets %}
{% load log from creme_core_tags %}

{% log 'The file "creme/creme_core/templates/creme_core/generics/error.html" is deprecated' level='WARN' %}

<div>
    <div class="hat-bar-container error">
        <div class="hat-bar">
            <div class="bar-icon">{% widget_icon name='cancel' size='brick-hat-bar' label=_('Error') %}</div>{# TODO: need a true "error" icon #}
            <div class="bar-title">
                <h1>{% translate 'Error' %}</h1>
            </div>
        </div>
    </div>
    {{error_message}}
</div>
