<div class="in-popup">
    <div id="inner_header" style="display: none;">
        <input name="inner_header_from_url" value="{{from_url}}" type="hidden"/>
        <script type="text/javascript">
                {% if is_valid %}
                    {% if callback_url %}
                        creme.utils.closeDialog($('#{{whoami}}'), {{reload}}, undefined,'{{callback_url}}');
                    {% else %}
                        {% if delegate_reload %}
                            {% comment %}
                                Let you define your own beforeClose with default close callback
                                OR (entire own) close callback think about set.
                                Think to set delegate_reload to True in your view
                            {% endcomment %}
                            $('#{{whoami}}').dialog('close');
                        {% else %}
                            creme.utils.closeDialog($('#{{whoami}}'), {{reload}});
                        {% endif %}
                    {% endif %}
                {% else %}
                    creme.widget.ready();
                {% endif %}
        </script>
    </div>
    <div name="inner_body">
        <input type="hidden" name="whoami" value="{{whoami}}"/>
        <input type="hidden" name="is_valid" value="{{is_valid}}"/>
        {% for persist_key, persist_values in persisted.items %}
            {% for persist_value in persist_values %}
                <input type="hidden" name="{{ persist_key }}" value="{{persist_value}}"/>
                <input type="hidden" name="persist" value="{{ persist_key }}"/>
            {% endfor %}
        {% endfor %}
        {{html}}
    </div>
</div>
