<div class="in-popup" {% if is_valid %}closing="true"{% endif %} {% if callback_url %}redirect="{{callback_url}}"{% endif %}{% if reload %} force-reload{% endif %}{% if delegate_reload %} delegate-reload{% endif %}>
    <div id="inner_header" style="display: none;">
        <input name="inner_header_from_url" value="{{from_url}}" type="hidden"/>
    </div>
    <div name="inner_body">
        <input type="hidden" name="whoami" value="{{whoami}}"/>
        {% for persist_key, persist_values in persisted.items %}
            {% for persist_value in persist_values %}
                <input type="hidden" name="{{persist_key}}" value="{{persist_value}}"/>
                <input type="hidden" name="persist" value="{{persist_key}}"/>
            {% endfor %}
        {% endfor %}
        {{html}}
    </div>
</div>
