{% extends "creme_core/base.html" %}
{% load i18n %}
{% load creme_block %}

{% block extrahead %}
    <script>
        $(document).ready(function(){
            creme.utils.bindShowHideTbody();
        });
    </script>
{% endblock %}

{% block content %}
    <table class="table_header" cellpadding="0" cellspacing="0">
        <tr>
            <td width="5%">{% block logo %}{% endblock %}</td>
            <td width="75%"><h1>{% block title %}{% endblock %}</h1></td>
            <td width="20%" align="right">
                {% block header_link %}
                    <a href="{% block list_url %}{% endblock %}">
                        {% block list_msg %}{% endblock %}
                        <img src="{{MEDIA_URL}}images/right_arrow_64.png" title="{% trans "Go to the list" %}" alt="{% trans "Go to the list" %}"/>
                    </a>
                {% endblock %}
            </td>
        </tr>
    </table>

    {% if config_url %}
        <div>
            <ul class="button_list hbox">
                <li>
                    <a class="menu_button" href="{{config_url}}">
                        <img src="{{MEDIA_URL}}images/config_32.png" border="0" title="{% trans "Configure" %}" alt="{% trans "Configure" %}" />
                        {% trans "Configure" %}
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}

    {% block creme_blocks_import %}
        {% import_portal_blocks ct_ids %}
    {% endblock %}

    {% block before_statistics %}{% endblock %}

    {% block statistics %}
        <table class="table_detail_view ui-corner-all">
            {% get_basic_block_header _('Statistics') 'infos_48.png' _('Information') %}
            <tbody class="collapsable">
                {% for statk, statv in stats %}
                    <tr>
                        <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{{statk}}</th>
                        <td class="{% cycle "block_line_dark" "block_line_light" %}">{{statv}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock statistics %}

    {% block extra_infos %}
        {% display_portal_blocks ct_ids %}
    {% endblock %}

    {% get_blocks_dependencies %}
{% endblock %}