{% extends "creme_core/detailview.html" %}
{% load creme_widgets %}{% comment %}creme_block{% endcomment %}

{% block add_new_button %}
    {% if path %}
        <li>{% get_add_button object request.user %}</li>
    {% endif %}
    <li>{% get_clone_button object request.user %}</li>
{% endblock %}

{% block entity_buttons %}
    {% if path %}
        {% get_edit_button object request.user %}
        &nbsp;
        {% get_delete_button object request.user %}
    {% endif %}
{% endblock %}

{% comment %}{% block creme_blocks_import %}
    {{block.super}}
{% endblock %}{% endcomment %}

{% comment %}{% block detail_view_left_1 %}
    {% display_block_detailview 'object_block' %}
    {% block after_object_as_table_1 %}{% endblock %}
{% endblock %}{% endcomment %}
