{% extends "creme_core/detailview.html" %}
{% load creme_widgets %}

{% block add_new_button %}
    {% if path %}
        <li>{% get_add_button object user %}</li>
    {% endif %}
    {% if not object.is_deleted %}<li>{% get_clone_button object user %}</li>{% endif %}
{% endblock %}

{% block entity_buttons %}
    {% comment %}{% if path %}{% endcomment %}
        {% get_edit_button object user %}
        {% if object.is_deleted %}&nbsp;{% get_restore_button object user %}</li>{% endif %}
        &nbsp;
        {% block delete_button %}{% get_delete_button object user %}{% endblock %}
    {% comment %}{% endif %}{% endcomment %}
{% endblock %}
