{% extends "creme_core/detailview.html" %}

{% load creme_block creme_widgets %}

{% block add_new_button %}
    {% if path %}
        <li>{% get_add_button object request.user %}</li>
    {% endif %}
    <li>{% get_clone_button object request.user %}</li>
{% endblock %}

{% block entity_buttons %}
    {% if path %}
        {% get_edit_button object request.user %}
        &nbsp;
        {% get_delete_button object request.user %}
    {% endif %}
{% endblock %}

{% block creme_blocks_import %}
    {{block.super}}
    {% comment %}{% import_block from_app 'creme_core' named 'customfields' as 'customfields_block' %}{% endcomment %}
    {% comment %}{% import_block from_app 'creme_core' named 'relations' as 'relations_block' %}{% endcomment %}
    {% comment %}{% import_block from_app 'creme_core' named 'properties' as 'properties_block' %}{% endcomment %}
{% endblock %}

{% block detail_view_left_1 %}
    {% display_block_detailview 'object_block' %}
    {% comment %}{% display_block_detailview 'customfields_block' %}{% endcomment %}
    {% block after_object_as_table_1 %}{% endblock %}
    {% comment %}{% display_block_detailview 'properties_block' %}{% endcomment %}
    {% comment %}{% display_block_detailview 'relations_block' %}{% endcomment %}
{% endblock %}
