{% load i18n %}
{% load creme_block %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_basic_block_header _("Addresses") 'infos_48.png' _('Addresses') %}
    <tbody class="collapsable">
        <!-- {% cycle "block_line_dark"  "block_line_light" as row_color_b %}
             {% cycle "block_line_light" "block_line_dark"  as row_color_s %}-->
        <tr>
            <th colspan="2" class="block_header_line_dark" >{% trans "Billing address" %}</th>
            <th colspan="2" class="block_header_line_light">{% trans "Shipping address" %}</th>
        </tr>
        <tr>
            <th class="block_header_line_dark  th_info_4_columns">{% trans "Address" %}</th><td class="{% cycle row_color_b %} td_info_4_columns" >{{object.billing_address.address}}</td>
            <th class="block_header_line_light th_info_4_columns">{% trans "Address" %}</th><td class="{% cycle row_color_s %} td_info_4_columns">{{object.shipping_address.address}}</td>
        </tr>
        <tr>
            <th class="block_header_line_dark  th_info_4_columns">{% trans "PO box" %}</th><td class="{% cycle row_color_b %} td_info_4_columns">{{object.billing_address.po_box}}</td>
            <th class="block_header_line_light th_info_4_columns">{% trans "PO box" %}</th><td class="{% cycle row_color_s %} td_info_4_columns">{{object.shipping_address.po_box}}</td>
        </tr>
        <tr>
            <th class="block_header_line_dark  th_info_4_columns">{% trans "City" %}</th><td class="{% cycle row_color_b %} td_info_4_columns">{{object.billing_address.city}}</td>
            <th class="block_header_line_light th_info_4_columns">{% trans "City" %}</th><td class="{% cycle row_color_s %} td_info_4_columns">{{object.shipping_address.city}}</td>
        </tr>
        <tr>
            <th class="block_header_line_dark  th_info_4_columns">{% trans "State" %}</th><td class="{% cycle row_color_b %} td_info_4_columns">{{object.billing_address.state}}</td>
            <th class="block_header_line_light th_info_4_columns">{% trans "State" %}</th><td class="{% cycle row_color_s %} td_info_4_columns">{{object.shipping_address.state}}</td>
        </tr>
        <tr>
            <th class="block_header_line_dark  th_info_4_columns">{% trans "Zip code" %}</th><td class="{% cycle row_color_b %} td_info_4_columns">{{object.billing_address.zipcode}}</td>
            <th class="block_header_line_light th_info_4_columns">{% trans "Zip code" %}</th><td class="{% cycle row_color_s %} td_info_4_columns" >{{object.shipping_address.zipcode}}</td>
        </tr>
        <tr>
            <th class="block_header_line_dark  th_info_4_columns">{% trans "Country" %}</th><td class="{% cycle row_color_b %} td_info_4_columns">{{object.billing_address.country}}</td>
            <th class="block_header_line_light th_info_4_columns">{% trans "Country" %}</th><td class="{% cycle row_color_s %} td_info_4_columns">{{object.shipping_address.country}}</td>
        </tr>
    </tbody>
</table>