{% load i18n creme_core_tags creme_block creme_widgets %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="label">{% get_block_title _('%s Managed organisation') _('%s Managed organisations') 'organisation_48.png' _('Organisation') %}</th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header toolbar">
            <th colspan="2" class="block_header_line_dark">
                {% has_perm_to admin 'creme_core' as app_perm %}
{#                {% get_line_adder at_url '/persons/organisation/managed' with_label _("Manage new organisations") with_perms app_perm %} #}
                {% url 'persons__orga_set_managed' as set_managed_url %}{% get_line_adder at_url set_managed_url with_label _('Manage new organisations') with_perms app_perm %}
                <span class="tips">(eg: managed organisations can generate numbers for their invoices, or emit opportunities)</span>
            </th>
        </tr>
        {% with count=page.paginator.count %}
            {% if page.paginator.count %}
                <tr class="header">
                    <th class="block_header_line_dark">{% trans "Name" %}</th>
                    <th class="block_header_line_dark action">{% trans "Do not manage any more" %}</th>
                </tr>
                {% url 'persons__orga_unset_managed' as unset_managed_url %}
                {% for orga in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                    <tr class="content">
                        <td class="{{row_color}}">{% widget_entity_hyperlink orga user %}</td>
                        <td class="{{row_color}} action">
                            {% if count != 1 %}
                                {% has_perm_to change orga as edition_perm %}
{#                                {% get_line_unlinker at_url '/persons/organisation/not_managed' with_args "{'id': {{orga.id}} }" with_perms edition_perm|and_op:app_perm %} #}
                                {% get_line_unlinker at_url unset_managed_url with_args "{'id': {{orga.id}} }" with_perms edition_perm|and_op:app_perm %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </tbody>
    {% get_block_footer 2 %}
</table>