{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=6 %}
        <th class="collapser label">{% get_basic_block_header _("Addresses") 'infos_48.png' _('Addresses') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_toggle_empty_field_button %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <!-- {% cycle "block_line_dark"  "block_line_light" as row_color_b %}
             {% cycle "block_line_light" "block_line_dark"  as row_color_s %}
             {% cycle "block_line_light" "block_line_light" "block_line_dark" "block_line_dark" as row_edit_color %}-->
        <tr class="header">
            <th colspan="3" class="block_header_line_dark" >{% trans "Billing address" %}</th>
            <th colspan="3" class="block_header_line_light">{% trans "Shipping address" %}</th>
        </tr>
        {% with object.billing_address as b_address %}{% with object.shipping_address as s_address %}
            <tr class="content">
                <th class="block_header_line_dark  th_info_4_columns">{% trans "Address" %}</th>
                <td class="{% cycle row_color_b %} td_info_4_columns" >{{b_address.address}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if b_address %}{% get_field_editor on regular 'address' for b_address %}{% endif %}</td>

                <th class="block_header_line_light th_info_4_columns">{% trans "Address" %}</th>
                <td class="{% cycle row_color_s %} td_info_4_columns">{{s_address.address}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if s_address %}{% get_field_editor on regular 'address' for s_address %}{% endif %}</td>
            </tr>
            <tr class="content">
                <th class="block_header_line_dark  th_info_4_columns">{% trans "PO box" %}</th>
                <td class="{% cycle row_color_b %} td_info_4_columns">{{b_address.po_box|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if b_address %}{% get_field_editor on regular 'po_box' for b_address %}{% endif %}</td>

                <th class="block_header_line_light th_info_4_columns">{% trans "PO box" %}</th>
                <td class="{% cycle row_color_s %} td_info_4_columns">{{s_address.po_box|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if s_address %}{% get_field_editor on regular 'po_box' for s_address %}{% endif %}</td>
            </tr>
            <tr class="content">
                <th class="block_header_line_dark  th_info_4_columns">{% trans "Zip code" %}</th>
                <td class="{% cycle row_color_b %} td_info_4_columns">{{b_address.zipcode|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if b_address %}{% get_field_editor on regular 'zipcode' for b_address %}{% endif %}</td>

                <th class="block_header_line_light th_info_4_columns">{% trans "Zip code" %}</th>
                <td class="{% cycle row_color_s %} td_info_4_columns" >{{s_address.zipcode|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if s_address %}{% get_field_editor on regular 'zipcode' for s_address %}{% endif %}</td>
            </tr>
            <tr class="content">
                <th class="block_header_line_dark  th_info_4_columns">{% trans "City" %}</th>
                <td class="{% cycle row_color_b %} td_info_4_columns">{{b_address.city|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if b_address %}{% get_field_editor on regular 'city' for b_address %}{% endif %}</td>

                <th class="block_header_line_light th_info_4_columns">{% trans "City" %}</th>
                <td class="{% cycle row_color_s %} td_info_4_columns">{{s_address.city|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if s_address %}{% get_field_editor on regular 'city' for s_address %}{% endif %}</td>
            </tr>
            <tr class="content">
                <th class="block_header_line_dark  th_info_4_columns">{% trans "Department" %}</th>
                <td class="{% cycle row_color_b %} td_info_4_columns">{{b_address.department|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if b_address %}{% get_field_editor on regular 'department' for b_address %}{% endif %}</td>

                <th class="block_header_line_light th_info_4_columns">{% trans "Department" %}</th>
                <td class="{% cycle row_color_s %} td_info_4_columns">{{s_address.department|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if s_address %}{% get_field_editor on regular 'department' for s_address %}{% endif %}</td>
            </tr>
            <tr class="content">
                <th class="block_header_line_dark  th_info_4_columns">{% trans "State" %}</th>
                <td class="{% cycle row_color_b %} td_info_4_columns">{{b_address.state|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if b_address %}{% get_field_editor on regular 'state' for b_address %}{% endif %}</td>

                <th class="block_header_line_light th_info_4_columns">{% trans "State" %}</th>
                <td class="{% cycle row_color_s %} td_info_4_columns">{{s_address.state|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if s_address %}{% get_field_editor on regular 'state' for s_address %}{% endif %}</td>
            </tr>
            <tr class="content">
                <th class="block_header_line_dark  th_info_4_columns">{% trans "Country" %}</th>
                <td class="{% cycle row_color_b %} td_info_4_columns">{{b_address.country|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if b_address %}{% get_field_editor on regular 'country' for b_address %}{% endif %}</td>

                <th class="block_header_line_light th_info_4_columns">{% trans "Country" %}</th>
                <td class="{% cycle row_color_s %} td_info_4_columns">{{s_address.country|default:''}}</td>
                <td class="{% cycle row_edit_color %} edit_inner width_inner_edit_address">{% if s_address %}{% get_field_editor on regular 'country' for s_address %}{% endif %}</td>
            </tr>
        {% endwith %}{% endwith %}
    </tbody>
</table>
