{% load i18n %}
{% load creme_core_tags %}
<table class="table_detail_view ui-corner-all">
    <thead>
        <tr>
            <th align="left" colspan="2" class="collapser">{% trans "Coordinates" %}</th>
        </tr>
    </thead>
    <tbody class="collapsable">
        <!--{% cycle "block_header_line_dark" "block_header_line_light" as header_color %}
            {% cycle "block_line_dark" "block_line_light" as row_color %} -->
        <tr>
            <th class="{% cycle header_color %} th_info">{% trans "Phone" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=object field='phone' %}</td>
        </tr>
        <tr>
            <th class="{% cycle header_color %} th_info">{% trans "Fax" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=object field='fax' %}</td>
        </tr>
        <tr>
            <th class="{% cycle header_color %} th_info">{% trans "E-mail" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=object field='email' %}</td>
        </tr>
        <tr>
            <th class="{% cycle header_color %} th_info">{% trans "Web Site" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=object field='url_site' %}</td>
        </tr>
    </tbody>
</table>