{% load i18n %}
{% load creme_core_tags %}{% load creme_block %}
<script type="text/javascript">
    creme.include('{{MEDIA_URL}}/js/models/relations.js', 'js');
</script>
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% include "creme_core/templatetags/widgets/block_header_beg.html" %}
        <th style="width: 80%;" class="collapser" align="left">{% block block_header %}{% endblock %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% has_perm_to create ct as creation_perm %}
                {% if creation_perm %}
                    <a class="add" href="/persons/contact/add_with_relation/{{object.pk}}/{{predicate_id}}?callback_url=" onclick="this.href+=window.location.href">
                        <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Create a contact" %}" alt="{% trans "Create a contact" %}" />
                {% else %}
                    <span class="add forbidden">
                        <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Can't add" %}" alt="{% trans "Can't add" %}" />
                {% endif %}
                {% block add_title %}{% trans "Create a contact" %}{% endblock %}
                {% if creation_perm %}</a>{% else %}</span>{% endif %}
                <a class="link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/add/from/predicate/{{predicate_id}}/entity/{{object.id}}/{{ct.id}}', '{{predicate_id}}', '{{object.id}}', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/relations_22.png" border="0" title="{% trans "Link to an existing contact" %}" alt="{% trans "Link to an existing contact" %}" />
                    {% trans "Link to an existing contact" %}
                </a>
            </div>
        </th>
    {% include "creme_core/templatetags/widgets/block_header_end.html" %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Landline" %}</th>
                <th class="block_header_line_dark">{% trans "Mobile" %}</th>
                <th class="block_header_line_dark">{% trans "Email" %}</th>
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for people in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}"><a href="{{people.get_absolute_url}}">{{people}}</a></td>
                    <td class="{{row_color}}">{{people.landline}}</td>
                    <td class="{{row_color}}">{{people.mobile}}</td>
                    <td class="{{row_color}}">{{people.email}}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        <a href="{{people.get_edit_absolute_url}}">
                            <img src="{{MEDIA_URL}}images/edit_22.png" border="0">
                        </a>
                        {% get_line_deletor at_url '/creme_core/relation/delete/similar' with_args "{ 'subject_id':{{object.pk}}, 'type':'{{predicate_id}}', 'object_id':{{people.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">
                    {% block empty_msg %}{% trans "No related contact for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>