{% load i18n %}{% load media %}
{% load creme_core_tags %}{% load creme_block %}
{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=5 %}
        <th style="width: 80%;" class="collapser" align="left">{% block block_header %}{% endblock %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% has_perm_to create ct as creation_perm %}
                {% if creation_perm and link_perm %}
                    <a class="add" href="/persons/contact/add_with_relation/{{object.pk}}/{{rtype_id}}?callback_url=" onclick="this.href+=window.location.href">
                        <img src="{% media_url 'images/add_22.png' %}" border="0" title="{{add_title}}" alt="{{add_title}}" />{{add_title}}
                    </a>
                {% else %}
                    <span class="add forbidden">
                        <img src="{% media_url 'images/add_22.png' %}" border="0" title="{% trans "Can't add" %}" alt="{% trans "Can't add" %}" />{{add_title}}
                    </span>
                {% endif %}
                {% if link_perm %}
                    <a class="link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/objects2link/rtype/{{rtype_id}}/entity/{{object.id}}/{{ct.id}}', '{{rtype_id}}', '{{object.id}}', {% get_block_reload_uri %});">
                        <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Link to existing contacts" %}" alt="{% trans "Link to existing contacts" %}" />
                        {% trans "Link to existing contacts" %}
                    </a>
                {% else %}
                    <span class="link forbidden">
                        <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Can't link" %}" alt="{% trans "Can't link" %}" />
                        {% trans "Link to existing contacts" %}
                    </span>
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Landline" %}</th>
                <th class="block_header_line_dark">{% trans "Mobile" %}</th>
                <th class="block_header_line_dark">{% trans "Email" %}</th>
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for people in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}"><a href="{{people.get_absolute_url}}">{{people}}</a></td>
                    <td class="{{row_color}}">{{people.landline}}</td>
                    <td class="{{row_color}}">{{people.mobile}}</td>
                    <td class="{{row_color}}">{{people.email}}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% has_perm_to change people as people_edit_perm %}{% has_perm_to unlink people as people_unlink_perm %}
                        {% if people_edit_perm %}
                            <a href="{{people.get_edit_absolute_url}}">
                                <img src="{% media_url 'images/edit_22.png' %}" border="0">
                            </a>
                        {% else %}
                            <img class="forbidden" src="{% media_url 'images/edit_22.png' %}" border="0" title="{% trans "Can't edit" %}" alt="{% trans "Can't edit" %}" />
                        {% endif %}
                        {% with unlink_perm|and_op:people_unlink_perm as has_perm %}
                            {% get_line_deletor2 at_url '/creme_core/relation/delete/similar' with_args "{ 'subject_id':{{object.pk}}, 'type':'{{rtype_id}}', 'object_id':{{people.pk}} }" with_perms has_perm %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">
                    {% block empty_msg %}{% trans "No related contact for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>