{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=5 %}
        <th class="collapser label">{% block block_header %}{% endblock %}</th>
        <th class="actions">
            <div class="buttons">
                {% has_perm_to create ct as creation_perm %}
                {% if creation_perm and link_perm %}
                    <a class="add" href="/persons/contact/add_with_relation/{{object.pk}}/{{rtype_id}}?callback_url=" onclick="this.href+=window.location.href">
                        <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{{add_title}}" alt="{{add_title}}" />{{add_title}}
                    </a>
                {% else %}
                    <span class="add forbidden">
                        {% trans "Can't add or link" as img_title %}<img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />{{add_title}}
                    </span>
                {% endif %}
                {% get_line_relator to_subject object with_rtype_id rtype_id with_ct_id ct.id with_label _("Link to existing contacts") with_perms link_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Phone" %}</th>
                <th class="block_header_line_dark">{% trans "Mobile" %}</th>
                <th class="block_header_line_dark">{% trans "Email" %}</th>
                <th class="block_header_line_dark action">{% trans "Actions" %}</th>
            </tr>
            {% trans "Edit" as edit_label %}{% trans "Can't edit" as noedit_label %}
            {% for people in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">{% has_perm_to view people as people_view_perm %}
                    <td class="{{row_color}}">{% widget_entity_hyperlink people user %}</td>
                    {% if people_view_perm %}
                        <td class="{{row_color}}">{% print_field object=people field='phone' %}</td>
                        <td class="{{row_color}}">{% print_field object=people field='mobile' %}</td>
                        <td class="{{row_color}}">{% print_field object=people field='email' %}</td>
                    {% else %}
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                        <td class="{{row_color}}">??</td>
                    {% endif %}
                    <td class="{{row_color}} action">{% has_perm_to change people as people_edit_perm %}{% has_perm_to unlink people as people_unlink_perm %}
                        {% if people_edit_perm %}
                            <a href="{{people.get_edit_absolute_url}}"><img src="{% creme_media_url 'images/edit_22.png' %}" border="0" title="{{edit_label}}" alt="{{edit_label}}"></a>
                        {% else %}
                            <img class="forbidden" src="{% creme_media_url 'images/edit_22.png' %}" border="0" title="{{noedit_label}}" alt="{{noedit_label}}" />
                        {% endif %}
                        {% get_line_unlinker at_url '/creme_core/relation/delete/similar' with_args "{ 'subject_id':{{object.pk}}, 'type':'{{rtype_id}}', 'object_id':{{people.pk}} }" with_perms unlink_perm|and_op:people_unlink_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">
                    {% block empty_msg %}{% trans "No related contact for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 5 %}
</table>
