{% extends "creme_core/generics/view_entity.html" %}
{% comment %}
{% load creme_block %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'billing' named 'total' as 'total_block' %}

    {% import_block from_app 'opportunities' named 'linked_contacts' as 'contacts_block' %}
    {% import_block from_app 'opportunities' named 'responsibles' as 'responsibles_block' %}
    {% import_block from_app 'opportunities' named 'quotes' as 'quotes_block' %}
    {% import_block from_app 'opportunities' named 'sales_orders' as 'sales_orders_block' %}
    {% import_block from_app 'opportunities' named 'invoices' as 'invoices_block' %}

    {% if object.use_lines %}
        {% import_block from_app 'billing' named 'product_lines' as 'product_lines_block' %}
        {% import_block from_app 'billing' named 'service_lines' as 'service_lines_block' %}
    {% else %}
        {% import_block from_app 'opportunities' named 'linked_products' as 'products_block' %}
        {% import_block from_app 'opportunities' named 'linked_services' as 'services_block' %}
    {% endif %}
{% endblock %}

{% block detail_view_top_1 %}
    {% if object.use_lines %}
        {% display_block_detailview 'product_lines_block' %}
        {% display_block_detailview 'service_lines_block' %}
    {% endif %}
{% endblock %}

{% block detail_view_left_1 %}
    {% display_block_detailview 'object_block' %}
    {% display_block_detailview 'customfields_block' %}

    {% display_block_detailview 'contacts_block' %}

    {% if not object.use_lines %}
        {% display_block_detailview 'products_block' %}
        {% display_block_detailview 'services_block' %}
    {% endif %}

    {% display_block_detailview 'responsibles_block' %}
    {% display_block_detailview 'quotes_block' %}
    {% display_block_detailview 'sales_orders_block' %}
    {% display_block_detailview 'invoices_block' %}

    {% display_block_detailview 'properties_block' %}
    {% display_block_detailview 'relations_block' %}
{% endblock %}

{% block detail_view_right_1 %}
    {% display_block_detailview 'total_block' %}
{% endblock %}{% endcomment %}
