{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load media %}
{% load creme_core_tags %}{% load creme_block %}

{% block logo %}<img src="{% media_url 'images/opportunity_64.png' %}" alt=""/>{% endblock %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'billing' named 'total' as 'total_block' %}

    {% import_block from_app 'opportunities' named 'linked_contacts' as 'contacts_block' %}
    {% import_block from_app 'opportunities' named 'responsibles' as 'responsibles_block' %}
    {% import_block from_app 'opportunities' named 'quotes' as 'quotes_block' %}
    {% import_block from_app 'opportunities' named 'sales_orders' as 'sales_orders_block' %}
    {% import_block from_app 'opportunities' named 'invoices' as 'invoices_block' %}

    {% if object.use_lines %}
        {% import_block from_app 'billing' named 'product_lines' as 'product_lines_block' %}
        {% import_block from_app 'billing' named 'service_lines' as 'service_lines_block' %}
    {% else %}
        {% import_block from_app 'opportunities' named 'linked_products' as 'products_block' %}
        {% import_block from_app 'opportunities' named 'linked_services' as 'services_block' %}
    {% endif %}
{% endblock %}

{% block before_detail_view_1 %}
    {% if object.use_lines %}
        {% display_block_detailview 'product_lines_block' %}
        {% display_block_detailview 'service_lines_block' %}
    {% endif %}
{% endblock %}

{% block detail_view_left_1 %}
    <table class="table_detail_view ui-corner-all">
        {% get_block_header colspan=2 %}
            <th style="width: 80%;" class="collapser">{% get_basic_block_header _("Opportunity information") 'infos_48.png' _('Information') %}</th>
            <th style="width: 20%;" align="right"></th>
        {% end_get_block_header %}
        <tbody class="collapsable">
            <!--{% cycle "block_header_line_dark" "block_header_line_light" as header_color %}
                {% cycle "block_line_dark" "block_line_light" as row_color %}-->

            {% for field in object|get_meta_value:"fields" %}
                {% if not field.name in object.excluded_fields_in_html_output %}
                    <tr>
                        <th class="{% cycle header_color %} th_info">{{ field.verbose_name|title }}</th>
                        <td class="{% cycle row_color %} td_info">{% print_field object=object field=field.name %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Target organisation" %}</th>
                <td class="{% cycle row_color %}  td_info">
                    {% with object.get_target_orga as orga %}
                        <a href="{{orga.get_absolute_url}}">{{orga}}</a>
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Concerned organisation" %}</th>
                <td class="{% cycle row_color %}  td_info">
                    {% with object.get_emit_orga as orga %}
                        <a href="{{orga.get_absolute_url}}">{{orga}}</a>
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>
    {% include "creme_core/customfields_as_table.html" %}

    {% display_block_detailview 'contacts_block' %}

    {% if not object.use_lines %}
        {% display_block_detailview 'products_block' %}
        {% display_block_detailview 'services_block' %}
    {% endif %}

    {% display_block_detailview 'responsibles_block' %}
    {% display_block_detailview 'quotes_block' %}
    {% display_block_detailview 'sales_orders_block' %}
    {% display_block_detailview 'invoices_block' %}

    {% display_block_detailview 'properties_block' %}
    {% display_block_detailview 'relations_block' %}
{% endblock %}

{% block detail_view_right_1 %}
    {% display_block_detailview 'total_block' %}
{% endblock %}