{% load i18n creme_core_tags creme_block %}
<script type='text/javascript'>
    creme.geolocation.ready(function() {
        new creme.geolocation.PersonsBlock($('#block_persons-geolocation'), {{geoaddresses|safe}});
    });
</script>
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="label">{% get_basic_block_header _('Map') 'info_48.png' _('Map') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="content">
            <td class="block-geoaddress-header">
                <div class="block-geoaddress-items">
                {% for address in addresses %}
                    <div class="block-geoaddress-item {% if address.is_billing %}item-selected{% endif %}" data-addressid="{{address.id}}">
                        <input type="checkbox" value="{{address.id}}" {% if address.is_billing %}checked{% endif %}></input>
                        <div class="block-geoaddress-label">
                        {% if address.content and address.title %}
                            <span class="block-geoaddress-title">{{address.title}}</span>
                            <span class="block-geoaddress-content">{{address.content}}</span>
                        {% else %}
                            <span class="block-geoaddress-title">{% if address.title %}{{address.title}}{% else %}{{address.content}}{% endif %}</span>
                        {% endif %}
                        </div>
                        <div class="block-geoaddress-action {% if address.is_complete %}block-geoaddress-iscomplete{% endif %}">
                            <a class="block-geoaddress-reset" data-addressid="{{address.id}}">
                                {% trans 'Retrieve location' %}
                            </a>
                            <span class="block-geoaddress-position">
                            {% if address.latitude %}
                                {{address.latitude|format:"%3.6f"}}, {{address.longitude|format:"%3.6f"}}
                            {% endif %}
                            </span>
                            <span class="block-geoaddress-status">
                            {{address.status_label}}
                            </span>
                        </div>
                    </div>
                {% empty %}
                    {% trans 'No address defined for now' %}
                {% endfor %}
                </div>
            </td>
        </tr>
        <tr class="content">
            <td class="block-geoaddress-canvas"></td>
        </tr>
    </tbody>
</table>
