{% load i18n creme_core_tags creme_block %}

{% log 'The template file "creme/geolocation/templates/geolocation/templatetags/block_persons_filters_google_map.html" is deprecated.' level='WARN' %}

<script type='text/javascript'>
    creme.geolocation.ready(function() {
{#        new creme.geolocation.AddressesBlock($('#{{block_name}}'));  #}
        new creme.geolocation.AddressesBlock($('#{{block_name}}'), '{% url 'geolocation__addresses' %}', '{% url 'geolocation__set_address_info' %}');
    });
</script>

<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="label">{% get_basic_block_header _('Map') 'info_48.png' _('Map') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}

    <tbody class="collapsable">
        <tr class="content">
            <td class="block-geoaddress-header">
                <span class="block-geoaddress-counter">{% trans "No address from" %}</span>&nbsp;
                <select class="block-geoaddress-filter">
                {% for groupname, choices in address_filters %}
                    <optgroup label="{{groupname}}">
                    {% for value, label in choices %}
                        <option value='{{value}}'>{{label}}</option>
                    {% endfor %}
                    </optgroup>
                {% endfor %}
                </select>
             </td>
        </tr>

        <tr class="content">
            <td class="block-geoaddress-canvas"></td>
        </tr>

    </tbody>
</table>
