{% load i18n creme_widgets %}
{% if button.permission_error %}
<span class="menu_button menu-button-icon forbidden" title="{{button.permission_error}}">
    {% widget_icon name='opportunity' size='instance-button' label=_('Opportunity') %}
    {{button.verbose_name}}
</span>
{% else %}
<a class="menu_button menu-button-icon" href="{% url 'opportunities__create_related_opportunity' object.id %}" title="{% blocktranslate %}Create an opportunity which targets «{{object}}».{% endblocktranslate %}" >
    {% widget_icon name='opportunity' size='instance-button' label=_('Opportunity') %}
    {{button.verbose_name}}
</a>
{% endif %}
