{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_widgets creme_bricks %}
{% load and_op has_perm_to url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} opportunities-invoices-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Generated invoice') plural=_('{count} Generated invoices') empty=_('Generated invoices') icon='invoice' %}
{% endblock %}

{% block brick_header_actions %}
{% has_perm_to link object as link_perm %}{% has_perm_to create objects_ctype as create_perm %}
{% url 'opportunities__generate_billing_doc' object.id objects_ctype.id as create_url %}
    {% brick_header_action id='update' url=create_url type='add'  label=_('Generate an invoice') enabled=link_perm|and_op:create_perm %}
    {% brick_header_action id='add-relationships'     icon='link' label=_('Link to an invoice')  enabled=link_perm __selector_url='opportunities__select_billing_objs_to_link'|url __subject_id=object.id __rtype_id=predicate_id __ctype_id=objects_ctype.id __multiple=True %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='number' status='primary' %}
    {% brick_table_column_for_field ctype=objects_ctype field='name' status='nowrap' %}
    {% brick_table_column_for_field ctype=objects_ctype field='status' %}
    {% brick_table_column title=_('Unlink') status='action' %}
{% endblock %}

{% block brick_table_rows %}
{% has_perm_to unlink object as unlink_perm %}{% url 'creme_core__delete_similar_relations' as delete_relation_url %}
    {% for invoice in page.object_list %}{% has_perm_to view invoice as invoice_view_perm %}{% has_perm_to unlink invoice as invoice_unlink_perm %}
    <tr>
        <td {% brick_table_data_status primary %}>
            {% if invoice_view_perm %}{{invoice.number}}{% else %}{{HIDDEN_VALUE}}{% endif %}
        </td>
        <td>{% widget_entity_hyperlink invoice user %}</td>
        <td>{% if invoice_view_perm %}{{invoice.status}}{% else %}{{HIDDEN_VALUE}}{% endif %}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_relation_url __subject_id=object.id __type=predicate_id __object_id=invoice.id label=_('Unlink this invoice') icon='unlink' enabled=unlink_perm|and_op:invoice_unlink_perm %}
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No linked invoice for the moment' %}
{% endblock %}

