{% extends 'creme_core/bricks/base/hat-card.html' %}
{% load i18n creme_bricks creme_perms creme_widgets persons_tags %}
{% load format_amount is_field_hidden from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} opportunities-card-brick{% endblock %}

{% block card_intro_content %}
    {% if intro_summary.template_name %}{% include intro_summary.template_name with summary=intro_summary %}{% endif %}
{% endblock %}

{% block card_title %}
    {{block.super}}
    {% if not object.is_deleted and not object.sandbox %}
     {% brick_card_action_for_field instance=object field='name' user=user %}
    {% endif %}
{% endblock %}

{% block card_indicators %}
  {% if is_neglected %}
    <div class='business-card-indicator business-card-warning-indicator' title="{% translate 'Meeting, phone call…' %}">{% translate 'No activity since 30 days' %}</div>
  {% endif %}
{% endblock %}

{% block card_secondary %}
    <div class="card-targets">
      {% if target_is_organisation %}
        <span class="card-function">{% translate 'Targets the organisation' %}</span> {% widget_entity_hyperlink target user %}
      {% else %}
        <span class="card-function">{% translate 'Targets the contact' %}</span>
        {% if user|has_perm_to_view:target %}
          <a href='{{target.get_absolute_url}}' {% if target.is_deleted %}class="is_deleted"{% endif %}>{{target|persons_pretty_contact}}</a>{% persons_contact_first_employer contact=target user=user as employer %}
          {% if employer %},
           {% if employer.as_manager %}{% translate 'manager of the organisation' %}{% else %}{% translate 'employee of the organisation' %}{% endif %}
           {% widget_entity_hyperlink employer.organisation user %}
          {% endif %}
        {% else %}
          {{HIDDEN_VALUE}}
        {% endif %}
      {% endif %}
    </div>
{% endblock %}

{% block card_fields_title %}
 {% translate 'Details' context 'opportunities' %}
{% endblock %}

{% block card_fields %}
    <div class="card-info-field">
        <span class='card-info-key'>{% translate 'Sales phase' %}</span>
        <span class='card-info-value'>
            {{object.sales_phase|default:'—'}}
            {% brick_card_action_for_field instance=object field='sales_phase' user=user %}
        </span>
    </div>
    {% if not object|is_field_hidden:'estimated_sales' %}
    <div class="card-info-field">
        <span class='card-info-key'>{% translate 'Estimated sales' %}</span>
        <span class='card-info-value'>
            {% if object.estimated_sales is None %}
            —
            {% else %}
            {{object.estimated_sales|format_amount:object.currency}}
            {% endif %}
            {% brick_card_action_for_field instance=object field='estimated_sales' user=user %}
        </span>
    </div>
    {% endif %}
    {% if not object|is_field_hidden:'made_sales' %}
    <div class="card-info-field">
        <span class='card-info-key'>{% translate 'Made sales' %}</span>
        <span class='card-info-value'>
            {% if object.made_sales is None %}
            —
            {% else %}
            {{object.made_sales|format_amount:object.currency}}
            {% endif %}
            {% brick_card_action_for_field instance=object field='made_sales' user=user %}
        </span>
    </div>
    {% endif %}
{% endblock %}

{% block card_summary %}
  {% for summary_ctxt in summaries %}
    {% if summary_ctxt.template_name %}{% include summary_ctxt.template_name with summary=summary_ctxt %}{% endif %}
  {% endfor %}
{% endblock %}
