{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_cells creme_perms creme_widgets %}
{% load and_op inner_edition_uri listify print_field url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} opportunities-sales-orders-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Related salesorder') plural=_('{count} Related salesorders') empty=_('Related salesorders') icon='invoice' %}
{% endblock %}

{% block brick_header_actions %}
  {% if relation_type.enabled %}
   {% with link_perm=user|has_perm_to_link:object create_perm=user|has_perm_to_create:objects_ctype %}
    {% url 'opportunities__generate_billing_doc' object.id objects_ctype.id as create_url %}
    {% brick_header_action id='update' url=create_url type='add'  label=_('Generate a salesorder') enabled=link_perm|and_op:create_perm %}
    {% brick_header_action id='add-relationships'     icon='link' label=_('Link to a salesorder')  enabled=link_perm __selector_url='opportunities__select_billing_objs_to_link'|url __subject_id=object.id __rtype_id=relation_type.id __ctype_id=objects_ctype.id __multiple=True %}
   {% endwith %}
  {% endif %}
{% endblock %}

{% block brick_before_content %}
  {% if not relation_type.enabled %}
    <div class="global-error">
        {% blocktranslate with predicate=relation_type.predicate %}Beware: the relationship type «{{predicate}}» is disabled. You should re-enable it if it's still useful, or remove this block{% endblocktranslate %}
    </div>
  {% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='number' status='primary' %}
    {% brick_table_column_for_field ctype=objects_ctype field='name'   status='nowrap' %}
    {% brick_table_column_for_field ctype=objects_ctype field='status' %}
    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}
 {% with unlink_perm=user|has_perm_to_unlink:object delete_relation_url='creme_core__delete_similar_relations'|url %}
  {% for salesorder in page.object_list %}
   {% with salesorder_view_perm=user|has_perm_to_view:salesorder %}
    <tr>
        <td {% brick_table_data_status primary %}>
            {% if salesorder_view_perm %}{{salesorder.number}}{% else %}{{HIDDEN_VALUE}}{% endif %}
        </td>
        <td>{% widget_entity_hyperlink salesorder user %}</td>
        <td>{% if salesorder_view_perm %}{% print_field object=salesorder field='status' %}{% else %}{{HIDDEN_VALUE}}{% endif %}</td>
        <td {% brick_table_data_status action %}>
            {% cell_4_regularfield model=salesorder field="number" as number_cell %}
            {% cell_4_regularfield model=salesorder field="name" as name_cell %}
            {% cell_4_regularfield model=salesorder field="status" as status_cell %}
            {% listify number_cell name_cell status_cell as cells %}
            {% inner_edition_uri instance=salesorder cells=cells as edition_uri %}
            {% brick_table_action id='edit' url=edition_uri comeback=True label=_('Edit this salesorder') enabled=user|has_perm_to_change:salesorder %}
        </td>
        <td {% brick_table_data_status action %}>
          {% with salesorder_unlink_perm=user|has_perm_to_unlink:salesorder %}
            {% brick_table_action id='delete' url=delete_relation_url __subject_id=object.id __type=relation_type.id __object_id=salesorder.id label=_('Unlink this salesorder') icon='unlink' enabled=unlink_perm|and_op:salesorder_unlink_perm %}
          {% endwith %}
        </td>
    </tr>
   {% endwith %}
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No salesorder for the moment' %}
{% endblock %}
