.table_detail_view {
    width: 100%;
    border: 1px solid #548295;
    padding: 2px;
}

.table_detail_view th,
.table_detail_view td,
.table_detail_view tr,
.table_detail_view thead {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

table.table_detail_view + .brick,
table.table_detail_view:not(.dual_column) + table.table_detail_view:not(.dual_column),
table.table_detail_view + div.dual_column-container,
div.dual_column-container + table.table_detail_view {
    margin-top: 15px;
    margin-bottom: 0;
}

.table_detail_view > tbody > tr > th {
    color: #376e86;
    padding-left: 5px;
    padding-right: 5px;
    padding: 2px 6px;
}

.table_detail_view tbody td:hover {
    background-color: #f7d6d2;
}

.table_detail_view thead {
    font-size: 1em;
    font-weight: bolder;
    color: white;
    background-color: #94c6db;
}

.table_detail_view thead .title {
    width: 80%;
}
.table_detail_view thead .actions {
    text-align: right;
}

.table_detail_view tbody td table tbody td:hover {
    background-color: #ffffff;
}
.table_detail_view .block_header {
    width: 100%;
}

.table_detail_view .block_header .label {
    text-align: left;
}

.table_detail_view .block_header .actions {
    text-align: right;
    white-space: nowrap;
}

.table_detail_view .content .action {
    text-align: center;
}

.table_detail_view .header .selectable,
.table_detail_view .content .selectable {
    text-align: center;
}

.table_detail_view .header .selectable > *,
.table_detail_view .content .selectable > * {
    cursor: pointer;
}

.table_detail_view tr.header th:not(.action) {
    text-align: left;
}

.block_line_light {
    background-color: #f4fafd;
    padding: 2px 4px 2px 4px;
}

.block_line_dark {
    background-color: #e6f2f7;
    padding: 2px 4px 2px 4px;
}

.block_line_light > p, .block_line_dark > p {
    margin: 0;
}

.block_header_line_light {background-color: #bdd8e4;}
.block_header_line_dark  {background-color: #b3d2df;}

.th_info {
    max-width: 30%;
    width: 30%;
    text-align: left;
}

.td_info {
    max-width: 70%;
    width: 70%;
    text-align: left;
}

.td_info.right_align { /* eg: total block in billing */
    text-align: right;
}

.td_valid {
    background-color: #90ee90;
}

.td_error {
    background-color: #f08080;
}

.table_detail_view.dual_column {
    width: 49.9%;
    height: 100%;
    float: left;
}

.table_detail_view.dual_column.last {
    float: right;
}

.block_header tbody tr td:hover {
    background-color: transparent;
}

table.collapsed .collapsable {
    display: none;
}

table.collapsed {
    opacity: 0.5;
}


/* Block containers */
/* Only seems to be used in Reports' preview report page. Blocks inside need to be flush with the scrollbar.
   The block template also needs to be cleaned up so we can target the different types of blocks and add decorations, margins, etc only where they're needed */
.scrollable-block-container {
    overflow-x: auto;
    margin-bottom: 5px;
}

.scrollable-block-container .table_detail_view {
    margin: 0;
}

/* Block containers - end */
