.forbidden, .faded {
    opacity: 0.5;
}

/* Errors */
/*
html.central_panel {
    background-color: #e6f2f7;
}

body.central_panel {
    background-color: #e6f2f7;
    color: black;
    padding: 0;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 0.9em;
}

.central_panel #branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
    color: #488097;
}

.central_panel #container {
    margin-left: -128px;
    background-color: #f4fafd;
    border: 3px solid #b3d2df;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.central_panel #content-main {
    width: 100%;
}

.central_panel form {
    margin-top: 1em;
}

.central_panel .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.central_panel .form-row label {
    float: left;
    width: 11em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

.central_panel .form-row #id_username, .central_panel .form-row #id_password {
    width: 14em;
}

.central_panel span.help {
    font-size: 10px;
    display: block;
}

.central_panel .submit-row {
    clear: both;
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0 1em 0;
}
*/
/* Errors - end */

html {
    margin: 0;
    padding: 0;

    background-color: #f6fcff;

    color: black;
    font-size: 0.8em;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

h2 {
    padding-left : 5px;
    padding-right : 5px;
}

a {
    color: #22439f;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;

    -webkit-transition: color .4s linear;
       -moz-transition: color .4s linear;
        -ms-transition: color .4s linear;
         -o-transition: color .4s linear;
            transition: color .4s linear;
}

a:hover {
    color: #df8177;
    text-decoration: underline;
    background-color: transparent;
}

a.is_deleted {
    text-decoration: line-through;
}

a img.text_icon {
    width: 18px;
    height: 18px;
}

body {
    margin: 0;
    padding: 0px;
    background-color: #f6fcff;
}

body.is_deleted {
    background:                     #ff7e7e;
    background:     -webkit-gradient(linear, 0% 0, 0% 30%, from(#ff7e7e), to(#ffeded));
    background: -moz-linear-gradient(top, #ff7e7e 0%, #ffeded 30%);
}

td p {
    padding: 0px;
    margin: 5px;
}

/* TODO: remove when old menu is removed */
#last_viewed {
    padding-top : 6px;
    padding-left : 6px;
    padding-bottom : 6px;

    margin-top : 4px;
    margin-bottom : 4px;

    color : #2c596c;
    background : #E6F2F7 none repeat scroll 0 0;
    border : 2px solid #d7e2e7;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

/* TODO: remove when old menu is removed */
#preferred_menu {
    padding-top : 6px;
    padding-left : 6px;
    padding-bottom : 6px;

    margin-top : 4px;
    margin-bottom : 4px;

    color : #2c596c;
    background : #E6F2F7 none repeat scroll 0 0;
    border : 2px solid #d7e2e7;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

/*
ul.button_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.button_list li {
    margin: 0px 2px;
    padding: 0;
    list-style: none;
}
ul.button_list.hbox {
    display: inline-table;
    line-height: 30px;
}
ul.button_list.hbox li {
    position: relative;
    display:inline-table;
}
ul.button_list.vbox li {
    position: relative;
    display: block;
}
*/

.buttons-list > ul {
    display: inline-table;
    margin: 0;
    padding: 0;
    list-style: none;
}

.buttons-list li {
    position: relative;
    display: inline-table;
    padding-right: 5px;
}

.menu_button,
.card-button {
    padding: 7px 20px;

    display: inline-block;

            box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: 1px solid #bdd3dc;
    border-bottom: 1px solid #9db2bb;

    border-radius: 3px;

            box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.2), inset 0 1px 0px white;
    -webkit-box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.6), inset 0 1px 0px white;

    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;

    background: linear-gradient(#f6fcff, #e0f1f7);

    cursor: pointer;
}

.menu_button.forbidden,
.card-button.forbidden {
    cursor: default;
}

.menu_button:not(.forbidden):hover,
.card-button:not(.forbidden):hover {
    background: linear-gradient(#ffffff, #f3f3f3);
    color: #4d4d4d;
}

.menu_button:not(.forbidden):active,
.card-button:not(.forbidden):active {
    background: linear-gradient(#f9f9f9, #ededed);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    border-bottom-color: #d7d7d7;
    border-top-color: #bdbdbd;
    color: #1a1a1a;
}

.menu_button:first-child {
    margin-left: 0em;
}

.menu_button:hover,
.card-button:hover {
    background-color: #e6e6e6;
    text-decoration: none;
}

.menu_button img,
.card-button img {
    position: relative;

    height: 24px;
    width: 24px;

    top: 3px;
}

.global-buttons {
    margin-bottom: 10px;
}

.buttons-list.instance-buttons {
    margin-top: -10px;
}

.buttons-list.instance-buttons .menu_button,
.buttons-list.global-buttons .menu_button {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-right: 5px;

    color: #34687e;
    font-size: 12.5px;
    font-weight: 500;
}

.buttons-list.instance-buttons ul {
    line-height: normal;
}

.buttons-list.instance-buttons .menu_button img {
    padding-right: 3px
}

.card-button.card-button-icon,
.buttons-list .menu_button.menu-button-icon {
    padding-left: 38px;
    padding-right: 20px;
    position: relative;
}

.card-button.card-button-icon img,
.menu_button.menu-button-icon img {
    position: absolute;
    top: 2px;
    left: 8px;
}

/*
.zone_spacer_5px {
    clear: both;
    padding : 5px;
}
*/

.spacer {
  clear: both;
}

.wait {
    list-style-image : url(chantilly/images/wait.gif);
}

/* TODO: remove when old menu is removed */
.menu_expanded {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 50;
    font-size: 0.8em;
    margin-left: 0px;
}

.menu_collapse {
    position: absolute;
    display: block;
    z-index: 1;

    height: 100%;
    width: 1%;

    margin : 0;
    margin-left: 0px;

    border: 1px solid #6EAAC4;
    background-color: #94C6DB;
    color: #ffffff;

    font-weight: bold;
    text-align: center;
}

.main_content {
    clear: both;

    height: auto;
    min-height: calc(100vh - 264px - 38px - 40px);

    width: 98%;
    margin-left: 1.2%;

    padding-top: 3px;
}

.header {
    margin-left: 1.2%;
    width: 98%;
}

.header .widget {
    float: left;
    text-align: center;
}

.header .widget.major {
    float: left;
}

.header .widget.last {
    float: right;
}

/*
#footer {
    clear: both;
    display: block;
    position:relative;

    width:98%;

    margin-left: 1.2%;

    text-align : center ;

    border: 1px solid #fdedeb;
    background: #fff3f2;
}
*/

.errorlist {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(jquery-css/creme-theme/images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x;
    color: #cd0a0a;
}

.errorlist a {
    color: #cd0a0a;
}

.errorlist li {
    list-style-image: url(chantilly/images/cancel_16.png);
    padding-top: 3px;
}

.warninglist {
    border: 1px solid #df8c07;
    background: #fef1dc;
    color: #df8c07;
    padding-left: 10px;
}

.warninglist li {
    list-style: outside none none;
    padding-top: 3px;
}

.successlist {
    border: 1px solid #0b5d0b;
    background: #aaf0a2 url(jquery-css/creme-theme/images/ui-bg_inset-soft_75_aaf0a2_1x100.png) 50% bottom repeat-x;
    color: #0b5d0b;
}

.successlist a {
    color: #0b5d0b;
}

.successlist li {
    list-style-image: url(chantilly/images/ok_16.png);
    padding-top: 3px;
}

.infolist {
    border: 1px solid #56bbc8;
    background: #e6f5f7 url(jquery-css/creme-theme/images/ui-bg_glass_65_f6fcff_1x400.png) 50% bottom repeat-x;
    color: #56bbc8;
}

.infolist a {
    color: #56bbc8;
}

.infolist li {
    list-style-image: url(chantilly/images/info_16.png);
    padding-top: 3px;
}

/*
.back_pink {
    background-color: #f7cbc6;
}

.back_blue {
    background-color: #b4e6fb;
}
*/

/*
.button_link:hover {
    cursor: pointer;
    text-decoration: none;
}

.button_link img {
    border: 0;
}
*/

/*
.table_header {
    margin-bottom: 10px;
    padding: 0px ;
    background-color: #f7cbc6;
    width: 100%;
    border: 3px solid #f7b5ad;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.table_header .logo {
    width: 5%;
}

.table_header .title {
    width: 75%;
}

.table_header .actions {
    width: 20%;
    text-align: right;
}
*/

img {
    border:0;
}

a img {
    -webkit-transition: opacity 400ms ease-in;
       -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
}

a img:hover {
    opacity: 0.8;
}

/*
#tree_menu {
    height:100%;
}
*/

.ui-state-default, .ui-widget-content .ui-state-default {
    font-size: 1.1em;
}

/*
.ui-paging-info, ui-icon ui-icon-newwin {
    font-weight: bold;
}
*/

/*
.ui-pg-selbox { height:20px !important;}
*/

.help_box {
    background-color: #fff7a1;
    padding:5px;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.help_box.with-table table {
    width: 100%;
}

.selectable:hover {
    background-color: #fff7d0 !important;
}

.selected {
    background-color: #f7cbc6 !important;
}

.list td {
    text-align: center;
}

.ui-datepicker {
    z-index: 1100; /* use z-index to display over inner popups (1000) */
}

.ui-datepicker-trigger {
    cursor: pointer;
}

.research_box {
    padding: 7px;
    display: inline-block;
}

.research_box span {
    padding : 7px;

    color : #2c596c;
    background : #E6F2F7 none repeat scroll 0 0;

    border : 2px solid #d7e2e7;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.quickform_box {
    padding: 4px 4px 4px 15px;
    display: inline-block;
}

.quickform_box span {
    padding: 7px;

    color: #2c596c;
    background: #E6F2F7 none repeat scroll 0 0;
    border: 2px solid #d7e2e7;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

/* TODO: remove with old menu */
.pointer {
    cursor: pointer;
}

/*
.defaultcur {
    cursor: default;
}
*/

/* Buttons */
/*
.buttons a,
.buttons button,
.buttons span {
    display: block;
    float: right;
    margin: 0 7px 1px 0;
    padding: 1px 7px; // Links

    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 100%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    white-space: nowrap;
    min-width: 150px;
    text-align: left;

    cursor: pointer;
}
.buttons button {
    width: auto;
    overflow: visible;
    padding: 4px 10px 3px 7px; // IE6
}
.buttons button[type] {
    padding: 5px 10px 5px 7px; // Firefox
    line-height: 17px; // Safari
}
*:first-child+html button[type] {
    padding: 4px 10px 3px 7px; // IE7
}
.buttons button img, .buttons a img , .buttons span img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}
*/

/* Buttons - normal */
/*
.buttons button:hover, .buttons a:hover {
    background-color: #dff4ff;
    border: 1px solid #c2e1ef;
    color: #336699;
}
.buttons a:active {
    background-color: #6299c5;
    border: 1px solid #6299c5;
    color: #fff;
}
*/

/* Button - link */
/*
.buttons button.link,
.buttons a.link {
    color: #518DC9;
}
.buttons a.link:hover,
button.link:hover {
    background-color: #dff4ff;
    border: 1px solid #c2e1ef;
    color: #336699;
}
.buttons a.link:active {
    background-color: #518DC9;
    border: 1px solid #518DC9;
    color: #fff;
}
*/

/* Buttons - add */
/*
.buttons button.add,
.buttons a.add,
.buttons span.add {
    color: #529214;
}
.buttons a.add:hover,
button.add:hover {
    background-color: #E6EFC2;
    border: 1px solid #C6D880;
    color: #529214;
}
.buttons a.add:active {
    background-color: #529214;
    border: 1px solid #529214;
    color: #fff;
}
*/

/* Buttons - list */
/*
.buttons a.list,
button.list {
    color: #D9BD41;
}
.buttons a.list:hover,
button.list:hover {
    background: #FFEB91;
    border: 1px solid #fbc2c4;
}
.buttons a.list:active {
    background-color: #FFEB91;
    border: 1px solid #FFEB91;
    color: #fff;
}
*/

/* Buttons - negative */
/*
.buttons a.negative,
button.negative {
    color: #d12f19;
}
.buttons a.negative:hover,
button.negative:hover {
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #d12f19;
}
.buttons a.negative:active {
    background-color: #d12f19;
    border: 1px solid #d12f19;
    color: #fff;
}
*/

/* Buttons - download */
/*
.buttons a.download,
button.download {
    color: #4c4c96;
}
.buttons a.download:hover,
button.download:hover {
    background: #9292e1;
    border: 1px solid #9c9cf8;
    color: #25254a;
    text-shadow:1px 1px 3px #d7d7d7;
}
.buttons a.download:active {
    background-color: #4c4c96;
    border: 1px solid #4c4c96;
    color: #fff;
}
*/

/* Buttons - toggle view */
/*
.buttons a.view_more {
    min-width: 0;
    background-image: url("chantilly/images/view_more_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 22px;
    width: 16px;
}

.buttons a.view_less{
    min-width: 0;
    background-image: url("chantilly/images/view_less_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 22px;
    width: 16px;
}
*/

/*
.collapser {
    cursor: pointer;
}
*/

/* Buttons - end */

/* TODO: remove when old menu is removed */
.top_fixed {
    display: block;
    top: 0 !important;
    z-index: 1000;
    left: 0;
    position: fixed;
}

#logo_container {
    padding-left: 0%;
    padding-bottom: 10px;
    padding-top: 10px;
}

span.enumerator-item {
    font-weight: 800;
}

/* Title bar */

.global-buttons + .hat-bar-container {
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
}

.hat-bar-container {
    margin-bottom: 10px;

    color: #311714;
    background-color: #fff3f2;
    border: 3px solid #fdedeb;
    border-radius: 10px;
}

div.hat-bar {
    display: flex;
    flex-direction: row;
}

.hat-bar .bar-icon {
    padding-right: 30px;
}

.hat-bar .bar-icon img {
    background: white;
    border-radius: 32px;
}

.hat-bar .bar-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hat-bar .bar-title h1 {
    margin: 0;
    font-size: 1.8em;
}

.hat-bar .bar-actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hat-bar .bar-action .bar-button img:hover {
    filter: brightness(2);
}

.bar-deleted-indicator {
    font-size: 0.8em;
    color: #888;
    font-weight: 600;
}

.bar-sandboxed-indicator {
    font-size: 0.8em;
    color: #a15ed0;
    font-weight: 600;
}

/* Title bar - end */

/* (new) Footer */

.footer {
    margin-top: 15px;

    padding-top: 30px;
    padding-bottom: 25px;

    padding-left: 24px;
    padding-right: 24px;

    color: #fff;
    font-weight: 600;

    background-color: hsl(197, 24%, 27%);
    background-image: url(common/images/creme-pattern.png);
    background-position: left -30px;
}

.footer .footer-baseline strong {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #479ef5;
}

.footer .footer-baseline-version {
    margin-left: 10px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #bbb;
}

.footer a {
    color: #fff;
}

.footer .footer-baseline a {
    color: inherit;
}

.footer a:hover {
    color: #479ef5;
}

.footer ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.footer-columns {
    margin-top: 40px;
}

.footer-columns .footer-column {
    float: left;
    width: 25%;
}

.footer-columns .footer-column.footer-column-hybird {
    float: right;
}

.footer-columns .column-content {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.footer-columns .footer-column-creme .column-content {
    margin: 0;
}

.footer .column-content::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #bfbfbf;
    top: -10px;
}

.footer .footer-column-title {
    display: inline-block;
    position: relative;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.footer .footer-column-title .icon-hybird {
    position: absolute;
    right: -25px;
    top: -5px;
}

.footer .footer-client-logo {
    max-height: 40px;
    margin: 10px 0;
}

.footer .footer-client-logo img {
    max-height: 40px;
    background: white;
}

.footer .hybird-phone {
    margin-top: 10px;
}

.footer .hybird-address {
    margin-top: 10px;
}

.footer .footer-column-client .icon-phone {
    margin-left: 5px;
}

.footer-columns .footer-column-client {
    width: 50%;
}

.footer .footer-column-creme li,
.footer .footer-column-client li {
    margin-top: 5px;
}

/* (new) Footer */

/* Footer decoration  */

.icon-hybird {
    width: 22px;
    height: 20px;

    fill: currentColor;
    position: relative;
    top: 2px;

    transition: transform 0.5s ease-in-out 5s;
}

.icon-hybird:hover {
    transform: rotate(720deg);
}

.footer .footer-column-hybird .icon-phone {
    margin-right: 2px;
}

.icon.icon-phone {
    width: 14px;
    height: 14px;

    top: 2px;
}

.icon.icon-email {
    width: 14px;
    height: 14px;

    top: 3px;
    opacity: 0.92;
}

.footer .footer-column-hybird .icon-email {
    margin-right: 2px;
}

.icon.icon-phone:hover {
    animation: shake 0.1s steps(2) 5 5s,
               shake 0.1s steps(2) 8 6.5s,
               shake 0.1s steps(2) 5 8s;
}

@keyframes shake {
  from { transform: translateX(-1px); }
  to   { transform: translateX(1px); }
}

.page-decoration {
    margin: 15px 15px 0 15px;
    color: #bbb;
}

.page-decoration > * {
    display: inline-block;
}

.page-decoration div {
    width: calc(50% - 21px);
    border-top: 1px solid currentColor;
    height: 7px;
}

.page-decoration .icon-hybird {
    margin: 0 5px;
}

/* Footer decoration  */
