/* TODO: fix jquery-css/creme-theme/jquery-ui-1.11.4.custom.css ?? */
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    font-size: 1.1em;
}

.ui-dialog {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/*----------------------------------*/
.ui-creme-timepicker { margin:0; padding:0; list-style:none;}
.ui-creme-timepicker li { margin:0; padding:0; position:relative; display:inline-block;}
.ui-creme-timepicker li input { width:3em !important; /* border:1px solid #6eaac4; */ text-align:right; margin:0px 2px;}

/*----------------------------------*/
.ui-creme-datetimepicker { margin:0; padding:0; list-style:none;}
.ui-creme-datetimepicker li { position:relative; display:inline-block;}
.ui-creme-datetimepicker li input { width:3em; /* border:1px solid #6eaac4; */ text-align:right; margin:0px 2px;}
.ui-creme-datetimepicker li.date input { width: 8em; }
.ui-creme-datetimepicker li img.ui-datepicker-trigger { vertical-align:middle; }

/*----------------------------------*/
ul.ui-layout { margin:0; padding:0; list-style:none; }
ul.ui-layout li { margin:0; padding:0; list-style:none; }

ul.ui-layout.hbox li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
}
ul.ui-layout.hbox li input { margin: 0px 2px; }

ul.ui-layout.vbox li { position:relative; display:block; }

.ui-layout.resize-sensor, .ui-layout.resize-sensor > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/*----------------------------------*/
/* ul.ui-creme-widget[readonly] li { */
ul.ui-creme-widget:read-only li {
    color: hsla(197, 15%, 55%, 1);
}

.ui-creme-selectorlist img.delete { border: 0; vertical-align: middle; margin-left: 2px; }
.ui-creme-selectorlist img.delete:hover { cursor:pointer; }

.ui-creme-selectorlist .selectors { margin-bottom: 2;}

.ui-creme-selectorlist[disabled] img.delete { display: none; }

.ui-creme-selectorlist.is-disabled button[type="button"].ui-creme-actionbutton,
.ui-creme-selectorlist button[type="button"][disabled].ui-creme-actionbutton {
    opacity: .50;
    filter: Alpha(Opacity=50);

    cursor: default;
    cursor: not-allowed;
}

.ui-creme-selectorlist button[type="button"][disabled].ui-creme-actionbutton:hover {
    cursor: default;
    cursor: not-allowed;
}

/*----------------------------------*/
.ui-creme-chainedselect img.reset { border:0; vertical-align:middle; }
.ui-creme-chainedselect img.reset:hover { cursor:pointer; }

/*----------------------------------*/

.ui-creme-chainedselect li .ui-creme-dselect { width:20em; }
.ui-creme-chainedselect li .ui-creme-dselectlabel { min-width:10em; display:inline-block; }

.ui-creme-chainedselect li[chained-name="rtype"] .ui-creme-dselect { width:22em; }
.ui-creme-chainedselect li[chained-name="ctype"] .ui-creme-dselect { width:18em; }
.ui-creme-chainedselect li[chained-name="column"] .ui-creme-dselect { width:auto; }
.ui-creme-chainedselect li[chained-name="searchfield"] .ui-creme-dselect { width:14em; }

/*----------------------------------*/
.ui-creme-entityselector > input {
    display: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 0;
    height: 0;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    box-shadow: none !important;
}

/*----------------------------------*/
.ui-creme-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    z-index: 1;
}

.ui-creme-overlay .overlay-content {
    z-index: 1;
    height: 100%;
    background: transparent;
}

.ui-creme-overlay .overlay-content .subtitle {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
}

.ui-creme-overlay .overlay-content .message {
    margin-left: 10px;
}

.ui-creme-overlay .overlay-content .redirect {
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
}

.ui-creme-overlay.frame-loading {
    background-color: white;
    opacity: .80;
    filter: Alpha(Opacity=80);
}

.ui-creme-overlay.page-loading {
    background-color: white;
    opacity: .80;
    filter: Alpha(Opacity=80);
}

.ui-creme-overlay.page-loading .overlay-content {
    position: relative;
}

.ui-creme-overlay.page-loading .overlay-content img {
    margin: 0 5px 0 0;
}

.ui-creme-overlay.page-loading .overlay-content h2 {
    color: #376e86;
    text-align: center;
    position: fixed;
    bottom: 50%;
    width: 100%;
    opacity: 1.0;
    vertical-align: middle;
}

.ui-creme-overlay.overlay-active[status="wait"] { background-image: url("chantilly/images/wait.gif"); }

/*----------------------------------*/
.ui-dialog-scrollbackground {
    position: fixed;
}

.ui-dialog-content .ui-creme-overlay {
    background-color: #F6FCFF;
}

/*----------------------------------*/
.ui-creme-jqueryplot[widget="ui-creme-jqueryplot"] {
    background-image: url("chantilly/images/image_64.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: white;
}

.ui-creme-jqueryplot.widget-active[widget="ui-creme-jqueryplot"][status="wait"] {
    background-image: url("chantilly/images/wait.gif");
}

.ui-creme-jqueryplot.widget-active[widget="ui-creme-jqueryplot"][status="valid"] {
    background-image: none;
}

.ui-creme-jqueryplot .jqplot-highlighter-tooltip {
    border: 0px;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    z-index: 1;
    pointer-events: none;
}

.ui-creme-jqueryplot .jqplot-table-legend .jqplot-table-legend-label {
    padding-right: 10px;
}

.ui-creme-jqueryplot .jqplot-target .jqplot-actions {
    position: absolute;
    z-index: 1;
    right: 0;
    opacity: 0.5;
}

.ui-creme-jqueryplot .jqplot-target:hover .jqplot-actions {
    opacity: 1;
}

.ui-creme-jqueryplot .jqplot-target .jqplot-actions button {
    padding: 0;
    border: 0;
    width: 24px;
    height: 24px;
    background-color: #f4fafd;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: right;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ui-creme-jqueryplot .jqplot-target .jqplot-actions button:hover {
    cursor: pointer;
}

.ui-creme-jqueryplot .jqplot-target .jqplot-actions button[name="capture"] {
    background-image: url("chantilly/images/image_22.png");
}

/*----------------------------------*/
ul.ui-creme-actionbuttonlist {
    display: inline;
    padding: 0px 4px 0px 0px;
}

button[type="button"].ui-creme-actionbutton,
.ui-creme-entityselector > button[type="button"] {
    padding: 5px 15px;

    background: linear-gradient(#f6fcff, #e0f1f7);

    border: 1px solid #bdd3dc;
    border-bottom: 1px solid #9db2bb;

    border-radius: 3px;

    -webkit-box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
       -moz-box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
            box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;

    text-align: center;
    text-decoration: none;
    color: #34687e;

    cursor: pointer;
}

button[type="button"].ui-creme-actionbutton:hover,
.ui-creme-entityselector > button[type="button"]:hover {
    background: linear-gradient(#ffffff, #f3f3f3);
}

button[type="button"].ui-creme-actionbutton[disabled],
.ui-creme-entityselector > button[type="button"][disabled] {
    opacity: .50;
    filter: Alpha(Opacity=50);

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    cursor: default;
    cursor: not-allowed;
}

button[type="button"].ui-creme-actionbutton[disabled]:hover,
.ui-creme-entityselector > button[type="button"][disabled]:hover {
    background: linear-gradient(#fafdff, #e7f4f9);
}

button[type="button"].ui-creme-actionbutton.with-icon {
    padding-left: 32px;
}

button[type="button"].ui-creme-actionbutton img {
    position: absolute;
    top: 4px;
    left: 9px;
}

/*-------------------------*/
span.ui-creme-datepicker-trigger {
	vertical-align: middle;
}

/* TODO: factorise ? */
.creme-datepicker button[name="today"],
.ui-creme-timepicker button,
.ui-creme-datetimepicker button {
    padding: 3px 11px;

    border: 1px solid #bdd3dc;
    border-bottom: 1px solid #9db2bb;

    border-radius: 3px;

    -webkit-box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
       -moz-box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
            box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;

    text-align: center;
    text-decoration: none;
    color: #34687e;

    background: linear-gradient(#f6fcff, #e0f1f7);

    cursor: pointer;
}

.creme-datepicker button[name="today"]:hover,
.ui-creme-timepicker button:hover,
.ui-creme-datetimepicker button:hover {
    background: linear-gradient(#ffffff, #f3f3f3);
}

.creme-datepicker button[name="today"]:disabled,
.ui-creme-timepicker button:disabled,
.ui-creme-datetimepicker button:disabled,
input:disabled + .ui-datepicker-trigger {
    display: none;
}

/*----------------------------------*/
.ui-creme-toggle .toggle-target.toggle-collapsed {
    display: none;
}

.ui-creme-toggle .toggle-trigger {
    cursor: pointer;
}

.toggle-icon-container {
    height: 14px;
    width: 14px;

    cursor: pointer;
}

.toggle-icon-container .toggle-icon {
    width: 0;
    height: 0;
}

.toggle-icon-container.toggle-icon-expand .toggle-icon {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #40687e9c;
}

.toggle-icon-container.toggle-icon-collapse .toggle-icon {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #40687e9c;
}

/*---------------------------------*/

.ui-creme-checklistselect {
    padding: 1px;
}

.ui-creme-checklistselect .checklist-header {
    float: right;
    color: #777;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
}

.ui-creme-checklistselect.is-disabled .checklist-header {
    display: none;
}

.ui-creme-checklistselect .checklist-header a {
    color: #777;
    background-color: none;
    vertical-align: middle;
    text-shadow: none;

    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

.ui-creme-checklistselect .checklist-header a+a {
    border-left: 1px solid #777;
    padding-left: 4px;
    margin-left: 4px;
}

.ui-creme-checklistselect .checklist-header a:hover {
    cursor: pointer;
}

.ui-creme-checklistselect .checklist-header a[disabled] {
    opacity: 0.5;
    text-decoration: none;

    cursor: default;
    cursor: not-allowed;
}

.ui-creme-checklistselect .checklist-header a.hidden {
    display: none;
}

.ui-creme-checklistselect .checklist-header .checklist-filter {
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 2px;

    font-size: 10px;
    vertical-align: middle;
}

.ui-creme-checklistselect .checklist-counter {
    float: left;
    color: #777;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: none;
}

.ui-creme-checklistselect .checklist-counter.visible {
    display: inline-block;
}

.ui-creme-checklistselect .checklist-content {
    clear: both;
    list-style: none;

    padding: 0 0 5px 0;
    margin: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-column-width: 200px;
       -moz-column-width: 200px;
        -ms-column-width: 200px;
            column-width: 200px;
}

.ui-creme-checklistselect .checklist-content.wide {
    -webkit-column-width: 370px;
       -moz-column-width: 370px;
        -ms-column-width: 370px;
            column-width: 370px;
}

.ui-creme-checklistselect .checklist-content .checkbox-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin-right: 20px;

    padding-top:2px;
    padding-bottom:2px;

    -webkit-transform: translate3d(0,0,0); /* HACK : fix performance issues with some chrome versions */

    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
         -o-column-break-inside: avoid;
            column-break-inside: avoid;

    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}

.ui-creme-checklistselect .checklist-content .checkbox-field.hidden {
    display: none;
}

.ui-creme-checklistselect:not([less]) .checklist-body {
    max-height: 250px;
    overflow-y: auto;
    clear: both;
}

.ui-creme-checklistselect .checklist-content .checkbox-field input[type=checkbox] {
    margin-left: 4px;
    margin-bottom: 0px;
    margin-top: 2px;
    align-self: flex-start;
}

.ui-creme-checklistselect .checklist-content .checkbox-label {
    margin-right: 4px;
    max-width: 180px;
    cursor: default;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.ui-creme-checklistselect.is-disabled .checklist-content .checkbox-label {
    color: #547f93;
}

.ui-creme-checklistselect .checklist-content .checkbox-label-help {
    padding-bottom: 5px;
    opacity: 0.6;
    font-size: 11px;
    font-style: italic;
}

.ui-creme-checklistselect .checklist-content.wide .checkbox-label {
    max-width: 370px;
}

.ui-creme-checklistselect .checklist-content.wide .checkbox-helptext {
    max-width: 370px;
}

.ui-creme-checklistselect .checkbox-field[disabled] .checkbox-label {
    opacity: 0.5;
}

.ui-creme-checklistselect .checklist-content.less .checkbox-field.more {
    position: absolute;
    top: 0;
    left: -1000;
    width: 0;
    height: 0;
    overflow: hidden;
}

.ui-creme-checklistselect .checklist-footer {
    text-align: center;
}

.ui-creme-checklistselect .checklist-footer a {
    color: #777;
    background-color: none;
    vertical-align: middle;
    text-shadow: none;

    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

.ui-creme-checklistselect .checklist-footer a:hover {
    cursor: pointer;
}

.ui-creme-checklistselect .checklist-footer .checklist-toggle-less:not(.is-active) {
    display: none;
}

.ui-creme-checklistselect.is-field-invalid {
    padding: 0;
}

.ui-creme-checklistselect select.ui-creme-input,
.ui-creme-checklistselect select.is-field-invalid {
/*  Modified on 14/06/2022
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    width: 0;
    height: 0;
    border: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    box-shadow: none !important;
*/
    display: none;
}

.ui-creme-checklistselect .checklist-content .checkbox-group {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0;
}

.ui-creme-checklistselect .checklist-content .checkbox-group-header {
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
         -o-column-break-inside: avoid;
            column-break-inside: avoid;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-bottom: 2px;

    background: #d9d9d9;
}

.ui-creme-checklistselect .checklist-content.ie-layout-fallback .checkbox-field,
.ui-creme-checklistselect .checklist-content.ie-layout-fallback .checkbox-group-header {
    display: inline-block;
    width: 180px;
    max-width: 180px;
}

.ui-creme-checklistselect .checklist-content.ie-layout-fallback.wide .checkbox-field,
.ui-creme-checklistselect .checklist-content.ie-layout-fallback.wide .checkbox-group-header {
    width: 360px;
    max-width: 360px;
}

.ui-creme-checklistselect .checklist-content.ie-checkbox-fallback .checkbox-field input[type=checkbox] {
    margin-top: 0px;
    vertical-align: middle;
}

/*----------------------------------*/
.ui-creme-optional.is-disabled .optional-widget-hiddable {
    color: #aac1ca;
}

/*----------------------------------*/
.ui-creme-dialog-warn {
    clear: both;
}

.ui-creme-dialog-warn .ui-icon {
    float: left;
    margin-right: 5px;
    margin-left: 10px;
}

.ui-creme-dialog-warn .header {
    font-size: 13px;
    font-weight: bold;
}

.ui-creme-dialog-warn .message {
    font-size: 12px;
    margin-left: 10px;
}

.ui-dialog-content .ui-creme-dialog-frame {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
}

.ui-dialog-content .ui-creme-dialog-frame .global-error {
    background-color: #f08080;
}

.ui-dialog-content .ui-creme-dialog-action {
    display: none;
}

.glasspane {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.glasspane[data-debug] {
    background-color: rgba(0, 255, 0, 0.3);
}

.ui-dialog-within-container {
    position: fixed;
    top: 35px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 35px);
    pointer-events: none;
}

/* Dialog Hat-Bars */

.ui-dialog-title .hat-bar-container {
    padding: 0;
    background: none;
    margin: 0;
    border: 0;
}

.ui-dialog-title .hat-bar-container .hat-bar .bar-title h1 {
    font-size: 15px;
}

.ui-dialog-title .hat-bar-container .hat-bar .bar-icon {
    padding-right: 11px;
}

.ui-dialog-title .hat-bar-container .hat-bar .bar-icon img {
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
}

.ui-dialog-title .hat-bar-container .hat-bar {
    height: 24px;
}

.ui-dialog-title .hat-bar-container .hat-bar .bar-title h1 {
    margin-top: 3px;
}

/*----------------------------------*/
/* select[readonly] { */
select:read-only {
    color: gray;
}

/*----------------------------------*/
/* .ui-creme-dselect[readonly] { */
.ui-creme-dselect:read-only {
    color: gray;
}

/* Jobs */

img.progress {
    display: block;
}

span.ack-errors {
    display: block;
    background-color: #f08080;
}

img.entity-summary {
    height: 64px;
    width: 64px;
}
