/* Layout with columns
   TODO: new file inner-popup.css ??
*/

.content-detail-view .column,
.content-form-view .column,
.inner-popup-content .column {
    float: left;
    margin-left: 0px;
}

.content-detail-view .column.last,
.content-form-view .column.last,
.inner-popup-content .column.last {
    float: right;
    margin-right: 0px;
}

.content-detail-view .north,
.content-detail-view .west,
.content-detail-view .south,
.content-detail-view .east,
.content-form-view .north,
.content-form-view .west,
.content-form-view .south,
.content-form-view .east,
.inner-popup-content .north,
.inner-popup-content .west,
.inner-popup-content .south,
.inner-popup-content .east {
    box-sizing: border-box;
}

.content-detail-view .north:not(:empty),
.content-form-view .north:not(:empty) {
    margin-bottom: 15px;
}

.content-detail-view .south:not(:empty),
.content-form-view .south:not(:empty),
.inner-popup-content .south:not(:empty) {
    margin-top: 15px;
}

.content-detail-view .east.column.last,
.content-form-view .east.column.last {
    padding-left: 13px;
}

/* TODO: switch to the modern 'border-box' box-sizing everywhere,
         and just use regular width and padding to visually separate those columns */
/* TMP: using calc() ensures only modern browsers will see the width change until then.
        Since the 2 columns are floated on opposite sides, shortening their width by x will create a 2x margin between them */
.content-detail-view .east,
.content-detail-view .west,
.content-form-view .east,
.content-form-view .west,
.inner-popup-content .east,
.inner-popup-content .west {
    width: 49.9%;
    width: calc(49.9% - 3px);
}

.content-detail-view .clear,
.content-form-view .clear,
.inner-popup-content .clear {
    clear: both;
}

.content-detail-view .north,
.content-detail-view .south,
.content-form-view .north,
.content-form-view .south,
.inner-popup-content .north,
.inner-popup-content .south {
    width: 99.9%;
}

/* Buttons lists (global, entity, business) */

.content-detail-view .instance-buttons,
.notification-list-view .buttons-list {
    padding-bottom: 20px;
}

.content-detail-view .entity-buttons {
    font-size: 0;
}

.content-detail-view .entity-buttons > * {
    margin-left: 10px;
}

.content-detail-view .entity-buttons a {
    cursor: pointer;
}

.content-detail-view .entity-buttons .entity-button-restore,
.content-detail-view .entity-buttons .entity-button-delete {
    margin-left: 20px;
}

/* Buttons lists - end */

.content-detail-view .listviews-breadcrumbs {
    padding-left: 10px;
    color: #888;
}

.listviews-breadcrumbs .listviews-breadcrumbs-separator {
    font-size: 14px;
}

.listviews-breadcrumbs a {
    color: #333;
    text-decoration: underline;
}

/* Breadcrumbs - end */

/* Bar brick */

.brick.brick-hat-bar {
    padding-bottom: 0px;
    margin-bottom: 15px;

    box-shadow: none;
    background: none;

    border: 3px solid #fdedeb;
    border-radius: 10px;

    background-color: #fff3f2;
    color: #311714;
}

/* Card brick */

.brick-hat-card .hat-card {
    display: flex;
    min-height: 200px;
    margin-bottom: 15px;
}

.brick-hat-card .hat-card-main {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px 10px 0 10px;

    vertical-align: top;
}

.brick-hat-card .hat-card-sidebar {
    min-width: 400px;
    margin-left: 10px;
    padding-top: 10px;

    vertical-align: top;
}

.is_deleted .brick-hat-card .hat-card-sidebar,
.brick-hat-card .hat-card-sidebar.hat-card-sidebar-narrow {
    min-width: 350px;
}

.brick-hat-card .hat-card-sidebar .card-button-icon {
    margin-left: 4px;
}

.brick-hat-card .hat-card-sidebar .card-button-icon img {
    left: 6px;
}

.is_deleted .brick-hat-card .hat-card-sidebar .card-button-icon,
.brick-hat-card .hat-card-sidebar.hat-card-sidebar-narrow .card-button-icon {
    padding-right: 20px;
    padding-left: 35px;
}

.is_deleted .brick-hat-card .hat-card-sidebar .card-button-icon img,
.brick-hat-card .hat-card-sidebar.hat-card-sidebar-narrow .card-button-icon img {
    left: 13px;
}

.brick-hat-card .business-card-container {
    display: inline-flex;
    width: 100%;
}

.brick-hat-card .business-card {
    display: inline-flex;
    flex-grow: 1;
}

.brick-hat-card .card-content {
    flex-grow: 1;
    margin-left: 25px;
}

.brick-hat-card .card-icon {
    padding-top: 3px;
}

.brick-hat-card .card-intro {
    display: flex;
    align-items: flex-end;
}

.brick-hat-card .card-type {
    flex: 1;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #666;
}

.brick-hat-card .card-intro .card-info-field {
    display: inline-flex;
}

.brick-hat-card .last-action-link {
    margin-left: 3px;
}

.brick-hat-card .card-main {
    display: flex;
}

.brick-hat-card .card-name {
    flex: 1;
    margin-top: 5px;

    font-weight: 600;
    font-size: 16px;
    color: #311714;
}

.brick-hat-card .hat-card-info {
    display: flex;
    margin-top: 15px;
}

.brick-hat-card .card-info-fields,
.brick-hat-card .card-info-summary {
    flex-grow: 1;
    min-height: 100px;
    width: 50%;
}

.brick-hat-card .card-info-title {
    display: inline-block;
    margin-bottom: 10px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #444;
}

.brick-hat-card .card-info-fields {
}

.brick-hat-card .card-info-summary {
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.brick-hat-card .card-info-field {
    display: flex;
}

.brick-hat-card .card-info-field [data-type="email"] {
    word-break: break-word;
}

.brick-hat-card .card-info-field + .card-info-field {
    margin-top: 4px;
}

.brick-hat-card .card-info-key {
    min-width: 150px;
    padding-top: 2px;

    vertical-align: top;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #888;
}

.brick-hat-card .card-intro .card-info-key {
    min-width: auto;
}

.brick-hat-card .card-info-value {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;

    vertical-align: top;

    font-weight: 600;
    font-size: 14px;
}

.brick-hat-card .card-intro .card-info-value {
    display: inline;
    margin-left: 15px;

    font-size: 13px;
    font-weight: 500;
    color: #888;
}

.brick-hat-card .card-info-value img {
    width: 15px;
    position: relative;
    top: 3px;
}

.brick-hat-card .business-card-indicators {
    display: inline-block;
    margin-top: 5px;

    text-align: right;
}

.brick-hat-card .business-card-indicator {
    display: inline-block;
    padding: 2px 10px;

    border-radius: 4px;
    background: #6a9af5;

    color: #fff;
    font-weight: 700;
    text-align: center;
}

.brick-hat-card .business-card-indicator.business-card-warning-indicator {
    background: #ff6a6a;
}

.brick-hat-card .business-card-indicator.business-card-deleted-indicator {
    margin-left: 7px;
    background: #414141;
    font-size: 13px;
}

.brick-hat-card .business-card-indicator.business-card-sandboxed-indicator {
    margin-left: 7px;
    background: #a15ed0;
    font-size: 13px;
}

.brick-hat-card .business-card-indicator.business-card-pinned-indicator {
    margin-left: 7px;
    background: #ff5ce6;
    font-size: 13px;
}

.brick-hat-card .next-action-value .next-action-type {
    font-size: 13px;
    margin-right: 5px;
}

.brick-hat-card .card-info-value.next-action-value a {
    color: #888;
}

.brick-hat-card .brick-card-action {
    max-height: 16px;
    padding: 0px 7px 0px 5px;
    margin-left: 5px;

    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in;

    background: #fafafa;
    outline: 1px solid #ccc;
    text-decoration: none;
    white-space: nowrap;
}

.brick-hat-card .card-info-field:hover .brick-card-action,
.brick-hat-card .card-name:hover .brick-card-action {
    opacity: 1;
    visibility: visible;
}

.brick-hat-card .brick-card-action-title {
    white-space: nowrap;
    font-size: 11px;
    font-weight: 600;
    color: #444;
}

.brick-hat-card .brick-card-action img {
    margin-bottom: 1px;
    height: 12px;
    min-width: 12px;
    max-width: 12px;
}

/* Card brick sidebar */

.brick-hat-card .card-actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.brick-hat-card .card-action {
    display: inline-block;
}

.brick-hat-card .card-history {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.brick-hat-card .history-title-container {
    display: inline-flex;
    width: 100%;
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
    margin-bottom: 10px;
}

.brick-hat-card .history-title {
    display: inline-block;
    flex-grow: 1;

    color: #444;
    font-weight: 600;
    vertical-align: top;
}

.brick-hat-card .history-info {
    color: #666;
    font-size: 13px;
}

.brick-hat-card .history-info + .history-info {
    margin-top: 5px;
}

.brick-hat-card .history-info-value,
.brick-hat-card .history-info-value a {
    color: #333;
    font-weight: 600;
}

.brick.brick-hat-card {
    margin: 0;
    margin-bottom: 15px;

    padding: 0;

    box-shadow: none;
    background: none;
    background-color: #fff3f2;

    border: 3px solid #fdedeb;
    border-radius: 10px;
}

.brick-hat-card .brick-content {
    padding: 0;
}

.brick-hat-card .card-icon > div {
    width: 25px;
    height: 25px;
}

/* Notifications list */

.notification-list-view .buttons-list {
    padding-top: 5px;
    padding-bottom: 20px;
}
