/* #editforms { */
div.form-container {
    padding-bottom: 10px;
}

/*
#editforms form .table_detail_view {
    border: 1px solid #bdd3dc;
    padding: 0px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

#editforms form .table_detail_view thead {
    background: #e9f6fb;
    color: black;
    font-size: 14px;
}

#editforms form .table_detail_view .block_header_line_light,
#editforms form .table_detail_view .block_line_light {
    background: white;
}

#editforms form .table_detail_view .block_header_line_dark,
#editforms form .table_detail_view .block_line_dark {
    background: #f8fdff;

}

#editforms form .table_detail_view tbody th,
#editforms form .table_detail_view tbody td {
    border-top: 1px solid #e1e9ec;
    border-radius: 0px;
}
*/

/* Layout */

.form-container-blocks .form-layout-regular {
     -webkit-box-sizing: border-box;
       -moz-box-sizing:  border-box;
            box-sizing:  border-box;
}

.form-container-blocks .form-layout-regular,
.form-container-blocks .form-layout-dual-columns {
    width: 99.9%;
}

.form-container-blocks .form-layout-dual-columns .dual-column {
    width: 49.9%;
    width: calc(49.9% - 10px);
}

.form-container-blocks .form-layout-dual-columns .dual-column-left {
    float: left;
    margin-left: 0px;
}

.form-container-blocks .form-layout-dual-columns .dual-column-right {
    float: right;
    margin-right: 0px;
    padding-left: 13px;
}

.form-container-blocks div.clear + .form-layout-regular,
.form-container-blocks .form-layout-regular + .form-layout-dual-columns {
    margin-top: 15px;
}

.form-container .form-block {
    width: 100%;
    display: inline-block;

    background: white;
}

.form-container-blocks .form-block {
    border-left: 1px solid #bdd3dc;
    border-bottom: 1px solid #bdd3dc;
    border-right: 1px solid #bdd3dc;

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-container .form-block-errors {
    width: 100%;
    display: inline-block;

    background: #fef1ec;

    border: 2px solid #ffa3a3;
    border-radius: 3px;

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-container .form-block + .form-block {
    margin-top: 15px;
}

.form-container .form-block-errors {
    margin-bottom: 15px;
}

/* Layout - end */

/* Blocks */

.form-block-errors .form-block-errors-header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 26px;

    margin: 0;
    padding: 0;

    background: #ffd4c4;
}

.form-block-errors .form-block-errors-header .form-block-errors-title {
    padding-left: 10px;

    text-transform: uppercase;
    font-size: 12px;
    color: #612f2f;
    font-weight: 600;
}

.form-block-errors .form-block-errors-content .errorlist {
    border: none;
    background: none;
}

.form-block .form-block-header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 26px;

    margin: 0;
    padding: 0;

    background: #e9f6fb;

    border-top: 1px solid #bdd3dc;
    border-bottom: 1px solid #cce0e8;
}

.form-block .form-block-header .form-block-title {
    padding-left: 10px;

    font-size: 14px;
    color: hsla(198, 41%, 35%, 1);
    font-weight: 600;
}

.form-block .form-block-field {
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.form-block .form-block-fields {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;

    padding: 10px;
    padding-top: 0;
}

.form-block .form-block-fields > label {
    padding: 10px;

    border-top: 1px solid #cce0e8;

    text-transform: uppercase;
    color: hsla(197, 15%, 50%, 1);
}

.form-block .form-block-field-value {
    padding-top: 8px;
    padding-bottom: 8px;

    border-top: 1px solid #cce0e8;
}

.form-block .form-block-field .form-block-field-value,
.form-block .form-block-fields > label:first-child,
.form-block .form-block-fields > label:first-child + .form-block-field-value {
    border-top: none;
}

.form-block .form-block-field .form-block-field-value ul.errorlist,
.form-block .form-block-fields .form-block-field-value ul.errorlist {
    margin-top: 0px;
}

/* Blocks - end */

div.submit_buttons {
    margin-top: 20px;
    text-align: center;
}

div.submit_buttons a {
    padding-left: 20px;
}

/* TODO: factorise with jQuery ui theme */
div.submit_buttons input,
div.submit_buttons button {
    padding: 0.4em 1em;

    border: 1px solid #6eaac4;
    border-radius: 6px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#acd1e2+0,acd1e2+50,89bfd7+51,bedbe9+100 */
    background: #acd1e2; /* Old browsers */
    background: -webkit-linear-gradient(top, #acd1e2 0%,#acd1e2 50%,#89bfd7 51%, #bedbe9 100%); /* Chrome10-25,Safari5.1-6 */
    background:    -moz-linear-gradient(top, #acd1e2 0%, #acd1e2 50%, #89bfd7 51%, #bedbe9 100%); /* FF3.6-15 */
    background:         linear-gradient(to bottom, #acd1e2 0%,#acd1e2 50%,#89bfd7 51%, #bedbe9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    font-size: 1.1em;
    font-weight: bold;
    color: #284b5a;

    cursor: pointer;
}

div.submit_buttons input:hover,
div.submit_buttons button:hover {
    border: 1px solid #ff968d;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9e2df+0,f9e2df+50,f7d6d2+51,fae8e6+100 */
    background: #f9e2df; /* Old browsers */
    background: -webkit-linear-gradient(top, #f9e2df 0%, #f9e2df 50%, #f7d6d2 51%, #fae8e6 100%); /* Chrome10-25,Safari5.1-6 */
    background:    -moz-linear-gradient(top, #f9e2df 0%, #f9e2df 50%, #f7d6d2 51%, #fae8e6 100%); /* FF3.6-15 */
    background:         linear-gradient(to bottom, #f9e2df 0%, #f9e2df 50%, #f7d6d2 51%, #fae8e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e2df', endColorstr='#fae8e6',GradientType=0 ); IE6-9 */

    color: #653b38;
}

input,
textarea,
select,
button {
    padding-left: 3px;

    font-size: 12.8px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

input,
textarea {
    border: 1px solid #6eaac4;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

input[type="file"] {
    border: 0;
}

.is-field-invalid {
    box-shadow: 0px 0px 4px #cd0a0a;
    border: 1px solid #cd0a0a !important;
}

button.is-form-submit, input.is-form-submit {
    color: grey;
}

input:disabled,
/*input[readonly],*/
input:read-only,
textarea:disabled,
textarea:read-only {
/* textarea[readonly] { */
    color: #96c0d3;
    background: #effaff;
    border-color: #dbeef7;

    cursor: default;
    cursor: not-allowed;
}

.help-text ul {
    margin: 0px;
    padding-left: 20px;
}

ul.radio_select,
ul.multi-select {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-block-field-value > input[type="text"],
.form-block-field-value > input[type="email"] {
    min-width: 260px;
}

.form-block-field-value > input[type="url"] {
    min-width: 320px;
}

.form-block-field-value textarea {
    width: 99%;
}

/* TODO: factorise ? */
.form-block-field-value input[type="button"] {
    height: 23px;
    padding: 2px 10px;

    background: linear-gradient(#f6fcff, #e0f1f7);

    border: 1px solid #bdd3dc;
    border-bottom: 1px solid #9db2bb;
    border-radius: 3px;

    -webkit-box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
       -moz-box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
            box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;

    text-align: center;
    text-decoration: none;
    color: #34687e;

    cursor: pointer;
}

.form-block-field-value .help-text {
    margin-bottom: 4px;

    color: hsla(197, 15%, 45%, 1);
    font-style: italic;
    font-size: 12.5px;
}

.form-block-field-value .help-text-format {
    color: hsla(197, 15%, 50%, 1);
}

.select-wrapper {
    display: inline-block;
    height: 24px;
}

.select-wrapper select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    width: 280px;
    height: 23px;

    background: linear-gradient(#f6fcff, #e0f1f7);

    border: 1px solid #bdd3dc;
    border-bottom: 1px solid #9db2bb;

    border-radius: 3px;

    -webkit-box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
       -moz-box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
            box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;


    text-align: left;
    text-decoration: none;
    color: #34687e;

    cursor: pointer;
}

/* TODO: Remove when Chosen is removed */
.chzn-select {
    width: 280px;
}

/* Not used by all browsers... */
.select-wrapper option {
    background-color: #fff;
    color: #333;
}

.select-wrapper .select-arrow {
    position: relative;

    top: -13px;
    left: 260px; /* see .form-block-field-value select => width: 280px */

    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #40687e9c;

    pointer-events: none;
}

.form-block-field-value input[type="button"][disabled],
.select-wrapper select:disabled,
.select-wrapper select:disabled + .select-arrow  {
    opacity: .50;
    filter: Alpha(Opacity=50);

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    cursor: default;
    cursor: not-allowed;
}

.form-block-field-value input[type="button"]:hover,
.select-wrapper select:hover {
    background: linear-gradient(#ffffff, #f3f3f3);
}

.form-block-field-value input[type="button"][disabled]:hover,
.select-wrapper select[disabled]:hover {
    background: linear-gradient(#fafdff, #e7f4f9);
}

/*
form .table_detail_view .td_info > input,
form .table_detail_view .td_info > select,
form .table_detail_view .td_info > textarea {
    width: 45%;
}
*/

/* todo: this shouldn't be done to all inputs, it creates problems with checkboxes or radiobuttons (centering them in wide cells in FF, Chrome, IE), see next todo. Needs to be applied to specific form widgets only
form .table_detail_view.dual_column .td_info > input,
form .table_detail_view.dual_column .td_info > select,
form .table_detail_view.dual_column .td_info > textarea,
.ui-dialog-content form .table_detail_view .td_info > input,
.ui-dialog-content form .table_detail_view .td_info > select,
.ui-dialog-content form .table_detail_view .td_info > textarea {
    width: 98.5%;
}
*/

/* todo: this looks more like it's fixing a bug in the previous rules setting the input width to 100% than anything specific to Chrome & Opera.
The forms templates need to be cleaned up, in addition to the previous rules about input widths.
.table_detail_view .td_info > input[type="checkbox"],
.table_detail_view.dual_column .td_info > input[type="checkbox"],
.ui-dialog-content form .table_detail_view .td_info > input[type="checkbox"] { // Fix for chrome & opera
    width: auto;
    margin-left: 0;
}
*/

/*
.ui-dialog-content form .table_detail_view .td_info > input.hasDatepicker,
form .table_detail_view.dual_column .td_info > input.hasDatepicker {
    width: 75%;
}
*/

/*
.form-block-field-value ul.ui-layout,
.form-block-field-value input,
.form-block-field-value select,
.form-block-field-value button,
.form-block-field-value .chzn-container,
.form-block-field-value ul.selectors img.delete {
    margin-bottom: 5px;
}
*/

input.dperiod-value {
    width: 40px;
}

input.dperiod-value {
    width: 40px;
}

ul.optional-widget {
    display: inline-flex;
    flex-direction: row;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/* MERGE TOOL */
.li_merge_entity_header1 {
    display: inline;
    width: 33%;

    font-size: 1.6em;
    font-weight: bold;
    color: #5a92ab;
    text-overflow: ellipsis;
    text-align: center;
}

.li_merge_entity_header2 {
    display: inline;
    width: 33%;

    font-size: 1.6em;
    font-weight: bold;
    color: #d87d72;
    text-overflow: ellipsis;
    text-align: center;
}

.li_merge_result_header {
    display: inline;
    width: 32%;

    font-size: 1.6em;
    font-weight: bold;
    text-overflow: ellipsis;
    text-align: center;
}

.li_merge_entity1, .li_merge_entity2, .li_merge_result {
    width: 30%;
}

.li_merge_button {
    max-width: 5%;
}

/*
form .table_detail_view .li_merge_entity1 input,
form .table_detail_view .li_merge_entity1 textarea {
*/
.form-container .form-block .li_merge_entity1 input,
.form-container .form-block .li_merge_entity1 textarea {
    color: #5a92ab;
    background: #edf9ff;
    border: 1px solid #bbe0f0;
}
/*
form .table_detail_view .li_merge_entity2 input,
form .table_detail_view .li_merge_entity2 textarea {
*/
.form-container .form-block .li_merge_entity2 input,
.form-container .form-block .li_merge_entity2 textarea {
    color: #d87d72;
    background: #ffedeb;
    border: 1px solid #f9c9c4;
}

/*
form .table_detail_view .merge_entity1 {
    width: 99%;
    color: #5a92ab;
    background: #edf9ff;
    border: 1px solid #bbe0f0;
}

form .table_detail_view .merge_entity2 {
    width: 99%;
    color: #d87d72;
    background: #ffedeb;
    border: 1px solid #f9c9c4;
}

form .table_detail_view .merge_result {
    width: 99%;
}
*/

.form-container .li_merge_entity1 .help-text,
.form-container .li_merge_entity1 .help-text-format,
.form-container .li_merge_entity2 .help-text,
.form-container .li_merge_entity2 .help-text-format {
    visibility: hidden; /* Not display:none to keep input aligned */
}

/* HEADER FILTER */

/* Apply a natural box layout model to all elements
    TODO: does not work at wished when not global...
.hfilter_widget * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}*/

.hfilter_widget .selectors {
    clear: both;
}

/* Filters */
.hfilter_widget .selector_filter {
    float: right;
    position: relative;
    top: -20px;

    font-size: 10px;
}

.hfilter_widget .field_selectors .selector {
    margin-left: 10px;
}

.hfilter_widget .field_selector_filter {
    font-size: 10px;
    padding-right: 15px;
    margin-left: 15px;

    font-size: 10px;
}
/* Filters end */

.hfilter_widget .selector_title {
    margin-bottom: 5px;
}

.hfilter_widget .selector_close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px 5px;
}

.hfilter_widget .selector_close:hover {
    cursor: pointer;
}

.hfilter_widget .inline_selectors .selector_title {
    display: inline-block;
}

.hfilter_widget .selector_list {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    clear: both;
}

.hfilter_widget .selector_list input[type=checkbox] {
    margin-right: 4px;
}

.hfilter_widget .selector_list > .selector {
    display: inline-block;
    margin-right: 20px;

    -webkit-transition: opacity 0.3s ease-in-out;
       -moz-transition: opacity 0.3s ease-in-out;
         -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
}

.hfilter_widget .selector_list > .selector:hover label {
    cursor: pointer;
}

.hfilter_widget .selector_list > .selector:last-child {
    margin-right: 0px;
}

.hfilter_widget .inline_selectors .selector_list {
    display: inline-block;
    margin-left: 15px;
}

.hfilter_widget .basic_field_selectors > .selector_list > .selector {
    margin-right: 0px;
    width: 230px; /* to compute with the largest element of the list */
}

.hfilter_widget .relationship_selectors .selector_list {
    display: inline-block;

    margin-top: -15px;
    margin-left: 10px;
    width: 99%;
}

.hfilter_widget .relationship_selectors .selector {
    width: 300px;
}

/* TODO: uncomment when secondary relationship are managed
.hfilter_widget .relationship_selectors .secondary_relationship {
    display: none;
}
*/

.hfilter_widget .selector .selected_count {
    opacity: 0.5;
}

/* Underlay */
.hfilter_widget .underlay {
    position: relative;
    width: 100%;

    margin-top: 12px;
    margin-bottom: 5px;

    /* bg color of the underlay, needs to match the arrow bg color */
    color: white;
    font-weight: 500;

    background: #376e86;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.hfilter_widget .underlay_selector_list {
    margin: 10px 0px 0px 0px;
    padding: 0;

    list-style: none;

    -webkit-column-width: 200px;
       -moz-column-width: 200px;
            column-width: 200px;

    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}

.hfilter_widget .underlay_selector_list .selector {
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
         -o-column-break-inside: avoid;
            column-break-inside: avoid;

    -webkit-transition: opacity 0.3s ease-in-out;
       -moz-transition: opacity 0.3s ease-in-out;
         -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
}

.hfilter_widget .underlay_selector_list > .selector:hover label {
    cursor: pointer;
}

.hfilter_widget .underlay-container {
    display: none;
}

.hfilter_widget .underlay .underlay-container {
    display: block;
}

.hfilter_widget .underlay-content {
    padding: 10px 20px 5px 30px;
}

.hfilter_widget .arrow {
    position: relative;
    width: 15px;
    height: 15px;
    overflow: hidden;

    border: 2px solid rgba(255,255,255,0.0);
    border-bottom: 0;
    border-right: 0;

    -webkit-transform: rotateZ(45deg);
       -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
            transform: rotateZ(45deg);

    z-index: 1;
}

.hfilter_widget .inside-arrow {
    position: relative;
    top: -15px;
    left: -15px;

    width: 30px;
    height: 30px;

    -webkit-transform: rotateZ(-45deg);
       -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);

    /* bg color of the arrow needs to match underlay color */
    background: #376e86;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.hfilter_widget .inside-arrow:before {
    content: ' ';

    display: block;
    position: relative;
    top: 17px;
    left: 6px;

    width: 17px;
    height: 17px;

    -webkit-transform: rotateZ(45deg);
       -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
            transform: rotateZ(45deg);

    background: none;
}

.hfilter_widget .underlay_wrapper {
    position: relative;
    top: -9px;
}

.hfilter_widget .underlay_mask {
    position: absolute;
    top: 0px;
    left: 0px;

    pointer-events: none;

    width: 100%;
    height: 100%;
    z-index: 0;
}
/* Underlay end */

.hfilter_widget .remove_all_columns {
    text-transform: uppercase;
}

.hfilter_widget .help_instructions {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #777;
}

.hfilter_widget .preview_table {
    width: 100%;
    min-height: 100px;

    background: #eee;

    border-collapse: collapse;
    border: 1px solid #ccc;
}

.hfilter_widget .preview_table .preview_row {
    border: 1px solid #ccc;
    vertical-align: top;
}

.hfilter_widget .preview_table .preview_row td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.hfilter_widget .preview_table .preview_row ul, .dragtable-drag-wrapper ul {
    margin: 0;
    padding-left: 25px;
}

.hfilter_widget .preview_table_header {
    text-align: left;
    border: 1px solid #ccc;
}

.hfilter_widget .preview_table_header th {
    vertical-align: top;
}

.hfilter_widget .preview_table_header th:not(:last-child), .preview_table_header td:not(:last-child) {
    border-right: 1px solid #ddd;
}

/* For sample fake filter (disabled in JS)
.hfilter_widget .filterable_header .header_filter, .dragtable-drag-wrapper .header_filter {
    min-width: 140px;
}

.hfilter_widget .filterable_header input.header_filter, .dragtable-drag-wrapper input.header_filter {
    font-size: 9px;
}

.hfilter_widget .filterable_header {
    font-size: 10px;
}*/

/* DRAGTABLE (HeaderFilter only at the moment) */
.dragtable-drag-wrapper .dragtable-drag-col th {
    text-align: left;
}

/* @Version 1.0.3
* default css
*/
.dragtable-drag-handle {
    cursor: move;
}

/* Gets wrapped around placeholder table */
.dragtable-drag-wrapper {
    position: absolute;
    /* z-index: 1000; */
    z-index: 2000; /* TMP: increase z-index to handle dragtables in popups (since they are at z-index: 1002) */
    /* TODO: make all z-indexes dynamic, so that widgets can be stacked in multiple layers */
}

/* This gets applied to the table copy of the col that we are dragging */
.dragtable-drag-wrapper .dragtable-drag-col {
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: move;
}

/* Placeholder is just a name for the real table col */
.dragtable-col-placeholder {
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    color: #efefef;
    background: #efefef !important;
    visibility: visible !important;
}
table .dragtable-col-placeholder:first {
    border-top: 1px dotted black;
}

.dragtable-col-placeholder * {
    opacity: 0.0;
    visibility: hidden;
}
/* Dragtable end */

/* DualColumnMultiSelect (dcms) */
.dcms_div li.dcms_focused {
    background: #f7b5ad none repeat scroll 0 0;
}

.dcms_div li {
    cursor: pointer;
}

.dcms_div ul,
.dcms_div li {
    list-style-type: none;
    padding: 0;
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

.dcms_div ul {
    border: 1px solid #6eaac4;
    min-width: 100px;

.dcms_div ul
}

.dcms_div table {
    width: 100%;
}

.dcms_div table th.available,
.dcms_div table th.chosen {
    width: 45%;
}

.dcms_div table tr.content td:hover {
    background: none;
}

.dcms_div table th.less {
    display: none;
}

.dcms_div table th.more {
    display: table-cell;
}

.dcms_div table.reduced th.less {
    display: table-cell;
}

.dcms_div table.reduced th.more {
    display: none;
}

.dcms_div table.reduced .content {
    display: none;
}

.dcms_button {
    display: block;
    width: auto !important;
}

/* DualColumnMultiSelect - end */

/* Mass import forms */

.relationships_extractor-creation {
    margin-bottom: 10px;
}

/* Mass import forms - end */
