.search-form {
    margin-bottom: 10px;
}

.search-form input[type=submit] {
    margin-left: 10px;
}

/* Advanced search results bricks */
.creme_core-search-brick table th {
    min-width: 100px;
    max-width: 300px;
    white-space: nowrap;
}

.creme_core-search-brick.brick-table .brick-table-content .brick-table-action {
    padding: 0;
}

.creme_core-search-brick.brick-table .brick-table-content > thead > tr > :first-child {
    width: 10px; /* Small size to try to get the minimal size ; does get the same result in all browsers...  */
    text-align: left;
    padding-left: 10px;
}
