{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load media %}
{% comment %}{% load creme_block %}{% endcomment %}

{% block entity_buttons %}
    <a href="/events/event/{{object.id}}/contacts">
        <img src="{% media_url 'images/view_64.png' %}" title="{% trans "View related contacts" %}" alt="{% trans "View related contacts" %}"/>
    </a>&nbsp;
    {{block.super}}
{% endblock %}

{% comment %}
{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'events' named 'results' as 'results_block' %}
{% endblock %}

{% block detail_view_right_1 %}
    {% display_block_detailview 'results_block' %}
{% endblock %}
{% endcomment %}