{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load creme_core_tags %}
{% comment %}{% load creme_block %}{% endcomment %}

{% block entity_buttons %}
    <a href="/events/event/{{object.id}}/contacts">
        {% trans "View related contacts" as img_title %}<img src="{% creme_media_url 'images/view_64.png' %}" title="{{img_title}}" alt="{{img_title}}"/>
    </a>&nbsp;
    {{block.super}}
{% endblock %}

{% comment %}
{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'events' named 'results' as 'results_block' %}
{% endblock %}

{% block detail_view_right_1 %}
    {% display_block_detailview 'results_block' %}
{% endblock %}
{% endcomment %}
