{% extends 'polls/bricks/preplies.html'  %}
{% load i18n creme_bricks creme_perms %}
{% load and_op url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} polls-persons-replies-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Filled form reply') plural=_('{count} Filled form replies') empty=_('Filled form replies') icon='poll' %}
{% endblock %}

{% block brick_header_actions %}
  {% with link_perm=user|has_perm_to_link:object creation_perm=user|has_perm_to_create:objects_ctype %}
    {% brick_header_action id='link' url='polls__link_reply_to_person'|url:object.id     label=_('Link to replies') enabled=link_perm %}
    {% brick_header_action id='add'  url='polls__create_replies_from_person'|url:object.id label=_('Create replies')  enabled=link_perm|and_op:creation_perm %}
  {% endwith %}
{% endblock %}
