{% extends 'creme_core/bricks/base/list.html' %}
{% load i18n creme_bricks creme_ctype creme_perms polls_tags %}
{% load and_op bool print_field mult not_op url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} polls-list-brick polls-form-lines-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=title icon='poll' %}
{% endblock %}

{% block brick_header_actions %}
  {% with edit_perm=user|has_perm_to_change:object %}
    {% brick_header_action id='add' url='polls__create_form_line'|url:object.id    label=_('New question') enabled=edit_perm %}
    {% brick_header_action id='add' url='polls__create_form_section'|url:object.id label=_('New section')  enabled=edit_perm %}
  {% endwith %}
{% endblock %}

{% block brick_content %}
 {% ctype_for_naturalkey app_label='polls' model='pollformline' as line_ct %}
 {% ctype_for_naturalkey app_label='polls' model='pollformsection' as section_ct %}
 {% with edit_perm=user|has_perm_to_change:object %}
  {% for node in nodes %}
    <div class="brick-list-item poll-item {% if node.is_section %}poll-section{% else %}poll-question{% endif %}" style="padding-left:{{node.deep|mult:1.5}}em;">
      {% if node.is_section %}
        <div class="poll-group">
            <div class="poll-title">
                <div class="poll-title-number"><div style="{% poll_node_css style node %}">{% poll_node_number style node %}</div></div>
                <div class="poll-title-label">
                    <span>{% print_field object=node field='name' %}</span>
                    <span class="poll-title-sub">{% print_field object=node field='body' %}</span>
                </div>
            </div>
            {% brick_action id='edit' url=node.get_edit_absolute_url label=_('Edit this section') class='poll-action' enabled=edit_perm %}
            {% if not node.has_line %}
                {% brick_action id='delete' url='creme_core__delete_related_to_entity'|url:section_ct.id __id=node.id label=_('Delete this section') class='poll-action' enabled=edit_perm %}
            {% endif %}
            {% brick_action id='add' url='polls__create_form_line_in_section'|url:node.id label=_('New question')    class='poll-action' enabled=edit_perm %}
            {% brick_action id='add' url='polls__create_child_form_section'|url:node.id   label=_('New sub-section') class='poll-action' enabled=edit_perm %}
        </div>
      {% elif node.disabled %}
       {% with no_deps=node.get_reversed_conditions|length|bool|not_op %}
        <div class="poll-group poll-forbidden">
            <div class="poll-title">
                <div class="poll-title-number">{% if node.number %}<div>{% poll_node_number style node %}</div>{% endif %}</div>
                <div class="poll-title-label">
                    <span>{{node.question}}</span>
                    <div class="poll-title-sub">{{node.poll_line_type.description}}</div>
                </div>
            </div>
            {% brick_action id='delete' url='creme_core__delete_related_to_entity'|url:line_ct.id __id=node.id label=_('Delete this question') class='poll-action' enabled=edit_perm|and_op:no_deps %}
        </div>
       {% endwith %}
      {% else %}
       {% with number=node.number conditions=node.get_conditions no_deps=node.get_reversed_conditions|length|bool|not_op %}
        <div class="poll-group">
            <div class="poll-title">
                <div class="poll-title-number">{% if number %}<div style="{% poll_node_css style node %}">{% poll_node_number style node %}</div>{% endif %}</div>
                <div class="poll-title-label">
                    <span>{{node.question}}</span>
                    <div class="poll-title-sub">{{node.poll_line_type.description}}</div>
                </div>
            </div>
            {% if number != 1 %}
            <div class="poll-conditions" style="margin-left:-{{node.deep|mult:1.5}}em;">
                {% if conditions %}
                 {% translate 'Conditions' %}
                 {% with OR_or_AND=node.verbose_conds_use_or %}
                  {% for condition in conditions %}
                   <div class="poll-condition">
                       {% if not forloop.first %}{{OR_or_AND}} : {% endif %}{% poll_line_condition nodes condition %}
                   </div>
                  {% endfor %}
                 {% endwith %}
                {% endif %}
                <div class="poll-action">
                 {% with edit_conds_url='polls__edit_form_line_conditions'|url:node.id %}
                  {% if conditions %}
                    {% brick_action id='edit' url=edit_conds_url label=_('Edit conditions') class='poll-action' enabled=edit_perm %}
                  {% else %}
                    {% brick_action id='add' url=edit_conds_url label=_('Add conditions') class='poll-action' enabled=edit_perm %}
                  {% endif %}
                 {% endwith %}
                </div>
            </div>
            {% endif %}
            {% brick_action id='edit' url=node.get_edit_absolute_url class='poll-action' enabled=edit_perm %}
            {% brick_action id='update' url='polls__disable_form_line'|url:node.id label=_('Disable this question') icon='cancel' confirm=_('Are you sure?') class='poll-action' enabled=edit_perm|and_op:no_deps %}
            {% brick_action id='delete' url='creme_core__delete_related_to_entity'|url:line_ct.id __id=node.id label=_('Delete this question') class='poll-action' enabled=edit_perm|and_op:no_deps %}
        </div>
       {% endwith %}
      {% endif %}
    </div>
  {% empty %}
    <div class="brick-list-item brick-list-empty">
        {% translate 'No question or section for the moment' %}
    </div>
  {% endfor %}
 {% endwith %}
{% endblock %}
