.select2-container--creme .select2-selection--single {
    height: 24px;

    background: linear-gradient(#f6fcff, #e0f1f7);

    border: 1px solid #bdd3dc;
    border-bottom: 1px solid #9db2bb;
    border-radius: 3px;

    box-shadow: 0 1px 4px -2px rgba(21, 86, 119, 0.43), inset 0 1px 0px white;
}

.select2-container--creme .select2-selection--single:hover {
    background: linear-gradient(#ffffff, #f3f3f3);
}

.select2-container--creme .select2-selection--single .select2-selection__rendered {
    color: #34687e;
    line-height: 24px;
}

.select2-container--creme .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 800;
    font-size: 1.2em;
    color: #888;
}

.select2-container--creme .select2-selection--single .select2-selection__clear:hover {
    color: #5897fb;
}

.select2-container--creme .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-container--creme .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container--creme .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--creme[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--creme[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto;
}

.select2-container--creme.select2-container--disabled .select2-selection--single {
    opacity: .50;
    filter: Alpha(Opacity=50);

    box-shadow: none;

    cursor: default;
    cursor: not-allowed;
}

.select2-container--creme.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-container--creme.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container--creme .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    min-height: 26px;
}

.select2-container--creme .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
}

.select2-container--creme .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
}

.select2-container--creme .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
    padding: 1px;
}

.select2-container--creme .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
    padding: 0 5px;
}

.select2-container--creme .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.select2-container--creme .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333;
}

.select2-container--creme[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--creme[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right;
}

.select2-container--creme[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}

.select2-container--creme[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
}

.select2-container--creme.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
}

.select2-container--creme.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}

.select2-container--creme.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}

.select2-container--creme.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--creme.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--creme.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--creme.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--creme .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
}

.select2-container--creme .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
    margin-top: 2px;
}

.select2-container--creme .select2-results > .select2-results__options {
    max-height: 300px;
    overflow-y: auto;
}

.select2-container--creme .select2-results__option[role=group] {
    padding: 0;
}

.select2-container--creme .select2-results__option[aria-disabled=true] {
    color: #999;
}

.select2-container--creme .select2-results__option[aria-selected=true] {
    background-color: #ddd;
}

.select2-container--creme .select2-results__option .select2-results__option {
    padding-left: 1em;
}

.select2-container--creme .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0;
}

.select2-container--creme .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}

.select2-container--creme .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}

.select2-container--creme .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}
.select2-container--creme .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}
.select2-container--creme .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}

.select2-container--creme .select2-results__option .select2-results__pin {
    font-style: italic;
    font-weight: 400;
}

.select2-container--creme .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
}

.select2-container--creme .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}

.select2-container--creme .select2-results .select2-results__more {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border-top: 1px solid #aaa;
    padding: 6px;
    transition: all 0.15s ease-in-out;
}

.select2-container--creme .select2-results .select2-results__more:hover {
    text-decoration: underline;
    color: #5897fb;
    cursor: pointer;
}

.select2-container--creme .select2-results .select2-results__create {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border-top: 1px solid #aaa;
    padding: 6px;
    transition: all 0.15s ease-in-out;
    display: flex;
}

.select2-container--creme .select2-results .select2-results__create:hover {
    color: #3bab07;
    cursor: pointer;
}

.select2-container--creme .select2-results .select2-results__create-icon {
    padding-right: 6px;
}

.select2-container--creme .select2-results .select2-results__create-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select2-container--creme .select2-results .select2-results__create-title:hover {
    text-decoration: underline;
}

@keyframes select2-choice-loading {
    0% {
        background-color: #e4e4e4;
        opacity: 1;
    }
    50% {
        background-color: #ffffff;
        opacity: 0.5;
    }
    100 {
        background-color: #e4e4e4;
        opacity: 1;
    }
}

.select2-container--creme .select2-selection--multiple .select2-selection__loading {
    animation: select2-choice-loading 2s infinite;
}

.select2-container--creme .select2-selection--multiple .select2-selection__invalid {
    color: #cd0a0a;
    background-color: #fef1ec;
    border-color: #cd0a0a;
}

.select2-container--creme .select2-selection--multiple .select2-selection__invalid .select2-selection__choice__remove {
    color: #cd0a0a;
}

