{% load i18n creme_core_tags creme_widgets creme_bricks %}

{% url 'creme_core__reload_detailview_bricks' object.id as bricks_reload_url %}{% url_join bricks_reload_url base_url=request.path as bricks_reload_uri %}
<div class="activities-activity-popup-content" data-bricks-reload-url="{{bricks_reload_uri}}">
    <div class="hat-bar-container">
        <div class="hat-bar">
            <div class="bar-icon">{% widget_icon instance=object size='brick-hat-bar' %}</div>
            <div class="bar-title">
                <h1>
                {% block title %}
                    {{object.type.name}} : {{object|capfirst}}
                {% endblock %}
                </h1>
            </div>
        </div>
    </div>

    <a id="full_file" class="complete-detailview" href="{{object.get_absolute_url}}">{% trans 'Full detailview' %}</a>

    {% brick_import object=object as object_brick %}
    {% brick_import app='creme_core' name='customfields' as customfields_brick %}
    {% brick_import app='creme_core' name='relations' as relations_brick %}
    {% brick_import app='creme_core' name='properties' as properties_brick %}
    {% brick_import app='activities' name='participants' as participants_brick %}
    {% brick_import app='activities' name='related_calendar' as related_calendar_brick %}
    {% brick_import app='activities' name='subjects' as subjects_brick %}

    <div class="column column-first">
        {% brick_display object_brick %}
    </div>

    <div class="column column-second">
        {% brick_display participants_brick subjects_brick related_calendar_brick relations_brick properties_brick customfields_brick %}
    </div>

    {% brick_end %}
</div>