{% extends "activities/view_activity.html" %}

{% load i18n %}

{% block extrahead %}
<script type="text/javascript">
    //TODO : Remove me when implement the template
    $(document).ready(function(){
        $('#full_file').click(function(){
            if(window.opener)
            {
                window.opener.location.href = "{{object.get_absolute_url}}";
                window.close();
            }
        });
    });
</script>
{% endblock %}

{% block view_title %}{{block.super}}<a id="full_file" href="{{object.get_absolute_url}}">{% trans "Full detailview" %}</a>{% endblock %}
{% block side_menu %}{% endblock %}

{% block top_bar %}{% endblock %}

{% block last_viewed_items %}{% endblock %}
{% block prefered_menu %}{% endblock %}

{% block before_content_1 %}{% endblock %}

{% block edit_delete_buttons %}{% endblock %}

{% block button_tab %}{% endblock %}
