{% load i18n creme_core_tags creme_widgets %}

<summary>{% blocktranslate %}Conditions of «{{efilter}}»{% endblocktranslate %}</summary>
<details>
{% get_efilter_conditions efilter=efilter user=user as vconds %}
{% if vconds|length > 1 %}
    <span>{% if efilter.use_or %}{% translate 'Any condition is met:' %}{% else %}{% translate 'All these conditions are met:' %}{% endif %}</span>
    <ul>
        {% for vcond in vconds %}<li>{{vcond}}</li>{% endfor %}
    </ul>
{% else %}
    <span>{{vconds.0}}</span>
{% endif %}
</details>
