{% load i18n creme_core_tags creme_menu %}
<div class="header-menu">
    <a id="logo" href="/" alt="{% trans 'Home' %}">
        <img src="{% creme_media_url logo_url %}" height="30" width="30" alt="{% trans 'Home' %}">
    </a>
    {% get_header_menu %}

    <div class="accessories-box">
        <div class="search-box">
            <input type="text" placeholder="{% trans 'Search' %}">
            <span class='search-box-icon default'>
                <img class='search-icon-loading' src="{% creme_media_url 'images/wait.gif' %}" width='16' height='16' />
                <img class='search-icon-default' src="{% creme_media_url 'images/search_22.png' %}" width='16' height='16' />
            </span>

            <div class='inline-search-results'>
                <div class='search-results-group all-search-results'>
                    <span class='search-results-group-title'></span>
                    <ul class='search-results'>
                        <li class='search-result'><a href='/creme_core/search'>{% trans "Advanced search" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            creme.menu.bindEvents();

            $('.quickform-menu-link').on('click', function(e) {
                e.preventDefault();
                creme.menu.openQuickForm($(this));
            });

            $('.anyform-menu-link').on('click', function(e) {
                e.preventDefault();
                creme.menu.openCreateAnyDialog(e.target);
            });

            new creme.search.SearchBox('.search-box', '/creme_core/search/light/', '/creme_core/search');
        })
    </script>
</div>