{% load media %}
<script type='text/javascript'>
    var creme = {};
</script>
{% include_media 'l10n.js' language=LANGUAGE_CODE %}
{% include_media 'main.js' %}
{% comment %}<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/dev/jquery-1.3.2-dev.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/prod/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/prod/jquery.cookie.prod.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/extensions/fg-menu-3.0/dev/fg.menu.js"></script>

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/extensions/include.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/creme/creme.utils.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/creme/creme.forms.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/creme/creme.ajax.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/creme/widget/base.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/creme/widget/dselect.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/creme/widget/chainedselect.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/creme/widget/selectorlist.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/creme/widget/entityselector.js"></script>{% endcomment %}