{% load i18n %}
{% load creme_core_tags creme_widgets creme_listview creme_block %}

{% with header_filters.selected.cells as cells %}

{% if o2m %}
    {% templatize "{{cells|length}}" as colspan %}
{% else %}
    {% templatize "{{cells|length|add:1}}" as colspan %}
{% endif %}
{% if show_actions %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.default-action').hover(
                function(){ $(this).addClass('ui-state-hover'); },
                function(){ $(this).removeClass('ui-state-hover'); }
        );
    });
</script>
{% endif %}
<table id="list" class="list_view" cellpadding="0" cellspacing="0">
    <thead>
        <tr class="title">
            <th colspan="{{colspan}}"><h2>{{list_title}}</h2></th>
        </tr>
        {% if list_sub_title %}
            <tr class="sub_title">
                <th colspan="{{colspan}}"><h4>{{list_sub_title}}</h4></th>
            </tr>
        {% endif %}
        <tr class="lines_modifiers">
            <th colspan="{{colspan}}">
                <table>
                    <tbody>
                        <tr>
                            <th class="filters">{% get_listview_entity_filters %}</th>
                            <th class="views">{% get_listview_headerfilters %}</th>
                        </tr>
                    </tbody>
                </table>
            </th>
        </tr>
        <tr id="list_thead_toolbar" class="toolbar">
            <th colspan="{{colspan}}">
                {% if not is_popup_view %}
                    {% has_perm_to create model as creation_perm %}{% has_perm_to export model as export_perm %}
                    {% if add_url %}
                        <a {% if creation_perm %}href="{{add_url}}"{% else %}class="forbidden" title="{% trans "Forbidden" %}"{% endif %}>
                            {% trans "New" as img_title %}<img border="0" src="{% creme_media_url 'images/add_22.png' %}" alt="{{img_title}}" title="{{img_title}}"/>{{model.creation_label}}
                        </a>&nbsp;
                    {% endif %}
                    {% get_export_backends as export_backends %}
                    {% if export_backends|length > 2 %}
                        <a {% if export_perm %}href="/creme_core/list_view/download/{{content_type_id}}/%s?list_url={{request.path}}" onclick="creme._export.selectBackend(event, {{export_backends}}, this);"{% else %}class="forbidden" title="{% trans "Forbidden" %}"{% endif %}>
                            {% trans "Download" as label %}<img border="0" src="{% creme_media_url 'images/document_csv_22.png' %}" alt="{{label}}" title="{{label}}"/>{{label}}
                        </a>&nbsp;
                        <a {% if export_perm %}href="/creme_core/list_view/download_header/{{content_type_id}}/%s?list_url={{request.path}}" onclick="creme._export.selectBackend(event, {{export_backends}}, this);"{% else %}class="forbidden" title="{% trans "Forbidden" %}"{% endif %}>
                            {% trans "Download header" as label %}<img border="0" src="{% creme_media_url 'images/document_csv_22.png' %}" alt="{{label}}" title="{{label}}"/>{{label}}
                        </a>&nbsp;
                    {% endif %}
                    {% ctype_is_registered_for_import content_type as can_import %}
                    {% if can_import %}
                        {% get_import_backends as import_backends %}
                        {% if import_backends|length > 2 %}
                            <a {% if creation_perm %}href="/creme_core/list_view/import/{{content_type_id}}?list_url={{request.path}}"{% else %}class="forbidden" title="{% trans "Forbidden" %}"{% endif %}>
                                {% trans "Import" as label %}<img border="0" src="{% creme_media_url 'images/document_csv_22.png' %}" alt="{{label}}" title="{{label}}"/>{{label}}
                            </a>&nbsp;
                        {% endif %}
                    {% endif %}
                    <a href="/creme_core/list_view/batch_process/{{content_type_id}}?list_url={{request.path}}">
                        {% trans "Batch process" as label %}<img border="0" src="{% creme_media_url 'images/batch_process_22.png' %}" alt="{{label}}" title="{{label}}"/>{{label}}
                    </a>&nbsp;
                {% endif %}
                <button class="clear-search" value="0" type="button" name="_search"{% if not search %} disabled="true" {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %}>{% trans "Clean the search" %}</button>&nbsp;
                <button class="do-search"    value="1" type="button" name="_search" onclick="$(this.form).list_view('getSubmit')(this);">{% trans "Research" as label %}<img border="0" src="{% creme_media_url 'images/search_22.png' %}" alt="{{label}}" title="{{label}}"/>{{label}}</button>
                {% block extra_buttons %}{% endblock %}
                {% if extra_bt_templates|isiterable %}
                    {% for templ in extra_bt_templates %}
                        {% include templ %}
                    {% endfor %}
                {% endif %}
            </th>
        </tr>
        <tr style="display:none;">
            <th colspan="{{colspan}}">
                <input value="{{list_view_state.sort_field}}" id="sort_field"    type="hidden" name="sort_field" />
                <input value="{{list_view_state.sort_order}}" id="sort_order"    type="hidden" name="sort_order" />
                <input value=""                               id="selected_rows" type="hidden" />
                <input value="{{o2m}}"                        id="o2m"           type="hidden" />
                <input value="{{q_filter}}"                   id="q_filter"      type="hidden" name="q_filter" />
                {% block extra_buttons_hidden %}{% endblock %}
            </th>
        </tr>
        <tr class="columns_top">
            {% if not o2m %}<th class="choices">&nbsp;</th>{% endif %}
            {% for cell in cells %}
                {% if cell.is_hidden %}
                    <th style="display:none;"></th>
                {% elif cell.type_id == 'actions' %}
                    <th class="actions"></th>
                {% else %}
                    <th class="column{% if cell.value in current_research_fields %} search{% endif %}{% if cell.sortable %} sortable{% endif %} cl_lv">
                        <button type="button" {% if cell.sortable %}title="{% blocktrans with cell.title as col_title %}Sort by {{col_title}}{% endblocktrans %}" onclick="creme.utils.handleSort('#sort_field', '#sort_order', '{{cell.value}}', this, $(this.form).list_view('getSubmit'));"{% else %} disabled="true" {% endif %}>
                            {{cell.title}}
                        </button>
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
        {% get_listview_columns_header %}
    </thead>
    <tbody>
        {% for entity in entities.object_list %}
            <tr class="selectable{% cycle ' odd' '' %}">
                {% if not o2m %}<td class="choices"><input name="select_one" value="{{entity.pk}}" type="checkbox" /></td>{% endif %}
                <td style="display:none;">
                    <input type="hidden" name="entity_id" value="{{entity.pk}}" />
                </td>
                {% for cell in cells %}
                    {% if cell.type_id == 'actions' and show_actions %}
                        <td title="actions" class="list_view_actions actions">{% get_entity_actions entity %}</td>
                    {% else %}
                        <td class="column cl_lv {{cell.listview_css_class}}" title="" name="{{cell.value}}" {% if cell.is_hidden %}style="display:none;"{% endif %}>
                            {% get_listview_cell cell entity user %}
                            {% if not is_popup_view %}{% get_field_editor on entity_cell cell for entity %}{% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="{{colspan}}">{% trans "No entity exists / match your search" %}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="{{colspan}}">
                <table border="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="previous_buttons">
                                <button class="first_page" name="page" value="1" {% if not entities.has_previous %} disabled="true" {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %} type="button">|<</button>
                                <button class="previous_page" name="page" value="{{entities.previous_page_number}}"{% if not entities.has_previous %} disabled="true" {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %} type="button"><<</button>
                            </td>
                            <td class="current_page">
                                <label for="user_page">{% trans "Page" %} </label><input id="user_page" value="{{entities.number}}" name="page" onkeydown="$(this.form).list_view('getKdSubmit')(event, this);" title="{% trans "'Enter' to submit" %}"/><label for="user_page"> {% trans "on" %} {{entities.paginator.num_pages}}</label>
                            </td>
                            <td class="next_buttons">
                                <button class="next_page" name="page" value="{{entities.next_page_number}}"{% if not entities.has_next %} disabled="true" {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %} type="button">>></button>
                                <button class="last_page" name="page" value="{{entities.paginator.num_pages}}"{% if entities.number == entities.paginator.num_pages %} disabled="true" {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %} type="button">>|</button>
                            </td>
                            <td class="page_selector">
                                <label for="id_page_selector_rows">{% trans "Nb / Page" %} :</label>
                                <select id="id_page_selector_rows" name="rows" onchange="$(this.form).list_view('getSubmit')(this);">
                                    {% with entities.paginator.per_page as rows %}
                                        <option value="10" {% if rows == 10 %}selected{% endif %}>10</option>
                                        <option value="25" {% if rows == 25 %}selected{% endif %}>25</option>
                                        <option value="50" {% if rows == 50 %}selected{% endif %}>50</option>
                                        <option value="100" {% if rows == 100 %}selected{% endif %}>100</option>
                                        <option value="200" {% if rows == 200 %}selected{% endif %}>200</option>
                                    {% endwith %}
                                </select>
                            </td>
                            <td class="page_information">
                                {% blocktrans with start_index=entities.start_index end_index=entities.end_index entities_count=entities.paginator.count %}Recordings {{start_index}} - {{end_index}} on {{entities_count}}{% endblocktrans %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tfoot>
</table>
{% endwith %}
