{% extends 'crudity/waiting-actions.html' %}
{% load i18n creme_bricks creme_widgets %}

{% block page_title %}{% translate 'Synchronization of incoming emails with Creme' %} - {% endblock %}

{% block content %}
    <div class="hat-bar-container">
        <div class="hat-bar">
            <div class="bar-icon">{% widget_icon name='email' size='brick-hat-bar' label=_('Emails') %}</div>
            <div class="bar-title"><h1>{% translate 'Synchronization of incoming emails with Creme' %}</h1></div>
            <div class="bar-actions">
               <div class='bar-action'>
                    <a class="bar-button" onclick="refreshWaitingActions('{% url 'crudity__refresh_actions' %}');" >
                        {% widget_icon name='refresh' size='brick-hat-bar-button' label=_('Refresh') %}
                    </a>
               </div>
            </div>
        </div>
    </div>

    {% if bricks %}
        {% brick_declare bricks %}
        {% brick_display bricks %}

        {% brick_end %}
    {% else %}
        {% widget_help_sign message=_('The synchronization of external emails is not configured ; contact your administrator if you want this feature to be enabled.') %}
    {% endif %}
{% endblock %}
