{% load i18n creme_core_tags creme_widgets %}
{% with block_id='emails-entity_mail-popup_up_view' %}
<table class="table_detail_view ui-corner-all" id="{{block_id}}">
    <thead>
        <tr>
            <th colspan="2">
                <center>
                    <table class="block_header" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>{% get_image_for_object object 'normal' %}</td>
                                <td>&nbsp;{{object}}</td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </th>
        </tr>
        <tr>
            <th class="block_header_line_dark" colspan="2">
                <a href="{{object.get_absolute_url}}">{% trans "Full detailview" %}</a>
            </th>
        </tr>
    </thead>
    <tbody class="collapsable"><!--{% cycle "block_header_line_dark" "block_header_line_light" as header_color %}{% cycle "block_line_dark" "block_line_light" as row_color %}-->
        <tr class="content">
            <th class="th_info {% cycle header_color %}">{% trans "User" %}</th>
            <td class="td_info {% cycle row_color %}">{% print_field object=object field='user' %}</td>
        </tr>
        <tr class="content">
            <th class="th_info {% cycle header_color %}">{% trans "Number of reads" %}</th>
            <td class="td_info {% cycle row_color %}">{% print_field object=object field='reads' %}</td>
        </tr>
        <tr class="content">
            <th class="th_info {% cycle header_color %}">{% trans "Status" %}</th>
            <td class="td_info {% cycle row_color %}">{% print_field object=object field='status' %}</td>
        </tr>
        <tr class="content">
            <th class="th_info {% cycle header_color %}">{% trans "Sender" %}</th>
            <td class="td_info {% cycle row_color %}">{% print_field object=object field='sender' %}</td>
        </tr>
        <tr class="content">
            <th class="th_info {% cycle header_color %}">{% trans "Recipient" %}</th>
            <td class="td_info {% cycle row_color %}">{% print_field object=object field='recipient' %}</td>
        </tr>
        <tr class="content">
            <th class="th_info {% cycle header_color %}">{% trans "Subject" %}</th>
            <td class="td_info {% cycle row_color %}">{% print_field object=object field='subject' %}</td>
        </tr>
        <tr class="content">
            <th class="th_info {% cycle header_color %}">{% trans "Reception date" %}</th>
            <td class="td_info {% cycle row_color %}">{% print_field object=object field='reception_date' %}</td>
        </tr>
        <tr class="content">
            <th class="th_info {% cycle header_color %}">{% trans "Attachments" %}</th>
            <td class="td_info {% cycle row_color %}">{% print_field object=object field='attachments' %}</td>
        </tr>
        <tr class="content">
            {% comment %}
                <th class="th_info {% cycle header_color %}">{% trans "Email body" %}</th>
                <td class="td_info {% cycle row_color %}"><iframe frameborder="0" src="/emails/mail/get_entity_body/{{object.id}}" width="100%" height="100%" style="min-height:350px"></iframe></td>
            {% endcomment %}
            {% if object.body_html %}
                <th class="th_info {% cycle header_color %}">{% trans "Email body (HTML)" %}
                    <div class="buttons">
                        <a class="view" onclick="creme.emails.allowExternalImages('{{block_id}}')">
                            {% trans "View" as img_title %}<img src="{% creme_media_url 'images/view_22.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
                            {% trans "View external images" %}
                        </a>
                    </div>
                </th>
                <td class="td_info {% cycle row_color %}"><iframe frameborder="0" src="/creme_core/entity/get_sanitized_html/{{object.id}}/body_html" width="100%" height="100%" style="min-height:350px"></iframe></td>
            {% else %}
                <th class="th_info {% cycle header_color %}">{% trans "Email body" %}</th>
                <td class="td_info {% cycle row_color %}">{% print_field object=object field='body' %}</td>
            {% endif %}
        </tr>
    </tbody>
</table>
{% endwith %}