{% load i18n %}
{% load creme_core_tags %}
<table class="table_detail_view ui-corner-all">
    <thead>
        <tr>
            <th colspan="11">
                <center>
                    <table class="block_header" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td><img src="{% creme_media_url 'images/email_48.png' %}" alt="" title="Email" /></td>
                                <td>&nbsp;{{title}}</td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </th>
        </tr>
    </thead>
    <tbody class="collapsable"><!--{% cycle "block_header_line_dark" "block_header_line_light" as header_color %}{% cycle "block_line_dark" "block_line_light" as row_color %}-->
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Recipient" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=mail field='recipient' %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Sender" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=mail field='sender' %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Status" %}</th>
            <td class="{% cycle row_color %} td_info">{{mail.get_status_str}}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Related sending" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=mail field='sending' %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Number of reads" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=mail field='reads' %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Subject" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=mail.sending field='subject' %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Body" %}</th>
            <td class="{% cycle row_color %} td_info">{{mail.get_body}}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Body (HTML)" %}</th>
            <td class="{% cycle row_color %} td_info"><iframe frameborder="0" src="/emails/mail/get_body/{{mail.id}}" width="100%" height="100%" style="min-height:350px"></iframe></td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Sending date" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=mail field='sending_date' %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Signature" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=mail.sending field='signature' %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Attachments" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=mail.sending field='attachments' %}</td>
        </tr>
    </tbody>
</table>