<!DOCTYPE html>{% load i18n mobile_tags %}
<html class="{% mobile_document_class request %}" xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>Creme Mobile - {% translate 'Home' %}</title>
<style type="text/css">
  {% include 'mobile/css/base.css' %}
  {% include 'mobile/css/home.css' %}
</style>
{% comment %}
<!-- with pjax we have to add the css files of the other pages here, either all minified in
     the same file, or either a bundle for the pages, and an extra one for the forms, which
     can be downloaded asynchronously as soon as the "onload".
     Here an example for the 'Directory'' to be well displayed: -->
  <link rel="stylesheet" href="directory.css" />
{% endcomment %}
{% include 'mobile/frags/phonecall_script.html' %}
</head>
<body class="page-home with-shortcuts" onload="checkCallCookies()">
{% comment %}
  <!--  Navigation with pjax-->
  <nav>
    <a href="index.html" class="tab selected-tab" data-instant>Home</a>
    <a href="frag-directory.html" class="tab" data-instant>Directory</a>
    <a href="frag-activities.html" class="tab" data-instant>Activities</a>
  </nav>
{% endcomment %}

  <nav>
    <a href="{% url 'mobile__portal' %}" class="tab selected-tab">{% translate 'Home' %}</a>
    <a href="{% url 'mobile__directory' %}" class="tab">{% translate 'Directory' %}</a>
    <a href="{% url 'mobile__activities' %}" class="tab">{% translate 'Activities' %}</a>
  </nav>

  <ul class="shortcuts hideable-content">
    {% for hour, enabled in shortcuts_map %}
      <li class="shortcut{% if not enabled %} shortcut-disabled{% endif %}" data-shortcut="{{hour}}">{% blocktranslate %}{{hour}}h{% endblocktranslate %}</li>
    {% endfor %}
  </ul>

  <div class="welcome-text">{% blocktranslate %}Welcome on Creme Mobile, {{user}}{% endblocktranslate %}</div>

  {% include 'mobile/frags/search_div.html' %}

  <section class="hideable-content">
    <div class="card-list in-progress-activities">
      <div class="card-list-title">
        {% if hot_activities %}
          {% blocktranslate count counter=hot_activities|length with start_time=today|date:_('H:i') today_date=today|date:_('j F') %}{{counter}} activity in progress at {{start_time}} this {{today_date}}{% plural %}{{counter}} activities in progress at {{start_time}} this {{today_date}}{% endblocktranslate %}
        {% else %}
          {% blocktranslate with start_time=today|date:_('H:i') today_date=today|date:_('j F') %}No activity in progress at {{start_time}} this {{today_date}}{% endblocktranslate %}
        {% endif %}
      </div>

      {% for activity in hot_activities %}
        <div class="card-container">
          {% mobile_activity_card activity show_date=0 %}
        </div>
      {% endfor %}
    </div>

    <div class="card-list todays-activities">
      <div class="card-list-title">
        {% if today_activities %}
          {% blocktranslate count counter=today_activities|length with today_date=today|date:_('j F') %}{{counter}} activity planned this {{today_date}}{% plural %}{{counter}} activities planned this {{today_date}}{% endblocktranslate %}
        {% else %}
          {% blocktranslate with today_date=today|date:_('j F') %}No activity planned this {{today_date}}{% endblocktranslate %}
        {% endif %}
      </div>

      {% for activity in today_activities %}
        <div class="card-container">
          {% mobile_activity_card activity show_date=0 shortcut=1 %}
        </div>
      {% endfor %}
    </div>
  </section>

  <div id="workflow_panel" />
  {% mobile_footer %}

  <script data-no-instant>
    document.addEventListener('click', function(e) {
      var trigger;
      if (e.target.classList.contains('more-info-trigger')) {
        trigger = e.target;
      } else if (e.target.parentElement.classList.contains('more-info-trigger')) {
        trigger = e.target.parentElement;
      }

      if (trigger) {
        e.preventDefault();

        var componentWithMoreInfo = trigger;
        while ((componentWithMoreInfo = componentWithMoreInfo.parentElement)) {
          if (componentWithMoreInfo.classList.contains('with-more-info')) {
            trigger.classList.toggle('showing-more-info');
            componentWithMoreInfo.classList.toggle('showing-more-info');
            break;
          }
        }
      }
    });
  </script>

  <script data-no-instant>
    var shortcuts = {
      init: function(element) {
        this.element = element;

        var gap = document.documentElement.clientHeight - this.element.offsetHeight;
        this.element.style.top = (gap / 2) + 'px';
        this.element.classList.add('shortcuts-ready');

        this.element.addEventListener('touchstart', this.onTouchStart, false);
      },
      onTouchStart: function(e) {
        e.preventDefault();

        var target = this.findTargetElement(e);
        if (target === null) {
          return;
        }

        this.scroll(target);

        this.element.addEventListener('touchmove', this.onTouchMove, false);
        this.element.addEventListener('touchend', this.onTouchEnd, false);
      },
      onTouchMove: function(e) {
        e.preventDefault();

        var target = this.findTargetElement(e);
        if (target === null) {
          return;
        }

        this.scroll(target);
      },
      onTouchEnd: function(e) {
        e.preventDefault();

        this.element.removeEventListener('touchmove', this.onTouchMove, false);
        this.element.removeEventListener('touchend', this.onTouchEnd, false);
      },
      findTargetElement: function(e) {
        return document.elementFromPoint(e.targetTouches[0].clientX,
                                         e.targetTouches[0].clientY);
      },
      scroll: function(target) {
        var shortcut = target.getAttribute('data-shortcut');

        var element = this.findFirstElementOfShortcut(shortcut);
        if (element == null) {
          return;
        }

        window.scrollTo(0, element.offsetTop - 10);
      },
      findFirstElementOfShortcut: function(shortcut) {
        return document.querySelector('.card[data-shortcut="' + shortcut + '"]');
      }
    };

    for (var i in shortcuts) {
      if (typeof shortcuts[i] === 'function') {
        shortcuts[i] = shortcuts[i].bind(shortcuts);
      }
    }

    function initShortcutsBar() {
      if (document.documentElement.classList.contains('ios') &&
          document.body.classList.contains('with-shortcuts')) {
        shortcuts.init(document.querySelector('.shortcuts'));
      }
    }

    // to be removed if pjax is set, because the function will be called by the event 'change'
    initShortcutsBar();
  </script>

{% comment %}
<!--  Tests pjax-->
  <script src="instantclick.min.js" data-no-instant></script>
  <script data-no-instant>
      /* globals InstantClick initShortcutsBar */
//    function eventCallback(event, isInitialLoad) {
//      console.log('InstantClick - %s - isInitialLoad: %s', event, isInitialLoad);
//    }
//
//    InstantClick.on('change', eventCallback.bind(null, 'change'));
//    InstantClick.on('fetch', eventCallback.bind(null, 'fetch'));
//    InstantClick.on('receive', eventCallback.bind(null, 'receive'));
//    InstantClick.on('wait', eventCallback.bind(null, 'wait'));

    InstantClick.on('change', initShortcutsBar);
    InstantClick.init('mousedown', true);
  </script>
{% endcomment %}
</body>
</html>
