{% extends "creme_core/tests/testbase.html" %}

{% block test_title %}Select2{% endblock %}

{% block test_header %}
    <style type="text/css">
        ul.vbox li.select2-test-item {
            padding-top: 2px;
        }

        li.select2-test-item > select {
            width:350px;
        }

        li.select2-test-item > span {
            top: 0.5em;
            position: relative;
        }
    </style>

    <script type="text/javascript">
        var AVAILABLE_OPTIONS = [
            {value: "email",       label: "Adresse e-mail"},
            {value: "description", label: "Description", group: 'Optionnel'},
            {value: "fax",         label: "Fax", group: 'Optionnel'},
            {value: "mobile",      label: "Mobile"},
            {value: "last_name",   label: "Nom"},
            {value: "phone",       label: "Numéro de téléphone"},
            {value: "first_name",  label: "Prénom"},
            {value: "url_site",    label: "Site Web", group: 'Optionnel'},
            {value: "skype",       label: "Skype", group: 'Optionnel'}
        ];

        $(document).ready(function() {
            var backend = new creme.ajax.MockAjaxBackend({sync: true, delay: 0});

            backend.GET = {
                'mock/random': function() {
                    var results = AVAILABLE_OPTIONS.filter(function() {
                        return Math.random() > 0.5;
                    });

                    return backend.responseJSON(200, results);
                },
                'mock/enum': function(url, data, options) {
                    data = data || {};

                    var term = (data.term || '').toLowerCase();
                    var limit = data.limit || 50;

                    var results = AVAILABLE_OPTIONS.filter(function(option) {
                        return option.label.toLowerCase().indexOf(term) !== -1;
                    }).slice(0, limit);

                    return backend.responseJSON(200, results);
                },
                'mock/create/form': function(url, data, options) {
                    return backend.response(200, $('#mock-create-form').text().template({
                        action: 'mock/create/form'
                    }));
                },
                'mock/create/form/group': function(url, data, options) {
                    return backend.response(200, $('#mock-create-form-group').text().template({
                        action: 'mock/create/form/group'
                    }));
                }
            };

            backend.POST = {
                'mock/create/form': function(url, data, options) {
                    var id = _.uniqueId();
                    var item = {
                        value: id,
                        label: data.title[0],
                        group: data.category[0]
                    };

                    AVAILABLE_OPTIONS.push(item);

                    return backend.responseJSON(200, {
                        value: id,
                        added: [[item.value, item.label]]
                    });
                },
                'mock/create/form/group': function(url, data, options) {
                    var id = _.uniqueId();
                    var item = {
                        value: id,
                        label: data.title[0],
                        group: data.category[0]
                    };

                    AVAILABLE_OPTIONS.push(item);

                    return backend.responseJSON(200, {
                        value: id,
                        added: [item]
                    });
                }
            };

            creme.ajax.defaultBackend(backend);

            function setupSelect2Field(element, options) {
                if (element.data('cremeSelect2')) {
                    element.data('cremeSelect2').destroy();
                }

                var select2 = new creme.form.Select2(element, options);
                element.data('cremeSelect2', select2);
            }

            $('.creme-test-body select').each(function() {
                setupSelect2Field($(this));
            });

            $(document).on('change', '.select2-enum-limit', function() {
                var element = $('#select2-enum');

                setupSelect2Field(element, {
                    enumLimit: parseInt($(this).val()) || 5
                });
            });
        });
    </script>
{% endblock %}
{% block test_content %}
    <script type="text/html" id="mock-create-form">
    <div class="form-container">
        <form action="${action}" method="POST">
            <div class="form-block">
                <div class="form-block-fields">
                     <label for="id_title">Intitulé <span class="required-mark">*</span></label>
                     <div class="form-block-field-value">
                         <input type="text" name="title" maxlength="100" required="" id="id_title">
                     </div>
                </div>
            </div>
            <input type="submit" value="Enregistrer" class="ui-creme-dialog-action" disabled="disabled">
        </form>
    </div>
    </script>
    <script type="text/html" id="mock-create-form-group">
    <div class="form-container">
        <form action="${action}" method="POST">
            <div class="form-block">
                <div class="form-block-fields">
                     <label for="id_title">Intitulé <span class="required-mark">*</span></label>
                     <div class="form-block-field-value">
                         <input type="text" name="title" maxlength="100" required="" id="id_title">
                     </div>
                     <label for="id_title">Catégorie <span class="required-mark">*</span></label>
                     <div class="form-block-field-value">
                         <input type="text" name="category" maxlength="100" required="" id="id_category">
                     </div>
                </div>
            </div>
            <input type="submit" value="Enregistrer" class="ui-creme-dialog-action" disabled="disabled">
        </form>
    </div>
    </script>
    <ul>
        <li>
            <h4>Static single select</h4>
            <ul class="ui-layout vbox">
                <li class="select2-test-item">
                    <select data-placeholder="Choisissez un champ...">
                        <option value="email">Adresse e-mail</option>
                        <option value="description">Description</option>
                        <option value="fax">Fax</option>
                        <option value="mobile">Mobile</option>
                        <option value="last_name">Nom</option>
                        <option value="phone">Numéro de téléphone</option>
                        <option value="first_name">Prénom</option>
                        <option value="url_site">Site Web</option>
                        <option value="skype">Skype</option>
                    </select>
                </li>
                <li class="select2-test-item">
                    <select data-placeholder="Choisissez un champ..."
                            data-no-results="Aucun résultat...">
                        <option value="">&nbsp;</option>
                        <option value="email">Adresse e-mail</option>
                        <option value="description">Description</option>
                        <option value="fax">Fax</option>
                        <option value="mobile">Mobile</option>
                        <option value="last_name">Nom</option>
                        <option value="phone">Numéro de téléphone</option>
                        <option value="first_name">Prénom</option>
                        <option value="url_site">Site Web</option>
                        <option value="skype">Skype</option>
                    </select>
                    <span>Empty choice</span>
                </li>
                <li class="select2-test-item">
                    <select data-allow-clear="true"
                            data-placeholder="Choisissez un champ...">
                        <option value="email">Adresse e-mail</option>
                        <option value="description">Description</option>
                        <option value="fax">Fax</option>
                        <option value="mobile">Mobile</option>
                        <option value="last_name">Nom</option>
                        <option value="phone">Numéro de téléphone</option>
                        <option value="first_name">Prénom</option>
                        <option value="url_site">Site Web</option>
                        <option value="skype">Skype</option>
                    </select>
                    <span>Allow reset choice</span>
                </li>
                <li>
                <li class="select2-test-item">
                    <select data-create-url="mock/create/form"
                            data-placeholder="Choisissez un champ...">
                    </select>
                    <span>Creator</span>
                </li>
                <li class="select2-test-item">
                    <select data-create-url="mock/create/form/group"
                            data-placeholder="Choisissez un champ..."
                            data-selection-show-group="true">
                        <option value="email">Adresse e-mail</option>
                        <option value="mobile">Mobile</option>
                        <option value="last_name">Nom</option>
                        <option value="phone">Numéro de téléphone</option>
                        <option value="first_name">Prénom</option>
                        <optgroup label="Optionnel">
                            <option value="description">Description</option>
                            <option value="fax">Fax</option>
                            <option value="url_site">Site Web</option>
                            <option value="skype">Skype</option>
                        </optgroup>
                    </select>
                    <span>Creator + Group</span>
                </li>
            </ul>
        </li>
        <li>
            <h4>Static multiple select</h4>
            <ul class="ui-layout vbox">
                <li class="select2-test-item">
                    <select multiple
                            data-placeholder="Choisissez un champ..."
                            data-placeholder-multiple="Choisissez un ou plusieurs champs...">
                        <option value="email">Adresse e-mail</option>
                        <option value="description">Description</option>
                        <option value="fax">Fax</option>
                        <option value="mobile">Mobile</option>
                        <option value="last_name">Nom</option>
                        <option value="phone">Numéro de téléphone</option>
                        <option value="first_name">Prénom</option>
                        <option value="url_site">Site Web</option>
                        <option value="skype">Skype</option>
                    </select>
                </li>
                <li class="select2-test-item">
                    <select multiple
                            sortable
                            data-placeholder-multiple="Choisissez un ou plusieurs champs...">
                        <option value="email">Adresse e-mail</option>
                        <option value="description">Description</option>
                        <option value="fax">Fax</option>
                        <option value="mobile">Mobile</option>
                        <option value="last_name">Nom</option>
                        <option value="phone">Numéro de téléphone</option>
                        <option value="first_name">Prénom</option>
                        <option value="url_site">Site Web</option>
                        <option value="skype">Skype</option>
                    </select>
                    <span>Sortable</span>
                </li>
            </ul>
        </li>
        <li>
            <h4>Enum (ajax)</h4>
            <ul class="ui-layout vbox">
                <li class="select2-test-item">
                    <select id="select2-enum" data-enum-url="mock/enum" data-enum-limit="5" data-placeholder="Choisissez un champ..."></select>
                    <span>data-enum-limit&nbsp;</span>
                    <select class="select2-enum-limit">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5 (default)</option>
                        <option value="10">10</option>
                        <option value="10">100</option>
                    </select>
                </li>
            </ul>
            <ul class="ui-layout vbox">
                <li class="select2-test-item">
                    <select id="select2-enum"
                            data-enum-url="mock/enum"
                            data-enum-limit="5"
                            data-create-url="mock/create/form"
                            data-placeholder="Choisissez un champ...">
                    </select>
                    <span>Creator</span>
                </li>
                <li class="select2-test-item">
                    <select id="select2-enum"
                            data-enum-url="mock/enum"
                            data-enum-limit="5"
                            data-create-url="mock/create/form/group"
                            data-placeholder="Choisissez un champ...">
                    </select>
                    <span>Creator + Group</span>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
