{% extends "creme_core/tests/testbase.html" %}
{% load i18n %}
{% load creme_core_tags %}

{% block test_title %}JQuery Color picker{% endblock %}
{% block test_header %}
    <style type="text/css">
        #clean-output {
            padding: 5px;
            border-top: 4px solid #ccc;
            background: #ddffdd;
            font-size: 10px;
            font-family: monospace;
            width: 100%;
            height: 20%;
            position: fixed;
            bottom: 0px;
        }

        #clean-output.invalid {
            border-top: 1px solid red;
            background: #ffdddd;
        }

        ul {
            display: flex;
            flex-direction: row;
            padding: 2px;
        }

        li {
            padding: 0px 10px;
            list-style: none;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
        }

        li + li {
            border-left: 1px solid #ccc;
        }

        form {
            display: flex;
            flex-flow: row wrap;
            align-items: stretch;
        }

        form label {
            padding: 3px;
            box-sizing: border-box;
            width: 35%;
            text-align: right;
            white-space: pre-wrap;
        }

        form .field {
            margin: 3px 0px;
            box-sizing: border-box;
            width: 65%;
            align-self: flex-start;
            display: flex;
            flex-flow: column;
        }

        form .field.-column-layout {
            flex-flow: row;
        }

        form .field input {
            width: auto;
        }

        form .field input[type="color"] {
            width: 80px;
            border: 0px;
            padding: 0px;
        }

        form .field label {
            align-self: flex-start;
            text-align: left;
            padding: 0;
            display: flex;
            flex-flow: row;
        }

        form .field label input[type="checkbox"],
        form .field label input[type="radio"] {
            position: relative;
            top: -2px;
        }

        form .field-error {
            display: none;
            color: red;
            text-align: right;
        }

        form .is-field-invalid + .field-error {
            display: block;
        }

        form button[type="submit"], form input[type="submit"] {
            margin: 5px auto;
            display: block;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('submit', 'form', function(e) {
                e.preventDefault();
            });

            $(document).on('form-submit', 'form', function(e, form) {
                form.toggleSubmitState(false);
            });

            $(document).on('field-error', function(e, field, valid, error) {
                field.form().find('[name="' + field.name() + '"] + .field-error').text(error ? error.message : '');
            });

            $(document).on('form-clean', 'form', function(e, form, data) {
                $('#clean-output').toggleClass('invalid', !data.isValid)
                                  .text(data.isValid ? $.toJSON(data) : $.toJSON(data.fieldErrors));
            });

            $('form').flyform();

            $('form#cloneform').flyform().validator(function(data) {
                if (data.cleanedData['text-required'] !== data.cleanedData['text-copy']) {
                    return {
                        fieldErrors: {
                            'text-copy': {
                                code: 'cleanMismatch',
                                message: 'The values are different'
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block test_content %}
<ul>
    <li>
        <h4>Input states</h4>
        <form>
            <label>Text</label><div class="field" ><input name="text" type="text" /></div>
            <label>Text (disabled)</label><div class="field" ><input name="text-disabled" type="text" value="disabled" disabled/></div>
            <label>Text (readonly)</label><div class="field" ><input name="text-readonly" type="text" value="read it" readonly/></div>
            <label>Text (required)</label><div class="field" ><input name="text-required" type="text" value="" required/></div>
            <button type="submit">Send</button>
        </form>
    </li>
    <li>
        <h4>Checkbox states</h4>
        <form>
            <label>Choices</label><div class="field -column-layout" >
                <label><input name="checkbox" type="checkbox" value="A"/>A</label>
                <label><input name="checkbox" type="checkbox" value="B"/>B</label>
                <label><input name="checkbox" type="checkbox" value="C"/>C</label>
            </div>
            <label>Choices (disabled)</label><div class="field -column-layout" >
                 <label><input name="checkbox-disabled" type="checkbox" value="A" disabled/>A</label>
                 <label><input name="checkbox-disabled" type="checkbox" value="B" disabled/>B</label>
                 <label><input name="checkbox-disabled" type="checkbox" value="C"/>C</label>
            </div>
            <label>Choices (readonly)</label><div class="field -column-layout" >
                 <label><input name="checkbox-readonly" type="checkbox" value="A"/>A</label>
                 <label><input name="checkbox-readonly" type="checkbox" value="B" readonly/>B</label>
                 <label><input name="checkbox-readonly" type="checkbox" value="C" readonly/>C</label>
            </div>
            <label>Choices (required)</label><div class="field -column-layout" >
                 <label><input name="choices-required" type="checkbox" value="A" required/>A</label>
                 <label><input name="choices-required" type="checkbox" value="B" required/>B</label>
                 <label><input name="choices-required" type="checkbox" value="C" required/>C</label>
            </div>
            <button type="submit">Send</button>
        </form>
    </li>
        <li>
        <h4>Radio states</h4>
        <form>
            <label>Choices</label><div class="field -column-layout" >
                 <label><input name="radio" type="radio" value="A"/>A</label>
                 <label><input name="radio" type="radio" value="B"/>B</label>
                 <label><input name="radio" type="radio" value="C"/>C</label>
            </div>
            <label>Choices (disabled)</label><div class="field -column-layout" >
                 <label><input name="radio-disabled" type="radio" value="A" disabled/>A</label>
                 <label><input name="radio-disabled" type="radio" value="B" disabled/>B</label>
                 <label><input name="radio-disabled" type="radio" value="C"/>C</label>
            </div>
            <label>Choices (readonly)</label><div class="field -column-layout" >
                 <label><input name="radio-readonly" type="radio" value="A"/>A</label>
                 <label><input name="radio-readonly" type="radio" value="B" readonly/>B</label>
                 <label><input name="radio-readonly" type="radio" value="C" readonly/>C</label>
            </div>
            <label>Choices (required)</label><div class="field -column-layout" >
                 <label><input name="radio-required" type="radio" value="A" required/>A</label>
                 <label><input name="radio-required" type="radio" value="B" required/>B</label>
                 <label><input name="radio-required" type="radio" value="C" required/>C</label>
            </div>
            <button type="submit">Send</button>
        </form>
    </li>
</ul>
<ul>
    <li>
        <h4>Input data-type</h4>
        <form>
            <label>number</label><div class="field" ><input name="text-number" data-type="number" value="12"/></div>
            <label>decimal</label><div class="field" ><input name="text-decimal" data-type="float" value="12.5337"/></div>
            <label>integer</label><div class="field" ><input name="text-integer" data-type="integer" value="1337"/></div>
            <label>date</label><div class="field" ><input name="text-date" data-type="date" value="2020-06-01"/></div>
            <label>datetime</label><div class="field" ><input name="text-datetime" data-type="datetime" value="2020-06-01T17:53:12"/></div>
            <label>color</label><div class="field" ><input name="text-color" data-type="color" value="#eaea12"/></div>
            <button type="submit">Send</button>
        </form>
    </li>
    <li>
        <h4>Input html5-type</h4>
        <form>
            <label>number</label><div class="field" ><input name="number" type="number" value="12"/></div>
            <label>decimal</label><div class="field" ><input name="text-decimal" data-type="float" value="12.5337"/></div>
            <label>integer</label><div class="field" ><input name="integer" type="integer" value="1337"/></div>
            <label>date</label><div class="field" ><input name="date" type="date" value="2020-06-01"/></div>
            <label>datetime</label><div class="field" ><input name="datetime" type="datetime-local" value="2020-06-01T17:53:12"/></div>
            <label>color</label><div class="field" ><input name="color" type="color" value="#eaea12"/></div>
            <button type="submit">Send</button>
        </form>
    </li>
    <li>
        <h4>Custom html5 error messages</h4>
        <form>
            <label>number</label><div class="field" ><input name="number" type="number" value="12"/></div>
            <label>decimal</label><div class="field" ><input name="text-decimal" data-type="float" value="12.5337" data-err-clean-mismatch="Wrong decimal !"/></div>
            <label>integer (required)</label><div class="field" ><input name="integer" type="integer" value="1337" required data-err-value-missing="Not here !"/></div>
            <label>date</label><div class="field" ><input name="date" type="date" value="2020-06-01"/></div>
            <label>datetime</label><div class="field" ><input name="datetime" type="datetime-local" value="2020-06-01T17:53:12"/></div>
            <label>color</label><div class="field" ><input name="color" type="color" value="#eaea12"/></div>
            <button type="submit">Send</button>
        </form>
    </li>
</ul>
<ul>
    <li>
        <h4>Error rendering</h4>
        <form data-notooltip>
            <label>text (required)</label><div class="field" ><input name="text-required" type="text" value="" required/><span class="field-error"></span></div>
            <label>number</label><div class="field" ><input name="number" type="number" value="12"/><span class="field-error"></span></div>
            <label>decimal</label><div class="field" ><input name="text-decimal" data-type="float" value="12.5337" data-err-clean-mismatch="Wrong decimal !"/><span class="field-error"></span></div>
            <label>integer</label><div class="field" ><input name="integer" type="integer" value="1337"/><span class="field-error"></span></div>
            <label>date</label><div class="field" ><input name="date" type="date" value="2020-06-01"/><span class="field-error"></span></div>
            <label>datetime − text</label><div class="field" ><input name="text-datetime" data-type="datetime-local" value="2020-06-01T17:53:12"/><span class="field-error"></span></div>
            <label>color</label><div class="field" ><input name="color" type="color" value="#eaea12"/><span class="field-error"></span></div>
            <button type="submit">Send</button>
        </form>
    </li>
    <li>
        <h4>Error rendering & responsive</h4>
        <form data-notooltip data-responsive>
            <label>text (required)</label><div class="field" ><input name="text-required" type="text" value="" required data-err-value-missing="Not here !"/><span class="field-error"></span></div>
            <label>number</label><div class="field" ><input name="text-number" type="number" value="12"/><span class="field-error"></span></div>
            <label>decimal</label><div class="field" ><input name="text-decimal" data-type="float" value="12.5337"/><span class="field-error"></span></div>
            <label>integer</label><div class="field" ><input name="text-integer" type="integer" value="1337"/><span class="field-error"></span></div>
            <label>date</label><div class="field" ><input name="text-date" type="date" value="2020-06-01"/><span class="field-error"></span></div>
            <label>datetime − text</label><div class="field" ><input name="text-datetime" data-type="datetime-local" value="2020-06-01T17:53:12"/><span class="field-error"></span></div>
            <label>color</label><div class="field" ><input name="text-color" type="color" value="#eaea12"/><span class="field-error"></span></div>
            <button type="submit">Send</button>
        </form>
    </li>
    <li>
        <h4>Error rendering & form validator</h4>
        <form id="cloneform" data-notooltip>
            <label>text (required)</label><div class="field" ><input name="text-required" type="text" value="" required data-err-value-missing="Not here !"/><span class="field-error"></span></div>
            <label>text (copy)</label><div class="field" ><input name="text-copy" type="text" value="" required data-err-value-missing="Copy here !"/><span class="field-error"></span></div>
            <button type="submit">Send</button>
        </form>
    </li>
</ul>
<div id="clean-output"></div>
{% endblock %}
