{% extends "creme_core/tests/testbase.html" %}

{% block test_title %}Creme Toggle Widget{% endblock %}

{% block test_header %}
    <style type="text/css">
        .ui-creme-toggle {
            margin-top:5px;
            border-radius: 4px;
            border: 1px solid black;
            width: 800px;
        }

        .ui-creme-toggle h4 {
            border-bottom: 1px solid black;
            margin: 0px;
            background: gray;
            color: white;
            padding: 3px;
        }

        .ui-creme-toggle.toggle-collapsed h4 {
            border-bottom: 0px;
        }

        .ui-creme-toggle .toggle-target {
            padding: 3px;
        }

        table.ui-creme-toggle {
            padding:0;
            font-size: 12px;
        }
        
        table.ui-creme-toggle .toggle-trigger {
            background: gray;
            color: white;
        }

        table.ui-creme-toggle th.toggle-target {
            margin:0;
            padding:0;
        }

        table.ui-creme-toggle th.toggle-target.toggle-collapsed {
            display: block;
        }
    </style>
{% endblock %}

{% block test_content %}
<ul>
    <li>
        <h5>Opened toggle</h5>
        <div class="ui-creme-widget ui-creme-toggle widget-auto" widget="ui-creme-toggle">
            <h4 class="toggle-trigger">Lorem ipsum dolor sit amet...</h4>
            <div class="toggle-target">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum leo ut mi eleifend rutrum. 
                Morbi aliquam augue vel elit molestie sagittis. Aenean suscipit, purus lacinia hendrerit accumsan, 
                risus erat placerat tortor, non rhoncus tellus orci sed libero. Maecenas erat ligula, scelerisque 
                id interdum in, semper eu metus. Integer eget eros nec nisi pellentesque congue. Sed quis lacinia 
                magna. Etiam eget nulla sit amet ligula fringilla ornare. In euismod adipiscing lacus, nec congue 
                elit vulputate vel. Phasellus et velit lacus, id ultricies odio. Fusce imperdiet vehicula justo, 
                nec gravida velit bibendum porta.
            </div>
        </div>
    </li>
    <li>
        <h5>Closed toggle</h5>
        <div class="ui-creme-widget toggle-collapsed ui-creme-toggle widget-auto" widget="ui-creme-toggle">
            <h4 class="toggle-trigger">Lorem ipsum dolor sit amet...</h4>
            <div class="toggle-target">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum leo ut mi eleifend rutrum. 
                Morbi aliquam augue vel elit molestie sagittis. Aenean suscipit, purus lacinia hendrerit accumsan, 
                risus erat placerat tortor, non rhoncus tellus orci sed libero. Maecenas erat ligula, scelerisque 
                id interdum in, semper eu metus. Integer eget eros nec nisi pellentesque congue. Sed quis lacinia 
                magna. Etiam eget nulla sit amet ligula fringilla ornare. In euismod adipiscing lacus, nec congue 
                elit vulputate vel. Phasellus et velit lacus, id ultricies odio. Fusce imperdiet vehicula justo, 
                nec gravida velit bibendum porta.
            </div>
        </div>
     </li>
     <li>
        <h5>Recursive open/close</h5>
        <div class="ui-creme-widget toggle-collapsed ui-creme-toggle widget-auto" widget="ui-creme-toggle" name="root">
            <h4>
                <span class="toggle-trigger">Root</span>
                <span class="toggle-trigger" recursive="true" style="float:right;">[Toggle All]</span>
                <span class="toggle-trigger" recursive="true" toggle-event="" open-event="click" style="float:right;margin-right:5px;">[Expand All]</span>
                <span class="toggle-trigger" recursive="true" toggle-event="" close-event="click" style="float:right;margin-right:5px;">[Close All]</span>
            </h4>
            <div class="toggle-target">
                <div class="ui-creme-widget toggle-collapsed ui-creme-toggle widget-auto" widget="ui-creme-toggle" style="width:790px;">
                    <h4 class="toggle-trigger">Folder 1</h4>
                    <div class="toggle-target">
                        <div class="ui-creme-widget toggle-collapsed ui-creme-toggle widget-auto" widget="ui-creme-toggle" style="width:780px;">
                            <h4 class="toggle-trigger">Lorem ipsum dolor sit amet...</h4>
                            <div class="toggle-target">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum leo ut mi eleifend rutrum. 
                                Morbi aliquam augue vel elit molestie sagittis. Aenean suscipit, purus lacinia hendrerit accumsan, 
                                risus erat placerat tortor, non rhoncus tellus orci sed libero. Maecenas erat ligula, scelerisque 
                                id interdum in, semper eu metus. Integer eget eros nec nisi pellentesque congue. Sed quis lacinia 
                                magna. Etiam eget nulla sit amet ligula fringilla ornare. In euismod adipiscing lacus, nec congue 
                                elit vulputate vel. Phasellus et velit lacus, id ultricies odio. Fusce imperdiet vehicula justo, 
                                nec gravida velit bibendum porta.
                            </div>
                        </div>
                        <div class="ui-creme-widget toggle-collapsed ui-creme-toggle widget-auto" widget="ui-creme-toggle" style="width:780px;">
                            <h4 class="toggle-trigger">Lorem ipsum dolor sit amet...</h4>
                            <div class="toggle-target">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum leo ut mi eleifend rutrum. 
                                Morbi aliquam augue vel elit molestie sagittis. Aenean suscipit, purus lacinia hendrerit accumsan, 
                                risus erat placerat tortor, non rhoncus tellus orci sed libero. Maecenas erat ligula, scelerisque 
                                id interdum in, semper eu metus. Integer eget eros nec nisi pellentesque congue. Sed quis lacinia 
                                magna. Etiam eget nulla sit amet ligula fringilla ornare. In euismod adipiscing lacus, nec congue 
                                elit vulputate vel. Phasellus et velit lacus, id ultricies odio. Fusce imperdiet vehicula justo, 
                                nec gravida velit bibendum porta.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-creme-widget toggle-collapsed ui-creme-toggle widget-auto" widget="ui-creme-toggle" style="width:790px;">
                    <h4 class="toggle-trigger">Folder 2</h4>
                    <div class="toggle-target">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum leo ut mi eleifend rutrum. 
                        Morbi aliquam augue vel elit molestie sagittis. Aenean suscipit, purus lacinia hendrerit accumsan, 
                        risus erat placerat tortor, non rhoncus tellus orci sed libero. Maecenas erat ligula, scelerisque 
                        id interdum in, semper eu metus. Integer eget eros nec nisi pellentesque congue. Sed quis lacinia 
                        magna. Etiam eget nulla sit amet ligula fringilla ornare. In euismod adipiscing lacus, nec congue 
                        elit vulputate vel. Phasellus et velit lacus, id ultricies odio. Fusce imperdiet vehicula justo, 
                        nec gravida velit bibendum porta.
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <h5>Open/close with attributes (colspan in this case)</h5>
        <table class="ui-creme-widget toggle-collapsed ui-creme-toggle widget-auto" widget="ui-creme-toggle">
            <thead>
                <tr><th class="toggle-target" toggle-open-colspan="2" toggle-close-colspan="1">Lorem ipsum dolor sit amet...<th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="toggle-trigger">Lorem ipsum...</td>
                    <td class="toggle-target">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum leo ut mi eleifend rutrum. 
                        Morbi aliquam augue vel elit molestie sagittis. Aenean suscipit, purus lacinia hendrerit accumsan, 
                        risus erat placerat tortor, non rhoncus tellus orci sed libero. Maecenas erat ligula, scelerisque 
                        id interdum in, semper eu metus. Integer eget eros nec nisi pellentesque congue. Sed quis lacinia 
                        magna. Etiam eget nulla sit amet ligula fringilla ornare. In euismod adipiscing lacus, nec congue 
                        elit vulputate vel. Phasellus et velit lacus, id ultricies odio. Fusce imperdiet vehicula justo, 
                        nec gravida velit bibendum porta.
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    {% comment %}
    <li>
        <h5>Open/close resizable</h5>
        <div class="ui-creme-widget toggle-collapsed ui-creme-toggle widget-auto" widget="ui-creme-toggle">
            <h4 class="toggle-trigger">Lorem ipsum dolor sit amet...</h4>
            <div class="toggle-target">
                <div id="barplot" class="ui-widget-content ui-creme-widget ui-creme-jqueryplot widget-auto ui-creme-resizable" widget="ui-creme-jqueryplot"
                     style="height:300px;" savable="true" resizable="true">
                    <script type="text/json"><!--
        {
            "options": {
                "seriesDefaults": {
                    "renderer": "jqplot.BarRenderer",
                    "rendererOptions": {
                        "showDataLabels": true,
                        "fillToZero": true
                    }
                },
                "series": [
                    {"label": "CA Attendu"},
                    {"label": "CA Effectué"}
                ],
                "legend": {
                    "show": true, 
                    "placement": "outsideGrid"
                },
                "axes": {
                    "xaxis": {
                        "renderer": "jqplot.CategoryAxisRenderer",
                        "ticks": ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                        "label": "Mois"
                    },
                    "yaxis": {
                        "tickOptions": {
                            "formatString": "%.2f €"
                        },
                        "label": "Chiffre d'affaire",
                        "labelRenderer": "jqplot.CanvasAxisLabelRenderer",
                        "labelOptions": {
                            "fontFamily": "Georgia, Serif",
                            "fontSize": "12pt"
                        }
                    }
                },
                "cursor": {
                    "show": true,
                    "zoom": true
                },
                "highlighter": {
                    "show": true,
                    "showMarker": false,
                    "tooltipAxes": "y",
                    "formatString": "%s",
                    "tooltipLocation": "n"
                },
                "title": "This is a bargraph"
            },
            "data": [[1000, 1000, 2000, 2500, 5000, 5000, 6000, 6000, 6000, 10000, 10000, 10000],
                     [ 800, 1200, 2200, 1800, 5020, 3800, 7505, 8200, 7200, 15530,  8050, 11020]]
        }
                     --></script>
                </div>
            </div>
        </div>
    </li>
    {% endcomment %}
    <li>
        <h5>Open/close on mouseover</h5>
        <div class="ui-creme-widget toggle-collapsed ui-creme-toggle toggle-trigger widget-auto" widget="ui-creme-toggle"
             open-event="mouseenter" close-event="mouseleave">
            <h4>Lorem ipsum dolor sit amet...</h4>
            <div class="toggle-target">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum leo ut mi eleifend rutrum. 
                Morbi aliquam augue vel elit molestie sagittis. Aenean suscipit, purus lacinia hendrerit accumsan, 
                risus erat placerat tortor, non rhoncus tellus orci sed libero. Maecenas erat ligula, scelerisque 
                id interdum in, semper eu metus. Integer eget eros nec nisi pellentesque congue. Sed quis lacinia 
                magna. Etiam eget nulla sit amet ligula fringilla ornare. In euismod adipiscing lacus, nec congue 
                elit vulputate vel. Phasellus et velit lacus, id ultricies odio. Fusce imperdiet vehicula justo, 
                nec gravida velit bibendum porta.
            </div>
        </div>
    </li>
</ul>
{% endblock %}
