{% load i18n creme_widgets %}{% load jsondata from creme_core_tags %}
{% with action=entry.action %}
{% if entry.permission_error %}
<span class="ui-creme-navigation-text-entry forbidden {{action.classes|join:' '}}" title="{{ entry.permission_error|default:action.description }}">
    {{ action.icon.render }}{{ entry.label }}
</span>
{% else %}
<a {% if action.id %}data-action="{{ action.id }}"{% endif %}
   class="ui-creme-navigation-action-entry {{ action.classes|join:' ' }}" title="{{ action.description|default:'' }}" href="{{ action.url }}">
    {% if action.icon %}{{ action.icon.render }}{% endif %}{{ entry.label }}
    {% jsondata action.props %}
</a>
{% endif %}
{% endwith %}