{% load blockjsondata from creme_core_tags %}
{% if entry.roles|length > 1 %}
<span class="ui-creme-navigation-title{% if not entry.roles %} ui-creme-navigation-empty{% endif %}">{{ entry.label }}</span>
{% for role in entry.roles %}
    {% if role.deactivated_on %}
<div class="disabled-role ui-creme-navigation-text-entry">
    <div class="marker-not-selected"></div>{{ role }}
</div>
    {% elif role.id == user.role_id %}
<div class="ui-creme-navigation-text-entry">
    <div class="marker-selected"></div>{{ role }}
</div>
    {% else %}
<a data-action="update" href="{% url 'creme_core__switch_role' user.id role.id %}">
    <div class="marker-not-selected"></div>{{ role }}
    {% blockjsondata %}
    {"options":{"redirectOnSuccess":"{% url 'creme_core__home' %}"}}
    {% endblockjsondata %}
</a>
    {% endif %}
{% endfor %}
{% endif %}
