{% extends "creme_core/generics/view_entity.html" %}

{% load creme_core_tags %}
{% load creme_block %}

{% block logo %}
    {% if object.url_site %}
        <a href="http://{{object.url_site}}" target="_blank" ><img src="{{object.image.get_image_url}}" alt="" style="max-height:64px;max-width:200px;"/></a>
    {% else %}
        <img src="{{object.image.get_image_url}}" alt="" title="Veuillez entrez l'adresse du site web" style="max-height:64px;max-width:200px;"/>
    {% endif %}
{% endblock %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'persons' named 'employees' as 'employees_block' %}
    {% import_block from_app 'persons' named 'managers' as 'managers_block' %}
{% endblock %}

{% block detail_view_left_1 %}
    <!--{% cycle "block_header_line_dark" "block_header_line_light" as header_color %}
        {% cycle "block_line_dark" "block_line_light" as row_color %}-->
    <table class="table_detail_view ui-corner-all">
        {% get_basic_block_header "Informations sur l'organisation" 'infos_48.png' 'Infos' %}
        <tbody class="collapsable">
            <tr>
                <th class="{% cycle header_color %}">Nom de l'organisation</th>
                <td class="{% cycle row_color %}">{{object.name}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Effectif</th>
                <td class="{% cycle row_color %}">{{object.employees}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Forme Juridique</th>
                <td class="{% cycle row_color %}">{{object.legal_form }}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Secteur</th>
                <td class="{% cycle row_color %}">{{object.sector}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Capital</th>
                <td class="{% cycle row_color %}">{{object.capital}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Siren</th>
                <td class="{% cycle row_color %}">{{object.siren}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Naf</th>
                <td class="{% cycle row_color %}">{{object.naf}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Siret</th>
                <td class="{% cycle row_color %}">{{object.siret}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">rcs</th>
                <td class="{% cycle row_color %}">{{object.rcs}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">TVA Intra</th>
                <td class="{% cycle row_color %}">{{object.tvaintra}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Assujetti à la TVA</th>
                <td class="{% cycle row_color %}">{{object|get_html_field_value:"subject_to_vat" }}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Est assigné à</th>
                <td class="{% cycle row_color %}">{{object.user}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table_detail_view ui-corner-all">
        <thead>
            <tr>
                <th align="center" colspan="2">Coordonnées</th>
            </tr>
        </thead>
        <tbody class="collapsable">
            <tr>
                <th class="{% cycle header_color %}">Addresse de facturation</th>
                <td class="{% cycle row_color %}">{{object.billing_adress}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Addresse de livraison</th>
                <td class="{% cycle row_color %}">{{object.shipping_adress}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Téléphone fixe</th>
                <td class="{% cycle row_color %}">{{object.phone}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Fax</th>
                <td class="{% cycle row_color %}">{{object.fax}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">E-mail</th>
                <td class="{% cycle row_color %}">{{object.email}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Site Web</th>
                <td class="{% cycle row_color %}">{{object.url_site}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table_detail_view ui-corner-all">
        {% get_basic_block_header 'Autres Informations' 'infos_48.png' 'Infos' %}
        <tbody class="collapsable">
            <tr>
                <th class="{% cycle header_color %}">Description</th>
                <td class="{% cycle row_color %}">{{object.description}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Date de création de l'entreprise</th>
                <td class="{% cycle row_color %}">{{object|get_html_field_value:"creation_date"}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %}">Logo</th>
                <td class="{% cycle row_color %}">{{object|get_html_field_value:"image"}}</td>
            </tr>
        </tbody>
    </table>

    {% include "creme_core/customfields_as_table.html" %}
{% endblock %}

{% block detail_view_left_2 %}
    {% display_block_detailview 'managers_block' %}
    {% display_block_detailview 'employees_block' %}

    {% display_block_detailview 'properties_block' %}
    {% display_block_detailview 'relations_block' %}
{% endblock %}