{% extends 'creme_core/bricks/generic/hat-bar.html' %}
{% load i18n creme_bricks creme_entity_filter creme_widgets %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_core-efilter-hat-bar{% endblock %}

{% block brick_content %}
    <div class="hat-bar">
        <div class="bar-icon">{% widget_icon name='filter' size='brick-hat-bar' label=_('Filter of Entity') %}</div>
        <div class="bar-title">
            <h1>{% translate 'Filter of Entity' %} : {{object|capfirst}}</h1>
        </div>
        <div class="bar-actions">
         {% block buttons %}

          {% block edit_button %}
{% comment %}
           {% if edition.url %}
            <div class='bar-action'>
              {% if edition.allowed %}
                {% brick_bar_button action='redirect' label=_('Edit') url=edition.url icon='edit' %}
              {% else %}
                {% blocktranslate asvar edit_button_label with error=edition.error %}Edition is forbidden ({{error}}){% endblocktranslate %}
                {% brick_bar_button action='redirect' label=edit_button_label url='#' icon='edit' enabled=False %}
              {% endif %}
            </div>
           {% endif %}
{% endcomment %}
           {% with edition_url=object.get_edit_absolute_url %}
            {% if edition_url %}
             <div class='bar-action'>
              {% with edition_error=object|efilter_edition_forbidden:user %}
               {% if edition_error %}
                 {% blocktranslate asvar edit_button_label with error=edition_error %}Edition is forbidden ({{error}}){% endblocktranslate %}
                 {% brick_bar_button action='redirect' label=edit_button_label url='#' icon='edit' enabled=False %}
               {% else %}
                 {% brick_bar_button action='redirect' label=_('Edit') url=edition_url icon='edit' %}
               {% endif %}
              {% endwith %}
             </div>
            {% endif %}
           {% endwith %}
          {% endblock %}

          {% block delete_button %}
{% comment %}
           {% if deletion.url %}
            <div class='bar-action'>
              {% if deletion.allowed %}
                {% brick_bar_button action='creme_core-detailview-delete' __callback_url='creme_config__efilters'|url label=_('Delete') url=deletion.url icon='delete' confirm=_('Do you really want to delete this filter?') %}
              {% else %}
                {% blocktranslate asvar del_button_label with error=deletion.error %}Deletion is forbidden ({{error}}){% endblocktranslate %}
                {% brick_bar_button action='redirect' label=del_button_label url='#' icon='delete' enabled=False %}
              {% endif %}
            </div>
           {% endif %}
{% endcomment %}
           {% with deletion_url=object.get_delete_absolute_url %}
            {% if deletion_url %}
             <div class='bar-action'>
              {% with deletion_error=object|efilter_deletion_forbidden:user %}
               {% if deletion_error %}
                 {% blocktranslate asvar del_button_label with error=deletion_error %}Deletion is forbidden ({{error}}){% endblocktranslate %}
                 {% brick_bar_button action='redirect' label=del_button_label url='#' icon='delete' enabled=False %}
               {% else %}
                 {% brick_bar_button action='creme_core-detailview-delete' __callback_url='creme_config__efilters'|url label=_('Delete') url=deletion_url icon='delete' confirm=_('Do you really want to delete this filter?') %}
               {% endif %}
              {% endwith %}
             </div>
            {% endif %}
           {% endwith %}
          {% endblock %}

         {% endblock buttons %}
        </div>
    </div>
{% endblock %}