{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_widgets creme_ctype creme_cells creme_bricks %}

{% block brick_extra_class %}
{{block.super}} creme_core-search-brick{% if page.paginator.count == 0 %} is-empty{% endif %}
{% endblock %}

{% block brick_extra_attributes %}
search-count="{{page.paginator.count}}"
{% endblock %}

{% block brick_header_title %}
    {% widget_icon ctype=objects_ctype size='brick-header' as ct_icon %}
    {% brick_header_title title=objects_ctype|ctype_counted_label:page.paginator.count icon=ct_icon %}
{% endblock %}

{% block brick_table_columns %}
  {% if cells %}
    {% brick_table_column title=_('See') status='action' %}
    {% for cell in cells %}
        {% brick_table_column title=cell %}
    {% endfor %}
  {% else %}
    <tr><th>{% translate 'It seems that all fields are hidden. Ask your administrator to fix the configuration.' %}</th></tr>
  {% endif %}
{% endblock %}

{% block brick_table_rows %}
  {% for entity in page.object_list %}
    <tr>
      {% if cells %}
        <td>
            <a href="{{entity.get_absolute_url}}" class="brick-action brick-table-action{% if entity.is_deleted %} is_deleted{% endif %}">
                {% widget_icon name='view' size='brick-table-action' class='brick-action-icon brick-table-action-icon' %}
            </a>
        </td>
      {% endif %}
      {% for cell in cells %}
        <td class="advanced-search-result">{% cell_render cell=cell instance=entity user=user as cell_content %}
            {% if cell_content %}{% if entity.is_deleted %}<div class="is_deleted">{{cell_content}}</div>{% else %}{{cell_content}}{% endif %}{% else %}<span class="empty-field">—</span>{% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
{% endblock %}
