{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_core_tags creme_widgets creme_bricks %}{# creme_history #}

{% block brick_extra_class %}{{block.super}} creme_core-history-brick{% endblock %}

{% block brick_script %}
    <script type="text/javascript">
        $('.brick[id="{{brick_id}}"]').on('brick-ready', function() {
            $('.toggle-icon-container').on('click', function(e) {
                e.stopPropagation();

                var expand = $(this).is('.toggle-icon-expand');

                $(this).parents('.history-line-collapsable').toggleClass('history-line-collapsed', !expand);
            });
        });
    </script>
{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=verbose_name icon='history' %}
{% endblock %}

{% block brick_header_actions %}{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='id' status='primary' title=_('Date') %}

    {% if not object %}
    {% brick_table_column title=_('Concerned entity') %}
    {% endif %}

    {% brick_table_column_for_field ctype=objects_ctype field='type' %}
    {% brick_table_column title=_('Modifications') %}
    {% brick_table_column title=_('By') %}
{% endblock %}

{% block brick_table_rows %}
    {% for line in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %} data-type="date">
            {% print_field object=line field='date' %}
        </td>
        {% if not object %}
        <td>
        {% with concerned_entity=line.entity %}
            {% if concerned_entity %}
                {% widget_icon instance=concerned_entity size='brick-table' class='ctype-icon' %}
                {% widget_entity_hyperlink concerned_entity user %}
            {% else %}
                {% widget_icon ctype=line.entity_ctype size='brick-table' class='ctype-icon' %}
                {{line.entity_repr}}{# TODO: improve credentials here !! #}
            {% endif %}
        {% endwith %}
        </td>
        {% endif %}
        <td>{{line.get_type_str}}</td>
        <td data-type="list">
{% comment %}
            {% with modifications=line|history_modifications:user %}
                {% if modifications|length == 1 %}
                    {{modifications.0}}
                {% else %}
                    <ul>{% for modif in modifications %}<li>{{modif}}</li>{% endfor %}</ul>
                {% endif %}
            {% endwith %}
            {% if line.related_line %}
                {% with related_line=line.related_line related_entity=line.related_line.entity %}
                    {% if line.line_type.is_about_relation %}&nbsp;
                        {% if related_entity %}
                            {% widget_entity_hyperlink related_entity user %}
                        {% else %}
                            {{related_line.entity_repr}}{# TODO: improve credentials here !! #}
                        {% endif %}
                    {% else %}
                        {% if related_entity %}
                            {% translate "Edition of :" %}&nbsp;{% widget_entity_hyperlink related_entity user %}
                        {% else %}
                            {% blocktranslate with entity=related_line.entity_repr %}Edit "{{entity}}"{% endblocktranslate %}{# TODO: improve credentials here !! #}
                        {% endif %}
                        <br/>
                        {% for modif in related_line|history_modifications:user %} - {{modif}}<br/>{% endfor %}
                    {% endif %}
                {% endwith %}
             {% endif %}
{% endcomment %}
            {{line.explainer.render}}
        </td>
        <td>{% if line.user is not None %}{% widget_hyperlink line.user %}{% else %}{{line.username}}{% endif %}</td>
    </tr>
    {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No history for the moment' %}
{% endblock %}
