{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks %}

{% block brick_extra_class %}
{{block.super}} creme_core-job-errors-brick{% if job.status == JOB_ERROR %} is-empty{% endif %}
{% endblock %}

{% block brick_header_title %}
    {% if job.is_finished %}
    {% brick_header_title title=_('{count} Error') plural=_('{count} Errors') empty=verbose_name %}
    {% else %}
    {% brick_header_title title=_('Errors [job is not finished yet]') %}
    {% endif %}
{% endblock %}

{% block brick_table_rows %}
    {% for result in page.object_list %}
    <tr>
        <td>{# TODO: factorise #}
            {% if result.messages|length > 1 %}
            <ul>{% for error in result.messages %}<li>{{error}}</li>{% endfor %}</ul>
            {% else %}
            {{result.messages.0}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No error' %}
{% endblock %}
