{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms %}{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_core-properties-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Property') plural=_('{count} Properties') empty=verbose_name icon='property' %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='add' url='creme_core__add_properties'|url:object.id label=_('New properties') enabled=user|has_perm_to_change:object %}
{% endblock %}

{% block brick_table_head %}{% endblock %}

{% block brick_table_rows %}
 {% with edit_perm=user|has_perm_to_change:object rm_url='creme_core__delete_related_to_entity'|url:objects_ctype.id %}
  {% for property in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %}>
          {% with ptype=property.type %}
            <a href="{{ptype.get_absolute_url}}"{% if not ptype.enabled %} class="is_deleted"{% endif %}{% if ptype.description %} title="{{ptype.description}}"{% endif %}>
                {{property}}
            </a>
          {% endwith %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=rm_url __id=property.id label=_('Remove this property') enabled=edit_perm %}
        </td>
    </tr>
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No property for the moment' %}
{% endblock %}
