{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} creme_core-trash-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Deleted entity') plural=_('{count} Deleted entities') empty=_('Deleted entities') icon='delete' %}
{% endblock %}

{% block brick_header_actions %}
{#  {% if ENTITIES_DELETION_ALLOWED %} #}
  {% if display_header_button %}
    {% brick_header_action id='edit' url='creme_core__empty_trash'|url label=_('Empty the trash') icon='cancel' %}
  {% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='modified' title=_('Deletion date') status='primary' %}
    {% brick_table_column title=_('Type') %}
    {% brick_table_column title=_('Name') %}
    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}
  {% for entity in page.object_list %}
   {% with delete_perm=user|has_perm_to_delete:entity %}
    <tr>
        <td {% brick_table_data_status primary %}>{{entity.modified}}</td>
        <td>{% widget_icon ctype=entity.entity_type size='brick-table' class='trash-brick-modelicon' %}<span class="trash-brick-modelname">{{entity.entity_type}}</span></td>
        <td>{% widget_entity_hyperlink entity.get_real_entity user ignore_deleted=True %}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='update' url='creme_core__restore_entity'|url:entity.id label=_('Restore') icon='restore' enabled=delete_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_delete_entity_action entity=entity user=user %}
        </td>
    </tr>
   {% endwith %}
  {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'The trash is empty' %}
{% endblock %}
