{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
{% has_perm_to create ct_doc as creation_perm %}{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=3 %}
        <th class="collapser label">{% get_block_title _('%s linked Document') _('%s linked Documents') 'document_48.png' _('Document') %}</th>
        <th class="actions">
            <div class="buttons">
                {% comment %}
                    TODO : uncomment it after refactor of popups and unify ajax form submit
                    {% get_line_adder at_url '/documents/document/add_related/{{object.id}}' with_label _("Add a document") with_perms creation_perm|and_op:link_perm %}
                {% endcomment %}
                {% if creation_perm and link_perm %}
                    <a class="add" onclick="creme.utils.iframeInnerPopup('/documents/document/add_related/{{object.id}}');">
                    {% comment %}<a class="add" href="/documents/document/add_related?callback_url={{object.get_absolute_url}}&entity_id={{object.id}}">{% endcomment %}
                        <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{% trans "Add a document" %}" alt="{% trans "Add a document" %}" />
                        {% trans "Add a document" %}
                    </a>
                {% else %}
                    <span class="add forbidden">
                        <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{% trans "Can't add or link" %}" alt="{% trans "Can't add or link" %}" />
                        {% trans "Add a document" %}
                    </span>
                {% endif %}
                {% get_line_relator to_subject object with_rtype_id predicate_id with_ct_id ct_doc.id with_label _("Link to an existing document") with_perms link_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr  class="header">
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Download" %}</th>
                <th class="block_header_line_dark action">{% trans "Delete" %}</th>
            </tr>
            {% for relation in page.object_list %}
                {% with relation.object_entity as doc %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                    <tr class="content">
                        <td class="{{row_color}}">{% widget_entity_hyperlink doc user %}</td>
                        <td class="{{row_color}} action">
                            {% has_perm_to view doc as line_perm %}
                            {% if line_perm %}
                                <a href="/download_file/{{doc.filedata}}">
                                    <img src="{% creme_media_url 'images/download_22.png' %}" title="{% blocktrans %}Download '{{doc}}'{% endblocktrans %}" alt="{% trans "Download" %}"/>
                                </a>
                            {% else %}
                                <img class="forbidden" src="{% creme_media_url 'images/download_22.png' %}" border="0" title="{% trans "Can't download" %}" alt="{% trans "Can't download" %}">
                            {% endif %}
                        </td>
                        <td class="{{row_color}} action">
                            {% has_perm_to unlink doc as doc_unlink_perm %}
                            {% get_line_unlinker at_url '/creme_core/relation/delete' with_args "{'id':{{relation.pk}} }" with_perms unlink_perm|and_op:doc_unlink_perm %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No linked document" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
