{% load i18n %}{% load media %}
{% load creme_core_tags %}{% load creme_block %}{% load creme_widgets %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=2 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Contained Document') _('%s Contained Documents') 'document_48.png' _('Document') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% get_listview_button with_ct_id ct_id with_label _("List of documents") with_q_filter q_filter %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for doc in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{% widget_entity_hyperlink doc user %}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% has_perm_to change doc as edit_perm %}
                        {% if edit_perm %}
                            <a href="{{doc.get_edit_absolute_url}}"><img src="{% media_url 'images/edit_22.png' %}" border="0"></a>
                        {% else %}
                            <img class="forbidden" src="{% media_url 'images/edit_22.png' %}" border="0" title="{% trans "Can't edit" %}" alt="{% trans "Can't edit" %}" />
                        {% endif %}

                        {% has_perm_to delete doc as delete_perm %}
                        {% get_line_deletor at_url '/creme_core/entity/delete/{{doc.id}}' with_args "{}" with_perms delete_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No document in this folder for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
