{% load i18n creme_core_tags creme_block %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=3 %}
        <th class="label">{% get_basic_block_header _('Information on the document') 'info_48.png' _('Information') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_toggle_empty_field_button %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable"><!-- {% cycle "block_header_line_dark" "block_header_line_light" as header_color %}{% cycle "block_line_dark" "block_line_light" as row_color %} -->
        {% get_viewable_fields object as fields %}
        {% for field in fields %}
            <tr class="content">
                <th class="{% cycle header_color %} th_info">{{field.verbose_name|capfirst}}</th>
                <td class="{% cycle row_color %} td_info">{% print_field object=object field=field.name %}</td>
                <td class="{{row_color}} td_info edit_inner">{% get_field_editor on regular field for object %}</td>
            </tr>
        {% endfor %}

        <tr class="content">
            <th class="{% cycle header_color %} th_info">{% trans "Categories" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=object field='categories' %}</td>
            <td class="{{row_color}} td_info edit_inner">{% get_field_editor on regular 'categories' for object %}</td>
        </tr>
    </tbody>
</table>