{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="collapser label">{% get_block_title _('%s Contained Document') _('%s Contained Documents') 'document_48.png' _('Document') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_listview_button with_ct_id ct_id with_label _("List of documents") with_q_filter q_filter %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark action">{% trans "Actions" %}</th>
            </tr>
            {% for doc in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">
                    <td class="{{row_color}}">{% widget_entity_hyperlink doc user %}</td>
                    <td class="{{row_color}} action">
                        {% has_perm_to change doc as edit_perm %}
                        {% if edit_perm %}
                            <a href="{{doc.get_edit_absolute_url}}"><img src="{% creme_media_url 'images/edit_22.png' %}" border="0"></a>
                        {% else %}
                            {% trans "Can't edit" as img_title %}<img class="forbidden" src="{% creme_media_url 'images/edit_22.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
                        {% endif %}

                        {% has_perm_to delete doc as delete_perm %}
                        {% get_line_deletor at_url '/creme_core/entity/delete/{{doc.id}}' with_args "{}" with_perms delete_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No document in this folder for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 2 %}
</table>
