{% load cycle from future %}{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="label">{% get_block_title _('%s Child Folder') _('%s Child Folders') 'document_48.png' _('Folder') %}</th>

        <th class="actions">
            <div class="buttons">{% url 'documents__create_child_folder' object.id as creation_url %}
                {% has_perm_to create folder_model as creation_perm %}{% has_perm_to link object as link_perm %}
                {% get_line_adder at_url creation_url with_label _("New child folder") with_perms creation_perm|and_op:link_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="header">
            {% get_column_header _('Title') 'title' %}
            <th class="block_header_line_dark action">{% trans "Category" %}</th>
        </tr>
        {% if page.paginator.count %}
            {% for folder in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">
                    <td class="{{row_color}}">{% widget_entity_hyperlink folder user %}</td>
                    <td class="{{row_color}}">{% print_field object=folder field='category' %}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No child folder" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 2 %}
</table>