{% extends 'billing/bricks/base/lines.html' %}
{% load i18n creme_bricks creme_perms %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} billing-service-lines-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Service') plural=_('{count} Services') empty=_('Services') icon='service' count=item_count %}
{% endblock %}

{% block brick_line_header_actions %}
    {% brick_header_action id='add' url='billing__create_service_lines'|url:object.id label=_('Add some services') enabled=user|has_perm_to_change:object %}
{% endblock %}

{% block empty_msg %}{% translate 'No service in this document' %}{% endblock %}
