{% load i18n creme_widgets %}
{% if user.is_superuser %}
{% if sandbox_uuid is None %}
{% translate 'Are you sure you want to restrict this entity to superusers?' as confirm_msg %}
{# NB: we could reload only some bricks with creme.bricks.BricksReloader, but the button must be reloaded too (to update its label etc...) -> need buttons to be bricks ? #}
<a class="menu_button menu-button-icon" onclick="creme.dialogs.confirm('{{confirm_msg|escapejs}}').onOk(function() { creme.utils.ajaxQuery('{% url 'creme_core__restrict_entity_2_superusers' %}', {action: 'POST', reloadOnSuccess: true}, {id: {{object.id}}, set: true}).start();}).open();">
    {% widget_icon name='security' size='instance-button' label=img_title %}
    {% translate 'Restrict to superusers' %}
</a>
{% elif sandbox_uuid == UUID_SANDBOX_SUPERUSERS %}
{% translate 'Are you sure you want this entity to be accessible to regular users?' as confirm_msg %}
<a class="menu_button menu-button-icon" title="{{description}}" onclick="creme.dialogs.confirm('{{confirm_msg|escapejs}}').onOk(function() { creme.utils.ajaxQuery('{% url 'creme_core__restrict_entity_2_superusers' %}', {action: 'POST', reloadOnSuccess: true}, {id: {{object.id}}, set: false}).start();}).open();">
    {% widget_icon name='security' size='instance-button' label=img_title %}
    {% translate 'Not restrict to superusers' %}
</a>
{% else %}
<span class="menu_button menu-button-icon forbidden" title="{% blocktranslate with sandbox=object.sandbox.type.verbose_name %}Cannot restrict because already in «{{sandbox}}»{% endblocktranslate %}">
    {% widget_icon name='security' size='instance-button' label=img_title %}
    {% translate 'Restrict to superusers' %}
</span>
{% endif %}{% endif %}
