{% load i18n %}
{% load creme_core_tags creme_block %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=5%}{# TODO: { % get_block_header colspan=limit_to% } when get_block_header will handle template vars #}
        <th class="label">{% get_basic_block_header _('Last added Images') 'image_48.png' _('Image') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if objects_list %}
            <tr class="content">
                {% for image in objects_list %}
                    <td align="center" class="{% cycle "block_line_dark" "block_line_light" %}">
                        {% get_entity_summary image user %}
                        <br/>
                        <a href="{{image.get_absolute_url}}">{% trans "See" %}</a>
                    </td>
                {% endfor %}
        {% else %}
                <tr class="content empty">
                    <td class="block_line_dark">{% trans "No image for the moment" %}</td>
        {% endif %}
        </tr>
    </tbody>
</table>