{% load i18n %}
{% load creme_core_tags creme_block %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=3 %}
        <th class="label">{% get_basic_block_header _("Image information") 'info_48.png' _('Information') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_toggle_empty_field_button %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% cycle "block_header_line_light" "block_header_line_dark" as header_row silent %}
        {% cycle "block_line_light" "block_line_dark" as row_color silent %}
        <tr class="content">
            <th class="{% cycle header_row %} th_info">{% trans "Name" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=object field='name' %}</td>
            <td class="{{row_color}} td_info edit_inner">{% get_field_editor on regular 'name' for object %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_row %} th_info">{% trans "Description" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=object field='description' %}</td>
            <td class="{{row_color}} td_info edit_inner">{% get_field_editor on regular 'description' for object %}</td>
        </tr>
        <tr class="content">
            <th class="{% cycle header_row %} th_info">{% trans "Height" %}</th>
            <td class="{% cycle row_color %} td_info" colspan="2">{{object.height}}px</td>
            {% comment %}<td class="{{row_color}} td_info edit_inner">{% get_field_editor on regular 'height' for object %}</td>{% endcomment %}
        </tr>
        <tr class="content">
            <th class="{% cycle header_row %} th_info">{% trans "Width" %}</th>
            <td class="{% cycle row_color %} td_info" colspan="2">{{object.width}}px</td>
            {% comment %}<td class="{{row_color}} td_info edit_inner">{% get_field_editor on regular 'width' for object %}</td>{% endcomment %}
        </tr>
        <tr class="content">
            <th class="{% cycle header_row %} th_info">{% trans "Categories" %}</th>
            <td class="{% cycle row_color %} td_info">{% print_field object=object field='categories' %}</td>
            <td class="{{row_color}} td_info edit_inner">{% get_field_editor on regular 'categories' for object %}</td>
        </tr>
        <tr class="content">
            {% comment %}<th class="{% cycle header_row %} action">&nbsp;</th>{% endcomment %}
            <td class="{% cycle row_color %} action" colspan="3"><a href="/download_file/{{object.image}}" alt="{{object.image}}">{% trans "Download image" %}</a></td>
        </tr>
    </tbody>
</table>
