syntax: glob

*~
*.pyc

*/media/upload/*/*
*/media/static/*

*/local_settings.py
*/_generated_media_names.py
*.sqlite3

# Python package
*.egg-info
build/*
sdist/*
dist/*

# # IDEs
# nbproject/*
# .idea/*
# .pydev*

# # coverage.py
# .coverage
# .coverage.*
# htmlcov/*
# artifacts/*

# # mypy
# .mypy_cache/*
