{% load i18n %}
{% load creme_block %}
{% load sms_tags %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% include "creme_core/templatetags/widgets/block_header_beg.html" %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Unlinked recipient') _('%s Unlinked recipients') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                <a class="add" onclick="creme.utils.innerPopupNReload('/sms/messaging_list/{{object.pk}}/recipient/add', '{{update_url}}?base_url={{base_url}}');">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add manually" %}" alt="{% trans "Add manually" %}" />
                    {% trans "Add manually" %}
                </a>
                <a class="add" onclick="creme.utils.iframeInnerPopup('/sms/messaging_list/{{object.pk}}/recipient/add_csv');">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add from a CSV file" %}" alt="{% trans "Add from a CSV file" %}" />
                    {% trans "Add from a CSV file" %}
                </a>
            </div>
        </th>
    {% include "creme_core/templatetags/widgets/block_header_end.html" %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Number" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>

            {% for recipient in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{recipient.phone|formatphone}}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/sms/messaging_list/recipient/delete' with_args "{'id':{{recipient.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No unlinked recipient for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>