{% load i18n %}
{% load creme_core_tags creme_block %}
{% load sms_tags %}
{% has_perm_to change object.campaign as has_perm %}
<style type="text/css">
    tr.creme-sms-message td.notsent {
    }

    tr.creme-sms-message td.wait {
        background-color:#f7e895;
    }

    tr.creme-sms-message td.accept {
        background-color:#F0E7D4;
    }

    tr.creme-sms-message td.sent {
        background-color:#c8f795;
    }

    tr.creme-sms-message td.error {
        background-color:#f7a590;
    }
</style>
<script type="text/javascript">
    sms_messages = {
        _reload: function() {
            creme.utils.loadBlock('{{update_url}}?base_url={{base_url}}');
        },
        send: function() {
            creme.ajax.json.post('/sms/campaign/sending/{{object.pk}}/messages/send/', {}, sms_messages._reload, sms_messages._reload);
        },
        sync: function() {
            creme.ajax.json.post('/sms/campaign/sending/{{object.pk}}/messages/sync/', {}, sms_messages._reload, sms_messages._reload);
        }
    };
</script>
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=4 %}
        <th class="collapser label">{% get_block_title _('%s Message') _('%s Messages') 'sms_48.png' _('Messages') %}</th>
        <th class="actions">
            <div class="buttons">
                {% if has_perm %}
                    <a class="add" onclick="sms_messages.send();">
                        <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{% trans "Send" %}" alt="{% trans "Send" %}" />
                        {% trans "Send" %}
                    </a>
                    <a onclick="sms_messages.sync();">
                        <img src="{% creme_media_url 'images/refresh_22.png' %}" border="0" title="{% trans "Synchronize" %}" alt="{% trans "Synchronize" %}" />
                        {% trans "Synchronize" %}
                    </a>
                {% else %}
                    <span class="add forbidden">
                        <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{% trans "Can't send" %}" alt="{% trans "Can't send" %}" />
                        {% trans "Send" %}
                    </span>
                    <span class="forbidden">
                        <img src="{% creme_media_url 'images/refresh_22.png' %}" border="0" title="{% trans "Can't synchronize" %}" alt="{% trans "Can't synchronize" %}" />
                        {% trans "Synchronize" %}
                    </span>
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Number" %}</th>
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                <th class="block_header_line_dark">{% trans "Status message" %}</th>
                <th class="block_header_line_dark action">{% trans "Delete" %}</th>
            </tr>
            {% for message in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="creme-sms-message content">
                    <td class="{{row_color}}">{{message.phone|formatphone}}</td>
                    <td class="{{row_color}} {{message.status}}">{{message.statusname}}</td>
                    <td class="{{row_color}}">{{message.status_message}}</td>
                    <td class="{{row_color}} action">
                        {% get_line_deletor at_url '/sms/campaign/sending/message/delete' with_args "{'id':{{message.pk}} }" with_perms has_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No message in this sending" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 4 %}
</table>
