{% load i18n %}
{% load creme_block %}
<script type="text/javascript">
    sms_sendings = {
        _reload: function() {
            creme.utils.loadBlock('{{update_url}}?base_url={{base_url}}');
        },
        sync: function(pk) {
            creme.ajax.json.post('/sms/campaign/sending/' + pk + '/messages/sync/', {}, sms_sendings._reload, sms_sendings._reload);
        }
    };
</script>

<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% include "creme_core/templatetags/widgets/block_header_beg.html" %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Sending') _('%s Sendings') 'sms_48.png' _('Sending') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% comment %}<a class="button_link" onclick="creme.utils.showInnerPopup('/sms/campaign/{{object.pk}}/sending/add')">{% endcomment %}
                <a class="add" onclick="creme.utils.innerPopupNReload('/sms/campaign/{{object.pk}}/sending/add', '{{update_url}}?base_url={{base_url}}');">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "New sending" %}" alt="{% trans "New sending" %}" />
                    {% trans "New sending" %}
                </a>
            </div>
        </th>
    {% include "creme_core/templatetags/widgets/block_header_end.html" %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Sending date" %}</th>
                <th class="block_header_line_dark">{% trans "Number of SMS" %}</th>
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                <th class="block_header_line_dark">{% trans "Details" %}</th>
                <th class="block_header_line_dark">{% trans "Synchronize" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>
            {% for sending in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{sending.date}}</td>
                    <td class="{{row_color}}">{{sending.messages.count}}</td>
                    <td class="{{row_color}}">{{sending.formatstatus}}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        <a onclick="creme.utils.showInnerPopup('/sms/campaign/sending/{{sending.pk}}', {width:700})">
                            <img src="{{MEDIA_URL}}images/view_22.png" border="0" title="{% trans "Details" %}" alt="{% trans "Details" %}" />
                        </a>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        <a onclick="sms_sendings.sync({{sending.pk}});">
                            <img src="{{MEDIA_URL}}images/refresh_22.png" border="0" title="{% trans "Synchronize" %}" alt="{% trans "Synchronize" %}" />
                        </a>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% comment %}{% get_line_deletor '/sms/campaign/sending/delete/{{sending.pk}}' %}{% endcomment %}
                        {% get_line_deletor at_url '/sms/campaign/sending/delete' with_args "{'id':{{sending.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No sending for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>