.brick-geoaddress-item {
    display: -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;

    padding-top: 2px;
    padding-bottom: 2px;
}

.brick-geoaddress-item input[type="checkbox"] {
    margin-left: 4px;
    margin-bottom: 0px;
    margin-top: 2px;
    align-self: flex-start;
}

.brick-geoaddress-item:not(.is-mark-visible) {
    opacity: 0.6;
}

.brick-geoaddress-item .brick-geoaddress-label {
    margin-right: 4px;
    cursor: default;

    display: -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;

    align-self: top;
    flex-grow: 1;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.brick-geoaddress-item .brick-geoaddress-title {
    margin-bottom: 4px;
}

.brick-geoaddress-item .brick-geoaddress-content {
    color: #777;
    font-size: 11px;
    font-style: italic;
}

.brick-geoaddress-item .brick-geoaddress-action {
    display: -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;

    margin-right: 4px;
    text-align: right;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.brick-geoaddress-item .brick-geoaddress-reset {
    color: #777;
    margin-bottom: 4px;
    cursor: pointer;
}

.brick-geoaddress-item:not(.is-mark-visible) .brick-geoaddress-reset {
    cursor: default;
    text-decoration: none;
}

.brick-geoaddress-item .brick-geoaddress-iscomplete .brick-geoaddress-reset {
    display: none;
}

.brick-geoaddress-item .brick-geoaddress-position {
    color: #777;
    font-size: 11px;
    font-style: italic;
}

.brick-geoaddress-item .brick-geoaddress-status {
    color: #777;
    font-size: 11px;
    font-style: italic;
}

.brick-geoaddress-canvas {
    padding: 0px;
    margin: 1px;
    height: 300px;
}

.geolocation-brick .brick-content {
    padding: 0;
}

.geolocation-brick .brick-geoaddress-canvas {
    margin: 0;
}

.geolocation-brick .geolocation-brick-items {
    padding: 3px;
}

.geolocation-brick .geolocation-brick-header {
    padding: 3px 10px;
}

.geolocation-brick .geolocation-empty-brick {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: 11px;
    cursor: default;
    color: #777;
    padding: 5px 10px;
}

.geolocation-brick .brick-geoaddress-error {
    padding: 3px 10px;
    display: none;
}

.geolocation-brick .brick-geoaddress-error a {
    color: #ff6a6a;
}

.geolocation-brick.is-geolocation-disabled .brick-geoaddress-error {
    display: block;
}

.leaflet-container .leaflet-hidden {
    display: none;
}
