/*
.block-geoaddress-header {
    padding: 2px;
}
*/

/*
.block-geoaddress-items {
    display: -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
*/

/* .block-geoaddress-item { */
.brick-geoaddress-item {
    display: -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;

    padding-top: 2px;
    padding-bottom: 2px;
}

/* .block-geoaddress-item input[type="checkbox"] { */
.brick-geoaddress-item input[type="checkbox"] {
    margin-left: 4px;
    margin-bottom: 0px;
    margin-top: 2px;
    align-self: flex-start;
}

/* .block-geoaddress-item:not(.item-selected) { */
.brick-geoaddress-item:not(.item-selected) {
    opacity: 0.5;
}

/* .block-geoaddress-item .block-geoaddress-label { */
.brick-geoaddress-item .brick-geoaddress-label {
    margin-right: 4px;
    cursor: default;

    display: -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;

    align-self: top;
    flex-grow: 1;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* .block-geoaddress-item .block-geoaddress-title { */
.brick-geoaddress-item .brick-geoaddress-title {
    margin-bottom: 4px;
}

/* .block-geoaddress-item .block-geoaddress-content { */
.brick-geoaddress-item .brick-geoaddress-content {
    color: #777;
    font-size: 11px;
    font-style: italic;
}

/* .block-geoaddress-item .block-geoaddress-action { */
.brick-geoaddress-item .brick-geoaddress-action {
    display: -webkit-box;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;

    margin-right: 4px;
    text-align: right;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* .block-geoaddress-item .block-geoaddress-reset { */
.brick-geoaddress-item .brick-geoaddress-reset {
    color: #777;
    margin-bottom: 4px;
    cursor: pointer;
}

/* .block-geoaddress-item .block-geoaddress-iscomplete .block-geoaddress-reset { */
.brick-geoaddress-item .brick-geoaddress-iscomplete .brick-geoaddress-reset {
    display: none;
}

/* .block-geoaddress-item .block-geoaddress-position { */
.brick-geoaddress-item .brick-geoaddress-position {
    color: #777;
    font-size: 11px;
    font-style: italic;
}

/* .block-geoaddress-item .block-geoaddress-status { */
.brick-geoaddress-item .brick-geoaddress-status {
    color: #777;
    font-size: 11px;
    font-style: italic;
}

/* .block-geoaddress-canvas { */
.brick-geoaddress-canvas {
    padding: 0px;
    margin: 1px;
    height: 300px;
}

.geolocation-brick .brick-content {
    padding: 0;
}

/* .geolocation-brick .block-geoaddress-canvas { */
.geolocation-brick .brick-geoaddress-canvas {
    margin: 0;
}

.geolocation-brick .geolocation-brick-items {
    padding: 3px;
}

.geolocation-brick .geolocation-brick-header {
    padding: 3px 10px;
}

.geolocation-brick .geolocation-empty-brick {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: 11px;
    cursor: default;
    color: #777;
    padding: 5px 10px;
}

/* .geolocation-brick .block-geoaddress-error { */
.geolocation-brick .brick-geoaddress-error {
    padding: 3px 10px;
    display: none;
}

/* .geolocation-brick .block-geoaddress-error a { */
.geolocation-brick .brick-geoaddress-error a {
    color: #ff6a6a;
}

/* .geolocation-brick.is-geolocation-disabled .block-geoaddress-error { */
.geolocation-brick.is-geolocation-disabled .brick-geoaddress-error {
    display: block;
}
