{% extends 'creme_core/generics/portal.html' %}
{% load i18n creme_core_tags creme_widgets %}

{% block logo %}
    {% log 'The template file "creme/projects/templates/projects/portal.html" is deprecated.' level='WARN' %}
    {% widget_icon name='project' size='brick-hat-bar' label=_('Projects') %}
{% endblock %}
{% block title %}{% trans 'Projects portal' %}{% endblock %}
{% block list_url %}{% url 'projects__list_projects' %}{% endblock %}
{% block list_msg %}{% trans 'List of projects' %}{% endblock %}
