{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load media %}
{% load creme_core_tags %}{% load creme_block %}

{% block extra_menu_buttons %}
    {% if not object.effective_end_date %}
        <li>
            {% has_perm_to change object as has_perm %}
            {% if has_perm %}
                <a class="menu_button" href="/projects/project/{{object.id}}/close" >
                    <img src="{% media_url 'images/cancel_32.png' %}" border="0" title="{% trans "Close project" %}" alt="{% trans "Close project" %}" />
                    {% trans "Close project" %}
                </a>
            {% else %}
                <span class="menu_button forbidden" title="{% trans "forbidden" %}">
                    <img src="{% media_url 'images/cancel_32.png' %}" border="0" title="{% trans "Close project" %}" alt="{% trans "Close project" %}" />
                    {% trans "Close project" %}
                </span>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block logo %}<img src="{% media_url 'images/project_64.png' %}" alt="{% trans "Project" %}"/>{% endblock %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'projects' named 'project_tasks' as 'project_tasks_block' %}
    {% import_block from_app 'projects' named 'project_extra_info' as 'project_xtra_block' %}
{% endblock %}

{% block before_detail_view_1 %}
    {% display_block_detailview 'project_tasks_block' %}
{% endblock %}

{% block after_object_as_table_1 %}
    {% display_block_detailview 'project_xtra_block' %}
{% endblock %}