{% extends "creme_core/generics/view_entity.html" %}

{% load creme_block %}

{% block extra_menu_buttons %}
    {% if not object.effective_end_date %}
        <li>
            <a class="menu_button" href="/projects/project/{{object.id}}/close" >
                <img src="{{MEDIA_URL}}images/cancel_32.png" border="0" title="Clôture" alt="Clôture" />
                Clôturer le projet
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block logo %}<img src="{{MEDIA_URL}}images/project_64.png" alt=""/>{% endblock %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'projects' named 'project_tasks' as 'project_tasks_block' %}
{% endblock %}

{% block before_detail_view_1 %}
    {% display_block_detailview 'project_tasks_block' %}
{% endblock %}

{% block after_object_as_table_1 %}
    <table  class="table_detail_view ui-corner-all">
        {% get_basic_block_header 'Informations Supplémentaires' 'infos_48.png' 'Infos' %}

        <tbody>
            <tr>
                <th class="block_header_line_dark">Coût total du projet (euros)</th>
                <td class="block_line_dark" align="center"><strong>{{object.get_project_cost}} €</strong></td>
            </tr>
            <tr>
                <th class="block_header_line_dark">Heure(s) supplémentaire(s) totale(s)</th>
                <td class="block_line_dark" align="center">
                {% if object.get_delay %}
                    <strong>{{object.get_delay}} h</strong>
                {% else %}
                    --
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}