{% extends "creme_core/generics/view_entity.html" %}
{% load creme_block %}

{% block add_new_button %}{% endblock %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'projects' named 'resources' as 'resources_block' %}
    {% import_block from_app 'projects' named 'working_periods' as 'working_periods_block' %}
    {% import_block from_app 'projects' named 'task_extra_info' as 'task_xtra_block' %}
    {% import_block from_app 'projects' named 'parent_tasks' as 'parent_tasks_block' %}
{% endblock %}

{% block detail_view_top_1 %}
    {% display_block_detailview 'resources_block' %}
    {% display_block_detailview 'working_periods_block' %}
{% endblock %}

{% block after_object_as_table_1 %}
    {% display_block_detailview 'task_xtra_block' %}
    {% display_block_detailview 'parent_tasks_block' %}
{% endblock %}