{% extends 'creme_core/generics/view_entity.html' %}
{% load i18n creme_widgets %}

{% block global_buttons %}
    <li>
        <a class="menu_button" href="{{object.project.get_absolute_url}}">{% trans 'Back to the project' as back_label %}
            {% widget_icon name='previous' size='global-button' label=back_label %}
            {{back_label}}
        </a>
    </li>
{% endblock %}

{% comment %}
{% block entity_buttons %}
    {% with project=object.project %}
        <a href="{{project.get_absolute_url}}">
            <img src="{% creme_media_url 'images/previous_64.png' %}" title="{% blocktrans %}Back to the project: '{{project}}'{% endblocktrans %}" alt="{% trans "Back" %}"/>
        </a>&nbsp;
    {% endwith %}
    {{block.super}}
{% endblock %}
{% endcomment %}
