{% load creme_block %}

<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header '%s Liste de diffusion associée' '%s Listes de diffusion associées' 'sms_48.png' 'Send list' %}
    <tbody class="collapsable">
        <tr>
            <th colspan="4" class="block_header_line_dark" align="left">
                {% comment %}<a class="button_link" onclick="creme.utils.showInnerPopup('/sms/campaign/{{object.pk}}/sendlist/add')">{% endcomment %}
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/sms/campaign/{{object.pk}}/sendlist/add', '{{update_url}}?base_url={{base_url}}');">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="Ajouter de nouvelles listes" alt="Ajouter" />Nouvelles
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">Nom de la liste</th>
                <th class="block_header_line_dark">Supprimer</th>
            </tr>
            {% for sendlist in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">
                        <a href="{{sendlist.get_absolute_url}}">{{sendlist.name}}</a>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor '/sms/campaign/{{object.pk}}/sendlist/delete/{{sendlist.pk}}' %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">Aucune liste de diffusion associée pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
