{% load i18n creme_widgets %}{% load blockjsondata jsonify optionize_model_iterable from creme_core_tags %}
{% if not button.permission_error and button.rtype.enabled %}
<a class="menu_button menu-button-icon" title="{{button.description}}" data-action="persons-hatmenubar-become">
    {% widget_icon name='relations' size='instance-button' label=_('Relationship') %}
    {{button.verbose_name}}
    {% blockjsondata %}{
        "data": {
            "organisations": {{button.managed_orga|optionize_model_iterable:'dict'|jsonify|safe}},
            "subject_id": {{object.id}},
            "rtype_id": "{{button.rtype.id}}"
        }
    }{% endblockjsondata %}
</a>
{% else %}
<span class="menu_button menu-button-icon forbidden{% if not button.rtype.enabled %} menu-button-error{% endif %}"
      title="{% if not button.rtype.enabled %}{% blocktranslate with predicate=button.rtype.predicate %}The relationship type «{{predicate}}» is disabled{% endblocktranslate %}{% else %}{{button.permission_error}}{% endif %}">
    {% widget_icon name='relations' size='instance-button' label=_('Relationship') %}
    {{button.verbose_name}}
</span>
{% endif %}
