{% load i18n %}
{% load creme_block creme_core_tags creme_widgets %}
{% load crudity_tags %}
{% with 5 as colspan %}
    <style type="text/css">
        {% comment %}Generify this{% endcomment %}
        .type_header_block
        {
            background: url({% get_image_path_for_ctype email_ct 'normal' %}) no-repeat;
            width: 48px;
            height:48px;
        }
    </style>
    <table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=colspan %}
        <th class="collapser label">
            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <th class="type_header_block">{% get_image_for_ctype waiting_ct 'small' %}
                            </th>
                        <th>{% blocktrans count counter=page.paginator.count with waiting_ct.model_class|get_meta_value:"verbose_name" as ct_name and backend.verbose_source as backend_source %}{{counter}} Waiting action - {{ct_name}} - {{ backend_source }}{% plural %}{{counter}} Waiting actions - {{ct_name}} - {{ backend_source }}{% endblocktrans %} <span style="font-weight: normal;">(<span style="font-size:smaller;">{{ backend.subject }}</span>)</span></th>
                    </tr>
                </tbody>
            </table>
        </th>
        {% for rendered_button in buttons %}
            {% if forloop.counter|mod:2 == 1 %}<th align="right"><div class="buttons">{% endif %}
            {{ rendered_button }}
            {% if forloop.counter|mod:2 == 0 %}</div></th>{% endif %}
            {% if forloop.last %}<a style="opacity: 0; filter:Alpha(Opacity=0);">&nbsp;</a>{% endif %}{% comment %}This is for alignment{% endcomment %}
        {% endfor %}
        <th align="right">
            <div class="buttons">
                <a class="add" onclick="creme.emails.mass_action('/crudity/waiting_actions/validate', '[name=select_one]:checked', {% get_block_reload_uri %});">
                            <img src="{% creme_media_url 'images/ok_22.png' %}" border="0" title="{% trans "Validate" %}" alt="{% trans "Validate" %}" />
                            {% trans "Validate the selection" %}
                </a>
                <a class="negative" onclick="creme.emails.mass_action('/crudity/waiting_actions/delete', '[name=select_one]:checked', {% get_block_reload_uri %});">
                    <img src="{% creme_media_url 'images/delete_22.png' %}" border="0" title="{% trans "Delete" %}" alt="{% trans "Delete" %}" />
                    {% trans "Delete the selection" %}
                </a>
            </div>
        </th>
    {% end_get_block_header %}
        <tbody class="collapsable">
            {% if page.paginator.count %}
                <tr class="header">
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %} selectable">
                        <input name="select_all" value="all" type="checkbox" title="{% trans "Select all" %}" onclick="creme.utils.toggleCheckallState(this, '#{{block_name}} [name=select_one]');"/>
                    </th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans "Data" %}</th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans "Type" %}</th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %} action">{% trans "Actions" %}</th>
                </tr>
                {% for waiting_action in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                    <tr class="content">
                        <td class="{{row_color}} selectable">
                            <input name="select_one" value="{{waiting_action.pk}}" title="{% trans "Select this line" %}" type="checkbox" onclick="creme.utils.autoCheckallState (this, '#{{block_name}} [name=select_all]', '#{{block_name}} [name=select_one]');"/>
                        </td>
                        <td class="{{row_color}}">
                            {% for k, v in waiting_action.get_data.items %}
                                {% if forloop.counter0|mod:4 == 0 %}
                                <p>
                                {% else %}
                                 /
                                {% endif %}
                                {% if v|isiterable %}
                                    {{k}} : {{v.0|truncate:50}}
                                {% else %}
                                    {{k}} : {{v|truncate:50}}
                                {% endif %}
                                {% if forloop.counter|mod:4 == 0 %}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="{{row_color}}">{{ backend.verbose_method }}</td>
                        <td class="{{row_color}} action">
                            {% get_line_deletor at_url '/crudity/waiting_actions/delete' with_args "{'ids': ['{{waiting_action.pk}}'] }" with_perms 1 %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="content empty">
                    <td class="block_line_dark">{% blocktrans with ct_name=waiting_ct.model_class|get_meta_value:"verbose_name" backend_source=backend.verbose_source %}No waiting action for {{ct_name}} from {{ backend_source }}{% endblocktrans %}</td>
                </tr>
            {% endif %}
        </tbody>
        {% get_block_footer colspan %}
    </table>
{% endwith %}
