{% load i18n creme_widgets %}
{% load blockjsondata has_perm_to from creme_core_tags %}{% has_perm_to link object as link_perm %}
<a class="menu_button menu-button-icon {% if not has_perm or not link_perm %}is-disabled{% endif %}" title="{{description}}" data-action="creme_core-hatmenubar-addrelationships">
    {% widget_icon name='commercial' size='instance-button' label=_('Commercial Action') %}
    {% translate 'Completes a goal' %}
    {% blockjsondata %}{
        "data": {
            "subject_id": "{{object.id}}", "rtype_id": "{{predicate_id}}", "ctype_id": "{{act_ct.id}}"
        }
    }{% endblockjsondata %}
</a>
