<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creme Workflow</title>
 </head>
 <body style="margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#f0f0f0;">
  <p style="margin: 10px;background-color: #d2e3f2;padding: 10px;color: #21323c;border-radius: 5px;width: fit-content;">
      {{content}}
  </p>
 </body>
</html>