{% load i18n creme_widgets %}
{% load format_amount blockjsondata has_perm_to from creme_core_tags %}{% has_perm_to link object as link_perm %}
<a class="menu_button menu-button-icon{% if not link_perm %} is-disabled{% endif %}" title="{{description}}" data-action="billing-hatmenubar-add-document" href="{% url url_name object.id %}{% if redirect %}?redirection=true{% endif %}">
    {% widget_icon name='invoice' size='instance-button' label=model_vname %}
    {{verbose_name}}
    {% blockjsondata %}{
        "data": {
            "rtype_id": "{{rtype_id}}",
            "model_id": "{{model_id}}"
        }
    }{% endblockjsondata %}
</a>
