{% load i18n creme_widgets %}{% load format_amount blockjsondata has_perm_to from creme_core_tags %}
{% has_perm_to link object as link_perm %}
{% if button.is_allowed and link_perm %}
<a class="menu_button menu-button-icon" title="{{button.description}}" data-action="billing-hatmenubar-add-document"
   href="{% url button.url_name object.id %}{% if button.redirect %}?redirection=true{% endif %}">
    {% widget_icon name='invoice' size='instance-button' label=button.model_vname %}
    {{button.verbose_name}}
    {% blockjsondata %}{
        "data": {
            "rtype_id": "{{button.rtype_id}}",
            "model_id": "{{button.model_id}}"
        }
    }{% endblockjsondata %}
</a>
{% else %}
<span class="menu_button menu-button-icon forbidden"
      title="{% if not button.is_allowed %}{% blocktranslate with model=button.model_vname %}You are not allowed to create: «{{model}}»{% endblocktranslate %}{% else %}{% translate 'You are not allowed to link this entity' %}{% endif %}">
    {% widget_icon name='invoice' size='instance-button' label=button.model_vname %}
    {{button.verbose_name}}
</span>
{% endif %}

{% comment %}
{% load i18n creme_widgets %}
{% load format_amount blockjsondata has_perm_to from creme_core_tags %}{% has_perm_to link object as link_perm %}
<a class="menu_button menu-button-icon{% if not has_perm or not link_perm %} forbidden is-disabled{% endif %}"
   title="{% if not has_perm %}{% blocktranslate with model=model_vname %}You are not allowed to create: «{{model}}»{% endblocktranslate %}{% elif not link_perm %}{% translate 'You are not allowed to link this entity' %}{% else %}{{description}}{% endif %}"
   data-action="billing-hatmenubar-add-document"
   href="{% url url_name object.id %}{% if redirect %}?redirection=true{% endif %}">
    {% widget_icon name='invoice' size='instance-button' label=model_vname %}
    {{verbose_name}}
    {% blockjsondata %}{
        "data": {
            "rtype_id": "{{rtype_id}}",
            "model_id": "{{model_id}}"
        }
    }{% endblockjsondata %}
</a>
{% endcomment %}