{% load i18n creme_widgets %}{% load blockjsondata from creme_core_tags %}
{% if button.permission_error %}
<span class="menu_button menu-button-icon forbidden" title="{{button.permission_error}}">
    {% widget_icon name='invoice' size='instance-button' label=button.model_vname %}
    {{button.verbose_name}}
</span>
{% else %}
<a class="menu_button menu-button-icon" title="{{button.description}}"
   data-action="update-redirect" href="{% url 'billing__convert' object.id %}">
    {% widget_icon name='invoice' size='instance-button' label=button.model_vname %}
    {{button.verbose_name}}
    {% blockjsondata %}{
        "data": {
            "type": "{{button.convert_to}}"
        }
    }{% endblockjsondata %}
</a>
{% endif %}
