{% load i18n creme_widgets %}{% load blockjsondata from creme_core_tags %}
{% if button.is_allowed and button.creation_perm %}
<a class="menu_button menu-button-icon" title="{{button.description}}"
   data-action="billing-hatmenubar-convert" href="{% url 'billing__convert' object.id %}">
    {% widget_icon name='invoice' size='instance-button' label=button.model_vname %}
    {{button.verbose_name}}
    {% blockjsondata %}{
        "data": {
            "type": "{{button.convert_to}}"
        }
    }{% endblockjsondata %}
</a>
{% else %}
<span class="menu_button menu-button-icon forbidden"
      title="{% if not button.creation_perm %}{% blocktranslate with model=button.model_vname %}You are not allowed to create: «{{model}}»{% endblocktranslate %}{% else %}{{button.description}}{% endif %}">
    {% widget_icon name='invoice' size='instance-button' label=button.model_vname %}
    {{button.verbose_name}}
</span>
{% endif %}

{% comment %}
{% load i18n creme_widgets %}{% load blockjsondata from creme_core_tags %}
<a class="menu_button menu-button-icon{% if not has_perm %} forbidden is-disabled{% endif %}"
   title="{% if has_perm %}{{description}}{% else %}{% blocktranslate with model=model_vname %}You are not allowed to create: «{{model}}»{% endblocktranslate %}{% endif %}"
   data-action="billing-hatmenubar-convert" href="{% url 'billing__convert' object.id %}">
    {% widget_icon name='invoice' size='instance-button' label=verbose_name %}
    {{verbose_name}}
    {% blockjsondata %}{
        "data": {
            "type": "{{convert_to}}"
        }
    }{% endblockjsondata %}
</a>
{% endcomment %}