{% load i18n creme_core_tags creme_widgets %}{% trans 'Invoice number' as img_title %}
<a class="menu_button menu-button-icon {% if not has_perm %}is-disabled{% endif %}" data-action="billing-hatmenubar-invoice-number" href="{% url 'billing__generate_invoice_number' object.id %}">
    {% widget_icon name='invoice' size='instance-button' label=img_title %}
    {% trans 'Generate the number of the Invoice' %}
    {% blockjsondata %}{
        "options": {
            "confirm": "{% trans 'Do you really want to generate an invoice number?' %}"
        }
    }{% endblockjsondata %}
</a>
