{% load i18n creme_widgets %}{% load blockjsondata from creme_core_tags %}
{% if button.permission_error %}
<span class="menu_button menu-button-icon forbidden" title="{{button.permission_error}}">
    {% widget_icon name='invoice' size='instance-button' label=_('Number generation') %}
    {{button.verbose_name}}
</span>
{% else %}
<a class="menu_button menu-button-icon" title="{{button.description}}" data-action="update" href="{% url 'billing__generate_number' object.id %}">
    {% widget_icon name='invoice' size='instance-button' label=_('Number generation') %}
    {{button.verbose_name}}
    {% blockjsondata %}{
        "options": {
            "confirm": "{% translate 'Do you really want to generate a billing number?' %}"
        }
    }{% endblockjsondata %}
</a>
{% endif %}