{% load i18n %}
{% load creme_core_tags %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% include "creme_core/templatetags/widgets/block_header_beg.html" %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Memo') _('%s Memos') 'memo_48.png' _('Memo') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% if object %}
                    <a class="add" onclick="creme.utils.innerPopupNReload('/assistants/memo/add/{{object.id}}/', {% get_block_reload_uri %});">
                        <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add" %}" alt="{% trans "Add" %}" />
                        {% trans "New memo" %}
                    </a>
                {% endif %}
            </div>
        </th>
    {% include "creme_core/templatetags/widgets/block_header_end.html" %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                {% if not object %}
                    <th class="block_header_line_dark">{% trans "Concerned entity" %}</th>
                {% endif %}
                {% get_column_header _('User') 'user' %}
                {% get_column_header _('Created') 'creation_date' %}
                {% get_column_header _('Content') 'content' %}
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for memo in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    {% if not object %}
                        <td class="{{row_color}}">
                            <a href="{{memo.creme_entity.get_absolute_url}}">{{memo.creme_entity}}</a>
                        </td>
                    {% endif %}
                    <td class="{{row_color}}">{{memo.user}}</td>
                    <td class="{{row_color}}">{{memo.creation_date|date:"d/m/y"}}</td>
                    <td class="{{row_color}}">{{memo|get_html_field_value:"content"}}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        <a onclick="creme.utils.innerPopupNReload('/assistants/memo/edit/{{memo.id}}/', {% get_block_reload_uri %});">
                            <img src="{{MEDIA_URL}}images/edit_22.png" border="0" title="{% trans "Edit" %}" alt="{% trans "Edit" %}">
                        </a>
                        {% get_line_deletor at_url '/assistants/memo/delete' with_args "{'id' : {{memo.id}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No memo for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>