{% load i18n %}{% load media %}
{% load creme_core_tags %}{% load creme_block %}{% load creme_widgets %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=9 %}
        <th style="width: 80%;" class="collapser">{% get_block_title _('%s Action in time') _('%s Actions in time') 'clock_48.png' _('Action') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% if object %}
                    {% has_perm_to change object as has_perm %}
                    {% get_line_adder at_url '/assistants/action/add/{{object.id}}/' with_label _("New action") with_perms has_perm %}
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                {% get_column_header _('Title') 'title' %}
                {% if not object %}
                    <th class="block_header_line_dark">{% trans "Concerned entity" %}</th>
                {% endif %}
                {% get_column_header _('Description') 'description' %}
                {% get_column_header _('User') 'for_user' %}
                {% get_column_header _('Creation') 'creation_date' %}
                {% get_column_header _('Expected action') 'expected_reaction' %}
                {% get_column_header _('Deadline') 'deadline' %}
                <th class="block_header_line_dark">{% trans "OK ?" %}</th>
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for action in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}"><strong>{{action.title}}</strong></td>
                    {% if not object %}
                        <td class="{{row_color}}">{% widget_entity_hyperlink action.creme_entity user %}</td>
                    {% endif %}
                    <td class="{{row_color}}">{{action.description}}</td>
                    <td class="{{row_color}}">{{action.for_user}}</td>
                    <td class="{{row_color}}">{{action.creation_date}}</td>
                    <td class="{{row_color}}">{{action.expected_reaction}}</td>
                    <td class="{{row_color}}">{{action.deadline}}</td>
                    <td class="{{row_color}}">
                        <form method="post" action="/assistants/action/validate/{{action.id}}/">{% csrf_token %}
                            <input type="checkbox" name="checked_action{{action.id}}" id="checked_action{{action.id}}" />
                            {# move validateEntity() to a 'assistants.js' file ?? #}
                            <button type="button" onclick="creme.utils.validateEntity(this.form, 'checked_action{{action.id}}', {% get_block_reload_uri %});" style="background:transparent; cursor:pointer;border:0px;">
                                <img src="{% media_url 'images/refresh_16.png' %}" width="16" height="16" border="0"  alt="{% trans "Edit" %}" />
                            </button>
                        </form>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% has_perm_to change action.creme_entity as has_perm %}
                        {% get_line_editor at_url '/assistants/action/edit/{{action.id}}/' with_perms has_perm %}
                        {% get_line_deletor2 at_url '/creme_core/entity/delete_related/{{ct_id}}' with_args "{'id' : {{action.id}} }" with_perms has_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No action in time" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>