{% load i18n %}{% load media %}
{% load creme_core_tags %}{% load creme_block %}{% load creme_widgets %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=7 %}
        <th style="width: 80%;" class="collapser">{% get_block_title _('%s Alert') _('%s Alerts') 'bell_48.png' _('Alert') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% if object %}
                    {% has_perm_to change object as has_perm %}
                    {% get_line_adder at_url '/assistants/alert/add/{{object.id}}/' with_label _("New alert") with_perms has_perm %}
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                {% get_column_header _('Title') 'title' %}
                {% if not object %}
                    <th class="block_header_line_dark">{% trans "Concerned entity" %}</th>
                {% endif %}
                {% get_column_header _('User') 'for_user' %}
                {% get_column_header _("Triggering") 'trigger_date' %}
                {% get_column_header _('Details') 'description' %}
                <th class="block_header_line_dark">{% trans "Treated ?" %}</th>
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for alert in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>{% has_perm_to change alert.creme_entity as has_perm %}
                    <td class="{{row_color}}"><strong>{{alert|get_html_field_value:"title"}}</strong></td>
                    {% if not object %}
                        <td class="{{row_color}}">{% widget_entity_hyperlink alert.creme_entity user %}</td>
                    {% endif %}
                    <td class="{{row_color}}">{{alert|get_html_field_value:"for_user"}}</td>
                    <td class="{{row_color}}">{{alert|get_html_field_value:"trigger_date"}}</td>
                    <td class="{{row_color}}"><em>{{alert|get_html_field_value:"description"}}</em></td>
                    <td class="{{row_color}}">
                        {% if has_perm %}
                            <form method="post" action="/assistants/alert/validate/{{alert.id}}/">{% csrf_token %}
                                <input type="checkbox" name="checked_alert{{alert.id}}" id="checked_alert{{alert.id}}" />
                                <button type="button" onclick="creme.utils.validateEntity(this.form, 'checked_alert{{alert.id}}', {% get_block_reload_uri %});" style="background:transparent; cursor:pointer;border:0px;">
                                    <img src="{% media_url 'images/refresh_16.png' %}" width="16" height="16" border="0">
                                </button>
                            </form>
                        {% else %}
                            <input type="checkbox" disabled="true" />
                        {% endif %}
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_editor at_url '/assistants/alert/edit/{{alert.id}}/' with_perms has_perm %}
                        {% get_line_deletor at_url '/creme_core/entity/delete_related/{{ct_id}}' with_args "{'id' : {{alert.id}} }" with_perms has_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No alert for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>