{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
{% with object|yesno:'7,8' as colspan %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=colspan %}
        <th class="label">{% get_block_title _('%s Todo') _('%s Todos') 'todo_48.png' _('Todo') %}</th>
        <th class="actions">
            {% if object %}
                <div class="buttons">
                    {% has_perm_to change object as has_perm %}
                    {% get_line_adder at_url '/assistants/todo/add/{{object.id}}/' with_label _("New todo") with_perms has_perm %}
                </div>
            {% endif %}
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                {% if not object %}
                    <th class="block_header_line_dark">{% trans "Concerned entity" %}</th>
                {% endif %}
                {% get_column_header _('User') 'user' %}
                {% get_column_header _('Created on') 'creation_date' %}
                {% get_column_header _('Title') 'title' %}
                {% get_column_header _('Todo text') 'description' %}
                {% get_column_header _('Deadline') 'deadline' %}
                <th class="block_header_line_dark action">{% trans "Validate" %}</th>
                <th class="block_header_line_dark action">{% trans "Actions" %}</th>
            </tr>
            {% for todo in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">{% has_perm_to change todo.creme_entity as has_perm %}
                    {% if not object %}
                        <td class="{{row_color}}">{% widget_entity_hyperlink todo.creme_entity user %}</td>
                    {% endif %}
                    <td class="{{row_color}}">{% print_field object=todo field='user' %}</td>
                    <td class="{{row_color}}">{{todo.creation_date|date}}</td>
                    <td class="{{row_color}}">{% print_field object=todo field='title' %}</td>
                    <td class="{{row_color}}">{% print_field object=todo field='description' %}</td>
                    {% with todo.deadline as deadline %}
                        {% if deadline %}
                            {% comment %}<td class="{% if todo.is_ok or deadline.date >= today.date %}td_valid{% else %}td_error{% endif %}">{{deadline|date}}</td>{% endcomment %}
                            <td class="{% if todo.is_ok or deadline >= today %}td_valid{% else %}td_error{% endif %}">{{deadline}}</td>
                        {% else %}
                            <td class="{% if todo.is_ok %}td_valid{% else %}{{row_color}}{% endif %}"></td>
                        {% endif %}
                    {% endwith %}
                    <td class="{{row_color}} action">
                        {% if todo.is_ok %}
                            {% trans "The Todo is validated." %}
                        {% elif has_perm %}
                            <form method="post" action="/assistants/todo/validate/{{todo.id}}/">{% csrf_token %}
                                <input type="checkbox" name="checked_todo{{todo.id}}" id="checked_todo{{todo.id}}" />
                                <button type="button" onclick="creme.assistants.validateEntity(this.form, 'checked_todo{{todo.id}}', {% get_block_reload_uri %});" style="background:transparent; cursor:pointer;border:0px;">
                                    <img src="{% creme_media_url 'images/refresh_16.png' %}" width="16" height="16" border="0" alt="{% trans "Submit" %}">
                                </button>
                            </form>
                        {% else %}
                            <input type="checkbox" disabled="true" />
                        {% endif %}
                    </td>
                    <td class="{{row_color}} action">
                        {% get_line_editor at_url '/assistants/todo/edit/{{todo.id}}/' with_perms has_perm %}
                        {% get_line_deletor at_url '/creme_core/entity/delete_related/{{ct_id}}' with_args "{'id' : {{todo.id}} }" with_perms has_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No Todo for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer colspan %}
</table>
{% endwith %}