{% load i18n %}
{% load creme_core_tags %}{% load creme_block %}{% load creme_widgets %}
<table class="table_detail_view ui-corner-all with-header {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=5 %}
        <th class="collapser label">{% get_block_title _('%s Memo') _('%s Memos') 'memo_48.png' _('Memo') %}</th>
        <th class="actions">
            <div class="buttons">
                {% if object %}
                    {% has_perm_to change object as has_perm %}
                    {% get_line_adder at_url '/assistants/memo/add/{{object.id}}/' with_label _("New memo") with_perms has_perm %}
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                {% if not object %}
                    <th class="block_header_line_dark">{% trans "Concerned entity" %}</th>
                {% endif %}
                {% get_column_header _('User') 'user' %}
                {% get_column_header _('Created') 'creation_date' %}
                {% get_column_header _('Content') 'content' %}
                <th class="block_header_line_dark action">{% trans "Actions" %}</th>
            </tr>
            {% for memo in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    {% if not object %}
                        <td class="{{row_color}}">{% widget_entity_hyperlink memo.creme_entity user %}</td>
                    {% endif %}
                    <td class="{{row_color}}">{% print_field object=memo field='user' %}</td>
                    <td class="{{row_color}}">{{memo.creation_date|date:"d/m/y"}}</td>
                    <td class="{{row_color}}">{% print_field object=memo field='content' %}</td>
                    <td class="{{row_color}} action">
                        {% has_perm_to change memo.creme_entity as has_perm %}
                        {% get_line_editor at_url '/assistants/memo/edit/{{memo.id}}/' with_perms has_perm %}
                        {% get_line_deletor at_url '/creme_core/entity/delete_related/{{ct_id}}' with_args "{'id' : {{memo.id}} }" with_perms has_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No memo for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
