{% load i18n %}{% load media %}
{% load creme_core_tags %}{% load creme_block %}{% load creme_widgets %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=6 %}
        <th style="width: 80%;" class="collapser">{% get_block_title _('%s User message') _('%s User messages') 'message_48.png' _('Message') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% if object %}
                    {% has_perm_to change object as has_perm %}
                    {% get_line_adder at_url '/assistants/message/add/{{object.id}}/' with_label _("Send a new message") with_perms has_perm %}
                {% else %}
                    {% get_line_adder at_url '/assistants/message/add/' with_label _("New message") with_perms 1 %}
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                {% if not object %}<th class="block_header_line_dark">{% trans "Concerned entity" %}</th>{% endif %}
                {% get_column_header _('Sender') 'sender' %}
                {% get_column_header _('Created') 'creation_date' %}
                {% get_column_header _('Title') 'title' %}
                {% get_column_header _('Body') 'body' %}
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>
            {% for message in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    {% if not object %}
                        <td class="{{row_color}}">
                            {% with message.creme_entity as creme_entity%}
                                {% if creme_entity %}
                                    {% widget_entity_hyperlink creme_entity user %}
                                {% else %}
                                    {% trans "(None)" %}
                                {% endif %}
                            {% endwith %}
                        </td>
                    {% endif %}
                    <td class="{{row_color}}">{{message|get_html_field_value:"sender"}}</td>
                    <td class="{{row_color}}">{{message.creation_date|date:"d/m/y"}}</td>
                    <td class="{{row_color}}">{{message|get_html_field_value:"title"}}</td>
                    <td class="{{row_color}}">{{message|get_html_field_value:"body"}}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor2 at_url '/assistants/message/delete' with_args "{'id' : {{message.id}} }" with_perms 1 %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No received message for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>