{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} brick-commercial-eval-orgas{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Evaluated organisation') plural=_('{count} Evaluated organisation') empty=verbose_name icon='organisation' %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='link' url='commercial__add_evaluated_orgas'|url:object.id label=_('Add some organisations') enabled=user|has_perm_to_change:object %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='name' status='primary' %}
    {% brick_table_column title=_('See evaluation') status='action nowrap' class='orga-evaluation' %}
    {% brick_table_column title=_('See synthesis') status='action nowrap' class='orga-synthesis' %}
    {% brick_table_column title=_('Unlink') status='action' %}
{% endblock %}

{% block brick_table_rows %}
 {% with edit_perm=user|has_perm_to_change:object %}
  {% for orga in page.object_list %}
   {% with orga_view_perm=user|has_perm_to_view:orga %}
    <tr>
        <td {% brick_table_data_status primary %}>{% widget_entity_hyperlink orga user %}</td>
        <td {% brick_table_data_status action %}>{% url 'commercial__orga_evaluation' object.id orga.id as eval_url %}
            {% brick_table_action id='redirect' url=eval_url icon='view' enabled=orga_view_perm %}
        </td>
        <td {% brick_table_data_status action %}>{% url 'commercial__orga_synthesis' object.id orga.id as synthesis_url %}
            {% brick_table_action id='redirect' url=synthesis_url icon='view' enabled=orga_view_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url='commercial__remove_evaluated_orga'|url:object.id __id=orga.id label=_('Remove this organisation') icon='unlink' enabled=edit_perm %}
        </td>
    </tr>
   {% endwith %}
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No evaluated organisation for the moment' %}
{% endblock %}
