{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_ctype %}
{% load and_op url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} commercial-objectives-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Objective') plural=_('{count} Objectives') empty=_('Objectives') icon='commercial' %}
{% endblock %}

{% block brick_header_actions %}
 {% with edit_perm=user|has_perm_to_change:object %}
    {% brick_header_action id='add' url='commercial__create_objective'|url:object.id              label=_('New objective')         enabled=edit_perm %}
    {% brick_header_action id='add' url='commercial__create_objective_from_pattern'|url:object.id label=_('Create with a pattern') enabled=edit_perm %}
 {% endwith %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='name' status='primary nowrap' %}

    {% brick_table_column title=_('Counter') %}
    {% brick_table_column title=_('Goal') %}
    {% brick_table_column title=_('Reached') %}
    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}
 {% with edit_perm=user|has_perm_to_change:object link_perm=user|has_perm_to_link:object delete_url='creme_core__delete_related_to_entity'|url:objects_ctype.id %}
  {% for objective in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %}>{{objective}}</td>
        <td>
         {% with ctype=objective.ctype %}
          {% if not ctype %}{% url 'commercial__incr_objective_counter' objective.id as incr_url %}
            <div class="objective-counter">
                {% brick_table_action id='update' url=incr_url __diff='-1' enabled=edit_perm icon='remove' label=_('Minus one') %}
                <span>{{objective.counter}}</span>
                {% brick_table_action id='update' url=incr_url __diff='1' enabled=edit_perm icon='add'  label=_('Plus one') %}
            </div>
          {% else %}
            {% with efilter=objective.filter %}
              {{objective.get_count}} ({{ctype}}{% if efilter %} / {{efilter}}{% endif %})

              {% if not efilter and ctype|ctype_has_quickform %}
                {% with creation_perm=user|has_perm_to_create:ctype link_perm2=user|has_perm_to_link:ctype %}
                 {% brick_table_action id='add' url='commercial__create_entity_from_objective'|url:objective.id label=ctype.model_class.creation_label display='both' enabled=link_perm|and_op:creation_perm|and_op:link_perm2 %}
                {% endwith %}
              {% endif %}
            {% endwith %}
          {% endif %}
         {% endwith %}
        </td>
        <td>{{objective.counter_goal}}</td>
        {% if objective.reached %}
         <td class="brick-table-data-valid">{% translate 'Yes' %}</td>
        {% else %}
         <td class="brick-table-data-error">{% translate 'No' %}</td>
        {% endif %}
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='edit' url=objective.get_edit_absolute_url enabled=edit_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_url __id=objective.id enabled=edit_perm %}
        </td>
    </tr>
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No objective for the moment' %}
{% endblock %}
