{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_ctype creme_perms %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} commercial-segments-info-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Market segment') plural=_('{count} Market segments') empty=_('Market segments') %}
{% endblock %}

{% block brick_header_actions %}
  {% with edit_perm=user|has_perm_to_change:object %}
    {% brick_header_action id='add'  url='commercial__create_segment_desc'|url:object.id label=_('New segment')           enabled=edit_perm %}
    {% brick_header_action id='link' url='commercial__link_segment'|url:object.id        label=_('Add existing segments') enabled=edit_perm %}
  {% endwith %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column title=_('Name') status='primary nowrap' %}
    {% brick_table_column title=_('Product') %}
    {% brick_table_column title=_('Place') %}
    {% brick_table_column title=_('Price') %}
    {% brick_table_column title=_('Promotion') %}
    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}
 {% with segment_desc_ctype=page.object_list.0|ctype_for_instance %}
  {% with edit_perm=user|has_perm_to_change:object delete_url='creme_core__delete_related_to_entity'|url:segment_desc_ctype.id %}
   {% for segmentinfo in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %}>{{segmentinfo.segment.name}}</td>
        <td>{{segmentinfo.product}}</td>
        <td>{{segmentinfo.place}}</td>
        <td>{{segmentinfo.price}}</td>
        <td>{{segmentinfo.promotion}}</td>
        <td {% brick_table_data_status action %}>{% url 'commercial__edit_segment_desc' object.id segment_desc.id as edit_url %}
            {% brick_table_action id='edit' url=edit_url label=_('Edit this segment') enabled=edit_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_url __id=segmentinfo.id label=_('Remove this segment') icon='unlink' enabled=edit_perm %}
        </td>
    </tr>
   {% endfor %}
  {% endwith %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No market segment for the moment' %}
{% endblock %}
