{% extends "creme_core/detailview.html" %}

{% load creme_block %}
{% load billing_blocks %}

{% block extra_menu_buttons %}
    {% ifequal object.ct.model 'quote' %}
        <li><a class="menu_button" href="/billing/{{object.id}}/convert/?type=sales_order" >Convertir en Bon de Commande</a></li>
        <li><a class="menu_button" href="/billing/{{object.id}}/convert/?type=invoice" >Convertir en Facture</a></li>
    {% else %}
        {% ifequal object.ct.model 'salesorder' %}
            <li><a class="menu_button" href="/billing/{{object.id}}/convert/?type=invoice" >Convertir en Facture</a></li>
        {% endifequal %}
    {% endifequal %}
{% endblock %}

{% block extrahead %}
    {{block.super}}
    <script type="text/javascript" src="{{MEDIA_URL}}js/export.js"></script>
{% endblock %}

{% block logo %}<img src="{{MEDIA_URL}}images/document_64.png" alt=""/>{% endblock %}

{% block edit_delete_buttons %}
    {{block.super}}
{% endblock %}

{% block before_detail_view_1 %}
    {% get_product_lines %}
    {% get_service_lines %}
{% endblock %}

{% block detail_view_left_1 %}
    {% include "creme_core/object_as_table.html" %}

    <!-- MOVE THIS SCRIPT ??!! -->
    <script type="text/javascript">
        function update(id) {
            document.getElementById("updateStatus" + id).submit();
        }
    </script>

    {% get_properties %}
    {% get_relations %}
{% endblock %}