{% extends 'creme_config/portals/base.html' %}
{% load i18n creme_widgets %}

{% block page_title %}{% translate 'Configuration of custom fields' %} - {% endblock %}

{% block title %}
    {{block.super}}{% translate 'Custom fields' %}
{% endblock %}

{% block portal_help %}
{% blocktranslate asvar help_msg %}Here you can add fields to each entity types.
Beware: this kind of field is less efficient for searching/filtering of big number of entities.
Notice: if you just want simple markers, Properties could be used instead.{% endblocktranslate %}
    {% widget_help_sign message=help_msg %}
{% endblock %}
