{% load i18n %}
{% load creme_widgets %}
{% with relations|length as count %}
    {% if not count %}
        {% trans "No one" %}
    {% elif count == 1 %}
        {% widget_entity_hyperlink relations.0.object_entity.get_real_entity user %}
    {% elif count <= 3 %}
        <ul class="compact_list">
            {% for relation in relations %}<li>{% widget_entity_hyperlink relation.object_entity.get_real_entity user %}</li>{% endfor %}
        </ul>
    {% else %}
        ({{count}})
    {% endif %}
{% endwith %}