{% load i18n %}{% comment %}TODO: with start=activity.start end=...{% endcomment %}
{% with start_date=activity.start|date:"SHORT_DATE_FORMAT" end_date=activity.end|date:"SHORT_DATE_FORMAT" start_hour=activity.start|date:"H:i" end_hour=activity.end|date:"H:i" %}
    {%  if activity.start.day != activity.end.day %}
        {% blocktrans %}Begin {{start_date}} at {{start_hour}}<br>
        End {{end_date}} at {{end_hour}}{% endblocktrans %}
    {% else %}
        {% blocktrans %}The {{start_date}} at {{start_hour}}{% endblocktrans %}
    {% endif %}
{% endwith %}