{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header _('%s Participant') _('%s Participants') %}
    <tbody class="collapsable">
        <tr>
            <th class="block_header_line_light" align="left" colspan="2">
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/activities/activity/{{object.id}}/participant/add', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/relations_22.png" border="0" title="{% trans "Add a participant" %}" alt="{% trans "Add a participant" %}" />
                    {% trans "Add from existing entities" %}
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            {% for relation in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                {% with relation.subject_entity.get_real_entity as participant %}
                    <tr>
                        <td class="{{row_color}}">
                            <a href="{{participant.get_absolute_url}}">{{participant}}</a>
                        </td>
                        <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                            {% get_line_deletor at_url '/creme_core/relation/delete' with_args "{'id':{{relation.pk}}, 'object_id':{{object.pk}} }" %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No participant for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>