{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=7 %}
        <th class="label">
            {% block activities_header %}
                {% if is_home %}
                    {% get_block_title _('%s Future activity for me') _('%s Future activities for me') 'calendar_48.png' _('Future activities') %}
                {% else %}
                    {% get_block_title _('%s Future related activity') _('%s Future related activities') 'calendar_48.png' _('Future activities') %}
                {% endif %}
            {% endblock %}
        </th>
        <th class="actions">
            <div class="buttons">
                {% block activities_add %}
                    {% if object %}
                        {% has_perm_to link object as link_perm %}
                        {% get_line_relator to_subject object with_rtype_id predicate_id with_ct_id ct_id with_label _("Link to an activity") with_perms link_perm %}
                    {% endif %}
                {% endblock %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            {% for activity in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">{% has_perm_to view activity as activity_view_perm %}
                    <td rowspan="{{activity.count_lines_display_block}}" style="width: 30%;" class="{{row_color}}" align="right">
                        {% if activity_view_perm %}
                            {% print_field object=activity field='type' %}<br />
                            {% if activity.status %}{% print_field object=activity field='status' %}<br />{% endif %}
                            <a href="{{activity.get_absolute_url}}">{% include 'activities/templatetags/activity_date.html' %}</a>
                        {% else %}
                            ??
                        {% endif %}
                    </td>
                    <th style="width: 70%;" class="{{row_color}}" {% if object %}colspan="2"{% else %}colspan="3"{% endif %}>
                        {% widget_entity_hyperlink activity user %}
                    </th>
                    {% if object %}
                        <td class="{{row_color}} action">
                            {% has_perm_to unlink object as unlink_perm %}{% has_perm_to unlink activity as activity_unlink_perm %}
                            {% get_line_unlinker at_url '/activities/linked_activity/unlink' with_args "{'id':{{activity.pk}}, 'object_id':{{object.pk}} }" with_perms unlink_perm|and_op:activity_unlink_perm %}
                        </td>
                    {% endif %}
                </tr>
                {% if activity.get_subject_relations %}
                    <tr>
                        <td class="{{row_color}} creme-future-activity" align="left">{% trans "Subject(s)" %} : </td>
                        <td colspan="2" class="{{row_color}}">
                            {% include 'activities/templatetags/activity_relations_field.html' with relations=activity.get_subject_relations %}
                        </td>
                    </tr>
                {% endif %}
                {% if activity.get_participant_relations %}
                    <tr>
                        <td class="{{row_color}} creme-future-activity" align="left">{% trans "Participant(s)" %} : </td>
                        <td colspan="2" class="{{row_color}}">
                            {% include 'activities/templatetags/activity_relations_field.html' with relations=activity.get_participant_relations %}
                        </td>
                    </tr>
                {% endif %}
                {% if activity.get_linkedto_relations %}
                    <tr>
                        <td class="{{row_color}} creme-future-activity" align="left">{% trans "Related to" %} : </td>
                        <td colspan="2" class="{{row_color}}">
                            {% include 'activities/templatetags/activity_relations_field.html' with relations=activity.get_linkedto_relations %}
                        </td>
                    </tr>
                {% endif %}
                {% if display_review and activity.minutes %}
                    <tr>
                        <td colspan="3" class="{{row_color}}">{% print_field object=activity field='minutes' %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">
                    {% block activities_empty %}{% trans "No future related activity for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 7 %}
</table>
