{% load i18n %}
{% load media %}
{% load creme_block %}
{% comment %}{% block relation_script %}
    <script type="text/javascript">
        creme.include('{{MEDIA_URL}}js/models/relations.js', 'js');
    </script>
{% endblock %}{% endcomment %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=5 %}
        <th style="width: 80%;" class="collapser" align="left">
            {% block activities_header %}
                {% get_block_title _('%s Future related activity') _('%s Future related activities') 'calendar_48.png' _('Future activities') %}
            {% endblock %}
        </th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% block activities_add %}
                    <a class="link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/objects2link/rtype/{{predicate_id}}/entity/{{object.id}}/{{ct_id}}', '{{predicate_id}}', '{{object.id}}', {% get_block_reload_uri %});">
                        <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Link to an activity" %}" alt="{% trans "Link to an activity" %}" />
                        {% trans "Link to an activity" %}
                    </a>
                {% endblock %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Subject(s)" %}</th>
                <th class="block_header_line_dark">{% trans "Participant(s)" %}</th>
                <th class="block_header_line_dark">{% trans "Related to" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>
            {% for activity in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}"><a href="{{activity.get_absolute_url}}">{{activity}}</a></td>
                    <td class="{{row_color}}">
                        {% with activity.get_subject_relations as relations %}
                            {% include 'activities/templatetags/activity_relations_field.html' %}
                        {% endwith %}
                    </td>
                    <td class="{{row_color}}">
                        {% with activity.get_participant_relations as relations %}
                            {% include 'activities/templatetags/activity_relations_field.html' %}
                        {% endwith %}
                    </td>
                    <td class="{{row_color}}">
                        {% with activity.get_linkedto_relations as relations %}
                            {% include 'activities/templatetags/activity_relations_field.html' %}
                        {% endwith %}
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/activities/linked_activity/unlink' with_args "{'id':{{activity.pk}}, 'object_id':{{object.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">
                    {% block activities_empty %}{% trans "No future related activity for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>