{% extends "activities/templatetags/block_future_activities.html" %}

{% load creme_block %}
{% load i18n %}

{% block relation_script %}{% endblock %}

{% block activities_header %}
    {% if is_home %}
        {% get_block_title _('%s Past activity for me') _('%s Past activities for me') 'calendar_48.png' _('Past activities') %}
    {% else %}
        {% get_block_title _('%s Past related activity') _('%s Past related activities') 'calendar_48.png' _('Past activities') %}
    {% endif %}
{% endblock %}

{% block activities_add %}{% endblock %}

{% block activities_empty %}{% trans "No past related activity for the moment" %}{% endblock %}
