{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
{% if object.type_id != 'activities-activitytype_indispo' %}{% comment %}Ugly bugfix, will be removed soon{% endcomment %}
{% has_perm_to link object as activity_link_perm %}{% has_perm_to unlink object as activity_unlink_perm %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=3 %}
        <th class="collapser label">{% get_block_title _('%s Participant') _('%s Participants') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_line_linker at_url '/activities/activity/{{object.id}}/participant/add' with_label _("Add from existing contacts") with_perms activity_link_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            {% for relation in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                {% with relation.object_entity as participant %}
                    <tr class="content">
                        <td class="{{row_color}}">{% widget_entity_hyperlink participant user %}</td>
                        <td class="{{row_color}}">
                            {% if participant.is_user %}({{participant.is_user}} -> {{participant.calendar_cache}}){% endif %}
                        </td>
                        <td class="{{row_color}} action" width="5%">
                            {% has_perm_to unlink participant as participant_unlink_perm %}
                            {% get_line_unlinker at_url '/activities/activity/participant/delete' with_args "{'id':{{relation.pk}} }" with_perms activity_unlink_perm|and_op:participant_unlink_perm %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No participant for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
{% endif %}