{% load i18n %}{% load media %}
{% load creme_block %}
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=7 %}
        <th style="width: 80%;" class="collapser" align="left">
            {% block activities_header %}
                {% if is_home %}
                    {% get_block_title _('%s Future activity for me') _('%s Future activities for me') 'calendar_48.png' _('Future activities') %}
                {% else %}
                    {% get_block_title _('%s Future related activity') _('%s Future related activities') 'calendar_48.png' _('Future activities') %}
                {% endif %}
            {% endblock %}
        </th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% block activities_add %}
                    {% if object %}
                        <a class="link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/add/from/predicate/{{predicate_id}}/entity/{{object.id}}/{{ct_id}}', '{{predicate_id}}', '{{object.id}}', {% get_block_reload_uri %});">
                            <img src="{% media_url 'images/link_22.png' %}" border="0" title="{% trans "Link to an activity" %}" alt="{% trans "Link to an activity" %}" />
                            {% trans "Link to an activity" %}
                        </a>
                    {% endif %}
                {% endblock %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Date" %}</th>
                <th class="block_header_line_dark">{% trans "Subject(s)" %}</th>
                <th class="block_header_line_dark">{% trans "Participant(s)" %}</th>
                <th class="block_header_line_dark">{% trans "Related to" %}</th>
                <th class="block_header_line_dark">{% trans "Unlink" %}</th>
            </tr>
            {% for activity in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{activity.status}}</td>
                    <td class="{{row_color}}"><a href="{{activity.get_absolute_url}}">{{activity}}</a></td>
                    <td class="{{row_color}}">
                        <a href="{{activity.get_absolute_url}}">{% include 'activities/templatetags/activity_date.html' %}</a>
                    </td>
                    <td class="{{row_color}}">
                        {% with activity.get_subject_relations as relations %}
                            {% include 'activities/templatetags/activity_relations_field.html' %}
                        {% endwith %}
                    </td>
                    <td class="{{row_color}}">
                        {% with activity.get_participant_relations as relations %}
                            {% include 'activities/templatetags/activity_relations_field.html' %}
                        {% endwith %}
                    </td>
                    <td class="{{row_color}}">
                        {% with activity.get_linkedto_relations as relations %}
                            {% include 'activities/templatetags/activity_relations_field.html' %}
                        {% endwith %}
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_unlinker at_url '/activities/linked_activity/unlink' with_args "{'id':{{activity.pk}}, 'object_id':{{object.pk}} }" with_perms 1 %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">
                    {% block activities_empty %}{% trans "No future related activity for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>