{% load i18n %}
{% load media %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=3 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Participant') _('%s Participants') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                <a class="add" onclick="creme.utils.innerPopupNReload('/activities/activity/{{object.id}}/participant/add', {% get_block_reload_uri %});">
                    <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Add a participant" %}" alt="{% trans "Add a participant" %}" />
                    {% trans "Add from existing contacts" %}
                </a>
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            {% for relation in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                {% with relation.object_entity.get_real_entity as participant %}
                    <tr>
                        <td class="{{row_color}}">
                            <a href="{{participant.get_absolute_url}}">{{participant}}</a>
                        </td>
                        <td class="{{row_color}}">
                            {% if participant.is_user %}({{participant.is_user}} -> {{participant.calendar_cache}}){% endif %}
                        </td>
                        <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                            {% get_line_deletor at_url '/creme_core/relation/delete' with_args "{'id':{{relation.pk}} }" %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No participant for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>