{% load i18n %}
{% load creme_block %}{% load creme_core_tags %}
<table class="table_detail_view ui-corner-all with-header {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=5 %}
        <th class="collapser label">
            {% get_block_title _('%s Calendar') _('%s Calendars') 'calendar_48.png' _('Calendars') %}
        </th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr>
            <th colspan="5" class="block_header_line_dark" align="left">
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/activities/calendar/add', {% get_block_reload_uri %});">
                    <img src="{% creme_media_url 'images/add_22.png' %}" border="0" alt="{% trans "New calendar" %}" title="{% trans "New calendar" %}"/>
                    {% trans "New calendar" %}
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _('Name') 'name' %}
                {% get_column_header _('Is default ?') 'is_default' %}
                {% get_column_header _('Is public ?') 'is_public' %}
                <th class="block_header_line_dark action">{% trans "Edit" %}</th>
                <th class="block_header_line_dark action">{% trans "Delete" %}</th>
            </tr>
            {% for calendar in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{{calendar.name}}</td>
                    <td class="{{row_color}}">{% print_field object=calendar field='is_default' %}</td>
                    <td class="{{row_color}}">{% print_field object=calendar field='is_public' %}</td>
                    <td class="{{row_color}} action">
                        <a onclick="creme.utils.innerPopupNReload('/activities/calendar/{{calendar.id}}/edit', {% get_block_reload_uri %});">
                            <img src="{% creme_media_url 'images/edit_22.png' %}" border="0" alt="{% trans "Edit calendar" %}" title="{% trans "Edit calendar" %}"/>
                        </a>
                    </td>
                    <td class="{{row_color}} action">
                        {% if calendar.is_custom %}
                            {% get_line_deletor at_url '/activities/calendar/delete' with_args "{'id': '{{calendar.id}}'}" with_perms 1 %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">
                    {% block activities_empty %}{% trans "No future related activity for the moment" %}{% endblock %}
                </td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
