{% load i18n %}
{% load report_tags %}
{% load queryset_tags %}

{% with 6 as colspan %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    <thead>
        <tr>
            <th valign="middle" colspan="{{colspan}}">{% trans 'Colonnes du rapport' %}</th>
        </tr>
    </thead>
    <tbody class="collapsable">
        <tr>
            <th align="left" colspan="{{colspan}}" class="{% cycle "block_header_line_dark" "block_header_line_light" %}">
                {% comment %}<a class="button_link" onclick="creme.utils.innerPopupNReload('/reports2/report/{{object.id}}/field/add', '{{update_url}}?base_url={{base_url}}');">{% endcomment %}
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/reports2/report/{{object.id}}/field/add', '{{update_url}}?base_url={{base_url}}&{{block_name}}_deps=' + creme.utils.getBlocksDeps('{{block_name}}'));">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="Ajouter une colonne" alt="Ajouter" />
                    {% trans 'Ajouter' %} /
                    <img src="{{MEDIA_URL}}images/delete_22.png" border="0" title="Supprimer une colonne" alt="Supprimer" />
                    {% trans 'Supprimer une colonne' %}
                </a>
            </th>
        </tr>
        {% if object.columns.all %}
            <tr>
                <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans 'Ordre' %}</th>
                <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans 'Colonne' %}</th>
                <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans 'Affiché dans le rapport' %}</th>
                <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans 'Type' %}</th>
                <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans 'Action(s)' %}</th>
                <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans 'Développer ?' %}</th>
            </tr>
            <!--
                {% cycle "block_header_line_light" "block_header_line_dark" as header_row %}
                {% cycle "block_line_light" "block_line_dark" as row_color %}
            -->
            {% for column in object.columns.all|order_by:"order" %}
                <tr>
                    <td class="{% cycle "block_line_dark" "block_line_light" %}">{{column.order}}</td>
                    <td class="{% cycle "block_line_dark" "block_line_light" %}">{{column}}</td>
                    <td class="{% cycle "block_line_dark" "block_line_light" %}">
                    {% if column.report %}
                        {% trans 'Colonnes de' %} : <a href="{{column.report.get_absolute_url}}">{{column.report}}</a> ({{column.report.columns.all|order_by:"order"|join:", "}})
                    {% else %}
                        {% trans 'Valeur' %}
                    {% endif %}
                    </td>
                    <td class="{% cycle "block_line_dark" "block_line_light" %}">{{column.type|get_verbose_type}}</td>
                    <td class="{% cycle "block_line_dark" "block_line_light" %}">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="width: 33%;">
                                        {% ifequal HFI_FIELD column.type %}
                                            {% if column.report %}
                                                <a onclick="creme.reports.unlink_report('{{column.pk}}', '{{update_url}}');">{% trans 'Délier le rapport' %}</a>
                                            {% else %}
                                                    {% if column|is_field_is_linkable:object.ct %}
                                                        {% comment %}<a onclick="creme.reports.link_report('{{object.id}}', '{{column.pk}}', '{{update_url}}?base_url={{base_url}}');">{% trans 'Lier un rapport' %}</a>{% endcomment %}
                                                        <a onclick="creme.reports.link_report('{{object.id}}', '{{column.pk}}', '{{update_url}}?base_url={{base_url}}&{{block_name}}_deps=' + creme.utils.getBlocksDeps('{{block_name}}'));">{% trans 'Lier un rapport' %}</a>
                                                    {% endif %}

                                            {% endif %}
                                        {% endifequal %}
                                        {% ifequal HFI_RELATION column.type %}
                                            {% if column.report %}
                                                {% comment %}<a onclick="creme.reports.unlink_report('{{column.pk}}', '{{update_url}}');">{% trans 'Délier le rapport' %}</a>{% endcomment %}
                                                <a onclick="creme.reports.unlink_report('{{column.pk}}', '{{update_url}}?base_url={{base_url}}&{{block_name}}_deps=' + creme.utils.getBlocksDeps('{{block_name}}'));">
                                                    {% trans 'Délier le rapport' %}
                                                </a>
                                            {% else %}
                                                {% comment %}<a onclick="creme.reports.link_relation_report('{{object.id}}', '{{column.pk}}', '{{column.name}}','{{update_url}}?base_url={{base_url}}');">{% trans 'Lier un rapport' %}</a>{% endcomment %}
                                                <a onclick="creme.reports.link_relation_report('{{object.id}}', '{{column.pk}}', '{{column.name}}', '{{update_url}}?base_url={{base_url}}&{{block_name}}_deps=' + creme.utils.getBlocksDeps('{{block_name}}'));">
                                                    {% trans 'Lier un rapport' %}
                                                </a>
                                            {% endif %}
                                        {% endifequal %}
                                    </td>
                                    <td style="width: 33%;">
                                        {% ifnotequal column.order 1 %}
                                            {% comment %}<a onclick="creme.reports.changeOrder('{{object.id}}', '{{column.pk}}', 'up','{{update_url}}?base_url={{base_url}}');">{% endcomment %}
                                            <a onclick="creme.reports.changeOrder('{{object.id}}', '{{column.pk}}', 'up', '{{update_url}}?base_url={{base_url}}&{{block_name}}_deps=' + creme.utils.getBlocksDeps('{{block_name}}'));">
                                                <img src="{{MEDIA_URL}}images/small_up_arrow_16.png" border="0" title="Monter la colonne" alt="Monter" />
                                            </a>
                                        {% endifnotequal %}
                                    </td>
                                    <td style="width: 33%;">
                                        {% ifnotequal column.order object.columns.count %}
                                            {% comment %}<a onclick="creme.reports.changeOrder('{{object.id}}', '{{column.pk}}', 'down','{{update_url}}?base_url={{base_url}}');">{% endcomment %}
                                            <a onclick="creme.reports.changeOrder('{{object.id}}', '{{column.pk}}', 'down', '{{update_url}}?base_url={{base_url}}&{{block_name}}_deps=' + creme.utils.getBlocksDeps('{{block_name}}'));">
                                                <img src="{{MEDIA_URL}}images/small_down_arrow_16.png" border="0" title="Descendre la colonne" alt="Descendre" />
                                            </a>
                                        {% endifnotequal %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="{% cycle "block_line_dark" "block_line_light" %}">
                        {% ifequal HFI_FIELD column.type %}
                            {% if column|is_field_is_linkable:object.ct %}
                                <input type="checkbox" name="selected" onclick="creme.reports.setSelected(this, '{{object.id}}', '{{column.pk}}', '{{update_url}}?base_url={{base_url}}');" {% if column.selected %} checked {% endif %}/>
                           {% endif %}
                        {% endifequal %}
                        {% ifequal HFI_RELATION column.type %}
                            <input type="checkbox" name="selected" onclick="creme.reports.setSelected(this, '{{object.id}}', '{{column.pk}}', '{{update_url}}?base_url={{base_url}}');" {% if column.selected %} checked {% endif %}/>
                        {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="{% cycle "block_line_dark" "block_line_light" %}">{% trans 'Aucune colonne définie pour le moment' %}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endwith %}