{% extends 'creme_core/generics/blockform/edit.html' %}
{% load creme_core_tags %}{# {% load i18n %} #}

{% log 'The template file "creme/persons/templates/persons/edit_organisation_form.html" is deprecated.' level='WARN' %}

{% block content %}{#{% blocktrans asvar form_title %}Edit «{{object}}»{% endblocktrans %}#}
{#    {% include 'persons/frags/organisation_form_content.html' with icon_name='edit' title=form_title %} #}
    {% include 'persons/frags/organisation_form_content.html' with icon_name='edit' %}
{% endblock %}
