{% extends 'creme_core/generics/portal.html' %}
{% load i18n creme_core_tags creme_widgets %}

{% block logo %}
    {% log 'The template file "creme/persons/templates/persons/portal.html" is deprecated.' level='WARN' %}
    {% widget_icon name='contact' size='brick-hat-bar' label=_('Contacts') %}
{% endblock %}
{% block title %}{% trans 'Accounts & contacts portal' %}{% endblock %}
{% block list_url %}{% url 'persons__list_contacts' %}{% endblock %}
{% block list_msg %}{% trans 'List of contacts' %}{% endblock %}
