{% extends "creme_core/generics/view_entity.html" %}

{% load i18n %}
{% load creme_core_tags %}
{% load creme_block %}

{% block logo %}
    {% if object.url_site %}
        <a href="http://{{object.url_site}}" target="_blank" ><img src="{{object.image.get_image_url}}" alt="" style="max-height:64px;max-width:200px;"/></a>
    {% else %} {% if object.image.get_image_url %}
        <img src="{{object.image.get_image_url}}" alt="" title="{% trans "Please enter the web site address" %}" style="max-height:64px;max-width:200px;"/>
    {% else %}
        <img src="{{MEDIA_URL}}images/organisation_64.png" alt="{% trans "Organisation" %}"/>
    {% endif %}{% endif %}
{% endblock %}

{% block creme_blocks_import %}
    {{block.super}}
    {% import_block from_app 'persons' named 'address' as 'address_block' %}
    {% import_block from_app 'persons' named 'other_address' as 'other_address_block' %}
    {% import_block from_app 'persons' named 'employees' as 'employees_block' %}
    {% import_block from_app 'persons' named 'managers' as 'managers_block' %}
{% endblock %}

{% block detail_view_left_1 %}
    <!--{% cycle "block_header_line_dark" "block_header_line_light" as header_color %}
        {% cycle "block_line_dark" "block_line_light" as row_color %} -->
    <table class="table_detail_view ui-corner-all">
        {% get_basic_block_header _("Organisation information") 'infos_48.png' _('Information') %}
        <tbody class="collapsable">
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Creation date" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.created}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Last modification" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.modified}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Name of the organisation" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.name}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Staff size" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.employees}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Legal form" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.legal_form}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Line of business" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.sector}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Capital" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.capital}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "SIREN" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.siren}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "NAF code" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.naf}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "SIRET" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.siret}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "RCS/RM" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.rcs}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Intra VAT" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.tvaintra}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Subject to VAT" %}</th>
                <td class="{% cycle row_color %} td_info">{{object|get_html_field_value:"subject_to_vat" }}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Assigned to" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.user}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table_detail_view ui-corner-all">
        <thead>
            <tr>
                <th align="center" colspan="2">{% trans "Coordinates" %}</th>
            </tr>
        </thead>
        <tbody class="collapsable">
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Billing address" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.billing_address}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Shipping address" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.shipping_address}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Landline" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.phone}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Fax" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.fax}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "E-mail" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.email}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Web Site" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.url_site}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table_detail_view ui-corner-all">
        {% get_basic_block_header _('Other Information') 'infos_48.png' _('Information') %}
        <tbody class="collapsable">
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Description" %}</th>
                <td class="{% cycle row_color %} td_info">{{object.description}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Date of creation of the organisation" %}</th>
                <td class="{% cycle row_color %} td_info">{{object|get_html_field_value:"creation_date"}}</td>
            </tr>
            <tr>
                <th class="{% cycle header_color %} th_info">{% trans "Logo" %}</th>
                <td class="{% cycle row_color %} td_info" >{{object|get_html_field_value:"image"}}</td>
            </tr>
        </tbody>
    </table>

    {% include "creme_core/customfields_as_table.html" %}
{% endblock %}

{% block detail_view_left_2 %}
    {% display_block_detailview 'address_block' %}
    {% display_block_detailview 'other_address_block' %}
    {% display_block_detailview 'managers_block' %}
    {% display_block_detailview 'employees_block' %}

    {% display_block_detailview 'properties_block' %}
    {% display_block_detailview 'relations_block' %}
{% endblock %}