{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% comment %}{% load creme_block %}{% endcomment %}

{% block logo %}
    {% if object.url_site %}
        <a href="http://{{object.url_site}}" target="_blank" ><img src="{{object.image.get_image_url}}" alt="" style="max-height:64px;max-width:200px;"/></a>
    {% else %}{% if object.image.get_image_url %}
        <img src="{{object.image.get_image_url}}" alt="" title="{% trans "Please enter the web site address" %}" style="max-height:64px;max-width:200px;"/>
    {% else %}
        {{block.super}}
    {% endif %}{% endif %}
{% endblock %}

{% comment %}
{% block creme_blocks_import %}
    {{block.super}}
    {% import_block from_app 'persons' named 'orga_coordinates' as 'coordinates_block' %}
    {% import_block from_app 'persons' named 'address' as 'address_block' %}
    {% import_block from_app 'persons' named 'other_address' as 'other_address_block' %}
    {% import_block from_app 'persons' named 'employees' as 'employees_block' %}
    {% import_block from_app 'persons' named 'managers' as 'managers_block' %}
{% endblock %}

{% block detail_view_left_1 %}
    {% display_block_detailview 'object_block' %}
    {% display_block_detailview 'coordinates_block' %}
    {% display_block_detailview 'customfields_block' %}
{% endblock %}

{% block detail_view_left_2 %}
    {% display_block_detailview 'address_block' %}
    {% display_block_detailview 'other_address_block' %}
    {% display_block_detailview 'managers_block' %}
    {% display_block_detailview 'employees_block' %}

    {% display_block_detailview 'properties_block' %}
    {% display_block_detailview 'relations_block' %}
{% endblock %}
{% endcomment %}