{% extends "creme_config/portal.html" %}
{% load i18n %}
{% load creme_block %}

{% block title %}
    <a href="/creme_config/">{% trans "Configuration" %} > </a>{% trans "Application" %}: {{app_verbose_name}}
{% endblock %}

{% block creme_blocks_import %}
    {% import_block from_app 'creme_config' named 'settings' as 'settings_block' %}
    {% import_blocks app_config_blocks as 'extra_config_blocks' %}
{% endblock %}

{% block before_statistics %}
    <!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
    <table class="table_detail_view ui-corner-all">
        <thead>
            <tr>
                <th colspan="100">
                    {% blocktrans count app_config|length as app_count %}{{app_count}} Configurable type{% plural %}{{app_count}} Configurable types{% endblocktrans %}
                </th>
            </tr>
        </thead>
        <tbody class="collapsable">
            {% for model_conf in app_config %}
                <tr>
                    <td class="{% cycle row_color %}">
                        <a href="/creme_config/{{app_name}}/{{model_conf.name_in_url}}/portal/">{{model_conf.verbose_name}}</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="{% cycle row_color %}">{% trans "No type requires configuration" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% display_block_detailview 'settings_block' %}

    {% display_blocks 'extra_config_blocks' %}

{% endblock before_statistics %}