{% extends 'creme_config/portal.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block page_title %}{% trans 'Configuration' %} > {{app_verbose_name}} - {% endblock %}

{% block title %}
    {% has_perm_to access 'creme_config' as conf_perm %}
    {% if conf_perm %}<a href="{% url 'creme_config__portal' %}">{% trans 'Configuration' %} > </a>{% endif %}{% trans 'Application' %}: {{app_verbose_name}}
{% endblock %}

{# {% block before_statistics %} #}
{% block portal_bricks %}
    {% include 'creme_config/bricks/configurable-models.html' %}

    {% brick_import app='creme_config' name='settings' as settings_brick %}
    {% brick_declare app_config_bricks %}

    {% brick_display settings_brick app_config_bricks %}
{# {% endblock before_statistics %} #}
{% endblock %}
