{% extends 'creme_config/portal.html' %}
{% load i18n creme_bricks creme_ctype creme_perms %}

{% block page_title %}{% translate 'Configuration' %} > {{app_verbose_name}} > {{model|ctype_for_instance}} - {% endblock %}

{% block title %}
    {% if user|has_perm_to_access:'creme_config' %}<a href="{% url 'creme_config__portal' %}">{% translate 'Configuration' %} > </a>{% endif %}
    <a href="{% url 'creme_config__app_portal' app_name %}">{{app_verbose_name}} > </a>
    {% blocktranslate with model_name=model|ctype_for_instance %}Type: {{model_name}}{% endblocktranslate %}
{% endblock %}

{% block portal_bricks %}
{#    {% brick_declare bricks %} #}
    {% brick_declare bricks.main %}
{#    {% brick_display bricks %} #}
    {% brick_display bricks.main %}
    {% brick_end %}
{% endblock %}
