{% extends "creme_config/portal.html" %}
{% load i18n %}
{% load creme_core_tags %}
{% load creme_block %}

{% block title %}
    <a href="/creme_config/">{% trans "Configuration"%} > </a>
    <a href="/creme_config/{{app_name}}/portal/">{{model|get_meta_value:'app_label'|title}} > </a>
    Type : {{model|get_meta_value:'verbose_name'|title}}
{% endblock %}

{% block before_statistics %}
    {% import_block from_app 'creme_config' named 'model_config' as 'model_config_block' %}
    {% display_block_detailview 'model_config_block' %}
{% endblock %}