{% extends 'creme_core/bricks/base/base.html' %}

{% load i18n creme_bricks %}
{% load jsondata from creme_core_tags %}

{% block brick_extra_class %}activity-fullcalendar-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=verbose_name icon='calendar' %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='refresh' label=_('Reload') icon='reload' %}
{% endblock %}

{% block brick_content %}
    {% jsondata calendar_settings class='brick-calendar-settings' %}
    {% jsondata calendar_sources class='brick-calendar-sources' %}
    <div class="brick-calendar"></div>
{% endblock %}

{% block brick_script %}
    <script type="text/javascript">
        (function($) {
            creme.setupActivityCalendarBrick('.brick[data-brick-id="{{brick_id}}"]', {
                owner: "{{ user.username }}",
                eventUpdateUrl: '{{ event_update_url }}',
                eventCreateUrl: '{{ event_create_url }}',
                eventFetchUrl: '{{ event_fetch_url }}',
                allowEventCreate: false,
                allowEventMove: false
            });
        }(jQuery));
    </script>
{% endblock %}
