{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_widgets %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} activities-calendar-config-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Configured calendar view') plural=_('{count} Configured calendar views') empty=verbose_name icon='calendar' %}
{% endblock %}

{% block brick_header_actions %}
{% if not error %}
    {% brick_header_action id='add' url='activities__add_calendar_settings'|url label=_('Create for a role') %}
{% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column title=_('Role') status='primary nowrap' %}
    {% brick_table_column title=_('Default view mode') status='nowrap' %}
    {% brick_table_column title=_('Visible hours') status='nowrap' %}
    {% brick_table_column title=_('Business Days') %}
    {% brick_table_column title=_('First day of the week') status='nowrap' %}
    {% brick_table_column title=_('Business Hours') status='nowrap' %}
    {% brick_table_column title=_('Slot duration') status='nowrap' %}
    {% brick_table_column title=_('Allow drag-n-drop') %}
    {% brick_table_column title=_('Keep navigation state') %}
    {% brick_table_column title=_('Action') status='action' colspan="2" %}
{% endblock %}

{% block brick_table_rows %}
  {% if default %}
    <tr>
        <td {% brick_table_data_status primary %} class="calendar-config-default">{% translate 'Default configuration' %}</td>
        <td>{{ default.view_label }}</td>
        <td>{% if default.view_day_start == default.view_day_end %}{% translate 'All day' %}{% else %}{{ default.view_day_start }} — {{ default.view_day_end }}{% endif %}</td>
        <td>{{ default.week_days_labels|join:", " }}</td>
        <td>{{ default.week_start_label }}</td>
        <td>{{ default.day_start }} — {{ default.day_end }}</td>
        <td>{{ default.slot_duration }}</td>
        <td><input type="checkbox" disabled {% if default.allow_event_move %}checked{% endif %} /></td>
        <td><input type="checkbox" disabled {% if default.allow_keep_state %}checked{% endif %} /></td>
        <td {% brick_table_data_status action %}>&nbsp;</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='edit' url='activities__edit_calendar_settings'|url:default.pk label=_('Edit this configuration') %}
        </td>
    </tr>
  {% endif %}
  {% if superuser %}
    <tr>
        <td {% brick_table_data_status primary %} class="calendar-config-superuser">{% translate 'Superuser configuration' %}</td>
        <td>{{ superuser.view_label }}</td>
        <td>{% if superuser.view_day_start == superuser.view_day_end %}{% translate 'All day' %}{% else %}{{ superuser.view_day_start }} — {{ superuser.view_day_end }}{% endif %}</td>
        <td>{{ superuser.week_days_labels|join:", " }}</td>
        <td>{{ superuser.week_start_label }}</td>
        <td>{{ superuser.day_start }} — {{ superuser.day_end }}</td>
        <td>{{ superuser.slot_duration }}</td>
        <td><input type="checkbox" disabled {% if superuser.allow_event_move %}checked{% endif %} /></td>
        <td><input type="checkbox" disabled {% if superuser.allow_keep_state %}checked{% endif %} /></td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='edit' url='activities__edit_calendar_settings'|url:superuser.pk label=_('Edit this configuration') %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url='activities__delete_calendar_settings'|url __id=superuser.pk label=_('Delete this configuration') %}
        </td>
    </tr>
  {% endif %}
  {% for config in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %} class="calendar-config-role">{{config.role}}</td>
        <td>{{ config.view_label }}</td>
        <td>{% if config.view_day_start == config.view_day_end %}{% translate 'All day' %}{% else %}{{ config.view_day_start }} — {{ config.view_day_end }}{% endif %}</td>
        <td>{{ config.week_days_labels|join:", " }}</td>
        <td>{{ config.week_start_label }}</td>
        <td>{{ config.day_start }} — {{ config.day_end }}</td>
        <td>{{ config.slot_duration }}</td>
        <td><input type="checkbox" disabled {% if config.allow_event_move %}checked{% endif %} /></td>
        <td><input type="checkbox" disabled {% if config.allow_keep_state %}checked{% endif %} /></td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='edit' url='activities__edit_calendar_settings'|url:config.pk label=_('Edit this configuration') %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url='activities__delete_calendar_settings'|url __id=config.pk label=_('Delete this configuration') %}
        </td>
    </tr>
  {% endfor %}
 {% endblock %}

{% block brick_table_empty %}
  {% if error %}
    <div class="brick-error">{{error}}</div>
  {% else %}
    {% translate 'No configuration for the moment' %}
  {% endif %}
{% endblock %}
