{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load and_op url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} activities-participants-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Participant') plural=_('{count} Participants') empty=verbose_name %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='link' url='activities__add_participants'|url:object.id label=_('Add contacts') enabled=user|has_perm_to_link:object %}
{% endblock %}

{% block brick_table_head %}{% endblock %}

{% block brick_table_rows %}
 {% with activity_unlink_perm=user|has_perm_to_unlink:object rm_part_url='activities__remove_participant'|url %}
  {% for relation in page.object_list %}
   {% with participant=relation.object_entity %}
    <tr>
        <td {% brick_table_data_status primary %}>{% widget_entity_hyperlink participant user %}</td>
        <td>{% if participant.is_user and participant.calendar_cache %}({{participant.is_user}} ➡ {{participant.calendar_cache}}){% endif %}</td>
        <td {% brick_table_data_status action %}>
          {% with participant_unlink_perm=user|has_perm_to_unlink:participant %}
            {% brick_table_action id='delete' url=rm_part_url __id=relation.pk label=_('Delete relationship') icon='unlink' enabled=activity_unlink_perm|and_op:participant_unlink_perm %}
          {% endwith %}
        </td>
    </tr>
   {% endwith %}
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate "No participant for the moment" %}
{% endblock %}
