{% extends 'activities/bricks/base/activities.html' %}
{% load i18n creme_bricks %}

{% block brick_extra_class %}{{block.super}} activities-past-brick{% endblock %}

{% block brick_header_title %}
  {% if object %}
    {% brick_header_title title=_('{count} Past related activity') plural=_('{count} Past related activities') empty=verbose_name icon='calendar' %}
  {% else %}
    {% brick_header_title title=_('{count} Past activity for me') plural=_('{count} Past activities for me') empty=_('Past activities for me') icon='calendar' %}
  {% endif %}
{% endblock %}

{% block brick_list_empty %}
    {% translate 'No past related activity for the moment' %}
{% endblock %}
