{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_core_tags creme_widgets creme_bricks %}
{% load has_perm_to url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} activities-subjects-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Subject') plural=_('{count} Subjects') empty=verbose_name %}
{% endblock %}

{% block brick_header_actions %}
    {% has_perm_to link object as activity_link_perm %}
    {% brick_header_action id='link' url='activities__add_subjects'|url:object.id label=_('Add entities') enabled=activity_link_perm %}
{% endblock %}

{% block brick_table_head %}{% endblock %}

{% block brick_table_rows %}
{% has_perm_to unlink object as activity_unlink_perm %}{% url 'creme_core__delete_relation' as del_rel_url %}
    {% for relation in page.object_list %}{% with relation.object_entity.get_real_entity as subject %}
    <tr>
        <td {% brick_table_data_status primary %}>{% widget_entity_hyperlink subject user %}</td>
        <td {% brick_table_data_status action %}>{% has_perm_to unlink subject as subject_unlink_perm %}
            {% brick_table_action id='delete' url=del_rel_url __id=relation.pk label=_('Unlink this subject') icon='unlink' enabled=activity_unlink_perm|and_op:subject_unlink_perm %}
        </td>
    </tr>
    {% endwith %}{% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No subject for the moment' %}
{% endblock %}
