{% extends "creme_core/detailview.html" %}

{% load creme_core_tags %}
{% load creme_block %}

{% load opportunities_blocks %}

{% block logo %}<img src="{{MEDIA_URL}}images/opportunity_64.png" alt=""/>{% endblock %}

{% block before_detail_view_1 %}
    {% ifequal line_or_not "1" %}
            {% get_opportproduct_lines %}
            {% get_opportservice_lines %}
    {% endifequal %}
{% endblock %}    

{% block detail_view_left_1 %}
    <table class="table_detail_view ui-corner-all">
        {% get_basic_block_header "Informations sur l'opportunité" 'infos_48.png' 'Infos' %}

        <tbody class="collapsable">
            <!--{% cycle "block_header_line_dark" "block_header_line_light" as header_color %}
                {% cycle "block_line_dark" "block_line_light" as row_color %}-->

            {% for field in object|get_meta_value:"fields" %}
                {% if not field.name|in:object.excluded_fields_in_html_output %}
                    <tr>
                        <th class="{% cycle header_color %}">{{ field.verbose_name|title }}</th>
                        <td class="{% cycle row_color %}">{{ object|get_html_field_value:field.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th class="{% cycle header_color %}">Entreprise cible</th>
                <td class="{% cycle row_color %}">
                    {% with object.get_target_orga as orga %}
                        <a href="{{orga.get_absolute_url}}">{{orga}}</a>
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>

    {% get_contacts %}
{% ifnotequal line_or_not "0" %}
    {% get_products %}
    {% get_services %}
{% endifnotequal %}


    {% get_responsibles %}
    {% get_quotes %}
    {% get_sales_orders %}
    {% get_invoices %}

    {% get_properties %}
    {% get_relations %}
{% endblock %}

{% block detail_view_right_1 %}
        {% load billing_blocks %}
        {% get_total%}
{% endblock %}    
