{% load creme_block %}

<script type="text/javascript">
    creme.include('{{MEDIA_URL}}js/models/relations.js','js');
</script>

<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header '%s Bon de commande associé' '%s Bons de commande associés' 'invoice_48.png' 'Sales orders' %}

    <tbody class="collapsable">
        <tr>
            <th colspan="4" class="block_header_line_dark" align="left">
                <a class="button_link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/add/from/predicate/{{predicate_id}}/entity/{{object.id}}/{{ct_id}}','{{predicate_id}}','{{object.id}}', '{{update_url}}?base_url={{base_url}}');">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="Ajouter un Bon" alt="Ajouter" />
                    Ajouter un bon existant
                </a>
                <a class="button_link" href="/opportunities/opportunity/generate_new_doc/{{object.id}}/{{ct_id}}">
                <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="Générer un nouveau Bon Courant" alt="Générer un nouveau Bon Courant" />
                Générer un nouveau Bon Courant
                </a>                
            </th>
        </tr>

        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">Numéro</th>
                <th class="block_header_line_dark">Nom</th>
                <th class="block_header_line_dark">Supprimer</th>
            </tr>

            {% for relation in page.object_list %}
                {% with relation.subject_creme_entity as order %}
                    <!--{% cycle "block_line_dark" "block_line_light" as row_color%}-->
                    <tr>
                        <td class="{{row_color}}">{{order.number}}</td>
                        <td class="{{row_color}}">
                            <a href="{{order.get_absolute_url}}">{{order.name}}</a>
                        </td>
                        <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                            {% get_line_deletor2 '/creme_core/relation/delete' "{ 'id':{{relation.pk}}, 'object_id':{{object.pk}} }" %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">Aucun bon enregistré pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
