{% load creme_block %}
<script type="text/javascript">
    creme.include('{{MEDIA_URL}}js/models/relations.js','js');
</script>
<table  class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header '%s Devis proposé' '%s Devis proposés' 'invoice_48.png' 'Quotes' %}
    <tbody class="collapsable">
        <tr>
            <th colspan="4" class="block_header_line_dark" align="left">
                <a class="button_link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/add/from/predicate/{{predicate_id}}/entity/{{object.id}}/{{ct_id}}','{{predicate_id}}','{{object.id}}', '{{update_url}}?base_url={{base_url}}&{{block_name}}_deps=' + creme.utils.getBlocksDeps('{{block_name}}'));">
                    <img src="{{MEDIA_URL}}images/relations_22.png" border="0" title="Lier à un Devis" alt="Ajouter" />
                    Lier à un devis existant
                </a>
                <a class="button_link" href="/opportunities/opportunity/generate_new_doc/{{object.id}}/{{ct_id}}">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="Générer un nouveau Devis courant" alt="Générer un nouveau Devis courant" />
                    Générer un nouveau Devis courant
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">Numéro</th>
                <th class="block_header_line_dark">Nom</th>
                <th class="block_header_line_dark">Devis courant ?</th>
                <th class="block_header_line_dark">Supprimer</th>
            </tr>
            {% for quote in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{quote.number}}</td>
                    <td class="{{row_color}}">
                        <a href="{{quote.get_absolute_url}}">{{quote.name}}</a>
                    </td>
                    <td class="{{row_color}}">
                        {% ifequal quote.pk current_quote_id %}
                            <strong>Oui</strong>
                        {% else %}
                            <a href="/opportunities/opportunity/{{object.pk}}/linked/quote/{{quote.pk}}/set_current/">
                                Le devenir
                            </a>
                        {% endifequal %}
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/creme_core/relation/delete/similar' with_args "{'subject_id':{{object.pk}}, 'type':'{{predicate_id}}', 'object_id':{{quote.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">Aucun devis enregistré pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>