{% extends "creme_config/portal.html" %}
{% load i18n %}
{% load creme_block %}

{% block title %}
    <a href="/creme_config/">{% trans "Configuration" %} > </a>{% trans "Blocks" %}
{% endblock %}

{% block before_statistics %}
    {% comment %}{% import_block from_app 'creme_config' named 'blocks_config' as 'blocks_config_block' %}{% endcomment %}
    {% import_block from_app 'creme_config' named 'blocks_dv_locations' as 'blocks_dv_locations_block' %}
    {% import_block from_app 'creme_config' named 'blocks_portal_locations' as 'blocks_portal_locations_block' %}
    {% import_block from_app 'creme_config' named 'blocks_default_mypage_locations' as 'blocks_mypage_locations_block' %}
    {% import_block from_app 'creme_config' named 'relation_blocks_config' as 'rblocks_config_block' %}
    {% import_block from_app 'creme_config' named 'instance_blocks_config' as 'iblocks_config_block' %}

    {% comment %}{% display_block_detailview 'blocks_config_block' %}{% endcomment %}
    {% display_block_detailview 'blocks_dv_locations_block' %}
    {% display_block_detailview 'blocks_portal_locations_block' %}
    {% display_block_detailview 'blocks_mypage_locations_block' %}
    {% display_block_detailview 'rblocks_config_block' %}
    {% display_block_detailview 'iblocks_config_block' %}
{% endblock %}