{% extends 'creme_config/portal.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block page_title %}{% trans 'Configuration of blocks' %} - {% endblock %}

{% block title %}
{% has_perm_to access 'creme_config' as conf_perm %}
    {% if conf_perm %}<a href="{% url 'creme_config__portal' %}">{% trans 'Configuration' %} > </a>{% endif %}{% trans 'Blocks' %}
{% endblock %}

{% block before_statistics %}
    {% brick_import app='creme_config' name='blocks_dv_locations' as blocks_dv_locations_brick %}
{% comment %}
    {% if OLD_MENU %}
        {% brick_import app='creme_config' name='blocks_portal_locations' as blocks_portal_locations_brick %}
    {% else %}
        {% brick_import app='creme_config' name='blocks_home_locations' as blocks_home_locations_brick %}
    {% endif %}
{% endcomment %}
    {% brick_import app='creme_config' name='blocks_home_locations' as blocks_home_locations_brick %}
    {% brick_import app='creme_config' name='blocks_default_mypage_locations' as blocks_mypage_locations_brick %}
    {% brick_import app='creme_config' name='relation_blocks_config' as rblocks_config_brick %}
    {% brick_import app='creme_config' name='instance_blocks_config' as iblocks_config_brick %}
    {% brick_import app='creme_config' name='custom_blocks_config' as cblocks_config_brick %}

    {% brick_display blocks_dv_locations_brick %}
{% comment %}
    {% if OLD_MENU %}
        {% brick_display blocks_portal_locations_brick %}
    {% else %}
        {% brick_display blocks_home_locations_brick %}
    {% endif %}
{% endcomment %}
    {% brick_display blocks_home_locations_brick %}
    {% brick_display blocks_mypage_locations_brick %}
    {% brick_display rblocks_config_brick %}
    {% brick_display iblocks_config_brick %}
    {% brick_display cblocks_config_brick %}
{% endblock %}
