{% extends 'creme_config/portal.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block page_title %}{% trans 'Configuration of buttons' %} - {% endblock %}

{% block title %}
    {% has_perm_to access 'creme_config' as conf_perm %}
    {% if conf_perm %}<a href="{% url 'creme_config__portal' %}">{% trans 'Configuration' %} > </a>{% endif %}{% trans 'Button menu' %}
{% endblock %}

{% block before_statistics %}
    {% brick_import app='creme_config' name='button_menu' as button_menu_brick %}
    {% brick_display button_menu_brick %}
{% endblock %}
