{% load i18n %}
<form method="POST" action="{% url 'creme_config__finish_deletor' job.id %}"
      widget="job-waiting-ctrl" class="job-waiting-ctrl ui-creme-widget widget-auto" data-jobs-info-url="{% url 'creme_core__jobs_info' %}">
    <div class="global-error hidden"></div>

    <div class="config-deletion-job-info-tiles">
        <div class="config-deletion-job-info-tile">
            <span class="config-deletion-job-tile-name">{% translate 'Description' %}</span>
            <span class="config-deletion-job-tile-value">
            {% with description=job.description %}{# TODO: factorise #}
                {% if description|length > 1 %}
                    <ul>{% for elt in description %}<li>{{elt}}</li>{% endfor %}</ul>
                {% else %}
                    {{description.0}}
                {% endif %}
            {% endwith %}
            </span>
        </div>
        <div class="config-deletion-job-info-tile">
            <span class="config-deletion-job-tile-name">{% translate 'Status' %}</span>
            <span class="config-deletion-job-tile-value" data-job-id="{{job.id}}" data-job-status="{{job.status}}" data-job-ack-errors="{{job.ack_errors}}">
                {{job.progress.render}}
            </span>
        </div>
    </div>

    <input type="submit" class="ui-creme-dialog-action" value="{% translate 'Finish' %}">{# NB: we override the label #}
</form>
