{% extends 'creme_config/portal.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block title %}
    {% has_perm_to access 'creme_config' as conf_perm %}
    {% if conf_perm %}<a href="{% url 'creme_config__portal' %}">{% trans 'Configuration' %} > </a>{% endif %}{% trans 'Configuration of fields' %}
{% endblock %}

{% block before_statistics %}
    {% brick_import app='creme_config' name='fields_configs' as fields_configs_brick %}
    {% brick_display fields_configs_brick %}
{% endblock %}
