{% extends "creme_core/generics/portal.html" %}
{% load i18n %}
{% block logo %}<img src="{{MEDIA_URL}}images/config_64.png" alt="{% trans "Configuration" %}"/>{% endblock %}
{% block title %}{% trans "Creme configuration portal" %}{% endblock %}
{% block header_link %}{% endblock %}
{% block creme_blocks_import %}{% endblock %}

{% block before_statistics %}
    <!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
    <table class="table_detail_view ui-corner-all">
        <thead>
            <tr>
                <th colspan="1">
                    {% trans "General" %}
                </th>
            </tr>
        </thead>
        <tbody class="collapsable">
            <tr>
                <td class="{% cycle row_color %}"><a href="/creme_config/relation_type/portal/">{% trans "Relation types settings" %}</a></td>
            </tr>
            <tr>
                <td class="{% cycle row_color %}"><a href="/creme_config/property_type/portal/">{% trans "Property types settings" %}</a></td>
            </tr>
            <tr>
                <td class="{% cycle row_color %}"><a href="/creme_config/custom_fields/portal/">{% trans "Custom fields settings" %}</a></td>
            </tr>
            <tr>
                <td class="{% cycle row_color %}"><a href="/creme_config/blocks/portal/">{% trans "Blocks settings" %}</a></td>
            </tr>
            <tr>
                <td class="{% cycle row_color %}"><a href="/creme_config/prefered_menu/edit/">{% trans "Default prefered menu settings" %}</a></td>
            </tr>
            <tr>
                <td class="{% cycle row_color %}"><a href="/creme_config/button_menu/portal/">{% trans "Button menu settings" %}</a></td>
            </tr>
            <tr>
                <td class="{% cycle row_color %}"><a href="/creme_config/search/portal/">{% trans "Search settings" %}</a></td>
            </tr>
        </tbody>
    </table>
    <table class="table_detail_view ui-corner-all">
        <thead>
            <tr>
                <th colspan="1">
                    {% trans "Credentials management" %}
                </th>
            </tr>
        </thead>
        <tbody class="collapsable">
            <tr>
                <td class="{% cycle row_color %}"><a href="/creme_config/user/portal/">{% trans "Users settings" %}</a></td>
            </tr>
            <tr>
                <td class="{% cycle row_color %}"> <a href="/creme_config/role/portal/">{% trans "Roles and credentials settings" %}</a> </td>
            </tr>
        </tbody>
    </table>
    <table class="table_detail_view ui-corner-all">
        <thead>
            <tr>
                <th colspan="1">
                    À jarter
                </th>
            </tr>
        </thead>
        <tbody class="collapsable">
            <tr>
                <td class="{% cycle row_color %}"> <a href="/creme_config/mailsignature/portal/">Gestion des signatures d'email</a> </td>
            </tr>
        </tbody>
    </table>
    <table class="table_detail_view ui-corner-all">
        <thead>
            <tr>
                <th colspan="1">
                    {% trans "Applications portals" %}
                </th>
            </tr>
        </thead>
        <tbody class="collapsable">
            {% for app_conf in app_configs %}
                <tr>
                    <td class="{% cycle row_color %}">
                        <a href="{{app_conf.portal_url}}">{% blocktrans with app_conf.verbose_name as app_name%}{{app_name}} configuration portal{% endblocktrans %}</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="{% cycle row_color %}">{% trans "No application requires configuration" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block statistics %}{% endblock %}
{% block extra_infos %}{% endblock %}