{% extends 'creme_core/generics/portal.html' %}
{% load i18n creme_core_tags creme_bricks creme_widgets %}

{% block page_title %}{% trans 'Configuration' %} - {% endblock %}
{% block logo %}{% widget_icon name='config' size='brick-hat-bar' label=_('Configuration') %}{% endblock %}
{% block title %}{% trans 'Creme configuration portal' %}{% endblock %}
{% block header_link %}{% endblock %}
{% block creme_blocks_import %}{% endblock %}

{% block before_statistics %}
    <div class="brick brick-table">
        <div class="brick-header">
            <div class="brick-title-container">
                {% brick_header_title title=_('General') icon='config' %}
            </div>
        </div>
        <div class="brick-content">
            <table class="brick-table-content">
                <tbody>
                    <tr><td><a href="{% url 'creme_config__rtypes' %}">{% trans 'Relation types settings' %}</a></td></tr>
                    <tr><td><a href="{% url 'creme_config__ptypes' %}">{% trans 'Property types settings' %}</a></td></tr>
                    <tr><td><a href="{% url 'creme_config__fields' %}">{% trans 'Fields settings' %}</a></td></tr>
                    <tr><td><a href="{% url 'creme_config__custom_fields' %}">{% trans 'Custom fields settings' %}</a></td></tr>
                    <tr><td><a href="{% url 'creme_config__bricks' %}">{% trans 'Blocks settings' %}</a></td></tr>
                    {% if OLD_MENU %}
                    <tr>
                        <td>{% has_perm_to admin 'creme_core' as admin_perm %}
                        {% if admin_perm %}
                            <a href="{% url 'creme_config__edit_preferred_menu' %}">{% trans 'Default preferred menu settings' %}</a>
                        {% else %}
                            <span class="forbidden">{% trans 'Default preferred menu settings' %}</span>
                        {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr><td><a href="{% url 'creme_config__buttons' %}">{% trans 'Button menu settings' %}</a></td></tr>
                    <tr><td><a href="{% url 'creme_config__search' %}">{% trans 'Search settings' %}</a></td></tr>
                    <tr><td><a href="{% url 'creme_config__history' %}">{% trans 'History settings' %}</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="brick brick-table">
        <div class="brick-header">
            <div class="brick-title-container">
                {% brick_header_title title=_('Credentials management') icon='config' %}
            </div>
        </div>
        <div class="brick-content">
            <table class="brick-table-content">
                <tbody>
                    <tr><td><a href="{% url 'creme_config__users' %}">{% trans 'Users settings' %}</a></td></tr>
                    <tr><td><a href="{% url 'creme_config__roles' %}">{% trans 'Roles and credentials settings' %}</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>

    {% brick_declare app_bricks %}
    {% brick_display app_bricks %}

    <div class="brick brick-table">
        <div class="brick-header">
            <div class="brick-title-container">
                {% brick_header_title title=_('Applications portals') icon='config' %}
            </div>
        </div>
        <div class="brick-content">
            <table class="brick-table-content">
                {% if app_configs %}
                <tbody>
                    {% for app_conf in app_configs %}
                    {% has_perm_to admin app_conf.name as app_admin_perm %}
                    <tr>
                        <td>
                        {% if app_admin_perm %}
                            <a href="{{app_conf.portal_url}}">{% blocktrans with app_name=app_conf.verbose_name %}{{app_name}} configuration portal{% endblocktrans %}</a>
                        {% else %}
                            <span class="forbidden">{% blocktrans with app_name=app_conf.verbose_name %}{{app_name}} configuration portal{% endblocktrans %}</span>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <thead>
                    <tr><th>{% trans "No application requires configuration" %}</th></tr>
                </thead>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}

{% block statistics %}{% endblock %}
{% block extra_infos %}{% endblock %}
