{% extends 'creme_config/portal.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block page_title %}{% trans 'Configuration of properties' %} - {% endblock %}

{% block title %}
    {% has_perm_to access 'creme_config' as conf_perm %}
    {% if conf_perm %}<a href="{% url 'creme_config__portal' %}">{% trans 'Configuration' %} > </a>{% endif %}{% trans 'Types of property' %}
{% endblock %}

{# {% block before_statistics %} #}
{% block portal_bricks %}
    {% brick_import app='creme_config' name='property_types' as property_types_brick %}
    {% brick_display property_types_brick %}
{% endblock %}
