{% extends "creme_config/portal.html" %}
{% load i18n %}
{% load creme_block %}

{% block title %}
    <a href="/creme_config/">{% trans "Configuration" %} > </a>{% trans "Types of relation" %}
{% endblock %}

{% block before_statistics %}
    {% import_block from_app 'creme_config' named 'relation_types' as 'rtypes_block' %}
    {% import_block from_app 'creme_config' named 'custom_relation_types' as 'custom_rtypes_block' %}

    {% display_block_detailview 'rtypes_block' %}
    {% display_block_detailview 'custom_rtypes_block' %}
{% endblock %}