{% extends 'creme_config/portal.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block page_title %}{% trans 'Configuration of relationships' %} - {% endblock %}

{% block title %}
    {% has_perm_to access 'creme_config' as conf_perm %}
    {% if conf_perm %}<a href="{% url 'creme_config__portal' %}">{% trans 'Configuration' %} > </a>{% endif %}{% trans 'Types of relationship' %}
{% endblock %}

{% block before_statistics %}
    {% brick_import app='creme_config' name='relation_types' as rtypes_brick %}
    {% brick_import app='creme_config' name='custom_relation_types' as custom_rtypes_brick %}
    {% brick_import app='creme_config' name='semifixed_relation_types' as semifixed_rtypes_brick %}

    {% brick_display rtypes_brick custom_rtypes_brick semifixed_rtypes_brick %}
{% endblock %}
