{% extends "creme_config/portal.html" %}
{% load i18n %}
{% load creme_core_tags creme_block %}

{% block title %}
    {% has_perm_to access 'creme_config' as conf_perm %}
    {% if conf_perm %}<a href="/creme_config/">{% trans "Configuration" %} > </a>{% endif %}{% trans "Search in Creme" %}
{% endblock %}

{% block before_statistics %}
    {% if SHOW_HELP %}
        <div class="help_box">
            <table>
                <tr>
                    <td><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span></td>
                    <td>
                        {% trans 'Create search settings in order to make the global search faster.' %}<br/>
                        {% trans 'Limit the number of fields per type for better performance and better results visibility.' %}<br/>
                        {% trans 'No selected field means "All fields", and it is the same for users.' %}<br/>
                        {% trans 'Edit a configuration to specify the search fields.' %}
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    {% import_block from_app 'creme_config' named 'searchconfig' as 'searchconfig_block' %}
    {% display_block_detailview 'searchconfig_block' %}
{% endblock %}