{% extends "creme_core/base.html" %}
{% load i18n %}
{% load creme_core_tags creme_block creme_config_tags %}

{% block page_title %} - {% trans "View your settings" %}{% endblock %}

{% comment %} COMMENTED on 22-01-2014
{% block extrahead %}
    <script type="text/javascript">
        // TODO : move this in creme.blocks and initialize with bindEvents method
        $(document).ready(function() {
            creme.utils.bindShowHideTbody();
        });
    </script>
{% endblock %}
{% endcomment %}

{% block content %}
    <table class="table_header" cellpadding="0" cellspacing="0">
        <tr>
            <td width="5%"><img src="{% creme_media_url 'images/config_64.png' %}" alt="{% trans "Configuration" %}"/></td>
            <td width="70%">
                <h1>{% trans "View and edit your Creme settings" %}</h1>
            </td>
            <td width="25%" align="right"></td>
        </tr>
    </table>
    <div class=zone_spacer_5px></div>

    <div class="theme_picker">
        <form action="/creme_config/my_settings/set_theme/" method="POST">
            <span>{% csrf_token %}{{theme_form}}</span>
        </form>
    </div>

    <div class="tz_picker">
        <form action="/creme_config/my_settings/set_timezone/" method="POST">
            <span>{% csrf_token %}{{tz_form}}</span>
        </form>
    </div>

    {% import_block from_app 'creme_config' named 'user_prefered_menus' as 'prefered_menus_block' %}
    {% import_block from_app 'creme_config' named 'blocks_mypage_locations' as 'blocks_mypage_locations_block' %}
    {% import_usersettings_blocks %}

    {% display_block_detailview 'prefered_menus_block' %}
    {% display_block_detailview 'blocks_mypage_locations_block' %}
    {% display_usersettings_blocks %}

    {% get_blocks_dependencies %}
{% endblock %}
