{% extends 'creme_core/base.html' %}
{% load i18n creme_widgets creme_bricks %}

{% block page_title %}{% trans 'View your settings' %} - {% endblock %}

{% block content %}
    <div class="hat-bar-container">
        <div class="hat-bar">{% trans 'Home' as title %}
            <div class="bar-icon">{% widget_icon name='config' size='brick-hat-bar' label=_('Configuration') %}</div>
            <div class="bar-title"><h1>{% trans 'View and edit your Creme settings' %}</h1></div>
        </div>
    </div>

    <div class="theme_picker">
        <form action="{% url 'creme_config__set_user_theme' %}" method="POST">
            <span>{% csrf_token %}{{theme_form}}</span>
        </form>
    </div>

    <div class="tz_picker">
        <form action="{% url 'creme_config__set_user_timezone' %}" method="POST">
            <span>{% csrf_token %}{{tz_form}}</span>
        </form>
    </div>

    {% brick_import app='creme_config' name='blocks_mypage_locations' as blocks_mypage_locations_brick %}
    {% brick_import app='creme_config' name='user_setting_values' as user_setting_values_brick %}
    {% brick_declare apps_usersettings_bricks %}
    {% brick_display blocks_mypage_locations_brick user_setting_values_brick apps_usersettings_bricks %}

    {% brick_end %}
{% endblock %}
