{% extends "creme_core/generics/blockform/base.html" %}

{% block main_content %}
    {% with form.get_blocks as blocks %}
        {% include "creme_core/generics/blockform/content.html" with form_block=blocks.general %}
        {% include "creme_core/generics/blockform/content.html" with form_block=blocks.datetime %}
        {% include "creme_core/generics/blockform/content.html" with form_block=blocks.participants %}
        {% include "activities/frags/alert_datetime_block.html" with form_block=blocks.alert_datetime %}
        {% include "activities/frags/alert_period_block.html" with form_block=blocks.alert_period %}
        {% include "creme_core/generics/blockform/content.html" with form_block=blocks.informed_users %}
    {% endwith %}
{% endblock %}
