{% extends "creme_core/generics/blockform/base.html" %}
{% block main_content %}
    {% with form.get_blocks as blocks %}
        <table>
            <tr>
                <td width="50%">
                    {% include "creme_core/generics/blockform/content.html" with form_block=blocks.general %}
                </td>
                <td>
                    {% include "creme_core/generics/blockform/content.html" with form_block=blocks.datetime %}
                    {% include "creme_core/generics/blockform/content.html" with form_block=blocks.alert_period %}
                </td>
            </tr>
        </table>
        {% include "creme_core/generics/blockform/content.html" with form_block=blocks.participants %}
        {% include "creme_core/generics/blockform/content.html" with form_block=blocks.informed_users %}
    {% endwith %}
{% endblock %}