{% extends 'creme_core/generics/blockform/base.html' %}

{% block main_content %}
    {% with blocks=form.get_blocks %}
        <div class="column west">
            {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.general %}
        </div>
        <div class="column east last">
            {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.datetime %}
            {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.alert_period %}
            {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.alert_datetime %}
        </div>
        <div class="clear"></div>
        <div class="south">
            {% include 'creme_core/generics/blockform/content.html' with form_block=blocks.participants %}
            {% for form_block in blocks %}
                {% include 'creme_core/generics/blockform/content.html' %}
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}
