{% load i18n %}{% load creme_core_tags %}
<script>
    function download_ical() {
        if($('form[name="list_view_form"]').list_view('countEntities') <= 0) {
            creme.utils.showDialog("{% trans "Please select at least a line in order to export." %}", {'title':'{% trans "Error" %}'});
            return false;
        }
        document.location.href = '/activities/activities/' + $('form[name="list_view_form"]').list_view("getSelectedEntities") + '/ical';
        return false;
    }
</script>
<a onclick="return download_ical();">
    {% trans "Download in iCalendar format" as label %}<img border="0" src="{% creme_media_url 'images/calendar_ical_22.png' %}" alt="{{label}}" title="{{label}}"/>{{label}}
</a>&nbsp;
