{% extends 'creme_core/generics/blockform/base.html' %}
{% load creme_core_tags %}

{% log 'The template file "creme/activities/templates/activities/frags/indispo_form_content.html" is deprecated.' level='WARN' %}

{% block main_content %}
    {% with blocks=form.get_blocks %}
        {% with form_block=blocks.general %}
            {% include 'creme_core/generics/blockform/content.html' %}
        {% endwith %}

        {% with form_block=blocks.datetime %}
            {% include 'creme_core/generics/blockform/content.html' %}
        {% endwith %}

        {% with form_block=blocks.participants %}
            {% include 'creme_core/generics/blockform/content.html' %}
        {% endwith %}

        {% for form_block in blocks %}
            {% include 'creme_core/generics/blockform/content.html' %}
        {% endfor %}
    {% endwith %}
{% endblock %}
