{% extends "creme_core/base.html" %}

{% block extrahead %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/models/folders.js" />
{% endblock %}

{% block content %}
    {% regroup list_objects.object_list|dictsort:"category" by category as list_object %}
    {% for object in list_object %}
        <div>{{object.grouper|default:"Aucune catégorie"}}</div>
        <ul class="expandlist" id="parent_folder_A000_id">
        {% for obj in object.list %}
                <!--<li style="list-style-type:none;"><input type="hidden" id="classeur_{{obj.id}}_id_hidden" value=""/></li>-->
                <li onclick="loadChildFolders(this, {{obj.id}});expandme(this);" id="folder_{{obj.id}}_id" >
                    <a href="/documents/folder/{{obj.id}}">{{obj}}</a>
                    <!--<input type="hidden" id="classeur_{{obj.id}}_id_hidden" value=""/>-->
                </li>
        {% endfor %}
        </ul>
    {% endfor %}
    {%include "creme_core/frags/pagination.html" %}

{% endblock %}
