{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load print_field url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} assistants-memos-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Memo') plural=_('{count} Memos') empty=verbose_name icon='memo' %}
{% endblock %}

{% block brick_header_actions %}
  {% if object %}
    {% brick_header_action id='add' url='assistants__create_memo'|url:object.id label=_('New memo') enabled=user|has_perm_to_change:object %}
  {% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% if not object %}
    {% brick_table_column title=_('Concerned entity') %}
    {% endif %}

{% translate 'Created on' context 'assistants-memo' as creation_label %}
    {% brick_table_column_for_field ctype=objects_ctype field='user'          title=_('User')       status='primary' %}
    {% brick_table_column_for_field ctype=objects_ctype field='creation_date' title=creation_label %}
    {% brick_table_column_for_field ctype=objects_ctype field='content' %}
    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}{% url 'creme_core__delete_related_to_entity' objects_ctype.id as delete_url %}
  {% for memo in page.object_list %}
   {% with has_perm=user|has_perm_to_change:memo.real_entity %}
    <tr>
        {% if not object %}
            <td>{% widget_entity_hyperlink memo.real_entity user %}</td>
        {% endif %}
        <td {% brick_table_data_status primary %}>{% print_field object=memo field='user' %}</td>
        <td data-type="date">{{memo.creation_date|date:'DATE_FORMAT'}}</td>
        <td>{% print_field object=memo field='content' %}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='edit' url=memo.get_edit_absolute_url label=_('Edit this memo') enabled=has_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_url __id=memo.pk label=_('Delete this memo') enabled=has_perm %}
        </td>
    </tr>
   {% endwith %}
  {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No memo for the moment' %}
{% endblock %}
