{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets assistants_tags %}
{% load print_field url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} assistants-todos-brick{% endblock %}

{% block brick_menu_actions %}
    {{block.super}}
    <hr/>
    {% assistants_brick_menu_hide_validated_todos_action url='assistants__hide_validated_todos'|url hidden=hide_validated %}
{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Todo') plural=_('{count} Todos') empty=verbose_name icon='todo' %}
{% endblock %}

{% block brick_header_actions %}
  {% if object %}
    {% brick_header_action id='add' url='assistants__create_todo'|url:object.id label=_('New todo') enabled=user|has_perm_to_change:object %}
  {% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% if not object %}{% brick_table_column title=_('Concerned entity') %}{% endif %}

{% translate 'Created on' context 'assistants-todo' as creation_label %}
    {% brick_table_column_for_field ctype=objects_ctype field='user'          title=_('User') status='primary' %}
    {% brick_table_column_for_field ctype=objects_ctype field='creation_date' title=creation_label %}
    {% brick_table_column_for_field ctype=objects_ctype field='title' %}
    {% brick_table_column_for_field ctype=objects_ctype field='description'   title=_('Todo text') %}
    {% brick_table_column_for_field ctype=objects_ctype field='deadline' %}
    {% brick_table_column title=_('Status')  status='action' %}
    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}{% url 'creme_core__delete_related_to_entity' objects_ctype.id as delete_url %}
  {% for todo in page.object_list %}
   {% with has_perm=user|has_perm_to_change:todo.real_entity %}
    <tr>
        {% if not object %}<td>{% widget_entity_hyperlink todo.real_entity user %}</td>{% endif %}
        <td {% brick_table_data_status primary %}>{% print_field object=todo field='user' %}</td>
        <td data-type="date">{{todo.creation_date|date:'DATE_FORMAT'}}</td>
        <td>{% print_field object=todo field='title' %}</td>
        <td>{% print_field object=todo field='description' %}</td>
        {% if todo.deadline %}
          <td class="{% if todo.is_ok %}brick-table-data-highlighted{% elif todo.deadline >= today %}brick-table-data-valid{% else %}brick-table-data-error{% endif %}">{{todo.deadline|date:'DATETIME_FORMAT'}}</td>
        {% else %}
          <td class="{% if todo.is_ok %}brick-table-data-valid{% else %}{{row_color}}{% endif %}"></td>
        {% endif %}
        <td {% brick_table_data_status action %}>
          {% if todo.is_ok %}
            {% widget_icon name='ok' label=_('Validated') size='brick-table' class='brick-table-icon' %}
          {% else %}
            {% brick_table_action id='update' url='assistants__validate_todo'|url:todo.id confirm=_('Are you sure?') label=_('Validate') display='text' enabled=has_perm %}
          {% endif %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='edit' url=todo.get_edit_absolute_url label=_('Edit this todo') enabled=has_perm %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_url __id=todo.id label=_('Delete this todo') enabled=has_perm %}
        </td>
    </tr>
   {% endwith %}
  {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No Todo for the moment' %}
{% endblock %}
