{% load i18n %}
{% load creme_block creme_core_tags %}

{% with 7 as colspan %}
    <table class="table_detail_view ui-corner-all with-header {{ state.classes }}" id={{block_name}}>
        {% block top_header %}{% endblock %}
        <tbody class="collapsable">
            {% if page.paginator.count %}
                <tr class="header">
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %} selectable">
                        <input name="select_all" value="all" type="checkbox" title="{% trans "Select all" %}" onclick="creme.utils.toggleCheckallState(this, '#{{block_name}} [name=select_one]');"/>
                    </th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans "Status" %}</th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans "Sender(s)" %}</th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans "Recipient(s)" %}</th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans "Subject" %}</th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %}">{% trans "Received on" %}</th>
                    <th class="{% cycle "block_header_line_dark" "block_header_line_light" %} action">{% trans "Actions" %}</th>
                </tr>
                {% for mail in page.object_list %}
                    <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                    <tr class="content">
                        <td class="{{row_color}} selectable">
                            <input name="select_one" value="{{mail.pk}}" title="{% trans "Select this line" %}" type="checkbox" onclick="creme.utils.autoCheckallState (this, '#{{block_name}} [name=select_all]', '#{{block_name}} [name=select_one]');"/>
                        </td>
                        <td class="{{row_color}}">{{MAIL_STATUS|get_value:mail.status}}</td>
                        <td class="{{row_color}}">{{mail.sender}}</td>
                        <td class="{{row_color}}">{{mail.recipient}}</td>
                        <td class="{{row_color}}">{{mail.subject}}</td>
                        <td class="{{row_color}}">{{mail.reception_date}}</td>
                        <td class="{{row_color}} action">
                            <a href="{{mail.get_absolute_url}}">
                                <img src="{% creme_media_url 'images/view_22.png' %}" border="0" title="{% trans "See the entity" %}" alt="{% trans "See the entity" %}" />
                            </a>
                            {# TODO: Populate credentials in blocks.py #}
                            {% has_perm_to delete mail as delete_perm %}
                            {% get_line_deletor at_url '/creme_core/delete_js' with_args "{'ids': ['{{mail.pk}}'] }" with_perms delete_perm %}
                            {% block mail_action %}{% endblock %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="block_line_dark">{% trans "No received email to synchronize" %}</td>
                </tr>
            {% endif %}
        </tbody>
        {% include 'creme_core/templatetags/widgets/block_footer.html' %}
    </table>
{% endwith %}
