{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=7 %}
        <th class="collapser label">{% get_block_title _('My signature (%s)') _('My %s signatures') 'email_48.png' _('Signature') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_line_adder at_url '/emails/signature/add' with_label _("New signature") with_perms 1 %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _('Name') 'name' %}
                <th class="block_header_line_dark">{% trans "Body" %}</th>
                <th class="block_header_line_dark">{% trans "Images" %}</th>
                <th class="block_header_line_dark action">{% trans "Actions" %}</th>
            </tr>
            {% for signature in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">
                    <td class="{{row_color}}">{{signature.name}}</td>
                    <td class="{{row_color}}">{{signature.body}}</td>
                    <td class="{{row_color}}">{{signature.images.count}}</td>
                    <td class="{{row_color}} action">
                        {% get_line_editor at_url '/emails/signature/edit/{{signature.id}}' with_perms 1 %}
                        {% get_line_deletor at_url '/emails/signature/delete' with_args "{'id' : {{signature.id}} }" with_perms 1 %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No signature for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 7 %}
</table>
