{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header '%s Liste parente' '%s Listes parentes' %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Name of the list" %}</th>
            </tr>
            {% for ml in page.object_list %}
                <tr>
                    <td class="{% cycle "block_line_dark" "block_line_light" as row_color %}">
                        <a href="{{ml.get_absolute_url}}">{{ml.name}}</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No parent list for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>