{% load i18n %}
{% load creme_core_tags creme_block %}
{% has_perm_to change object as has_perm %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="label">{% get_block_title _('%s Unlinked recipient') _('%s Unlinked recipients') %}</th>
        <th class="actions">
            <div class="buttons">
{% comment %}
                {% get_line_adder at_url '/emails/mailing_list/{{object.pk}}/recipient/add' with_label _("Add manually") with_perms has_perm %}
                {% get_line_adder at_url '/emails/mailing_list/{{object.pk}}/recipient/add_csv' with_label _("Add from a CSV file") with_perms has_perm %}
{% endcomment %}
                {% url 'emails__add_recipients' object.id as add_recipients_url %}{% url 'emails__add_recipients_from_csv' object.id as add_from_csv_url %}
                {% get_line_adder at_url add_recipients_url with_label _('Add manually') with_perms has_perm %}
                {% get_line_adder at_url add_from_csv_url with_label _('Add from a CSV file') with_perms has_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Address" %}</th>
                <th class="block_header_line_dark action">{% trans "Delete" %}</th>
            </tr>
            {% url 'creme_core__delete_related_to_entity' ct_id as del_recipients_url %}
            {% for recipient in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">
                    <td class="{{row_color}}">{{recipient.address}}</td>
                    <td class="{{row_color}} action">
                        {% get_line_deletor at_url del_recipients_url with_args "{'id':{{recipient.pk}} }" with_perms has_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No unlinked recipient for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 2 %}
</table>
