{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header _('% Contact recipient') _('% Contacts recipients') 'contacts_48.png' _('Contacts') %}
    <tbody class="collapsable">
        <tr>
            <th colspan="4" class="block_header_line_dark" align="left">
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/emails/mailing_list/{{object.pk}}/contact/add', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add from existing contacts" %}" alt="{% trans "Add from existing contacts" %}" />
                    {% trans "Add from existing contacts" %}
                </a>
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/emails/mailing_list/{{object.pk}}/contact/add_from_filter', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add from a filter" %}" alt="{% trans "Add from a filter" %}" />
                    {% trans "Add from a filter" %}
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Address" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>
            {% for contact in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">
                        <a href="{{contact.get_absolute_url}}">
                            {% if contact.email %}
                                {{contact.email}}
                            {% else %}
                                {% blocktrans %}{{contact}}: no email address.{% endblocktrans %}
                            {% endif %}
                        </a>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/emails/mailing_list/{{object.pk}}/contact/delete' with_args "{'id':{{contact.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No contact recipient for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>