{% load i18n %}
{% load creme_block creme_widgets %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=1 %}
        <th class="collapser label">{% get_block_title _('%s Parent list') _('%s Parent lists') 'email_48.png' 'Email' %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Name of the list" %}</th>
            </tr>
            {% for ml in page.object_list %}
                <tr class="content">
                    <td class="{% cycle "block_line_dark" "block_line_light" as row_color %}">
                        {% widget_entity_hyperlink ml user %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No parent list for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 1 %}
</table>
