{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header _('%s Unlinked recipient') _('%s Unlinked recipients') %}
    <tbody class="collapsable">
        <tr>
            <th colspan="4" class="block_header_line_dark" align="left">
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/emails/mailing_list/{{object.pk}}/recipient/add', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add manually" %}" alt="{% trans "Add manually" %}" />
                    {% trans "Add manually" %}
                </a>
                <a class="button_link" onclick="creme.utils.iframeInnerPopup('/emails/mailing_list/{{object.pk}}/recipient/add_csv');">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add from a CSV file" %}" alt="{% trans "Add from a CSV file" %}" />
                    {% trans "Add from a CSV file" %}
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Address" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>
            {% for recipient in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{recipient.address}}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/emails/mailing_list/recipient/delete' with_args "{'id':{{recipient.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No unlinked recipient for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>