{% load i18n %}
{% load creme_core_tags %}{% load creme_block %}
{% has_perm_to change object as edit_perm %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=2 %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title _('%s Organisation recipient') _('%s Organisations recipients') 'organisation_48.png' _('Organisations') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% get_line_linker at_url '/emails/mailing_list/{{object.pk}}/organisation/add' with_label _("Add from existing organisations") with_perms edit_perm %}
                {% get_line_linker at_url '/emails/mailing_list/{{object.pk}}/organisation/add_from_filter' with_label _("Add from a filter") with_perms edit_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Address" %}</th>
                <th class="block_header_line_dark action">{% trans "Unlink" %}</th>
            </tr>
            {% for orga in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">
                        {% has_perm_to view orga as orga_perm %}
                        {% if orga_perm %}
                            <a href="{{orga.get_absolute_url}}">{{orga}}</a>&nbsp;:&nbsp;
                                {% if orga.email %}
                                    {{orga.email}}
                                {% else %}
                                    {% trans 'no email address' %}
                                {% endif %}
                        {% else %}
                            {{orga|allowed_unicode:user}}
                        {% endif %}
                    </td>
                    <td class="{{row_color}} action">
                        {% get_line_unlinker at_url '/emails/mailing_list/{{object.pk}}/organisation/delete' with_args "{'id':{{orga.pk}} }" with_perms edit_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No organisation recipient for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
