{% load i18n %}
{% load creme_block creme_core_tags %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=4 %}
        <th class="label">{% get_block_title _("%s Campaign email in the history") _("%s Campaigns emails in the history") 'email_48.png' _('Emails') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Sending date" %}</th>
                <th class="block_header_line_dark">{% trans "Subject" %}</th>
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                <th class="block_header_line_dark action">{% trans "Detail" %}</th>
            </tr>
            {% for mail in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">
                    <td class="{{row_color}}">{{mail.sending_date}}</td>
                    <td class="{{row_color}}">{{mail.sending.subject}}</td>
                    <td class="{{row_color}}">{{mail.get_status_str}}</td>
                    <td class="{{row_color}} action">
                        <a class="button_link" onclick="creme.dialogs.form('/emails/mails_history/{{mail.pk}}').open();">
                            {% trans "Details" as img_title %}<img src="{% creme_media_url 'images/view_22.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No campaign email in the history for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 4 %}
</table>
