{% load i18n %}
{% load creme_core_tags creme_block %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=6 %}
        <th class="collapser label">{% get_block_title _("%s Email in the history") _("%s Emails in the history") 'email_48.png' _('Emails') %}</th>
        <th class="actions">
            <div class="buttons">
                <a class="add" onclick="creme.utils.innerPopupNReload('/emails/mail/add/{{object.pk}}', {% get_block_reload_uri %});">
                    <img src="{% creme_media_url 'images/add_22.png' %}" border="0" title="{% trans "Send a new mail related to this file" %}" alt="{% trans "Send a new mail related to this file" %}" />
                    {% trans "Send a new mail related to this file" %}
                </a>
                {% has_perm_to link object as object_link_perm %}
                {% if object_link_perm %}
                    <a class="link" onclick="creme.utils.innerPopupNReload('/creme_core/relation/add_to_entities/{{entity_email_ct_id}}/{{rtypes}}/?ids={{ object.id }}&persist=ids', {% get_block_reload_uri %});">
                        <img src="{% creme_media_url 'images/link_22.png' %}" border="0" title="{% trans "Link to" %}" alt="{% trans "Link to" %}" />
                        {% trans "Link to an existing email" %}
                    </a>
                {% else %}
                    <a class="link forbidden" title="{% trans "forbidden" %}">
                        <img src="{% creme_media_url 'images/link_22.png' %}" border="0" title="{% trans "Link to" %}" alt="{% trans "Link to" %}" />
                        {% trans "Link to an existing email" %}
                    </a>
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Sender" %}</th>
                <th class="block_header_line_dark">{% trans "Recipient" %}</th>
                <th class="block_header_line_dark">{% trans "Subject" %}</th>
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                <th class="block_header_line_dark">{% trans "Sending date" %}</th>
                <th class="block_header_line_dark action">{% trans "Detail" %}</th>
            </tr>
            {% for mail in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}">{% print_field object=mail field='sender' %}</td>
                    <td class="{{row_color}}">{% print_field object=mail field='recipient' %}</td>
                    <td class="{{row_color}}">{{mail.subject}}</td>
                    <td class="{{row_color}}">{{mail.get_status_str}}</td>
                    <td class="{{row_color}}">{% print_field object=mail field='sending_date' %}</td>
                    <td class="{{row_color}} action">
                        <a class="button_link" onclick="creme.utils.showInnerPopup('/emails/mail/{{mail.pk}}/popup');">
                            <img src="{% creme_media_url 'images/view_22.png' %}" border="0" title="{% trans "Details" %}" alt="{% trans "Details" %}" />
                        </a>
                        {% if mail.status != sent_status %}
                            <a class="button_link"
                                {% if mail.status in sync_statuses %}
                                    onclick="creme.utils.simpleConfirm(function(){creme.emails.resend('/emails/mail/resend', ['{{mail.pk}}'], {% get_block_reload_uri %})}, '{% trans "This mail was synchronized. Are you sure you want to send it ?" %}');">
                                {% else %}
                                    onclick="creme.emails.resend('/emails/mail/resend', ['{{mail.pk}}'], {% get_block_reload_uri %});">
                                {% endif %}
                                <img src="{% creme_media_url 'images/refresh_22.png' %}" border="0" title="{% trans "Re-send" %}" alt="{% trans "Re-send" %}" />
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No email in the history for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
