{% load i18n creme_core_tags creme_block %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=1 %}
        <th class="label">{% get_basic_block_header _("HTML body") 'info_48.png' _('Information') %}</th>
        <th class="actions">
            <div class="buttons">
                <a class="view" onclick="creme.emails.allowExternalImages('{{block_name}}')">
                    {% trans "View" as img_title %}<img src="{% creme_media_url 'images/view_22.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
                    {% trans "View external images" %}
                </a>
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="content">
{#            <td class="td_info"><iframe frameborder="0" src="/creme_core/entity/get_sanitized_html/{{object.id}}/body_html" width="100%" height="100%" style="min-height:350px"></iframe></td> #}
            <td class="td_info"><iframe frameborder="0" src="{% url 'creme_core__sanitized_html_field' object.id 'body_html' %}" width="100%" height="100%" style="min-height:350px"></iframe></td>
        </tr>
    </tbody>
</table>