{% load i18n %}{% load creme_core_tags creme_block %}{% has_perm_to link object as link_perm %}
{% trans "Link to" as link_label %}
{% if link_perm %}
    <a class="menu_button" onclick="creme.blocks.form('/creme_core/relation/add_to_entities/{{entity_email_ct_id}}/{{rtypes}}/?ids={{object.pk}}&persist=ids', {blockReloadUrl:{% get_block_reload_uri %}}).open();">
        <img src="{% creme_media_url 'images/link_32.png' %}" border="0" title="{{link_label}}" alt="{{link_label}}" />{{link_label}}
    </a>
{% else %}
    <span class="menu_button forbidden" title="{% trans "forbidden" %}">
        <img src="{% creme_media_url 'images/link_32.png' %}" border="0" title="{{link_label}}" alt="{{link_label}}" />{{link_label}}
    </span>
{% endif %}

