{% load i18n %}{% load creme_core_tags %}
<input value="{{parent_id}}" id="parent_id" type="hidden" name="parent_id"/>
<button onclick="$(this.form).list_view('getSubmit')(this);" name="parent_id" value="{{ previous_id }}" type="button">
    <input value="{{parent_id}}" id="parent_id" type="hidden" name="parent_id"/>
    <img src="{% creme_media_url 'images/left_arrow_22.png' %}" border="0" title="{% trans "Previous" %}" alt="{% trans "Previous" %}" />{% trans "Previous folder" %}
</button>&nbsp;
