{% load i18n creme_widgets %}
{% if parent_id %}
<input value="{{parent_id}}" id="parent_id" type="hidden" name="parent_id"/>
<button class="with-icon parent-folder" onclick="creme.lv_widget.findList(this).list_view('getSubmit')(this);" name="parent_id" value="{{previous_id}}" type="button">
    <input value="{{parent_id}}" id="parent_id" type="hidden" name="parent_id"/>
    {% trans 'Previous folder' as label %}{% widget_icon name='previous' label=label size='listview-button' %}
    <span>{{label}}</span>
</button>
{% endif %}
