{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load creme_core_tags %}

{% block entity_buttons %}
    {% if can_download %}
        <a href="/billing/generate_pdf/{{object.id}}" onclick="creme._export.select_one(event, this);">
            <img src="{% creme_media_url 'images/download_64.png' %}" title="{% blocktrans %}Download '{{object}}' to the desired format{% endblocktrans %}" alt="{% blocktrans %}Download '{{object}}' to the desired format{% endblocktrans %}" />
        </a>
    {% endif %}
    {{block.super}}
{% endblock %}