{% extends "creme_core/generics/view_entity.html" %}
{% load i18n creme_core_tags %}

{% block entity_buttons %}
    {% if can_download %}
{#        <a href="/billing/generate_pdf/{{object.id}}" onclick="event.preventDefault();creme.billing.exportAs($(this).attr('href'));"> #}
        <a href="{% url 'billing__export' object.id %}" onclick="event.preventDefault();creme.billing.exportAs($(this).attr('href'));">
            <img src="{% creme_media_url 'images/download_64.png' %}" title="{% blocktrans %}Download '{{object}}' to the desired format{% endblocktrans %}" alt="{% blocktrans %}Download '{{object}}' to the desired format{% endblocktrans %}" />
        </a>
    {% endif %}
    {{block.super}}
{% endblock %}

{% block extrahead %}
    {{block.super}}
    <script type='text/javascript'>
        $(document).ready(function() {
            $(window).bind('beforeunload', creme.billing.checkModifiedOnUnload);
{#            creme.billing.initBlockLines('{{object.currency.local_symbol}}', {{object.discount}}); #}
        });
    </script>
{% endblock %}
