{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load media %}
{% load creme_block %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'billing' named 'product_lines' as 'product_lines_block' %}
    {% import_block from_app 'billing' named 'service_lines' as 'service_lines_block' %}
    {% import_block from_app 'billing' named 'total' as 'total_block' %}
    {% import_block from_app 'billing' named 'target' as 'target_block' %}
    {% import_block from_app 'persons' named 'address' as 'address_block' %}
    {% import_block from_app 'billing' named 'billing_payment_information' as 'billing_payment_information_block' %}
{% endblock %}

{% block entity_buttons %}
    {% if can_download %}
        <a href="/billing/generate_pdf/{{object.id}}" onclick="creme._export.select_one(event, this);">
            <img src="{% media_url 'images/download_64.png' %}" title="{% blocktrans %}Download '{{object}}' to the desired format{% endblocktrans %}" alt="{% blocktrans %}Download '{{object}}' to the desired format{% endblocktrans %}" />
        </a>
    {% endif %}
    {{block.super}}
{% endblock %}

{% block detail_view_top_1 %}
    {% display_block_detailview 'product_lines_block' %}
    {% display_block_detailview 'service_lines_block' %}
{% endblock %}

{% block detail_view_left_1 %}
    {% display_block_detailview 'object_block' %}
    {% display_block_detailview 'customfields_block' %}
    {% display_block_detailview 'billing_payment_information_block' %}
    {% display_block_detailview 'address_block' %}
    {% display_block_detailview 'properties_block' %}
    {% display_block_detailview 'relations_block' %}
{% endblock %}

{% block detail_view_right_1 %}
    {% display_block_detailview 'target_block' %}
    {% display_block_detailview 'total_block' %}
{% endblock %}