{% extends "billing/view_billing.html" %}

{% load i18n %}
{% load creme_block %}

{% block extra_menu_buttons %}
    {% if object.ct.model == 'quote' %}
        <li><a class="menu_button" href="/billing/{{object.id}}/convert/?type=sales_order" >{% trans "Convert to Salesorder" %}</a></li>
        <li><a class="menu_button" href="/billing/{{object.id}}/convert/?type=invoice" >{% trans "Convert to Invoice" %}</a></li>
    {% else %}
        {% if object.ct.model == 'salesorder' %}
            <li><a class="menu_button" href="/billing/{{object.id}}/convert/?type=invoice" >{% trans "Convert to Invoice" %}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}