{% load creme_core_tags %}
<div class="research_box">
    {% comment %}
    <form action="/creme_core/search" method="POST">
    {% endcomment %}
        <img border="0" title="Rechercher" alt="Rechercher" src="{{MEDIA_URL}}images/looking_glass_22.png" align="top">
        <select name="ct_id">
            <option value="">Tout</option>
            <option disabled>------</option>
            {% for ct in content_types %}
                <option value="{{ct.id}}">{{ct.verbose_name}}</option>
            {% endfor %}
        </select>
        <input type="text" name="research" />
        <input type="button" value="Rechercher" onclick="creme.utils.handleResearch('/creme_core/search', '{{target_node_id}}', {'from':$(this).parent('.research_box'), 'targets':['ct_id','research']});"/>
    {% comment %}
        <input type="submit" value="Rechercher" />
    </form>
    {% endcomment %}
</div>