{% load i18n %}{% load media %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=2 %}
        <th class="collapser label">{% get_basic_block_header _('Other information') 'infos_48.png' _('Information') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="content">
            <th class="block_header_line_dark">{% trans "Effective duration (in hours)" %}</th>
            <td class="block_line_dark" align="center">{{object.get_effective_duration}} h</td>
        </tr>
        <tr class="content">
            <th class="block_header_line_dark">{% trans "Additional or remaining hours" %}</th>
            {% with object as task %}
                {% include 'projects/frag_task_delay_td.html' %}
            {% endwith %}
        </tr>
    </tbody>
</table>
