{% load i18n %}
{% load creme_core_tags %}{% load creme_block %}{% load creme_widgets %}
{% has_perm_to change object as task_change_perm %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=3 %}
        <th class="collapser label">{% get_block_title  _('%s Resource assigned to this Task') _('%s Resources assigned to this Task') 'contacts_48.png' _('Resource') %}</th>
        <th class="actions">
            <div class="buttons">
                {% if object.is_alive %}
                    {% get_line_adder at_url '/projects/task/{{object.id}}/resource/add' with_label _("Add a resource from an existing contact") with_perms task_change_perm %}
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if not object.is_alive %}
            <tr>
                <th colspan="11" class="block_header_line_dark" align="left">
                    <em>{% blocktrans with object.tstatus.name as status %}You can't add a resource because this task is {{status}}{% endblocktrans %}</em>
                </th>
            </tr>
        {% endif %}
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Contact" %}</th>
                <th class="block_header_line_dark">{% trans "Hourly cost" %}</th>
                <th class="block_header_line_dark action">{% trans "Actions" %}</th>
            </tr>
            {% for resource in page.object_list %}<!-- {% cycle "block_line_dark" "block_line_light" as row_color %} -->
                <tr class="content">
                    <td class="{{row_color}}" align="center">{% widget_entity_hyperlink resource.linked_contact user %}</td>
                    <td class="{{row_color}}" align="center">{% blocktrans with resource.hourly_cost as cost %}{{cost}} € / hour{% endblocktrans %}</td>
                    <td class="{{row_color}} action">
                        {% comment %}TODO: use {{resource.get_edit_absolute_url}} ?? {% endcomment %}
                        {% get_line_editor at_url '/projects/resource/edit/{{resource.id}}' with_perms task_change_perm %}
                        {% get_line_deletor at_url '/projects/resource/delete' with_args "{'id': {{resource.pk}} }" with_perms task_change_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No resource assigned to this task" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
