{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=2 %}
        <th class="collapser label">{% get_basic_block_header _('Other information') 'infos_48.png' _('Information') %}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr class="content">
            <th class="block_header_line_dark th_info">{% trans "Total cost of the projet (€)" %}</th>
            <td class="block_line_dark td_info" align="center"><strong>{{object.get_project_cost}} €</strong></td>
        </tr>
        <tr class="content">
            <th class="block_header_line_dark th_info">{% trans "Total overtime (in hours)" %}</th>
            <td class="block_line_dark td_info" align="center">
            {% if object.get_delay %}
                <strong>{{object.get_delay}} h</strong>
            {% else %}
                --
            {% endif %}
            </td>
        </tr>
    </tbody>
</table>
