{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header _('%s Working period') _('%s Working periods') 'project_48.png' _('Periods') %}
    <tbody class="collapsable">
        <tr>
            <th colspan="11" class="block_header_line_dark" align="left">
                {% if object.is_alive %}
                    {% comment %}<a class="button_link" onclick="creme.utils.showInnerPopup('/projects/task/{{object.id}}/period/add', {'width' : 950});">{% endcomment %}
                    <a class="button_link" onclick="creme.utils.innerPopupNReload('/projects/task/{{object.id}}/period/add', {% get_block_reload_uri %});">
                        <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "New working period" %}" alt="{% trans "New working period" %}" />
                        {% trans "New working period" %}
                    </a>
                {% else %}
                    <em>
                        {% blocktrans with object.status.name as status %}You can't add a working périod because this task is {{status}}{% endblocktrans %}
                    </em>
                {% endif %}
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Between" %}</th>
                <th class="block_header_line_dark">{% trans "And" %}</th>
                <th class="block_header_line_dark">{% trans "Duration (hours)" %}</th>
                <th class="block_header_line_dark">{% trans "Concerned resource(s)" %}</th>
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for period in page.object_list %}
                <!-- {% cycle "block_line_dark" "block_line_light" as row_color %} -->
                <tr>
                    <td class="{{row_color}}" align="center">{{period.start_date}}</td>
                    <td class="{{row_color}}" align="center">{{period.end_date}}</td>
                    <td class="{{row_color}}" align="center">{{period.duration}} h</td>
                    <td class="{{row_color}}" align="center">
                        <a href="{{period.resource.get_absolute_url}}">{{period.resource}}</a>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% comment %}<a class="button_link" onclick="creme.utils.showInnerPopup('{{period.get_edit_absolute_url}}', {'width' : 950});">{% endcomment %}
                        <a class="button_link" onclick="creme.utils.innerPopupNReload('{{period.get_edit_absolute_url}}', {% get_block_reload_uri %});">
                            <img src="{{MEDIA_URL}}images/edit_22.png" border="0" title="{% trans "Editer period" %}" alt="{% trans "Editer period" %}" />
                        </a>
                        {% get_line_deletor at_url '/projects/period/delete' with_args "{ 'id':{{period.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No working period record for this task" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>