{% load i18n %}
{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% include "creme_core/templatetags/widgets/block_header_beg.html" %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title  _('%s Resource assigned to this Task') _('%s Resources assigned to this Task') 'contacts_48.png' _('Resource') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% if object.is_alive %}
                    <a class="add" onclick="creme.utils.innerPopupNReload('/projects/task/{{object.id}}/resource/add', {% get_block_reload_uri %});">
                        <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "Add a resource" %}" alt="{% trans "Add a resource" %}" />
                        {% trans "Add a resource from an existing contact" %}
                    </a>
                {% endif %}
            </div>
        </th>
    {% include "creme_core/templatetags/widgets/block_header_end.html" %}
    <tbody class="collapsable">
        {% if not object.is_alive %}
            <tr>
                <th colspan="11" class="block_header_line_dark" align="left">
                    <em>
                        {% blocktrans with object.status.name as status %}You can't add a resource because this task is {{status}}{% endblocktrans %}
                    </em>
                </th>
            </tr>
        {% endif %}
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Contact" %}</th>
                <th class="block_header_line_dark">{% trans "Hourly cost" %}</th>
                <th class="block_header_line_dark">{% trans "Actions" %}</th>
            </tr>
            {% for resource in page.object_list %}
                <!-- {% cycle "block_line_dark" "block_line_light" as row_color %} -->
                <tr>
                    <td class="{{row_color}}" align=center>
                        <a href="/persons/contact/{{resource.linked_contact.id}}">{{resource.linked_contact}}</a>
                    </td>
                    <td class="{{row_color}}" align="center">
                        {% blocktrans with resource.hourly_cost as cost %}{{cost}} € / hour{% endblocktrans %}
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% comment %}<a class="button_link" onclick="creme.utils.showInnerPopup('{{resource.get_edit_absolute_url}}');">{% endcomment %}
                        <a class="button_link" onclick="creme.utils.innerPopupNReload('{{resource.get_edit_absolute_url}}', {% get_block_reload_uri %});">
                            <img src="{{MEDIA_URL}}images/edit_22.png" border="0" title="{% trans "Edit resource" %}" alt="{% trans "Edit resource" %}" />
                        </a>
                        {% get_line_deletor at_url '/projects/resource/delete' with_args "{'id':{{resource.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No resource assigned to this task" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>