{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
<table class="table_detail_view ui-corner-all with-header {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=8 %}
        <th class="collapser label">{% get_block_title  _('%s Related Task') _('%s Related Tasks') 'task_48.png' _('Tasks') %}</th>
        <th class="actions">
            <div class="buttons">
                {% get_line_adder at_url '/projects/project/{{object.id}}/task/add' with_label _("New task") with_perms creation_perm %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                <th class="block_header_line_dark">{% trans "Order" %}</th>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Estimated duration (hours)" %}</th>
                <th class="block_header_line_dark">{% trans "Effective duration (hours)" %}</th>
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                <th class="block_header_line_dark">{% trans "Parent tasks" %}</th>
                <th class="block_header_line_dark">{% trans "Cost" %}</th>
                <th class="block_header_line_dark action">{% trans "Actions" %}</th>
            </tr>
            {% for task in page.object_list %}{% cycle "block_line_dark" "block_line_light" as row_color silent %}
                <tr class="content">{% has_perm_to view task as view_perm %}{% has_perm_to change task as change_perm %}
                    <td class="{{row_color}}" align="center">{{task.order}}</td>
                    <td class="{{row_color}}" align="center">{% widget_entity_hyperlink task user %}</td>
                    {% if view_perm %}
                        <td class="{{row_color}}" align="center">{{task.duration}}h</td>
                        {% include 'projects/frag_task_delay_td.html' %}
                        <td class="{{row_color}}" align="center">{{task.tstatus}}</td>
                        <td class="{{row_color}}">
                            {% for parent in task.get_parents %}
                                <a href="/projects/task/{{parent.id}}">{{parent.title}}</a>
                                {% get_line_deletor at_url '/projects/task/parent/delete' with_args "{ 'id':{{task.pk}}, 'parent_id': {{parent.id}} }" with_perms change_perm %}
                            {% empty %}
                                {% trans "No parent task" %}
                            {% endfor %}
                        </td>
                        <td class="{{row_color}}" align="right">{{task.get_task_cost}} €</td>
                    {% else %}
                        <td class="{{row_color}}" align="center">?? h</td>
                        <td class="{{row_color}}" align="center">?? h</td>
                        <td class="{{row_color}}" align="center">??</td>
                        <td class="{{row_color}}" align="center">??</td>
                        <td class="{{row_color}}" align="right">?? €</td>
                    {% endif %}
                    <td class="{{row_color}} action">
                        {% has_perm_to view task as view_perm %}
                        {% get_line_viewer at_url '/projects/task/{{ task.pk }}' with_label "" with_perms view_perm %}

                        {% has_perm_to change task as change_perm %}
                        {% get_line_editor at_url '/projects/task/edit/{{ task.pk }}/popup' with_perms change_perm %}

                        {% has_perm_to delete task as delete_perm %}
                        {% get_line_deletor at_url '/projects/task/delete' with_args "{'id' : {{task.pk}} }" with_perms delete_perm %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No task in this project for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% get_block_footer 8 %}
</table>
