{% load i18n %}
{% load creme_block %}
{% load creme_core_tags %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% include "creme_core/templatetags/widgets/block_header_beg.html" %}
        <th style="width: 80%;" class="collapser" align="left">{% get_block_title  _('%s Related Task') _('%s Related Tasks') 'task_48.png' _('Tasks') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                <a class="add" onclick="creme.utils.innerPopupNReload('/projects/project/{{object.id}}/task/add', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="{% trans "New task" %}" alt="{% trans "New task" %}" />
                    {% trans "New task" %}
                </a>
            </div>
        </th>
    {% include "creme_core/templatetags/widgets/block_header_end.html" %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">{% trans "Order" %}</th>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Estimated duration (hours)" %}</th>
                <th class="block_header_line_dark">{% trans "Effective duration (hours)" %}</th>
                <th class="block_header_line_dark">{% trans "Status" %}</th>
                <th class="block_header_line_dark">{% trans "Parent tasks" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
                <th class="block_header_line_dark">{% trans "Cost" %}</th>
            </tr>
            {% for task in page.object_list %}
                <!-- {% cycle "block_line_dark" "block_line_light" as row_color %} -->
                <tr>
                    <td class="{{row_color}}" align="center">{{task.order}}</td>
                    <td class="{{row_color}}" align="center">
                        <a href="/projects/task/{{task.id}}">{{task.title}}</a>
                    </td>
                    <td class="{{row_color}}" align="center">{{task.duration}}h</td>
                    {% include 'projects/frag_task_delay_td.html' %}
                    <td class="{{row_color}}" align="center">{{task.status}}</td>
                    <td class="{{row_color}}">
                        {% for parent in task.get_parents %}
                            <a href="/projects/task/{{parent.id}}">
                                {{parent.title}}
                            </a>
                            {% get_line_deletor at_url '/projects/task/parent/delete' with_args "{ 'id':{{task.pk}}, 'parent_id': {{parent.id}} }" %}
                        {% empty %}
                            {% trans "No parent task" %}
                        {% endfor %}
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/projects/task/delete' with_args "{'id':{{task.pk}} }" %}
                    </td>
                    <td class="{{row_color}}" align="right">{{task.get_task_cost}} €</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No task in this project for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>