{% load creme_block %}

<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header "%s Mail dans l'historique" "%s Mails dans l'historique" 'email_48.png' 'Mails' %}

    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">Date d'envoi</th>
                <th class="block_header_line_dark">Sujet</th>
                <th class="block_header_line_dark">Statut</th>
{% comment %}                 <th class="block_header_line_dark">Supprimer</th> {% endcomment %}
            </tr>

            {% for mail in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">{{mail.sending_date}}</td>
                    <td class="{{row_color}}">{{mail.subject}}</td>
                    <td class="{{row_color}}">{{mail.get_status_str}}</td>
                    {% comment %}<td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        <a href="/emails/campaign/sending/mail/delete/{{mail.pk}}">
                            <img src="{{MEDIA_URL}}images/delete_22.png" border="0" alt="Supprimer" title="Supprimer"/>
                        </a>
                    </td>{% endcomment %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">Aucun mail dans l'historique pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
