{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header '%s Liste fille' '%s Listes filles' %}
    <tbody class="collapsable">
        <tr>
            <th colspan="4" class="block_header_line_dark" align="left">
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/emails/mailing_list/{{object.pk}}/child/add', {% get_block_reload_uri %});">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="Ajouter manuellement" alt="Ajouter" />Ajouter une liste fille
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">Nom de la liste</th>
                <th class="block_header_line_dark">Supprimer</th>
            </tr>
            {% for ml in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">
                        <a href="{{ml.get_absolute_url}}">{{ml.name}}</a>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/emails/mailing_list/{{object.pk}}/child/delete' with_args "{'id':{{ml.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">Aucune liste fille pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
