{% extends "emails/templatetags/_block_synchronization.html" %}
{% load creme_block %}
{% load creme_core_tags %}

{% block top_header %}
    {% get_block_header '%s E-mail entrant à traiter' '%s E-mails entrants à traiter' 'email_48.png' 'Email' %}
{% endblock %}

{% block toolbar %}
    <tr>
        <th colspan="{{colspan}}" class="block_header_line_dark" align="left">
            <a class="button_link" onclick="creme.emails.mass_relation('/creme_core/relation/add_to_entities/{{entityemail_ct_id}}/', '[name=select_one]:checked', {% get_block_reload_uri %});">
                <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="Relier à" alt="Relier à" />Relier à
            </a>
            <a class="button_link" onclick="creme.emails.mass_action('/emails/mail/spam', '[name=select_one]:checked', {% get_block_reload_uri %});">
                <img src="{{MEDIA_URL}}images/spam_22.png" border="0" title="Marquer comme spam" alt="Spam" />Marquer comme spam
            </a>
            <a class="button_link" onclick="creme.emails.mass_action('/emails/mail/validated', '[name=select_one]:checked', {% get_block_reload_uri %});">
                <img src="{{MEDIA_URL}}images/jewel_ok_22.png" border="0" title="Marquer comme traité" alt="Traité" />Marquer comme traité
            </a>
            <a class="button_link" onclick="creme.emails.mass_action('/emails/mail/delete', '[name=select_one]:checked', {% get_block_reload_uri %});">
                <img src="{{MEDIA_URL}}images/delete_22.png" border="0" title="Supprimer emails" alt="Supprimer" />Supprimer
            </a>
        </th>
    </tr>
{% endblock %}
