{% load creme_block %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header '%s Fichier attaché' '%s Fichiers attachés' %}
    <tbody class="collapsable">
        <tr>
            <th colspan="4" class="block_header_line_dark" align="left">
                <a class="button_link" onclick="creme.utils.innerPopupNReload('/emails/template/{{object.pk}}/attachment/add', '{{update_url}}?base_url={{base_url}}&{{block_name}}_deps=' + creme.utils.getBlocksDeps('{{block_name}}'));">
                    <img src="{{MEDIA_URL}}images/add_22.png" border="0" title="Ajouter un fichier attaché" alt="Ajouter" />Ajouter des documents existants
                </a>
            </th>
        </tr>
        {% if page.paginator.count %}
            <tr>
                <th class="block_header_line_dark">Nom</th>
                <th class="block_header_line_dark">Supprimer</th>
            </tr>
            {% for attachment in page.object_list %}
                <!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr>
                    <td class="{{row_color}}">
                        <a href="{{attachment.get_absolute_url}}">{{attachment.title}}</a>
                    </td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% get_line_deletor at_url '/emails/template/{{object.pk}}/attachment/delete' with_args "{'id':{{attachment.pk}} }" %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="block_line_dark">Aucune pièce jointe pour le moment</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>