{% extends 'creme_core/base.html' %}
{% load i18n creme_widgets creme_bricks %}

{% block page_title %}{% blocktrans %}Synthesis of «{{orga}}»{% endblocktrans %} - {% endblock %}

{% block before_content_1 %}
    <div class="buttons-list global-buttons">
        <ul>
            <li>
                <a class="menu_button menu-button-icon" href="{{strategy.get_absolute_url}}">{% trans 'Back to the strategy' as back_label %}
                    {% widget_icon name='previous' label=back_label %}
                    {{back_label}}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% block view_title %}
        <div class="hat-bar-container">
            <div class="hat-bar">
                <div class="bar-icon">{% widget_icon name='organisation' size='brick-hat-bar' label=_('Organisation') %}</div>
                <div class="bar-title"><h1>{% blocktrans %}Synthesis of «{{orga}}» by «{{strategy}}»{% endblocktrans %}</h1></div>
            </div>
        </div>
    {% endblock %}

    {% brick_import app='commercial' name='assets_charms_matrix' as assets_charms_matrix_brick %}
    {% brick_display assets_charms_matrix_brick %}
    {% brick_end %}
{% endblock %}
