{% extends "creme_core/generics/view_entity.html" %}
{% load i18n %}
{% load media %}
{% load creme_block %}

{% comment %}{% block logo %}<img src="{% media_url 'images/graph_64.png' %}" alt=""/>{% endblock %}{% endcomment %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'commercial' named 'evaluated_orgas' as 'evalorgas_block' %}
    {% import_block from_app 'commercial' named 'segments' as 'segments_block' %}
    {% import_block from_app 'commercial' named 'assets' as 'assets_block' %}
    {% import_block from_app 'commercial' named 'charms' as 'charms_block' %}
{% endblock %}

{% block after_object_as_table_1 %}
    {% display_block_detailview 'evalorgas_block' %}
    {% display_block_detailview 'segments_block' %}
    {% display_block_detailview 'assets_block' %}
    {% display_block_detailview 'charms_block' %}
{% endblock %}