{% extends "creme_core/generics/view_entity.html" %}

{% block extrahead %}
    <script type="text/javascript">
        // TODO : move this in creme.blocks and initialize with bindEvents method
        /*
        $(document).ready(function() {
            creme.utils.bindShowHideTbody();
        });
        */

        //TODO: move to a commercial.js file (see view_strategy too)
        creme.commercial = {};

        //TODO: generalize: post and reload ??
        creme.commercial.incr_counter = function(diff, url, reload_url) {
            creme.ajax.post({
                        'url': url,
                        'data': {
                                'diff': diff,
                            },
                        'success': function(data, status) {
                              creme.blocks.reload(reload_url);
                            }
                    });
        }
    </script>
{% endblock %}
