{% extends "creme_core/generics/view_entity.html" %}
{% load creme_block %}

{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'commercial' named 'evaluated_orgas' as 'evalorgas_block' %}
    {% import_block from_app 'commercial' named 'segment_info' as 'segments_block' %}
    {% import_block from_app 'commercial' named 'assets' as 'assets_block' %}
    {% import_block from_app 'commercial' named 'charms' as 'charms_block' %}
{% endblock %}

{% block before_detail_view_1 %}
    {% display_block_detailview 'segments_block' %}
{% endblock %}

{% block after_object_as_table_1 %}
    {% display_block_detailview 'evalorgas_block' %}
    {% display_block_detailview 'assets_block' %}
    {% display_block_detailview 'charms_block' %}
{% endblock %}