{% extends "creme_core/generics/view_entity.html" %}
{% comment %}{% load creme_block %}{% endcomment %}

{% block extrahead %}
    <script type="text/javascript">
        $(document).ready(function() {
            creme.utils.bindShowHideTbody();
        });

        //TODO: move to a commercial.js file (see view_strategy too)
        creme.commercial = {};

        //TODO: generalize: post and reload ??
        creme.commercial.incr_counter = function(diff, url, reload_url) {
            creme.ajax.post({
                        'url': url,
                        'data': {
                                'diff': diff,
                            },
                        'success': function(data, status) {
                              creme.utils.loadBlock(reload_url);
                            }
                    });
        }
    </script>
{% endblock %}

{% comment %}
{% block creme_blocks_import %}
    {{block.super}}

    {% import_block from_app 'commercial' named 'objectives' as 'objectives_block' %}
    {% import_block from_app 'commercial' named 'opportunities' as 'opps_block' %}
{% endblock %}

{% block after_object_as_table_1 %}
    {% display_block_detailview 'objectives_block' %}
    {% display_block_detailview 'opps_block' %}
{% endblock %}
{% endcomment %}