{% load creme_core_tags %}
{% load creme_listview %}

{% with header_filters.selected.items as columns %}

{% if o2m %}
    {% templatize "{{columns|length}}" as colspan %}
{% else %}
    {% templatize "{{columns|length|add:1}}" as colspan %}
{% endif %}
<table id="list" class="list_view" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th colspan="{{colspan}}">{{list_title}}</th>
        </tr>
        <tr>
            <th colspan="{{colspan}}">
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <th align="left" valign="baseline" width="50%">
                                {% get_listview_filters %}
                            </th>
                            <th align="right" valign="baseline" width="50%">
                                {% get_listview_headerfilters %}
                            </th>
                        </tr>
                    </tbody>
                </table>
            </th>
        </tr>
        <tr id="list_thead_toolbar" class="toolbar">
            <th colspan="{{colspan}}">
                {% if not is_popup_view %}
                    {% if add_url %}
                        <a href="{{add_url}}"><img border="0" src="{{MEDIA_URL}}images/add_22.png" alt="Nouveau" title="Nouveau"/>Nouveau</a>
                    {% endif %}
                    <a href="/creme_core/list_view/dl_csv/{{content_type_id}}?list_url={{request.path}}">
                        <img border="0" src="{{MEDIA_URL}}images/document_csv_22.png" alt="Télécharger CSV" title="Télécharger CSV"/>Télécharger CSV
                    </a>&nbsp;
                    <a href="/creme_core/list_view/import_csv/{{content_type_id}}?list_url={{request.path}}">
                        <img border="0" src="{{MEDIA_URL}}images/document_csv_22.png" alt="Importer CSV" title="Importer CSV"/>Importer CSV
                    </a>&nbsp;
                    <a onclick="creme.utils.multiDeleteFromListView('form[name=list_view_form]', '/creme_core/delete_js');">
                        <img border="0" src="{{MEDIA_URL}}images/delete_22.png" alt="Effacer" title="Effacer"/>Suppression multiple
                    </a>&nbsp;
                    <a onclick="creme.utils.multiAddPropertyFromListView('form[name=list_view_form]', '/creme_core/property/add_to_entities', '{{content_type_id}}');">
                        Ajout de propriété multiple
                    </a>&nbsp;
                    <a onclick="creme.relations.addFromListView('form[name=list_view_form]', '/creme_core/relation/add_to_entities/{{content_type_id}}/');">
                        <img border="0" src="{{MEDIA_URL}}images/relations_22.png" alt="Relation " title="Relation "/>Ajout de relation multiple
                    </a>&nbsp;
                {% endif %}
                <button  value="0" type="button" name="_search"{% if not search %} disabled {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %}>Effacer la recherche</button>
                <button  value="1" type="button" name="_search" onclick="$(this.form).list_view('getSubmit')(this);"><img border="0" src="{{MEDIA_URL}}images/looking_glass_22.png" alt="Rechercher" title="Rechercher"/>Rechercher</button>
                {% block extra_buttons %}{% endblock %}
                {% if extra_bt_templates|isiterable %}
                    {% for templ in extra_bt_templates %}
                        {% include templ %}
                    {% endfor %}
                {% endif %}
            </th>
        </tr>
        <tr style="display:none;">
            <th colspan="{{colspan}}">
                <input value="{{list_view_state.sort_field}}" id="sort_field"    type="hidden" name="sort_field"  />
                <input value="{{list_view_state.sort_order}}" id="sort_order"    type="hidden" name="sort_order"  />
                <input value=""                               id="selected_rows" type="hidden"/>
                <input value="{{o2m}}"                        id="o2m"           type="hidden"/>
                {% block extra_buttons_hidden %}{% endblock %}
            </th>
        </tr>
        <tr class="columns_top">
            {% if not o2m %}<th>&nbsp;</th>{% endif %}
            {% for column in columns %}
                {% if not column.is_hidden %}
                    <th>
                        <button type="button" {% if column.sortable %}title="Trier par {{column.title}}" onclick="creme.utils.handleSort('#sort_field', '#sort_order', '{{column.name}}', this, $(this.form).list_view('getSubmit'));"{% else %} disabled {% endif %}>
                            {{column.title}}
                        </button>
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
        {% get_listview_columns_header %}
    </thead>
    <tbody>
        {% for entity in entities.object_list %}
            <tr class="selectable">
                {% if not o2m %}<td><input name="select_one" value="{{entity.pk}}" type="checkbox" /></td>{% endif %}
                <td style="display:none;">
                    <input type="hidden" name="entity_id" value="{{entity.pk}}" />
                </td>
                {% for column in columns %}
                    {% if not column.type %}
                        <td title="actions">{{entity.get_entity_actions|safe}}</td>
                    {% else %}
                        <td title="" name="{{column.name}}" {% if column.is_hidden %}style="display:none;"{% endif %}>{% if column.is_hidden %}{{column|hf_get_html_output:entity|safe}}{% else %}{{column|hf_get_html_output:entity|safe|linebreaks}}{% endif %}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="{{colspan}}">Aucun élément n'existe / ne correspond à votre recherche</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="{{colspan}}">
                <table border="0" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <button name="page" value="1" {% if not entities.has_previous %} disabled {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %} type="button">|<</button>
                                <button name="page" value="{{ entities.previous_page_number }}"{% if not entities.has_previous %} disabled {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %} type="button"><<</button>
                            </td>
                            <td>
                                Page <input id="user_page" value="{{ entities.number }}" name="page" onkeydown="$(this.form).list_view('getKdSubmit')(event, this);" title="Touche Entrée pour valider"/> sur {{ entities.paginator.num_pages }}
                            </td>
                            <td>
                                <button name="page" value="{{ entities.next_page_number }}"{% if not entities.has_next %} disabled {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endif %} type="button">>></button>
                                <button name="page" value="{{ entities.paginator.num_pages }}"{% ifequal entities.number entities.paginator.num_pages %} disabled {% else %} onclick="$(this.form).list_view('getSubmit')(this);" {% endifequal %} type="button">>|</button>
                            </td>
                            <td>
                                Nb / Page :
                                <select name="rows" onchange="$(this.form).list_view('getSubmit')(this);">
                                    {% with entities.paginator.per_page as rows %}
                                       {% comment %}Wait before http://docs.djangoproject.com/en/dev/ref/templates/builtins/#operator !!!!{% endcomment %}
                                        <option value="10" {% ifequal rows 10 %}selected{% endifequal %}>10</option>
                                        <option value="25" {% ifequal rows 25 %}selected{% endifequal %}>25</option>
                                        <option value="50" {% ifequal rows 50 %}selected{% endifequal %}>50</option>
                                        <option value="100" {% ifequal rows 100 %}selected{% endifequal %}>100</option>
                                        <option value="200" {% ifequal rows 200 %}selected{% endifequal %}>200</option>
                                    {% endwith %}
                                </select>
                            </td>
                            <td>Enregistrements  {{ entities.start_index }} - {{ entities.end_index }} sur {{entities.paginator.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tfoot>
</table>
{% endwith %}