<script type="text/javascript" src="{{MEDIA_URL}}js/models/list_view.core.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/extensions/jquery.magnifier.js"></script>
<script type="text/javascript">
    function kd_submitHandler(e, input){
         e = (window.event)?window.event:e;

        var key=(window.event)?e.keyCode:e.which;

        var target = (window.event)?e.srcElement:e.target;

        if (key == 13){
            submitHandler(input);
        }
        return true;
    }

    $(document).ready(function (){
        $('form[name="list_view_form"]').list_view({o2m: {{o2m|lower}} });
        $('.magnify').imageMagnifier();
    });

</script>
{% block extrahead %}{% endblock %}
<form action="" method="POST" name="list_view_form">
    {% include "creme_core/frags/list_view_content.html" %}
</form>