{% extends "creme_core/frags/list_view.html" %}

{% block extrahead %}
<script type="text/javascript">
    function submitHandler(input){
        //var url = $('[name="inner_header_from_url"]',$('#{{whoami}}')).val();
        //var url = creme.utils.appendInUrl($('[name="inner_header_from_url"]',$('#{{whoami}}')).val(), '/ajax');
        var url = creme.utils.appendInUrl($('[name="inner_header_from_url"]',$('#{{whoami}}')).val(), '?ajax=true');
        var options = {
                        'action': url,
                        'success': function(data, status){
                            data += '<input type="hidden" name="whoami" value="{{whoami}}"/>'
                            $('[name=inner_body] form','#{{whoami}}').html(data);
                        }
                      };

        $('form[name=list_view_form]').list_view(
            'handleSubmit',
            input.form,
            options,
            input,
            {'whoami':'{{whoami}}'}
        );
    }
</script>
{% endblock %}

