    <div class="pagination">
        <span class="step-links">
            {% if list_objects.has_previous %}
                <a href="?page={{ list_objects.previous_page_number }}">Précédent</a>
            {% endif %}

            <span class="current">
                Page {{ list_objects.number }} of {{ list_objects.paginator.num_pages }}.
            </span>

            {% if list_objects.has_next %}
                <a href="?page={{ list_objects.next_page_number }}">Suivant</a>
            {% endif %}
        </span>
    </div>  