{% extends 'creme_core/bricks/base/base.html' %}
{% load i18n creme_bricks %}

{% block brick_extra_class %}emails-email-brick emails-html-body-brick{% if not object.body_html %} is-empty{% endif %}{% endblock %}

{% comment %} TODO: toggle images as menu action when its state is saved (must improve BlockState system)
{% block brick_menu_actions %}
    {{block.super}}
    {% brick_menu_action id='email-toggle-images' label=_('View external images') __inlabel=_('View external images') __outlabel=_('Hide external images') icon='view' %}
{% endblock %}
{% endcomment %}

{% block brick_header_actions %}
    {% if '<img ' in object.body_html %}
        {% brick_header_action id='email-toggle-images' label=_('View external images') __inlabel=_('View external images') __outlabel=_('Hide external images') icon='view' %}
    {% endif %}
{% endblock %}

{% block brick_content %}
    {% if object.body_html %}
        <iframe sandbox data-html-field="body_html" src="{{body_url}}" frameborder="0" width="100%" style="min-height:350px"></iframe>
    {% endif %}
{% endblock %}
