{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms %}
{% load print_field url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} emails-lw-mails-history-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Campaign email in the history') plural=_('{count} Campaigns emails in the history') empty=verbose_name icon='email' %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='sending_date' %}
    {% brick_table_column_for_field ctype=objects_ctype field='subject' %}
    {% brick_table_column_for_field ctype=objects_ctype field='status' %}
    {% brick_table_column title=_('Actions') status='action' %}
{% endblock %}

{% block brick_table_rows %}
  {% for mail in page.object_list %}
    <tr>
      {% if user|has_perm_to_view:mail.sending.campaign %}
        <td data-type="date">{{mail.sending_date}}</td>
        <td>{{mail.sending.subject}}</td>
        <td>{% print_field object=mail field='status' %}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='view' url='emails__view_lw_mail'|url:mail.pk label=_('Details') %}
        </td>
      {% else %}
        <td {# data-type="date" #}>{{HIDDEN_VALUE}}</td>
        <td>{{HIDDEN_VALUE}}</td>
        <td>{{HIDDEN_VALUE}}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='view' label=_('Details') enabled=False %}
        </td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No campaign email in the history' %}
{% endblock %}
