{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} emails-lw-mails-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Email') plural=_('{count} Emails') empty=_('Emails') icon='email' %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column title=_('Address') status='primary' class='lw-mail-address' %}
    {% brick_table_column title=_('Recipient') class='lw-mail-recipient' %}
    {% brick_table_column title=_('Status') class='lw-mail-status' %}
    {% brick_table_column title=_('Action') status='action' %}
{% endblock %}

{% block brick_table_rows %}
 {% with delete_perm=user|has_perm_to_change:object.campaign delete_mail_url='creme_core__delete_related_to_entity'|url:objects_ctype.id %}
  {% for mail in page.object_list %}
   {% with entity=mail.real_recipient %}
    <tr>
        <td {% brick_table_data_status primary %} class="lw-mail-address">
          {% if entity %}
            {% if user|has_perm_to_view:entity %}{{mail.recipient}}{% else %}{{HIDDEN_VALUE}}{% endif %}
          {% else %}
            {{mail.recipient}}
          {% endif %}
        </td>
        <td class="lw-mail-recipient">
          {% if entity %}
            {% widget_entity_hyperlink entity user %}
          {% else %}
            <span class="empty-field">—</span>
          {% endif %}
        </td>
        <td class="lw-mail-status">{{mail.get_status_display}}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_mail_url __id=mail.id label=_('Delete this email') enabled=delete_perm %}
        </td>
    </tr>
   {% endwith %}
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No email in this sending' %}
{% endblock %}
