{% extends 'creme_core/bricks/generic/hat-bar.html' %}
{% load i18n creme_bricks %}

{% block buttons %}
    {% if not object.sent %}{% url 'emails__resend_emails' as resend_url %}
        <div class='bar-action'>
        {% if object.synchronised %}
            {% brick_bar_button action='update' __ids=object.id label=_('Re-send') url=resend_url icon='refresh' confirm=_('This mail was synchronized. Are you sure you want to send it?') %}
        {% else %}
            {% brick_bar_button action='update' __ids=object.id label=_('Re-send') url=resend_url icon='refresh' %}
        {% endif %}
        </div>
    {% endif %}

    {{block.super}}
{% endblock %}
