{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms %}
{% load and_op print_field url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} emails-mails-history-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Email in the history') plural=_('{count} Emails in the history') empty=verbose_name icon='email' %}
{% endblock %}

{% block brick_header_actions %}
 {% if not relation_types_all_disabled %}
  {% with creation_perm=user|has_perm_to_create:objects_ctype link_perm=user|has_perm_to_link:object %}
   {% with create_linked_perm=creation_perm|and_op:link_perm %}
    {% brick_header_action id='add'  url='emails__create_email'|url:object.id               label=_('Send a new related email')        enabled=create_linked_perm %}
    {% brick_header_action id='add'  url='emails__create_email_from_template'|url:object.id label=_('Send an email (with a template)') enabled=create_linked_perm %}
    {% brick_header_action id='link' url='emails__link_emails'|url:object.id                label=_('Link to emails')                  enabled=link_perm %}
   {% endwith %}
  {% endwith %}
 {% endif %}
{% endblock %}

{% block brick_before_content %}
  {% if relation_types_all_disabled %}
    <div class="global-error">
        {% translate 'Beware: the relationship types for emails are disabled. You should re-enable them if they are still useful, or remove this block' %}
    </div>
  {% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='sender' status='primary' %}
    {% brick_table_column_for_field ctype=objects_ctype field='recipient' %}
    {% brick_table_column_for_field ctype=objects_ctype field='subject' %}
    {% brick_table_column_for_field ctype=objects_ctype field='status' %}
    {% brick_table_column_for_field ctype=objects_ctype field='sending_date' status='nowrap' %}
    {% brick_table_column title=_('Actions') status='action' colspan=2 %}
{% endblock %}

{% block brick_table_rows %}
  {% for mail in page.object_list %}
    <tr>
      {% if user|has_perm_to_view:mail %}
        <td {% brick_table_data_status primary %} class="email-sender" data-type="email">{% print_field object=mail field='sender' %}</td>
        <td class="email-recipient" data-type="email">{% print_field object=mail field='recipient' %}</td>
        <td class="email-subject">{{mail.subject}}</td>
        <td class="email-status">{{mail.get_status_display}}</td>
        <td class="email-sending-date" data-type="date">{% print_field object=mail field='sending_date' %}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='view' url='emails__view_email_popup'|url:mail.id label=_('Details') %}
        </td>
        <td {% brick_table_data_status action %}>
          {% if not mail.sent %}{% url 'emails__resend_emails' as resend_url %}
            {% if mail.synchronised %}
              {% brick_table_action id='update' url=resend_url __ids=mail.id label=_('Re-send') icon='refresh' confirm=_('This mail was synchronized. Are you sure you want to send it?') %}
            {% else %}
              {% brick_table_action id='update' url=resend_url __ids=mail.id label=_('Re-send') icon='refresh' %}
            {% endif %}
          {% endif %}
        </td>
      {% else %}
        <td {% brick_table_data_status primary %} class="email-sender" data-type="email">{{HIDDEN_VALUE}}</td>
        <td class="email-recipient" data-type="email">{{HIDDEN_VALUE}}</td>
        <td class="email-subject">{{HIDDEN_VALUE}}</td>
        <td class="email-status">{{HIDDEN_VALUE}}</td>
        <td class="email-sending-date" data-type="date">{{HIDDEN_VALUE}}</td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='view' label=_('Details') enabled=False %}
        </td>
        <td {% brick_table_data_status action %}>
          {% brick_table_action id='update' label=_('Re-send') icon='refresh' enabled=False %}
        </td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No email in the history for the moment' %}
{% endblock %}
