{% extends 'creme_core/bricks/base/tiles.html' %}
{% load i18n creme_bricks creme_cells %}

{% block brick_extra_class %}{{block.super}} brick-detailview-popup emails-email-brick{% endblock %}

{% block brick_header %}
    <a class="complete-detailview" href="{{object.get_absolute_url}}">{% translate 'Full detailview' %}</a>
{% endblock %}

{% block brick_content %}
    {% cell_4_regularfield instance=object field='reads'          as reads_cell   %}{% brick_tile_for_cell reads_cell   object user %}
    {% cell_4_regularfield instance=object field='status'         as status_cell  %}{% brick_tile_for_cell status_cell  object user %}
    {% cell_4_regularfield instance=object field='sender'         as sender_cell  %}{% brick_tile_for_cell sender_cell  object user %}
    {% cell_4_regularfield instance=object field='recipient'      as recip_cell   %}{% brick_tile_for_cell recip_cell   object user %}
    {% cell_4_regularfield instance=object field='subject'        as subject_cell %}{% brick_tile_for_cell subject_cell object user %}
    {% cell_4_regularfield instance=object field='reception_date' as rdate_cell   %}{% brick_tile_for_cell rdate_cell   object user %}

    {% cell_4_regularfield instance=object field='attachments' as attachments_cell %}{% brick_tile_for_cell attachments_cell object user %}

    {% if object.body_html %}
    <div class="brick-tile brick-tile-multiline-value" data-type="html" data-key="regular_field-body_html">
        <span class="brick-tile-name">{% cell_4_regularfield instance=object field='body_html' %}</span>
        {% if '<img ' in object.body_html %}
        <span class="emails-popup-brick-tile-body-html-action">
            {% brick_action id='email-toggle-images' label=_('View external images') __inlabel=_('View external images') __outlabel=_('Hide external images') display='text' %}
        </span>
        {% endif %}
        <span class="brick-tile-value">
            <iframe sandbox data-html-field="body_html" src="{% url 'creme_core__sanitized_html_field' object.id 'body_html' %}" frameborder="0" width="100%" {#height="100%"#} {#style="min-height:350px"#}></iframe>
        </span>
    </div>
    {% else %}
    {% cell_4_regularfield instance=object field='body' as body_cell %}{% brick_tile_for_cell body_cell object user %}
    {% endif %}

    {% cell_4_regularfield instance=object field='created'  as created_cell  %}{% brick_tile_for_cell created_cell  object user %}
    {% cell_4_regularfield instance=object field='modified' as modified_cell %}{% brick_tile_for_cell modified_cell object user %}
    {% cell_4_regularfield instance=object field='user'     as user_cell     %}{% brick_tile_for_cell user_cell     object user %}
{% endblock %}
