{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms %}
{% load url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} emails-sendings-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Sent bundle') plural=_('{count} Sent bundles') empty=verbose_name icon='email' %}
{% endblock %}

{% block brick_header_actions %}
  {% if config_available %}
    {% brick_header_action id='add' url='emails__create_sending'|url:object.id label=_('New sending') enabled=user|has_perm_to_change:object %}
  {% endif %}
{% endblock %}

{% block brick_before_content %}
  {% if not config_available %}
    <div class="help-box">
        {% translate 'No configuration for SMTP is available; so creation & edition of sending are forbidden.' %}<br>
        {% if user|has_perm_to_admin:'emails' %}
          {% blocktranslate with url='creme_config__app_portal'|url:'emails' %}You can create a configuration <a href="{{url}}">here</a>.{% endblocktranslate %}
        {% else %}
          {% translate 'Contact your administrator to create a configuration.' %}
        {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column_for_field ctype=objects_ctype field='sending_date' status='primary' %}
    {% brick_table_column title=_('SMTP & sender') %}
    {% brick_table_column title=_('Type') %}
    {% brick_table_column title=_('State') %}
    {% brick_table_column title=_('Number of email(s)') %}
    {% brick_table_column title=_('Actions') status='action' colspan=3 %}
{% endblock %}

{% block brick_table_rows %}
 {% with edit_perm=user|has_perm_to_change:object delete_sending_url='creme_core__delete_related_to_entity'|url:objects_ctype.id %}
  {% for sending in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %} data-type='date'>{{sending.sending_date}}</td>
        <td>
          {% if sending.config_item is None %}
            <span class="emails-sending-config_item emails-sending-config_item-empty">{% translate 'No server' %}</span>
          {% else %}
            <span class="emails-sending-config_item">{{sending.config_item}}</span>/ <span class="emails-sending-sender">{{sending.sender}}</span>
          {% endif %}
        </td>
        <td>{{sending.get_type_display}}</td>
        <td>{{sending.get_state_display}}</td>
        <td>{{sending.mails_set.count}}{% with unsent_count=sending.unsent_mails.count %}{% if unsent_count %} / <span class="errorlist">{% blocktranslate count count=unsent_count %}{{count}} not sent{% plural %}{{count}} not sent{% endblocktranslate %}</span>{% endif %}{% endwith %}</td>
        <td {% brick_table_data_status action %}>
          {% if config_available and sending.state != 1 %}{# 1 is DONE  #}
            {% brick_table_action id='edit' url=sending.get_edit_absolute_url enabled=edit_perm %}
          {% endif %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='redirect' url=sending.get_absolute_url icon='view' label=_('Details') %}
        </td>
        <td {% brick_table_data_status action %}>
            {% brick_table_action id='delete' url=delete_sending_url __id=sending.pk label=_('Delete this sending') enabled=edit_perm %}
        </td>
    </tr>
  {% endfor %}
 {% endwith %}
{% endblock %}

{% block brick_table_empty %}
    {% translate 'No sending for the moment' %}
{% endblock %}
