{% extends 'emails/bricks/base/synchronization.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block brick_extra_class %}{{block.super}} emails-sync-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Incoming email to treat') plural=_('{count} Incoming emails to treat') empty=_('Emails') icon='email' selection_title=_('%s Email selected') selection_plural=_('%s Emails selected') %}
{% endblock %}

{% block brick_header_actions %}
{% url 'creme_core__create_relations_bulk' objects_ctype.id rtypes as link_url %}{% url 'emails__crudity_validated' as validate_url %}{% url 'emails__crudity_spam' as spam_url %}
    {% brick_header_action id='emailsync-link'   url=link_url     __selector='.row-selector:checked' __rtypes=rtypes type='link' label=_('Link to') %}
    {% brick_header_action id='emailsync-action' url=validate_url __selector='.row-selector:checked'                 type='add'  label=_('Mark as treated') icon='ok' %}
    {% brick_header_action id='emailsync-action' url=spam_url     __selector='.row-selector:checked'                 icon='spam' label=_('Mark as spam') %}
    {{block.super}}
{% endblock %}

{% block mail_sync_actions %}
{% templatize '.row-selector[value={{mail.id}}]' as selector %}
    <td {% brick_table_data_status action %}>
        {% brick_table_action id='emailsync-link' __email_ctype=objects_ctype.id __rtypes=rtypes __selector=selector label=_('Link to') icon='link' %}
    </td>
    <td {% brick_table_data_status action %}>{% url 'emails__crudity_validated' as validated_url %}
        {% brick_table_action id='emailsync-action' url=validated_url __selector=selector label=_('Mark as treated') icon='ok' %}
    </td>
    <td {% brick_table_data_status action %}>{% url 'emails__crudity_spam' as spam_url %}
        {% brick_table_action id='emailsync-action' url=spam_url label=_('Mark as spam') __selector=selector icon='spam' %}
    </td>
    {{block.super}}
{% endblock %}
