{% load i18n %}
{% load creme_core_tags creme_block creme_widgets %}
<table class="table_detail_view ui-corner-all with-header {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=4 %}
        <th class="collapser label">{% get_block_title _('%s Commercial approach') _('%s Commercial approaches') 'commercial_48.png' _('Comapp') %}</th>
        <th class="actions">
            <div class="buttons">
                {% if object %}
                    {% has_perm_to change object as has_perm %}
                    {% get_line_adder at_url '/commercial/approach/add/{{object.id}}/' with_label _("New commercial approach") with_perms has_perm %}
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}
            <tr class="header">
                {% get_column_header _('Title') 'title' %}
                {% if not object %}
                    <th class="block_header_line_dark">{% trans "Related entity" %}</th>
                {% endif %}
                {% get_column_header _('Details') 'description' %}
                <th class="block_header_line_dark">{% trans "Generate from" %}</th>
            </tr>
            {% for approach in page.object_list %}<!--{% cycle "block_line_dark" "block_line_light" as row_color %}-->
                <tr class="content">
                    <td class="{{row_color}}"><strong>{{approach.title}}</strong></td>
                    {% if not object %}
                        <td class="{{row_color}}">{% widget_entity_hyperlink approach.creme_entity user %}</td>
                    {% endif %}
                    <td class="{{row_color}}"><em>{% print_field object=approach field='description' %}</em></td>
                    <td class="{{row_color}}"><em><a href="{{approach.related_activity.get_absolute_url|default:approach.creme_entity.get_absolute_url}}">{{approach.related_activity|default:approach.creme_entity|default:_("Nothing")}}</a></em></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="content empty">
                <td class="block_line_dark">{% trans "No commercial approach for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>
