{% load i18n %}
{% load creme_core_tags creme_block %}
{% load commercial_tags %}
{% has_perm_to change strategy as has_perm %}
<table class="table_detail_view ui-corner-all {{ state.classes }}" id={{block_name}}>
    {% get_block_header colspan=10 %}{% comment %}TODO: improve get_block_header to accept variable as colpsan{% endcomment %}
        <th class="collapser label">{% trans 'Assets / Segments matrix'%}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if segment_info %}{% if assets %}
            <tr>
                <th class="block_header_line_dark">{% trans 'Assets / Segments' %}</th>
                {% for segment_desc in segment_info %}<th class="block_header_line_dark">{{segment_desc}}</th>{% endfor %}
            </tr>
            {% for asset in assets %}<!--{% cycle "block_header_line_light" "block_header_line_dark" as header_color %}{% cycle "block_line_light" "block_line_dark" as row_color %}-->
                <tr>
                    <th class="{{header_color}}">{{asset}}</th>
                    {% for segment_desc in segment_info %}<td class="{{row_color}}">{% widget_asset_score segment_desc asset %}</td>{% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <th class="block_header_line_dark"><strong>{% trans 'TOTAL' %}</strong></th>
                {% for total in totals %}<td class="strategy_score_{{total.1}}"><strong>{{total.0}}</strong></td>{% endfor %}
            </tr>
        {% else %}<tr><td class="block_line_dark">{% trans "No commercial asset for the moment" %}</td></tr>{% endif %}
        {% else %}<tr><td class="block_line_dark">{% trans "No market segment for the moment" %}</td></tr>{% endif %}
    </tbody>
</table>
