{% load i18n %}{% load media %}
{% load creme_core_tags %}{% load creme_block %}
{% has_perm_to link object as link_perm %}{% has_perm_to unlink object as unlink_perm %}
<table class="table_detail_view ui-corner-all" id={{block_name}}>
    {% get_block_header colspan=4 %}
        <th style="width: 80%;" align="left" class="collapser">{% get_block_title _('%s Related opportunity') _('%s Related opportunities') 'opportunity_48.png' _('Opportunity') %}</th>
        <th style="width: 20%;" align="right">
            <div class="buttons">
                {% if link_perm %}
                    <a class="link" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/objects2link/rtype/{{predicate_id}}/entity/{{object.id}}/{{opp_ct.id}}', '{{predicate_id}}', '{{object.id}}', {% get_block_reload_uri %});">
                        <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Link to an existing opportunity" %}" alt="{% trans "Link to an existing opportunity" %}" />
                        {% trans "Link to an existing opportunity" %}
                    </a>
                {% else %}
                    <span class="link forbidden">
                        <img src="{% media_url 'images/relations_22.png' %}" border="0" title="{% trans "Can't link" %}" alt="{% trans "Can't link" %}" />
                        {% trans "Link to an existing opportunity" %}
                    </span>
                {% endif %}
            </div>
        </th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if page.paginator.count %}<!--{% cycle "block_line_light" "block_line_dark" as row_color %}-->
            <tr>
                <th class="block_header_line_dark">{% trans "Name" %}</th>
                <th class="block_header_line_dark">{% trans "Made sales" %}</th>
                <th class="block_header_line_dark">{% trans "Delete" %}</th>
            </tr>
            {% for opp in page.object_list %}<!--{% cycle row_color %}-->
                <tr>
                    <td class="{{row_color}}"><a href="{{opp.get_absolute_url}}">{{opp}}</a></td>
                    <td class="{{row_color}}">{{opp.made_sales}}</td>
                    <td class="{{row_color}}" align="center" valign="center" style="width:10%;">
                        {% has_perm_to unlink opp as opp_unlink_perm %}
                        {% with unlink_perm|and_op:opp_unlink_perm as has_perm %}
                            {% get_line_deletor2 at_url '/creme_core/relation/delete/similar' with_args "{ 'subject_id':{{object.pk}}, 'type':'{{predicate_id}}', 'object_id':{{opp.pk}} }" with_perms has_perm %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            <tr><!--{% cycle row_color %}-->
                <td class="{{row_color}}"><h3>{% trans "Total" %}</h3></td>
                <td class="{{row_color}}" colspan="2"><strong>{{object.get_made_sales}}</strong></td>
            </tr>
        {% else %}
            <tr>
                <td class="block_line_dark">{% trans "No related opportunity for the moment" %}</td>
            </tr>
        {% endif %}
    </tbody>
    {% include 'creme_core/templatetags/widgets/block_footer.html' %}
</table>