{% load i18n %}
{% load creme_core_tags creme_block %}
{% load commercial_tags %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=2 %}
        <th class="label">{% trans 'Assets / Charms matrix'%}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        <tr>
            <td class="block_line_dark">
                <table class="table_detail_view ui-corner-all">
                    <thead>
                        <tr><th colspan="2">{% trans 'Segments'%}</th></tr>
                    </thead>
                    <tbody>
                        {% for segment_desc in segment_info %}
                            <tr>
                                <th class="{% cycle "block_header_line_light" "block_header_line_dark" %}">{{segment_desc}}</th>
                                <td class="{% cycle "block_line_light" "block_line_dark" %}">{% widget_segment_category segment_desc %}</td>
                            </tr>
                        {% empty %}
                            <tr><td class="block_line_dark">{% trans "No market segment for the moment" %}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            <td class="block_line_light">
                <table class="table_detail_view ui-corner-all">
                    <tbody>
                        <tr>
                            <th class="block_header_line_light">{% trans "Strong charms" %}</th>
                            <td class="strategy_score_2">{% get_segments_for_category strategy orga 2 %}<em>{% trans "Pool segment(s) [1]" %}</em></td>
                            <td class="strategy_score_3">{% get_segments_for_category strategy orga 1 %}<em>{% trans "Priority segment(s)" %}</em></td>
                        </tr>
                        <tr>
                            <th class="block_header_line_dark">{% trans "Weak charms" %}</th>
                            <td class="strategy_score_1">{% get_segments_for_category strategy orga 4 %}<em>{% trans "Abandoned segment(s)" %}</em></td>
                            <td class="strategy_score_2">{% get_segments_for_category strategy orga 3 %}<em>{% trans "Pool segment(s) [2]" %}</em></td>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="block_header_line_light">{% trans "Weak assets" %}</th>
                            <th class="block_header_line_light">{% trans "Strong assets" %}</th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
