{% load i18n %}
{% load creme_core_tags creme_block %}
{% load commercial_tags %}
<table class="table_detail_view ui-corner-all {{state.classes}}" id="{{block_name}}">
    {% get_block_header colspan=segment_info|length|add:1 %}
        <th class="label">{% trans 'Assets / Segments matrix'%}</th>
        <th class="actions"></th>
    {% end_get_block_header %}
    <tbody class="collapsable">
        {% if segment_info %}{% if assets %}
            <tr>
                <th class="block_header_line_dark">{% trans 'Assets / Segments' %}</th>
                {% for segment_desc in segment_info %}<th class="block_header_line_dark">{{segment_desc}}</th>{% endfor %}
            </tr>
            {% for asset in assets %}
                <tr>
                    <th class="{% cycle "block_header_line_light" "block_header_line_dark" %}">{{asset}}</th>
                    {% for segment_desc in segment_info %}<td class="{% cycle "block_line_light" "block_line_dark" %}">{% widget_asset_score segment_desc asset %}</td>{% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <th class="block_header_line_dark"><strong>{% trans 'TOTAL' %}</strong></th>
                {% for total in totals %}<td class="strategy_score_{{total.1}}"><strong>{{total.0}}</strong></td>{% endfor %}
            </tr>
        {% else %}<tr><td class="block_line_dark">{% trans "No commercial asset for the moment" %}</td></tr>{% endif %}
        {% else %}<tr><td class="block_line_dark">{% trans "No market segment for the moment" %}</td></tr>{% endif %}
    </tbody>
</table>
