{% load i18n %}
{% load creme_core_tags %}{% has_perm_to link object as link_perm %}
{% trans "Commercial Action" as img_title %}
{% if has_perm and link_perm %}
    <a class="menu_button" onclick="creme.relations.handleAddFromPredicateEntity('/creme_core/relation/objects2link/rtype/{{predicate_id}}/entity/{{object.id}}/{{act_ct.id}}', '{{predicate_id}}', '{{object.id}}');">
        <img src="{% creme_media_url 'images/commercial_32.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
        {% trans "Completes a goal" %}
    </a>
{% else %}
    <span class="menu_button forbidden" title="{% trans "forbidden" %}">
        <img src="{% creme_media_url 'images/commercial_32.png' %}" border="0" title="{{img_title}}" alt="{{img_title}}" />
        {% trans "Completes a goal" %}
    </span>
{% endif %}
