{% extends 'creme_core/bricks/base/hat-card.html' %}
{% load i18n creme_bricks creme_listview creme_widgets persons_tags %}
{% load has_perm_to url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} persons-contact-card-brick{% endblock %}

{% block card_intro_content %}
{% include 'persons/bricks/frags/card-last-activity.html' %}
{% endblock %}

{% block card_title %}
    {{object|persons_pretty_contact}}
    {% if not object.is_deleted and not object.sandbox %}{% has_perm_to change object as edition_perm %}
    {% brick_card_action url='persons__edit_contact_names'|url:object.id enabled=edition_perm %}
    {% endif %}
{% endblock %}

{% block card_indicators %}
    {# TODO: factorise with "organisation-hat-card.html" #}
    {% if is_customer %}
        <div class='business-card-indicator'>{% translate 'Customer' %}</div>
    {% endif %}
    {% if is_supplier %}
        <div class='business-card-indicator'>{% translate 'Supplier' %}</div>
    {% endif %}

{% with neg_label=neglected_indicator.label %}
    {% if neg_label %}<div class='business-card-indicator business-card-warning-indicator'>{{neg_label}}</div>{% endif %}
{% endwith %}
{% endblock %}

{% block card_secondary %}
{% comment %}
    {% persons_contact_first_employer contact=object user=user as employer %}
    {% if employer %}
    <div class="card-job">
        <span class="card-function">{% if employer.as_manager %}{% translate 'Manager' %}{% else %}{% translate 'Employee' %}{% endif %}</span>, {% widget_entity_hyperlink employer.organisation user %}
    </div>
    {% elif object.position and 'position' not in hidden_fields %}
    <div class="card-job">
        <span class="card-function">{{object.position}}</span>
    </div>
    {% endif %}
{% endcomment %}
{% with total_count=managed_count|add:employers_count %}
    <div class="card-jobs{# TODO? {% if total_count > 3 and total_count < max_organisations %} card-jobs-wide{% endif %} #}">
      {% if total_count >= max_organisations %}
        <div class="card-job">{% url 'persons__list_organisations' as lv_url %}
          {% if managed_count %}
            <a href="{{lv_url}}?{% listview_q_argument relations__type=REL_OBJ_MANAGES relations__object_entity=object.id %}">
                {% blocktranslate count count=managed_count %}Manages {{count}} organisation{% plural %}Manages {{count}} organisations{% endblocktranslate %}
            </a>
            {% if employers_count %},
            <a href="{{lv_url}}?{% listview_q_argument relations__type=REL_OBJ_EMPLOYED_BY relations__object_entity=object.id %}">
                {% blocktranslate count count=employers_count %}employed by {{count}} organisation{% plural %}employed by {{count}} organisations{% endblocktranslate %}
            </a>
            {% endif %}
          {% elif employers_count %}
            <a href="{{lv_url}}?{% listview_q_argument relations__type=REL_OBJ_EMPLOYED_BY relations__object_entity=object.id %}">
                {% blocktranslate count count=employers_count %}Employed by {{count}} organisation{% plural %}Employed by {{count}} organisations{% endblocktranslate %}
            </a>
          {% endif %}
        </div>
      {% elif total_count %}
        {% for orga in managed %}
          <div class="card-job">
              <span class="card-function">{% translate 'Manager' %}</span>, {% widget_entity_hyperlink orga user %}
          </div>
        {% endfor %}
        {% for orga in employers %}
          <div class="card-job">
              <span class="card-function">{% translate 'Employee' %}</span>, {% widget_entity_hyperlink orga user %}
          </div>
        {% endfor %}
      {% elif object.position and 'position' not in hidden_fields %}
        <div class="card-job">
            <span class="card-function">{{object.position}}</span>
        </div>
      {% endif %}
    </div>
{% endwith %}
{% endblock %}

{% block card_fields_title %}
{% translate 'Details' context 'persons-contact' %}
{% endblock %}

{% block card_fields %}
    {% if 'phone' not in hidden_fields %}
    <div class="card-info-field">
        <span class='card-info-key'>{% translate 'Phone' %}</span>
        <span class='card-info-value'>
            {{object.phone|default:'—'}}
            {% brick_card_action_for_field instance=object field='phone' user=user %}
        </span>
    </div>
    {% endif %}
    {% if 'mobile' not in hidden_fields %}
    <div class="card-info-field">
        <span class='card-info-key'>{% translate 'Mobile' %}</span>
        <span class='card-info-value'>
            {{object.mobile|default:'—'}}
            {% brick_card_action_for_field instance=object field='mobile' user=user %}
        </span>
    </div>
    {% endif %}
    {% if 'email' not in hidden_fields %}
    <div class="card-info-field">
        <span class='card-info-key'>{% translate 'Email address' %}</span>
        {% with email=object.email %}
        {% if email %}
        <span class='card-info-value' data-type='email'><a href='mailto:{{email}}'>{{email}}</a>
        {% else %}
        <span class='card-info-value'>—
        {% endif %}
        {% brick_card_action_for_field instance=object field='email' user=user %}
        </span>
        {% endwith %}
    </div>
    {% endif %}
{% endblock %}

{% block card_summary %}
    {% include 'persons/bricks/frags/card-summary-acts.html' %}
    {% include 'persons/bricks/frags/card-summary-opportunities.html' %}
    {% include 'persons/bricks/frags/card-summary-next-activity.html' %}
{% endblock %}

{% block card_history %}
{% include 'persons/bricks/frags/contact-card-history.html' %}
{% endblock %}
