{% extends 'creme_core/bricks/base/paginated-table.html' %}
{% load i18n creme_bricks creme_perms creme_widgets %}
{% load and_op url from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} persons-managed-organisations-brick{% endblock %}

{% block brick_header_title %}
    {% brick_header_title title=_('{count} Managed organisation') plural=_('{count} Managed organisations') empty=_('Managed organisations') icon='organisation' %}
{% endblock %}

{% block brick_header_actions %}
    {% brick_header_action id='add' url='persons__orga_set_managed'|url label=_('Manage new organisations') enabled=user|has_perm_to_admin:'creme_core' %}
{% endblock %}

{% block brick_before_content %}
    <div class="help">{% translate '(e.g. managed organisations can generate numbers for their invoices, or emit opportunities)' %}</div>
{% endblock %}

{% block brick_table_columns %}
    {% brick_table_column title=_('Name') status='primary nowrap' %}
    {% brick_table_column title=_('Action') status='action' %}
{% endblock %}

{% block brick_table_rows %}
 {% with admin_perm=user|has_perm_to_admin:'creme_core' unset_managed_url='persons__orga_unset_managed'|url count=page.paginator.count %}
  {% for orga in page.object_list %}
    <tr>
        <td {% brick_table_data_status primary %}>{% widget_entity_hyperlink orga user %}</td>
        <td {% brick_table_data_status action %}>
         {% if count != 1 %}
          {% with edition_perm=user|has_perm_to_change:orga %}
            {% brick_table_action id='delete' url=unset_managed_url __id=orga.id label=_('Do not manage anymore') icon='unlink' enabled=edition_perm|and_op:admin_perm %}
          {% endwith %}
         {% endif %}
        </td>
    </tr>
  {% endfor %}
 {% endwith %}
{% endblock %}
