{% extends 'creme_core/bricks/base/hat-card.html' %}
{% load i18n creme_bricks persons_tags %}
{% load has_perm_to url url_join from creme_core_tags %}

{% block brick_extra_class %}{{block.super}} persons-organisation-card-brick{% endblock %}

{% block card_intro_content %}
{% include 'persons/bricks/frags/card-last-activity.html' %}
{% endblock %}

{% block card_main %}
    <div class='card-main{% if object.is_managed or is_customer or is_supplier %} has-indicators{% endif %}'>
        <span class="card-name">{{object.name}}{% if object.legal_form and 'legal_form' not in hidden_fields %}, {{object.legal_form}}{% endif %}
            {% if not object.is_deleted and not object.sandbox %}
            {% brick_card_action_for_field instance=object field='name' user=user %}
            {% endif %}
            {% include 'creme_core/bricks/frags/hat-card-title-indicators.html' %}
        </span>
        <div class='business-card-indicators'>
        {% if object.is_managed %}
            <div class='business-card-indicator'>{% translate 'Managed by Creme' %}</div>
        {% endif %}
        {% if is_customer %}
            <div class='business-card-indicator'>{% translate 'Customer' %}</div>
        {% endif %}
        {% if is_supplier %}
            <div class='business-card-indicator'>{% translate 'Supplier' %}</div>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block card_secondary %}
{% with managers_count=managers|length employees_count=employees|length %}
{% with total_count=managers_count|add:employees_count %}
    <div class="card-employees{% if total_count > 3 and total_count < 15 %} card-employees-wide{% endif %}">
    {% if total_count >= 15 %}
        <span class="card-function">
        {% if managers_count %}{% blocktranslate count count=managers_count %}{{count}} Manager{% plural %}{{count}} Managers{% endblocktranslate %}{% endif %}
        {% if managers_count and employees_count %}, {% endif %}
        {% if employees_count %}{% blocktranslate count count=employees_count %}{{count}} Employee{% plural %}{{count}} Employees{% endblocktranslate %}{% endif %}
        </span>
    {% elif position_is_hidden %}
        {% for manager in managers %}
        <span class="card-function">{% translate 'Manager' %}</span> <a href='{{manager.get_absolute_url}}'>{{manager|persons_pretty_contact}}</a>{% if not forloop.last or employees %}, {% endif %}
        {% endfor %}
        {% for employee in employees %}
        <span class="card-function">{% translate 'Employee' %}</span> <a href='{{employee.get_absolute_url}}'>{{employee|persons_pretty_contact}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        {% for manager in managers %}
        <span class="card-function">{{manager.position|default:_('Manager')}}</span> <a href='{{manager.get_absolute_url}}'>{{manager|persons_pretty_contact}}</a>{% if not forloop.last or employees %}, {% endif %}
        {% endfor %}
        {% for employee in employees %}
        <span class="card-function">{{employee.position|default:_('Employee')}}</span> <a href='{{employee.get_absolute_url}}'>{{employee|persons_pretty_contact}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endwith %}{% endwith %}
{% endblock %}

{% block card_fields_title %}
{% translate 'Details' context 'persons-organisation' %}
{% endblock %}

{% block card_fields %}{% has_perm_to change object as edition_perm %}
    {% if 'phone' not in hidden_fields %}
    <div class="card-info-field">
        <span class='card-info-key'>{% translate 'Phone' %}</span>
        <span class='card-info-value'>
            {{object.phone|default:'—'}}
            {% brick_card_action_for_field instance=object field='phone' user=user %}
        </span>
    </div>
    {% endif %}
    {% if 'billing_address' not in hidden_fields %}
    <div class="card-info-field">
        <span class='card-info-key'>{% translate 'Address' %}</span>
        <span class='card-info-value'>
            {% with address=object.billing_address %}
            {% if address is not None %}
                {% with address_desc=address|persons_pretty_address|linebreaksbr %}
                {% if address_desc %}{{address_desc}}{% else %}—{% endif %}
                {% url_join address.get_edit_absolute_url type='billing' as b_uri %}{% brick_card_action url=b_uri enabled=edition_perm %}
                {% endwith %}
            {% else %}
                —
                {% brick_card_action url='persons__create_billing_address'|url:object.id enabled=edition_perm %}
            {% endif %}
            {% endwith %}
        </span>
    </div>
    {% endif %}
{% endblock %}

{% block card_summary %}
    {% include 'persons/bricks/frags/card-summary-acts.html' %}
    {% include 'persons/bricks/frags/card-summary-opportunities.html' %}
    {% include 'persons/bricks/frags/card-summary-next-activity.html' %}
{% endblock %}
